/**
 * @file 公共样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.common-line-wrap() {
  .admin-base-line-wrap();
}

.common-line-nowrap() {
  word-wrap: normal;
  word-break: keep-all;
  white-space: nowrap;
}

.common-touch-scroll() {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  -webkit-overflow-scrolling: touch;
}
