/**
 * @deprecated use `utils/common.less` instead
 */

// 组件内部公共样式
@import "~react-icecream-1/style/less/variables/index.less";

.cellContent {
  word-break: break-word;
}

.operation a {
  &:not(:first-child) {
    margin-left: @icecream-gap-md;
  }
}

.desc {
  width: 100%;
  margin: 0;
  font-size: 12px;
}

.tips {
  font-size: @icecream-font-size-1;
  text-align: center;
  color: @icecream-red-3;
}
