@import './color.less';

@centered-content-width: 1176px;
@modal-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
@main-bg-color: @grey-1;

//== screen
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

.centered() {
  width: @centered-content-width;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

// 浮层的包裹元素，统一的圆角 & 阴影 & 底色
.modalWrapper() {
  border-radius: 12px;
  background-color: @grey-1;
  box-shadow: @modal-box-shadow;
}

.ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 文本内容超出 container 时显示省略号
.textEllipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
