@import "~utils/less/index.less";

.content {
  .notMobile({
    display: flex;
  });
}

.detail,
.bg {
  flex: 0 1 50%;
  overflow: hidden;
}

.detail {
  text-align: left;

  .notMobile({
    padding: 35px 90px; // TODO
    background: #FBFBFC;
  });

  .mobile({
    padding: 16px;
  });

  .pcLg({
    padding: 60px 120px;
  });
}

.bg {
  background-size: cover;

  .notMobile({
    height: 100%;
  });

  .mobile({
    width: 100%;
  });
}

.title {
  font-weight: 500;
  color: #333;

  .notMobile({
    margin-bottom: 20px;
    font-size: 24px;
  });

  .mobile({
    font-size: 14px;
  });
}

.desc {
  margin-bottom: 10px; // TODO
  color: #666;

  .pcLg({
    margin-bottom: 30px;
  });

  .mobile({
    margin: 8px 0;
    font-size: 12px;
  });
}

.links {
  //
}
