@import "~utils/less/index.less";

.content {
  height: 100%;
  display: flex;

  .mobile({
    flex-direction: column;
    padding: 16px;
  });
}

.detail,
.bg {
  .notMobile({
    flex: 0 1 50%;
    height: 100%;
  });
}

.detail {
  text-align: left;

  .notMobile({
    padding: 60px 115px;
    background: #FBFBFC;
  });
}

.bg {
  background-size: cover;
  background-position: center center;

  .mobile({
    flex: 1;
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
  });
}

.title {
  font-weight: 500;
  color: #333;

  .notMobile({
    margin-bottom: 12px;
    font-size: 24px;
  });

  .mobile({
    font-size: 14px;
  });
}

.desc {
  margin-bottom: 24px;
  color: #666;

  .mobile({
    margin: 8px 0;
    font-size: 12px;
  });
}

.links {
  //
}
