@import '~utils/less/index.less';

@card-width: 274px;

.block {
  text-align: center;
}
.card {
  display: inline-flex;
  display: -ms-inline-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  width: @card-width;
  box-shadow: 0px 4px 8px 0px rgba(51, 51, 51, 0.08);
  border: 1px solid @grey-3;
  border-top: none;
  background: @grey-1;

  .mobile({
    width: calc(50% - 4px);

    &:nth-of-type(even) {
      margin-right: 8px;
    }
  });

  .title {
    margin-bottom: 8px;
    color: @grey-7;
    font-size: 20px;
    font-weight: 500;
    border-top: 2px solid @blue-6;
    padding: 24px 24px 0;
    text-align: left;

    .mobile({
      margin-bottom: 12px;
      height: 76px;
      font-size: 16px;
    });
  }

  .body {
    flex: 1;
    padding: 20px 24px;

    .mobile({
      padding: 0 16px 0 16px;
    });

    .categoryDesc {
      font-size: 14px;
      color: @grey-6;
      margin-bottom: 20px;
    }

    .row {
      margin-bottom: 12px;
      text-align: left;
      color: @grey-7;
      position: relative;

      .mobile({
        font-size: 12px;
      });
    }

    .icon {
      position: absolute;
    }

    .text {
      display: inline-block;
      padding-left: 20px;
    }
  }

  .footer {
    padding: 32px 24px;

    .mobile({
      padding: 0 16px 16px;
    });

    .button {
      width: 100%;

      .mobile({
        margin-top: 12px;
      });
    }
  }
}

.card + .card {
  margin-left: 24px;

  .mobile({
    margin-top: 16px;
    margin-left: 0;
  });
}
