@import '~utils/less/index.less';

.wrapper {
  width: 100%;
  background-color: @dark-color;
  background-image: url(./background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.content {
  .centered();
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textContent {
  flex: 0 0 auto;
  color: #fff;

  .title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
  }
  
  .description {
    margin-top: 6px;
    font-size: 16px;
  }
}

.opContent {
  flex: 0 0 auto;
  margin: 20px 0 0;

  .button {
    width: 120px;
    height: 40px;

    &:not(:first-child) {
      margin-left: 1em;
    }
  }
}

// 移动端样式
.wrapper {
  .mobile({
    background-image: url(./background-mobile.png);
    background-size: cover;

    .content {
      display: block;
      padding: 28px 16px 32px;
      height: auto;
      text-align: center;
    }
    .textContent {
      .title {
        font-size: 20px;
      }
      .description {
        margin-top: 4px;
        font-size: 14px;
      }
    }
    .opContent {
      margin: 16px 0 0;
    }
  });
}
