@import '../../../utils/style.less';
@import '../../../utils/color.less';

.wrapper {
  width: 100%;
  background-color: @blue-6;
  background-image: url(./background.svg);
  background-position: center;
}

.content {
  .centered();
  height: 186px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textContent {
  flex: 1 1 200px;
  color: #fff;
}

.title {
  font-size: 28px;
  font-weight: 500;
}

.description {
  margin-top: 6px;
  font-size: 16px;
}

.opContent {
  flex: 0 0 auto;
}

.button {
  margin-left: 1em;
  width: 140px;
  box-shadow: 0 4px 8px 0 rgba(1, 137, 186, .5);
}
