@import '~utils/less/index.less';

@li-height: 116px;

.li {
  display: inline-block;
  width: 50%;
  vertical-align: top;

  &:hover {
    background: @blue-1;

    .desc {
      .title {
        color: @blue-6;
      }
    }
  }

  .icon {
    float: left;
    width: 76px;
    height: @li-height;
    line-height: @li-height;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: @li-height;
    padding: 26px 16px 26px 0;

    .title {
      margin-bottom: 4px;
      color: @grey-7;
      font-size: 14px;
      font-weight: 500;
    }

    .subtitle {
      color: @grey-6;
      font-size: 12px;
      min-height: 36px; // 两行字
    }
  }

  &.disabled {
    .desc {
      .title {
        color: @grey-5;
      }
      .subtitle {
        color: @grey-5;
      }
    }

    &:hover {
      background: none;
    }

    & > a {
      cursor: default;
    }
  }
}
