.sceneImgWrapper {
  padding: 0 60px 0 100px;
  text-align: center !important;

  .sceneImg {
    width: 180px;
  }
}

.sceneDesc {
  padding: 24px;

  .sceneDescTitle {
    font-size: 16px;
  }

  .sceneDescContent {
    margin-top: 16px;
  }
}
