@import '~utils/less/index.less';

.wrapper {
  float: right;
  width: 376px;
  height: 100%;
  background: @main-bg-color;
}

.header {
  height: 60px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  border-bottom: 1px solid @grey-3;
}

.body {
  height: 759px;
  padding: 0 24px;
}
