@import '~utils/less/index.less';

.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 44px 40px 44px;
  text-align: center;
}

.cardTitle {
  margin: 48px auto 12px auto;
  font-size: 20px;
}

.cardDesc {
  flex: 1;
  margin-bottom: 32px;
  color: @grey-6;
  text-align: left;
}

.cardBtn {
  width: 100%;
}
