/**
 * @file base layout
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.layout {
  .centered();
  padding: 36px 0;
  background-color: @grey-1;

  .mobile({
    padding: 0 16px;
    border-top: 1px solid #EEE;
  });
}

.title {
  font-size: 32px;
  color: #333;

  .mobile({
    font-size: 20px;
  });
}

.meta {
  display: flex;
  margin-top: 8px;
  color: #999;

  dt {
    font-weight: 400;
  }

  dd + dt {
    margin-left: 32px;

    .mobile({
      margin-left: 16px;
    });
  }
}

.hasBackground {
  height: 460px;
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  visibility: hidden;

  &.lgLimit {
    background-size: 1920px auto, 1920px auto;
    background-position-x: center, center;
  }

  .header {
    .centered();
    padding-top: 310px;
  }

  .title,
  .meta {
    color: @grey-1;
  }

  .meta {
    margin-top: 24px;
  }
}
