@import "~react-icecream-1/style/less/variables/index.less";

.previewText {
  color: @icecream-red-3;
}

.previewContent{
  margin-top: @icecream-gap-sm;
  width: 100%;
  max-height: 400px;
  padding: @icecream-padding-md;
  border: 1px solid @icecream-grey-5;
  overflow: auto;
}