@import '~utils/less/index.less';

.wrapper {
  width: 36px;
  padding: 8px 0;
  color: @grey-7;
  border: 1px solid #E6EDF3;
  border-radius: 4px;
  background-color: @grey-1;
  box-shadow: 0 4px 8px rgba(51, 51, 51, .04);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: @primary-color;
  }
}
