/**
 * @file Form
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.textarea {
  max-width: 640px;
}

.footer {
  width: 100%;
  text-align: center;
}
