/**
 * @file Form
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.previewPageContainer {
  overflow-x: auto;
}

.previewPage {
  overflow-y: auto;

  iframe {
    width: 100%;
    height: 50vh;
    border: none;
  }
}
