/**
 * @file Form
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.previewPageContainer {
  overflow-x: auto;
}

.previewPage {
  max-height: 400px;
  overflow-y: auto;
  resize: both; // TODO: 效果一般，需要优化（主要是不能自适应变宽）
}
