@import '~utils/less/index.less';

.figure {
  display: inline-block;

  img {
    width: 220px;
    height: 220px;
  }
}

.figure + .figure {
  margin-left: 368px;

  .mobile({
    // TODO 移动端适配
    margin-left: 0;
    margin-top: 24px;
  });;
}
