@import '~utils/less/index.less';

.section > div {
  // 这里的 section 情况特殊
  padding: 0 0 72px 0 !important;
  background: #FAFAFA !important;
}

.title {
  margin-bottom: 12px;
  font-size: 20px;

  .mobile({
    margin: 0 16px;
  });
}

.content {
  background: @grey-1;
}
