/**
 * @file 产品页顶部 banner style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

@banner-height: 350px;

.mainWrapper {
  background-color: @blue-6;
  overflow-x: auto;

  .mobile({
    height: auto;
  });

  &.index {
    padding-bottom: 50px;
  }
}

.contentWrapper {
  .centered();
  height: @banner-height;
  color: @grey-1;
  display: flex;
  justify-content: center;

  &.verticalCenter {
    align-items: center;
  }

  .mobile({
    width: 90%;
    padding: 12px 0 24px;
    align-items: center;
  });
}

.content {
  margin-top: 50px;
  flex: 1 1;

  &.marginTopNone {
    margin-top: 0;
  }

  .mobile({
    margin-top: 0;
  });
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;

  .mobile({
    font-size: 24px;
    line-height: 34px;
  });
}

.desc {
  margin-top: 20px;
  line-height: 24px;

  .mobile({
    font-size: 12px;
    line-height: 18px;
  });
}

.btnsWrapper {
  margin-top: 80px;

  .mobile({
    margin-top: 20px;
  });
}

.btn {
  margin-right: 12px;
  display: inline-block;

  .mobile({
    margin-right: 8px;
  });
}

.iconWrapper {
  flex: 0 1;

  svg, img {
    width: 500px;
  }
}
