/**
 * @file 产品页顶部 banner style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

@banner-height: 350px;

.mainWrapper {
  background-color: @blue-6;
  overflow-x: auto;

  .mobile({
    height: auto;
  });
}

.contentWrapper {
  .centered();
  height: @banner-height;
  color: @grey-1;
  display: flex;
  justify-content: center;

  &.verticalCenter {
    align-items: center;
  }

  .mobile({
    width: 100%;
    height: auto;
    padding: 26px 24px;
    align-items: center;
  });
}

.content {
  margin-top: 50px;
  flex: 1 1;

  &.marginTopNone {
    margin-top: 0;
  }

  .mobile({
    margin-top: 0;
  });
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;

  .mobile({
    font-size: 24px;
    line-height: 34px;
  });
}

.desc {
  margin-top: 13px;
  height: 22px * 5; // 五行内容的空间
  width: 600px;
  line-height: 22px;

  .mobile({
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    height: auto;
    width: auto;
  });

  a:hover {
    color: inherit;
  }
}

.btnsWrapper {
  margin-top: 16px;

  .mobile({
    margin-top: 20px;
  });
}

.btn {
  margin-right: 12px;
  display: inline-block;

  .mobile({
    margin-right: 8px;
  });
}

.iconWrapper {
  @iconSize: 500px;

  flex: 0 1 @iconSize;
  background-size: @iconSize auto;
  background-position: right;
  background-repeat: no-repeat;

  svg, img {
    width: @iconSize;
  }
}

.contentWrapper {
  &.pcBanner {
    .centeredWithLg();
    height: 480px;

    .content {
      margin-top: 150px;
    }

    .title {
      .setFontSize(40px);
    }

    .desc {
      width: 740px;
      margin-top: 16px;
      font-size: 16px;
      line-height: 28px;
    }

    .btnsWrapper {
      margin-top: 40px;
    }

    .btn {
      margin-right: 16px;
    }
  }

  &.mobileBanner {
    padding: 36px 24px 42px;

    .title {
      .setFontSize(22px);
    }

    .desc {
      .ellipsis-line-clamp-by-font-size(3, 12px);
      padding-right: 73px;
      margin-top: 12px;
      max-height: 60px;
      line-height: 20px;
    }

    .btnsWrapper {
      margin-top: 36px;
    }
  }
}
