@import "~utils/less/index.less";

.wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  display: flex;
  width: @centered-content-width - 300px;
  height: auto;
  font-size: 14px;
  color: @grey-7;

  .pcLg({
    width: @centered-content-width-lg - 350px;
  });

  &.horizontal {
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .item {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.row {
  display: flex;
  width: 100%;
  margin-top: 32px;

  &:first-child {
    margin-top: 0;
  }

  .pcLg({
    margin-top: 36px;
  });
}