/**
 * @file styles
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.wrapper {
  hr {
    margin-bottom: @icecream-gap-md;
  }

  table {
    margin-top: @icecream-gap-md;

    &, th, td {
      border: 1px solid @icecream-border-color;
    }

    th, td {
      padding: @icecream-gap-xs @icecream-gap-md;
    }
  }

  .panel {
    display: flex;
    gap: @icecream-gap-md;
  }
}
