@import '~utils/less/index.less';

.row {
  display: flex;
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }
}

.invisible {
  visibility: hidden;
}

.case {
  flex: 1;
  display: flex;
  padding: 20px;
  background-color: @grey-1;
  border: 1px solid @grey-3;
  box-shadow: 0px 4px 8px 0px rgba(51, 51, 51, 0.08);

  .content {
    margin-left: 40px;
  }

  .logoWrapper {
    display: flex;
    justify-content: center;
    width: 276px;
    height: 160px;
  }
}

.vertical {
  flex-direction: column;
  margin-left: 24px;
  padding: 0;

  &:first-child {
    margin-left: 0;
  }

  .logoWrapper {
    width: 100%;
    border-bottom: 1px solid @grey-3;

    .mobile({
      height: 146px;
      border-bottom: none;
    });
  }

  .content {
    margin-left: 0;
    padding: 24px;

    .mobile({
      padding: 16px;
    });
  }
}

.logo {
  width: auto;
  max-width: 100%;
  height: auto;

  .mobile({
    height: 100%;
  });
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;

  .mobile({
    font-size: 12px;
  });
}

.title {
  font-size: 20px;
  font-weight: 400;

  .mobile({
    font-size: 16px;
  });
}

.desc {
  flex: 1;
  margin-top: 16px;
  color: @grey-6;

  .mobile({
    margin-top: 12px;
  });
}

.footer {
  justify-self: end;
  margin-top: 16px;

  .mobile({
    font-size: 12px;
  });
}

.consultEntry {
  .blueLink();

  .iconChat {
    margin-right: 8px;
  }
}
