@import '~utils/less/index.less';

.card {
  border-top: 2px solid @blue-6;

  .header {
    width: 100%;
    height: 214px;
    padding: 16px;
    background: #FAFAFA;

    .mobile({
      height: 150px;
    });
  }

  .title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    .mobile({
      font-size: 16px;
    });
  }

  .desc {
    text-align: left;
    .mobile({
      font-size: 12px;
    });
  }

  .footer {
    height: 152px;
    padding: 16px;

    .mobile({
      height: 120px;
    });
  }

  .price {
    margin-bottom: 12px;
    text-align: center;
    color: @orange-6;

    .number {
      font-size: 24px;
    }
  }

  .button {
    width: 100%;
  }
}

// .card + .card {
//   margin-left: 24px;
// }
