@import '~utils/less/index.less';

.wrapper {}

.title {
  padding: 22px 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  box-shadow: 0 1px 0 0 @grey-3;
}

.list {
  margin-top: 36px;

  .item {
    margin: 16px 0;

    &:hover {
      color: @blue-6;
    }
  }
}