@import '~utils/less/index.less';

.wrapper {
  text-align: left;

  :global {
    .rc-menu-submenu:first-child,
    .rc-menu-item {
      border: none;
    }

    .rc-menu-item {
      padding: 0;
      background: #fafafa;
    }

    .rc-menu-submenu-title {
      // rc-menu 有代码逻辑计算并通过 style 的方式设置 padding-left
      // 加上 important 覆盖他的逻辑
      padding-left: 16px !important;
    }

    // 展开的 menu 的下一个不显示边框
    .rc-menu-submenu-open + .rc-menu-submenu {
      border: none;
    }
  }
}

.card {
  // rc-dropdown 自带 8，要求 12，所以这里是 4
  padding: 4px 0;
  margin: 0 16px;
  border-bottom: 1px solid @grey-3;

  &.noBorder {
    border: none;
  }
}

.title {
  margin-bottom: 4px;
  font-size: 14px;
}

.desc {
  font-size: 12px;
  color: @grey-6;
  white-space: initial;
}
