@import '~utils/less/index.less';

.card {
  padding: 24px;
  border-top: 2px solid @blue-6;
}

.title {
  margin-bottom: 28px;
  font-size: 20px;
}

.subtitle {
  margin-bottom: 12px;
  color: @grey-5;
}

.text1 {
  // 1.5715 * 16 * 4 固定为 4 行
  height: 100px;
  margin-bottom: 24px;
  font-size: 16px;
}

.text2 {
  margin-bottom: 60px;
  font-size: 16px;
}
