@import '~utils/less/index.less';

.banner {
  height: 350px;
  background-color: #34a1ec;

  .mobile({
    height: 140px;
  });

  .bannerContent {
    .centered();

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: @grey-1;
    background-position: right 164px center;
    background-size: 200px;
    background-repeat: no-repeat;

    .mobile({
      padding: 40px 16px;
      background-size: 84px;
      background-position: right 30px center;
    });
  }

  .title {
    font-size: 44px;
    line-height: 1.4em;

    .mobile({
      font-size: 24px;
    });
  }

  .desc {
    margin-top: 28px;
    width: 500px;
    font-size: 16px;
    line-height: 1.5em;

    .mobile({
      width: auto;
      max-width: 220px;
      margin-top: 8px;
      font-size: 12px;
      line-height: 22px;
    });
  }
}
