@import '~utils/less/index.less';

.overlay {
  width: 260px;
  padding: 12px 0;
  background: @grey-1;
  box-shadow: @modal-box-shadow;
}

.contentArea {
  width: 100%;
}

.resultList {
  width: 100%;
  background: @grey-1;

  .resultLink {
    .ellipsis();
    display: block;
    padding: 8px 20px;
    color: @grey-7;
    font-size: 12px;
    transition: background 0.25s;

    &:hover {
      color: @blue-6;
      background: @blue-1;
    }

    em {
      font-style: normal;
    }
  }
}

.loading {
  padding: 12px 20px;
}

.empty {
  height: 204px;
  svg {
    width: 44px;
    height: 40px;
    margin-bottom: 16px;
  }
}

.footer {
  box-sizing: content-box;
  height: 36px;
  padding: 0 20px;

  &:hover {
    background: @blue-1;
  }
}
