@import '~utils/less/index.less';

.overlay {
  width: 260px;
  height: 252px;
  padding: 12px 0;
  background: @grey-1;
  box-shadow: @modal-box-shadow;
}

.contentArea {
  width: 100%;
  height: 192px;
}

.footer {
  a {
    .ellipsis();
    position: relative;
    display: block;
    height: 36px;
    padding: 0 36px 0 20px;
    color: @grey-7;
    line-height: 36px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      width: 80%;
      height: 1px;
      background: @grey-3;
      transform: translateX(-50%);
    }

    &:hover {
      background: @blue-1;
    }

    .key {
      color: @blue-6;
    }

    .arrow {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  p {
    margin-top: 16px;
    color: @grey-5;
  }
}

.resultList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: @grey-1;

  li {
    .ellipsis();
    padding: 8px 20px;
    cursor: pointer;
    color: @grey-7;
    font-size: 14px;
    transition: background 0.25s;

    &:hover {
      color: @blue-6;
      background: @blue-1;
    }
  }
}
