/**
 * @file styles of component PageBanner
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

// TODO: 确认 PC 端和移动端的物料配置
.mainWrapper {
  display: block;
  text-align: center;
  // padding-bottom: 20%;
  // overflow: hidden;

  img {
    // width: 100%;
    // max-height: 30vw;
    vertical-align: bottom;
    line-height: 1;
  }
}
