/**
 * @file styles of component PageBanner
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/styles/index.less";

.mainWrapper {
  width: 100%;
  height: 3.40rem;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: @primary-color; // 兜底色
  overflow: hidden;
}

.linkWrapper {
  width: 100%;
  display: block;
  outline: none;
}

@media only screen and (max-width: @screen-sm) {
  .mainWrapper {
    height: auto;
    padding-top: 30%;
    padding-bottom: 30%;
  }
}
