/**
 * @file styles of component PageBanner
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/styles/index.less";

.linkWrapper,
.normalWrapper {
  text-align: center;
  // padding-bottom: 20%;
  overflow: hidden;
}

.linkWrapper {
  display: block;
}

.normalWrapper {
  //
}

.img {
  width: 100%;
  // max-height: 30vw;
  vertical-align: bottom;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .linkWrapper,
  .normalWrapper {
    max-height: 500px;
  }
}
