@import '~utils/less/index.less';

.wrapper {
  position: relative;
}

@arrowSize: 52px;
@arrowShadowSize: 8px;
@arrowMargin: 56px;

.arrowPrev, .arrowNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  .mobile({
    display: none;
  });
}

.arrowPrev {
  left: -(@arrowSize + @arrowShadowSize + @arrowMargin);
}

.arrowNext {
  right: -(@arrowSize + @arrowShadowSize + @arrowMargin);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  .mobile({
    margin-top: 12px;
  });

  .paginationItem {
    display: block;
    width: 20px;
    height: 4px;
    background-color: #DBDBDB;
    cursor: pointer;

    &.active {
      background-color: @grey-5;
    }

    + .paginationItem {
      margin-left: 4px;
    }
  }
}
