@import '~utils/less/index.less';

// 内容往往是有阴影的，但是 Carousel 会在容器上设置 overflow: hidden
// 这里把内容撑开额外的距离，以展示阴影；在最外层的容器上再把这个距离收回来（通过负 margin）
// 因此这里的 @paddingForShadow 比正常阴影的扩散范围大即可
@paddingForShadow: 8px;

.wrapper {
  position: relative;
  margin: -@paddingForShadow;

  :global(.ant-carousel .slick-dots) {
    button {
      width: 20px;
      height: 4px;
      background-color: #DBDBDB;
    }
    :global(.slick-active) button {
      width: 20px;
      background-color: @grey-5;
    }
    li + li  {
      margin-left: 4px;
    }
  }

  :global(.slick-dots-bottom) {
    position: static;
    margin-top: 24px;

    .mobile({
      margin-top: -2px;
      margin-bottom: 6px;
    });
  }
}

.pageWrapper {
  padding: @paddingForShadow;
}

@arrowSize: 52px;
@arrowShadow: 8px;
@arrowMargin: 56px;

.arrowPrev, .arrowNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  .mobile({
    display: none;
  });

  &:hover svg path {
    fill: @blue-6;
  }
}

.arrowPrev {
  left: -(@arrowSize + @arrowShadow + @arrowMargin);
}

.arrowNext {
  right: -(@arrowSize + @arrowShadow + @arrowMargin);
}
