@import '~utils/less/index.less';
@import '../../style.less';

.mask {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.overlay {
  width: 100vw;
  background-color: @main-bg-color;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: @header-height;
  padding: 0 16px;
  line-height: @header-height;
}

.logo {
  display: inline-block;
  margin-right: 26px;
}
