@import '~utils/less/index.less';

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 212px;
  font-size: 32px;
  color: white;
}

.link {
  .blueLink();
  font-size: 20px;

  svg {
    vertical-align: sub;
  }
}
