@import '~utils/less/index.less';

@card-gap: 24px;

.wrapper {
  display: flex;
  justify-content: space-between;

  + .wrapper {
    margin-top: @card-gap;
    margin-bottom: 40px;
  }

  .mobile({
    flex-direction: column;
  });
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 212px;
  font-size: 32px;
  color: white;

  .mobile({
    width: 100%;

    + .card {
      margin-top: @card-gap;
    }
  });
}

.link {
  .blueLink();
  font-size: 20px;

  svg {
    vertical-align: sub;
  }
}
