@import "~utils/common.less";

.uploadImg {
  display: inline-flex;
  flex-direction: column;
}

.main {
  display: inline-flex;

  // for icecream 1
  :global(.ant-form-item-control) & {
    line-height: @icecream-form-input-height-md;
  }
}

.icon {
  margin-left: @icecream-gap-md;
}

.desc {
  margin: @icecream-gap-xs 0 0;
  font-size: smaller;
  line-height: 1.5;
  color: @icecream-color-grey-8;
}

.btn {
  line-height: @icecream-form-input-height-md;
}

.hidden {
  display: none;
}
