/**
 * @file 选择产品
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.main {
  display: inline-block;
  width: 320px;
}

.select {
  width: 100%;
}

.keywords {
  display: none;
}

.tagsVertical {
  /** HACK */
  :global(.icecream-select-content) {
    flex-direction: column;
    align-items: flex-start;
  }
}
