@import '~utils/less/index.less';

.card {
  display: inline-block;
  width: 244px;
  height: 90px;
  padding: 16px;
  background: #FAFAFA;

  + .card {
    margin-left: 4px;
  }

  .mobile({
    width: 100%;

    + .card {
      margin-left: 0;
      margin-top: 16px;
    }
  });

  .title {
    margin-bottom: 4px;
    font-size: 12px;
  }

  .num {
    margin-right: 5px;
    font-size: 24px;
  }
}

.packageCard {
  width: 244px;
  padding: 16px;
  display: inline-block;
  background: @verdant-1;

  + .packageCard {
    margin-left: 4px;
  }

  .mobile({
    width: 100%;

    + .packageCard {
      margin-left: 0;
      margin-top: 16px;
    }
  });

  .name, .content {
    line-height: 1.5;
  }

  .name {
    margin: 0 !important;
    font-size: 12px;
  }

  .content {
    margin: 4px 0 0 !important;
    font-size: 24px;
  }

  .link {
    display: inline-block;
    margin-top: 12px;
  }
}
