/**
 * @file styles of component CouponContainer
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import "~utils/styles/index.less";

.spinWrapper {
  width: 100%;
  text-align: center;
}

.features {
  .c-features()
}

.container {
  .c-container()
}

.mainWrapper {
  .singlePerRow {
    width: 4.40rem;
    left: calc(50% - 2.20rem);
  }

  @media only screen and (max-width: @screen-sm) {
    .singlePerRow {
      width: 100%;
      left: 0;
    }
  }
}

.showMoreBtnWrapper {
  margin-top: 0.20rem;
  text-align: center;

  .showMoreBtn {
    height: 0.42rem;
    padding: 0 0.60rem;
    border: none;
    border-radius: 0.40rem;
    font-size: 0.16rem;
    color: @white;
    line-height: 0.42rem;

    &:hover {
      color: @white;
      box-shadow: 0 0 0.20rem 0 @shadow-color;
    }

    &:active, &:focus {
      color: @white;
    }
  }
}
