.content {
  width: 100%;
  padding-right: 113px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .desc {
    text-align: center;
  }

  .pic{
    margin-top: 48px;
    margin-bottom: 24px;
    height: 356px;
  }
}
