@import '~utils/less/index.less';

.wrapper {
  width: 304px;
  height: 448px;
  border-radius: 4px;

  .mobile({
    border-radius: 13px 13px 0 0;
  });
}

.content {
  text-align: center;
  width: 304px;
  height: 448px;
  border-radius: 4px;
  padding: 22px 0 0;
  margin: 0 auto;

  .closeBtn {
    position: absolute;
    top: 26px;
    right: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    svg {
      fill: @grey-4;
      transition: .2s;
    }
  
    &:hover svg {
      fill: @grey-5;
    }
  }

  .avatar {
    width: 96px;
    height: 96px;
    border: 1px solid @primary-color;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    img {
      width: 94px;
      height: 94px;
    }
  }

  > p {
    display: inline-block;
    text-align: center;
    width: 256px;
    line-height: 18px;
    font-size: 12px;
    margin-top: 18px;
  }

  .qrCode {
    margin: 12px auto 0;
    height: 240px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 24px 24px 0;

    img {
      width: 160px;
      height: 160px;
      margin-bottom: 11px;
    }

    p {
      text-align: center;
      font-size: 12px;
      color: #666666;
    }
  }
}