@import '~utils/less/index.less';

@height: 48px;

.wrapper {
  width: 100%;
  // 给 wrapper 一个高度用来占位，避免 fixed 内容挡住页面最底部的内容
  height: @height;

  // 仅移动端显示注册入口
  .notMobile({
    display: none;
  });
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: @operation-entry-z-index;
}

.link {
  display: block;
  width: 100%;
  height: @height;
  line-height: @height;
  text-align: center;

  font-size: 16px;
  color: @grey-1 !important; // 覆盖各种状态下的颜色
  background-color: @blue-6;
}
