/**
 * @file markdown preview
 * @author lizhifeng <lizhifeng@qiniu.com>
 * @description modify from `components/Www/Product/Prices/MdPreview/style.m.less` & to be merged
 */

@import "~admin-base/common/utils/style/index.less";

@screen-sm: 768px;

.mobile(@rules) {
  @media only screen and (max-width: @screen-sm - 1) {
    @rules();
  }
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

pgc-markdown-preview {
  display: block;

  // TODO: 官网样式
}
