@import '~utils/less/index.less';

.bannerWrapper {
  height: 163px;
  overflow: hidden;
  background: #34a1ec;
}

.content {
  .centered();
  height: 100%;
}

.actions {
  margin-top: 39px;

  .title {
    display: inline;
    color: @grey-1;
    font-size: 24px;
    vertical-align: middle;
  }

  .btn {
    width: unset;
    padding: 0px 16px;
    margin-left: 36px;
    color: @grey-7;
    white-space: nowrap;
  }
}

.navigator {
  margin-top: 49px;

  .tabBtn {
    font-size: 16px;
  }

  .tabBtn + .tabBtn {
    margin-left: 12px;
  }

  .activeTab {
    color: @grey-1;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    border: transparent;
  }
}
