@import '~utils/less/index.less';

.bannerWrapper {
  min-width: @centered-content-width;
  height: 163px;
  overflow: hidden;
  background-color: #34a1ec;
}

.content {
  .centered();
  height: 100%;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.actions {
  padding-top: 39px;

  .title {
    display: inline;
    color: @grey-1;
    font-size: 24px;
    vertical-align: middle;
  }
}

.navigator {
  margin-top: 46px;

  .tabBtn {
    display: inline-block;
    width: 136px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: @blue-6;
    background: #fafafa;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .tabBtn + .tabBtn {
    margin-left: 12px;
  }

  .activeTab {
    color: @grey-1;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    border: transparent;
  }
}
