@import '~utils/less/index.less';

.bannerWrapper {
  height: 163px;
  overflow: hidden;
  background-color: #34a1ec;
}

.content {
  .centered();
  height: 100%;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.actions {
  padding-top: 39px;

  .title {
    display: inline;
    color: @grey-1;
    font-size: 24px;
    vertical-align: middle;
  }
}

.navigator {
  margin-top: 49px;

  .tabBtn {
    font-size: 16px;
    background: #fafafa;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }

  .tabBtn + .tabBtn {
    margin-left: 12px;
  }

  .activeTab {
    color: @grey-1;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    border: transparent;
  }
}
