@import '~utils/less/index.less';

@overlay-height: 580px;

.overlay {
  width: 895px;
  background: @main-bg-color;
}

.menus {
  float: left;
  width: 183px;
  height: @overlay-height;
  // 色板没有
  background: #f3fafe;

  > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 0 22px;
    color: @grey-7;
    cursor: pointer;
    transition: color 0.25s;

    &:hover {
      color: @blue-6;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
    }

    .subtitle {
      font-size: 12px;
    }
  }

  :global {
    li.active {
      color: @blue-6;
      background: @grey-1;
    }
  }
}
