@import '~utils/less/index.less';

.cardWrapper {
  text-align: center;

  + .cardWrapper {
    margin-top: 24px;
  }
}

.card {
  display: flex;
  align-items: center;
}

.img {
  width: 276px;
  height: 160px;
}

.title {
  font-size: 20px;
  text-align: left;
}

.text {
  margin-top: 11px;
  color: @grey-6;
  text-align: left;
}

.extra {
  margin-bottom: 24px;
}
