@import '~utils/less/index.less';

.logoList {
  margin-top: 12px;
  display: flex;
}

.placeholderItem {
  flex: 1 1 0;
  margin-left: 10px;
}

.logoItem {
  flex: 1 1 0;
  height: 36px;
  position: relative;
  background-color: @grey-1;
  border: 1px solid @grey-3;

  + .logoItem {
    margin-left: 10px;
  }
}

.logoImg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80%;
  max-height: 80%;
  transform: translate(-50%, -50%);
}
