/**
 * @file 内容站 - 列表页
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.wrapper {
  .centered();
}

.content {
  position: relative;
  background: #FFF;
}

.main {
  overflow: hidden;
}

.empty {
  height: 466px;
  padding-bottom: 36px;

  .mobile({
    height: 280px;
    padding-bottom: 12px;
  });
}
