@import '~utils/less/index.less';

.pageContent {
  background-color: #FAFAFA;
}

.overview {
  width: 100%;
  padding: 16px;

  .item {
    width: 33.33%;
    text-align: center;
    display: inline-block;

    .title {
      font-size: 44px;
      color: @grey-7;
      font-family: number-regular;
      .mobile({
        font-size: 20px;
        line-height: 24px;
      });
    }

    .desc {
      font-size: 16px;
      color: @grey-6;
      .mobile({
        font-size: 12px;
        line-height: 17px;
      });
    }
  }
}

.about {
  .passage {
    display: block;
    text-align: left;
    margin-bottom: 24px;
    font-size: 16px;
    color: @grey-6;

    .mobile({
      font-size: 14px;
      margin-bottom: 16px;
      color: @grey-7;
    });
  }
  .gallery {
    position: relative;
    height: 684px;

    .mobile({
      position: static;
      height: auto;
    });

    .main {
      position: absolute;
      width: 776px;
      height: 448px;
      .background-image(url(./_images/pic01.png));
    }
    .right1 {
      position: absolute;
      left: 800px;
      top: 0;
      width: 376px;
      height: 212px;
      .background-image(url(./_images/pic02.png));
    }
    .right2 {
      position: absolute;
      left: 800px;
      top: 236px;
      width: 376px;
      height: 212px;
      .background-image(url(./_images/pic03.png));
    }
    .bottom1 {
      position: absolute;
      left: 0;
      top: 472px;
      width: 376px;
      height: 212px;
      .background-image(url(./_images/pic04.png));
    }
    .bottom2 {
      position: absolute;
      left: 400px;
      top: 472px;
      width: 376px;
      height: 212px;
      .background-image(url(./_images/pic05.png));
    }
    .bottom3 {
      position: absolute;
      left: 800px;
      top: 472px;
      width: 376px;
      height: 212px;
      .background-image(url(./_images/pic06.png));
    }

    .main, .right1, .right2, .bottom1, .bottom2, .bottom3 {
      .mobile({
        background-size: cover;
        position: static;
        width: 100%;
        height: 200px;
        margin-top: 16px;
      });
    }
  }
}

.missionIcon {
  width: 60px;
  height: 60px;
}

.cultureDesc {
  text-align: left;
}

.missionWrapper {
  .centered();
  height: auto;
  margin-bottom: 72px;
  padding: 0;

  .mobile({
    margin-bottom: 0;
    padding: 0 16px;
  });

  .img {
    position: relative;
    width: 100%;
    height: auto;
  }

  .missionContent {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 56px 0;
    text-align: center;

    .mobile({
      width: calc(100% - 32px);
      padding: 20px 0;
    });
  }

  h2 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 500;

    .mobile({
      font-size: 20px;
      line-height: unset;
      font-weight: 400;
    });
  }

  .subTitle{
    margin-top: 24px;
    font-size: 24px;
    line-height: 34px;
    color: @grey-7;

    .mobile({
      margin-top: 2px;
      font-size: 14px;
      line-height: unset;
    });
  }
}