@import "../../utils/style.less";

.wrapper {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(200, 200, 200, .6);
  z-index: 100;
}

.content {
  .centered();
}
