/**
 * @file 图片预览
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon,
.preview {
  background-repeat: no-repeat;
  background-position: center center;
}

.preview {
  margin: 0 auto;
}

.bordered {
  border: 1px solid #EEE;
  box-shadow: @icecream-box-shadow-sm;
}

.hidden {
  display: none;
}
