@import "~utils/less/index.less";

@tab-duration: 0.25s;

.tabs {
  .navs {
    display: flex;
    justify-content: center;

    .notMobile({
      gap: 124px;
      padding-bottom: 30px;
    });

    .mobile({
      gap: 28px;
      overflow-x: auto;
      padding-bottom: 20px;
    });

    @pc-icon-size: 70px;
    @pc-icon-size-inc: 20px;

    .nav {
      flex: 0 1 0%;
      cursor: pointer;

      &.active {
        .notMobile({
          .iconWrapper {
            .icon {
              width: @pc-icon-size + @pc-icon-size-inc;
              height: @pc-icon-size + @pc-icon-size-inc;
            }
          }
        });

        .title {
          font-weight: 500;
          color: #333;
        }
      }

      &.inactive {
        //
      }
    }

    .iconWrapper {
      .notMobile({
        display: flex;
        align-items: center;
        justify-content: center;
        width: @pc-icon-size + @pc-icon-size-inc;
        height: @pc-icon-size + @pc-icon-size-inc;

        .icon {
          width: @pc-icon-size;
          height: @pc-icon-size;
          transition: all @tab-duration;
        }
      });

      .mobile({
        .icon {
          width: 40px;
          height: 40px;
        }
      });
    }

    .title {
      margin-top: 5px;
      color: #666;
      white-space: nowrap;

      .notMobile({
        font-size: 20px;
        transition: all @tab-duration; // FIXME: 字体颜色动画有问题
      });

      .mobile({
        font-size: 12px;
      });
    }
  }

  .panes {
    position: relative;
    border-radius: 4px;

    .notMobile({
      height: 460px;
      background: rgba(255, 255, 255, 0.6);
      border: 2px solid #FFF;
      backdrop-filter: blur(79px);
    });

    .mobile({
      height: 372px;
      border: 1px solid #E5EDF4;
      background: #FFF;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
    });

    .pane {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      background: #FFF;

      &.active {
        opacity: 1;
        width: 100%;
        transition: width 0s @tab-duration, opacity @tab-duration @tab-duration;
      }

      &.inactive {
        opacity: 0;
        width: 0;
        transition: width 0s @tab-duration, opacity @tab-duration;
        pointer-events: none;
      }
    }
  }
}
