@import "~utils/less/index.less";
@import "~react-icecream-2/dist/utils.less";

.card {
  //
}

.title {
  padding: @icecream-gap-sm @icecream-gap-md-x;
  border-bottom: 1px solid @grey-3;
  font-size: @icecream-font-size-title;
}

.content {
  position: relative;
  padding: @icecream-gap-md-x;
  max-height: 700px;
  overflow-y: auto;
}
