@import '~utils/less/index.less';

.sceneImg {
  .notMobile({
    width: 476px;
  });
  .mobile({
    width: 100%;
  })
}

.sceneContentBlock {
  .notMobile({
    margin-left: 24px !important;
  });
}

.sceneTitle {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 12px;
}

.sceneContentItem {
  .dot-item();
  + .sceneContentItem {
    margin-top: 12px;

    .mobile({
      margin-top: 8px;
    });
  }
}
