@import '~utils/less/index.less';

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: @feedback-form-z-index;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: visibility 0s, opacity .3s;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s;
  }
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.modal {
  .modalWrapper();

  position: relative;
  z-index: @feedback-form-z-index + 1;
  width: 800px;
  height: 70%;
  min-height: 400px;
  max-height: 700px;

  .mobile({
    width: 100%;
    height: 100%;
    max-height: initial;
  });

  .closeBtn {
    position: absolute;
    z-index: @feedback-form-z-index + 2;
    top: 0;
    right: 0;
    background-color: transparent;

    .closeIcon path {
      fill: @grey-4;
      transition: .2s;
    }

    &:hover .closeIcon path {
      fill: @grey-5;
    }

    .mobile({
      width: 52px;
      height: 52px;

      .closeIcon {
        width: 15px;
        height: 15px;
      }
    });
  }
}
