@import '~utils/less/index.less';

:global {
  .rc-dropdown {
    // 比 feedback 框大
    z-index: @feedback-z-index + 100;
    line-height: 1.5715;
    font-family: @font-family;
    box-shadow: @modal-box-shadow;
  }

  .rc-dropdown-arrow {
    display: none;
  }
}
.menu {
  min-width: 180px;
  max-width: 220px;
  padding: 12px 0;
  background: @grey-1;

  .item,
  .itemLink {
    .ellipsis();
    padding: 8px 20px;
    cursor: pointer;
    color: @grey-7;
    font-size: 14px;
    transition: background 0.25s;

    &:hover {
      color: @blue-6;
      background: @blue-1;
    }
  }

  .itemLink {
    padding: 0;

    .link {
      display: block;
      width: 100%;
      padding: 8px 20px; // 这边和上面 item 的 padding 保持一致
    }
  }

  .group {
    .groupTitle {
      padding: 5px 20px;
      color: @grey-5;
      background: #FAFAFA;
    }
  }
}
