/**
 * @file 短视频接入流程 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.title {
  font-size: 20px;
  color: @grey-7;
  line-height: 28px;

  .mobile({
    font-size: 14px;
    line-height: 20px;
  });
}

.desc {
  margin-top: 8px;
  font-size: 14px;
  color: @grey-5;
  line-height: 20px;

  .mobile({
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
  });
}

.linkWrapper {
  padding-bottom: 72px;
  text-align: center;
  background-color: #FAFAFA;

  .mobile({
    margin-bottom: 16px;
    padding-bottom: 16px;
    background-color: @grey-1;
  });
}

.link {
  height: 28px;
  border: none;
  color: @blue-6;
  font-size: 20px;
  line-height: 28px;
  background-color: transparent;

  &:hover {
    border: none;
    background-color: transparent;
    text-decoration: underline;
  }

  .mobile({
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  });
}

.arrow {
  height: 24px;
  position: relative;
  top: -2px;
  margin-left: 11px;
  line-height: 24px;

  .mobile({
    height: 16px;
    margin-left: 0;
    line-height: 16px;
  });
}
