@import '~utils/less/index.less';

.bannerTitle {
  font-size: 56px;
  line-height: 1.4em;

  .mobile({
    font-size: 24px;
  });

  strong {
    color: #FFDA91;
    margin-right: 8px;
  }
}

.bannerDesc {
  margin-top: 13px;
  padding-bottom: 40px; // 调整垂直位置以适匹配设计稿
  font-size: 24px;
  line-height: 1.4em;

  .mobile({
    font-size: 14px;
    padding-bottom: 0;
  });
}
