.hot {
  position: relative;
  // 有点靠下，稍微调整
  vertical-align: 2px;

  .text {
    position: absolute;
    left: 1px;
    top: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    // 10px 字体
    transform: scale(0.8);
  }
}
