/**
 * @file 组件样式
 * @author zaviertang <tangzhengwei01@qiniu.com>
 */

@import "~utils/common.less";

.previewPageContainer {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;

  .previewUrl {
    display: flex;
    align-items: center;
    margin-bottom: @icecream-gap-md;

    .input {
      border: none;
    }
  }

  iframe {
    width: 100%;
    height: 670px;
    resize: both;
    border: none;
  }

  .backLoading {
    width: 100%;
    // preview 页面加载后遮住 loading
    height: 0;
    text-align: center;
  }

  .fullScreenBtn {
    position: absolute;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
