/**
 * @file 存储产品优势 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.featureIcon {
  margin: -30px 0 0;

  .mobile({
    width: 60px;
    margin: -12px 0 0;
    height: 60px;
  })
}
