@import "~utils/less/index.less";

.footer {
  min-width: @centered-content-width;
  background-color: rgba(0,20,50,1);
}

.content {
  .centered();
}

.linkGroups {
  border-bottom: 1px solid #2f3d53;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

  .linkGroup {
    margin-top: 72px;
    .title {
      color: @grey-1;
      margin-bottom: 14px;
      font-size: 13px;
    }
    .link {
      color: @grey-5;
      margin-bottom: 10px;
      font-size: 13px;
    }
  }
  // 设计要求每个间距是固定值
  .linkGroup:nth-child(2){
    margin-left: 140px;
  }
  .linkGroup:nth-child(3){
    margin-left: 88px;
  }
  .linkGroup:nth-child(4){
    margin-left: 150px;
  }
  .linkGroup:nth-child(5){
    margin-left: 150px;
  }
  .linkGroup:nth-child(6){
    margin-left: 138px;
  }
}
.contact {
  height: 140px;
  border-bottom: 1px solid #2f3d53;
  display: flex;
  justify-content: space-between;

  .pic {
    width: 130px;
    height: 60px;
    margin-top: 40px;
    .background-image(url(./images/qiniu_logo.svg), top);
    font-size:13px;
    color:rgba(80,85,95,1);
    line-height:18px;
    text-align: center;
    padding-top: 50px;
  }

  .contact {
    line-height: 140px;
    display: inline;
    
    .title {
      color: @grey-5;
      font-size: 13px;
      vertical-align: middle;
    }
    .phone {
      color: @grey-5;
      font-size: 22px;
      margin-left: 25px;
      padding-left: 25px;
      vertical-align: middle;
      .background-image(url(./images/phone.svg), left, border-box, 14px 14px);
    }
    .icon {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-left: 25px;
      display: inline-block;
      vertical-align: middle;
      color: @grey-5;
      position: relative;
      .tooltip {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -100%);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .3s, opacity .3s;
        .qrcode {
          // 活动站 & 老官网全局设置了 img { max-width: 100% } 这里设置下避免被影响
          // 详情见 https://jira.qiniu.io/browse/RMBWEB-1251
          max-width: none;
          width: 200px;
          height: 200px;
        }
      }
      &:hover {
        color: @grey-4;
        .tooltip {
          visibility: visible;
          opacity: 1;
          transition: visibility 0s, opacity .3s;
        }
      }
    }
  }
}

.icp {
  height: 166px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .info {
    font-size: 13px;
    color: #50555f;
    margin-top: 42px;
    line-height: 30px;

    .report {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      margin-right: 4px;
      width: 16px;
      height: 14px;
      .background-image(url(./images/report.png))
    }
  }

  .certIconsWrapper {
    margin-top: 35px;

    .certIcon {
      height: 75px;
    }
  }
}
