@import "~utils/less/index.less";

.footer {
  width: 100%;
  background-color: @grey-1;
  border-top: 1px solid #E5EDF4;

  .content {
    .centeredWithLg();
    padding: 56px 0;
  
    a {
      &:hover {
        color: #07BEFF;
      }
    }
  }


.row {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;

  &:first-child {
    margin-top: 0;
  }
}

.linkGroups {
  display: flex;

  .linkGroup {
    width: 130px;
    margin-left: 24px;

    .pcLg({
      margin-left: 36px;
    });

    &:first-child {
      margin-left: 0;
    }
  
    .title {
      font-weight: 500;
      color: @grey-7;
    }

    .link {
      margin-top: 12px;
      color: @grey-6;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;

  .copyright {
    margin-top: 24px;
    color: @grey-6;
  }

  .phone {
    margin-top: 4px;
    color: @grey-6;
  }

  .contact {
    display: inline;
    margin-top: 24px;
    
    .icon {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-left: 20px;
      vertical-align: middle;
      color: @grey-5;
      
      &:first-child {
        margin-left: 0;
      }
    
      .tooltip {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -100%);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .3s, opacity .3s;
        .qrcode {
          // 活动站 & 老官网全局设置了 img { max-width: 100% } 这里设置下避免被影响
          // 详情见 https://jira.qiniu.io/browse/RMBWEB-1251
          max-width: none;
          width: 200px;
          height: 200px;
        }
      }
      &:hover {
        color: @grey-4;
        .tooltip {
          visibility: visible;
          opacity: 1;
          transition: visibility 0s, opacity .3s;
        }
      }
    }
  }
}

.icp {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: @grey-5;

  .report {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-right: 8px;
    width: 16px;
    height: 14px;
    .background-image(url(./images/report.png))
  }
  p {
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }
}
}
