/**
 * @file 短视频端到端解决方案 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.pc {
  display: flex;
  justify-content: center;

  .img {
    padding: 300px 180px;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(./solution-img-phone.png);
    flex: 0 0;
  }

  .infoWrapper {
    padding: 10px 0 0 40px;
    flex: 1 1;
  }

  .group {
    display: flex;
    justify-content: space-between;
  }

  .item {
    width: 378px;
    height: 170px;
    margin-bottom: 24px;
    padding: 24px;
    border: 1px solid @grey-3;
    background-color: @grey-1;
    box-shadow: 0px 4px 8px 0px rgba(51, 51, 51, 0.08);
    display: flex;
    justify-content: center;
  }

  .icon {
    height: 32px;
    margin-top: 4px;
    line-height: 32px;
    flex: 0 0 32px;
  }

  .content {
    padding-left: 20px;
    text-align: left;
    flex: 1 1;
  }

  .title {
    font-size: 16px;
    color: @grey-7;
    line-height: 22px;
  }

  .desc {
    margin-top: 8px;
    color: @grey-6;
    line-height: 20px;
  }

  .link {
    color: @blue-6;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mobile {
  .panel {
    padding: 20px 16px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
  }

  .icon {
    height: 32px;
    line-height: 32px;
    flex: 0 0 32px;
  }

  .content {
    padding-left: 16px;
    text-align: left;
    flex: 1 1;
  }

  .desc {
    color: @grey-6;
    font-size: 12px;
    line-height: 18px;
  }

  .link {
    color: @blue-6;

    &:hover {
      text-decoration: underline;
    }
  }

  :global {
    .rc-menu-submenu {
      &:first-child {
        border: none;
      }
    }

    .rc-menu-submenu-title {
      padding-left: 16px !important;
      text-align: left;
    }
  }
}
