<div class="jumbotron hero hero-banner1">
  <div class="container">
    <div class="middle-container">
      <div class="col-sm-6">
        <div class="banner-desc" style="padding-top:30px">
          <h2>永不停歇的奋斗之路，</h2>
          <h2>期待能有你的加入！</h2>
        </div>
      </div>
      <div class="col-sm-6 hidden-xs">
        <div class="right-mask-banner">
          <%= image_tag "image-banner.png", alt: "招聘图片", width: '90%' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="dropdown">
      <div class="positions" id="jobs">
        <div class="panel" style="webkit-box-shadow: none; box-shadow:none">
          <div class="panel-heading">
            <h3>
              <b>    
                <a data-toggle="collapse" data-parent="#jobs" href="#collapseOne" class="position-end-developer" style="color:black"
                  onclick="if(this.innerHTML =='▼服务端开发工程师'){this.innerHTML = '►服务端开发工程师'}else{this.innerHTML = '▼服务端开发工程师'}">
                  ►服务端开发工程师
                </a>
              </b>
            </h3>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" style="padding-top:20px">
            <div class="panel-body">
              <div class="intro" style="color: gray">
                <h4>工作地点：上海</h4>
                <h4>职位发布于：2017/09/14</h4>
              </div>
              <div class="button" style="padding-top: 40px; padding-bottom: 15px">
                <div align="left" style="padding-bottom: 40px">
                  <a class="btn btn-lg btn-career" role="button" href="mailto:hr@qiniu.com" style="color: white;">立即申请</a>
                </div>
              </div>
              
              <div class="details" style="color: gray; line-height: 30px">
                <h4 style="padding-bottom:25px">岗位职责</h4>
                <ul>
                  <li>参与产品开发，或内部客户服务系统、工具</li>
                  <li>在架构师的带领下或独立完成模块设计、开发工作</li>
                  <li>并协助测试和运维进行后续的工作</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">任职要求</h4>
                <ul>
                  <li>计算机相关专业、基础扎实</li>
                  <li>熟悉至少一门后端语言，包括但不限于Go/Java/C/C++/Python/NodeJS/Ruby/PHP, 对前后端联合开发的技术原理有全面认识</li>
                  <li>熟悉 Linux 工作环境，熟悉至少一种数据库编程</li>
                  <li>熟悉 TCP/IP 协议栈及相关编程</li>
                  <li>良好的数据结构和算法基础，良好的工程素养以及关于技术文档的基本阅读与理解能力</li>
                  <li>有Web开发经验的优先</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">简历投递邮箱</h4>
                <ul>
                  <li>hr@qiniu.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown">
      <div class="positions" id="jobs">
        <div class="panel" style="webkit-box-shadow: none; box-shadow:none">
          <div class="panel-heading">
            <h3>
              <b>    
                <a data-toggle="collapse" data-parent="#jobs" href="#collapseTwo" class="position-end-developer" style="color:black"
                  onclick="if(this.innerHTML =='▼前端开发工程师'){this.innerHTML = '►前端开发工程师'}else{this.innerHTML = '▼前端开发工程师'}">
                  ►前端开发工程师
                </a>
              </b>
            </h3>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" style="padding-top:20px">
            <div class="panel-body">
              <div class="intro" style="color: gray">
                <h4>工作地点：上海</h4>
                <h4>职位发布于：2017/09/14</h4>
              </div>
              <div class="button" style="padding-top: 40px; padding-bottom: 15px">
                <div align="left" style="padding-bottom: 40px">
                  <a class="btn btn-lg btn-career" role="button" href="mailto:hr@qiniu.com" style="color: white;">立即申请</a>
                </div>
              </div>
              
              <div class="details" style="color: gray; line-height: 30px">
                <h4 style="padding-bottom:25px">岗位职责</h4>
                <ul>
                  <li>参与改善公司技术服务流程，参与开发客户服务内部系统，工具</li>
                  <li>完善公司内部面向客服流程改进的各产品管理系统</li>
                  <li>基于七牛服务开发完善面向客户的相关工具</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">任职要求</h4>
                <ul>
                  <li>计算机相关专业、基础扎实</li>
                  <li>熟悉至少一门后端语言，包括但不限于Go/Java/C/C++/Python/NodeJS/Ruby/PHP, 对前后端联合开发的技术原理有全面认识</li>
                  <li>对DNS/HTTP和相关的其他底层网络协议有比较全面的了解</li>
                  <li>对JavaScript原生较为精通,熟悉jQuery常用操作</li>
                  <li>了解前端性能优化,对H5新API有所了解</li>
                  <li>了解ES6或者TypeScript加分</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">简历投递邮箱</h4>
                  <ul>
                    <li>hr@qiniu.com</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="dropdown">
      <div class="positions" id="jobs">
        <div class="panel" style="webkit-box-shadow: none; box-shadow:none">
          <div class="panel-heading">
            <h3>
              <b>    
                <a data-toggle="collapse" data-parent="#jobs" href="#collapseThree" class="position-end-developer" style="color:black"
                  onclick="if(this.innerHTML =='▼运维工程师'){this.innerHTML = '►运维工程师'}else{this.innerHTML = '▼运维工程师'}">
                  ►运维工程师
                </a>
              </b>
            </h3>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" style="padding-top:20px">
            <div class="panel-body">
              <div class="intro" style="color: gray">
                <h4>工作地点：上海</h4>
                <h4>职位发布于：2017/09/14</h4>
              </div>
              <div class="button" style="padding-top: 40px; padding-bottom: 15px">
                <div align="left" style="padding-bottom: 40px">
                  <a class="btn btn-lg btn-career" role="button" href="mailto:hr@qiniu.com" style="color: white;">立即申请</a>
                </div>
              </div>

              <div class="details" style="color: gray; line-height: 30px">
                <h4 style="padding-bottom:25px">岗位职责</h4>
                <ul>
                  <li>负责公司产品实施维护</li>
                  <li>优化产品部署实施流程</li>
                  <li>负责客户问题收集及解答</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">任职要求</h4>
                <ul>
                  <li>对linux很有兴趣</li>
                  <li>实际用 linux 做过不少工作</li>
                  <li>参加过 linux 社团的优先</li>
                  <li>使用 linux 作为开发环境的优先</li>
                  <li>有 CCIE 证书之类的优先</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">简历投递邮箱</h4>
                  <ul>
                    <li>hr@qiniu.com</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="dropdown">
      <div class="positions" id="jobs">
        <div class="panel" style="webkit-box-shadow: none; box-shadow:none">
          <div class="panel-heading">
            <h3>
              <b>    
                <a data-toggle="collapse" data-parent="#jobs" href="#collapseFour" class="position-end-developer" style="color:black"
                  onclick="if(this.innerHTML =='▼人力资源管培生'){this.innerHTML = '►人力资源管培生'}else{this.innerHTML = '▼人力资源管培生'}">
                  ►人力资源管培生
                </a>
              </b>
            </h3>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" style="padding-top:20px">
            <div class="panel-body">
              <div class="intro" style="color: gray">
                <h4>工作地点：上海</h4>
                <h4>职位发布于：2017/09/14</h4>
              </div>
              <div class="button" style="padding-top: 40px; padding-bottom: 15px">
                <div align="left" style="padding-bottom: 40px">
                  <a class="btn btn-lg btn-career" role="button" href="mailto:hr@qiniu.com" style="color: white;">立即申请</a>
                </div>
              </div>

              <div class="details" style="color: gray; line-height: 30px">
                <h4 style="padding-bottom:25px">岗位职责</h4>
                <ul>
                  <li>负责制定、维护并更新职位说明书，定期发布更新招聘信息</li>
                  <li>负责维护并开拓各个招聘渠道，并提高招聘效率</li>
                  <li>主动搜索简历寻找候选人，并通过Cold Call提高招聘成功率</li>
                  <li>负责简历筛选、面试通知、面试安排及候选人面试情况跟进，帮助并协调新员工入职相关事宜</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">任职要求</h4>
                <ul>
                  <li>大学本科及以上学历</li>
                  <li>拥有1-2年互联网行业招聘工作经验，有过猎头工作经验者优先</li>
                  <li>熟练运用Word, Excel、PPT相关Office软件</li>
                  <li>乐于学习，有着未来从事人力资源工作的强烈意愿与规划</li>
                  <li>积极主动、耐心细致，善于沟通，拥有强烈的责任心和良好的工作态度</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">简历投递邮箱</h4>
                  <ul>
                    <li>hr@qiniu.com</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown" style="padding-bottom: 131px">
      <div class="positions" id="jobs">
        <div class="panel" style="webkit-box-shadow: none; box-shadow:none">
          <div class="panel-heading">
            <h3>
              <b>    
                <a data-toggle="collapse" data-parent="#jobs" href="#collapseFive" class="position-end-developer" style="color:black"
                  onclick="if(this.innerHTML =='▼销售管培生'){this.innerHTML = '►销售管培生'}else{this.innerHTML = '▼销售管培生'}">
                  ►销售管培生
                </a>
              </b>
            </h3>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" style="padding-top:20px">
            <div class="panel-body">
              <div class="intro" style="color: gray">
                <h4>工作地点：上海／北京／深圳／成都／厦门</h4>
                <h4>职位发布于：2017/09/14</h4>
              </div>
              <div class="button" style="padding-top: 40px; padding-bottom: 15px">
                <div align="left" style="padding-bottom: 40px">
                  <a class="btn btn-lg btn-career" role="button" href="mailto:hr@qiniu.com" style="color: white;">立即申请</a>
                </div>
              </div>

              <div class="details" style="color: gray; line-height: 30px">
                <h4 style="padding-bottom:25px">岗位职责</h4>
                <ul>
                  <li>协助大客户经理建立销售计划和各种业务扩张</li>
                  <li>挖掘公司目标客户，进行日常客户沟通联络和业务拓展</li>
                  <li>进行客户关系的管理，整理、维护和分析客户资料</li>
                  <li>完成公司指定的销售指标</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">任职要求</h4>
                <ul>
                  <li>2017年毕业，本科及以上学历，计算机相关专业优先</li>
                  <li>沟通能力强，乐于和善于表达</li>
                  <li>热爱销售，有良好的抗压能力</li>
                  <li>自信、乐观向上、工作态度积极、具有团队合作精神</li>
                  <li>乐于接受新鲜事物，学习能力强</li>
                </ul>
                <h4 style="padding-bottom:25px; padding-top:40px">简历投递邮箱</h4>
                <ul>
                  <li>hr@qiniu.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>