@import "~utils/less/index.less";

.wrapper {
  position: relative;
  .mobile({
    padding-bottom: 24px;
  });
}

.card {
  display: flex;
  flex-direction: column;
  background-color: @grey-1;

  .logo {
    width: 100%;
    height: auto;
    flex: 0 0 auto;
  }

  .content {
    flex: 1 1 auto;
    padding: 24px 24px 90px 24px;
    position: relative;
  }

  .name {
    font-size: 20px;
    line-height: 1.4em;
    font-weight: normal;
  }

  .word {
    margin-top: 12px;
    color: @grey-6;
    min-height: 132px;
  }

  .teller {
    @avatarSize: 40px;

    position: absolute;
    bottom: 28px;
    padding-left: @avatarSize + 16px;

    .avatar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: @avatarSize;
      height: @avatarSize;
      border-radius: @avatarSize / 2;
    }

    .name {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.4em;
    }

    .title {
      margin-top: 4px;
      font-size: 12px;
      line-height: 1.4em;
      color: @grey-6;
    }
  }
}
