/**
 * @file markdown editor
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.uploadImageEntry {
  padding: 0 !important;

  .pictureIcon {
    padding: 10px 5px;
  }
}

.root {
  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: initial;
  }
}
