@import '~utils/less/index.less';

.container .linkItem:last-child .item {
  border-bottom: unset;
}

.groupWrapper {
  border-bottom-color: transparent; // 去掉下边框
  padding-bottom: 4px; // 去掉 16px（即跟 section 16px 的下边距合并）
}

.linkItem {
  outline: none;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid @grey-3;
  }

  .itemContent {
    flex: 1;
    text-align: left;
  }

  .itemTitle {
    color: @grey-7;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .desc {
    margin: 4px 0;
    color: @grey-6;
    font-size: 12px;
    line-height: 18px;
  }

  .arrowIcon {
    width: 16px;
    height: 16px;
    margin-left: 16px;
  }
}