@import '~utils/less/index.less';

.container .linkItem:last-child .item {
  border-bottom: unset;
}

.companyWrapper {
  display: flex;
  align-items: center;
  padding: 12px 16px;

  .prefix {
    margin-right: 12px;
    width: 3px;
    height: 16px;
    background: #00aae7;
  }

  .company {
    font-size: 16px;
  }
}

.linkItem {
  outline: none;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    padding: 12px 0;
    border-bottom: 1px solid @grey-3;
  }

  .itemContent {
    flex: 1;
    text-align: left;
  }

  .itemTitle {
    color: @grey-7;
    font-size: 14px;
    font-weight: 500;
  }

  .desc {
    margin-top: 4px;
    color: @grey-6;
    font-size: 12px;
    line-height: 18px;
  }

  .arrowIcon {
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }
}