/**
 * @file render markdown
 * @author lizhifeng <lizhifeng@qiniu.com>
 * @description modify from `components/Price/Tabs/DocumentPane/style.m.less` & to be merged
 */

@import "~utils/less/index.less";

pgc-markdown-container {
  display: block;

  h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 8px;
    font-weight: 700;
  }

  h1, h2, h3 {
    font-size: 20px;
  }

  h4, h5, h6 {
    font-size: 16px;
  }

  p {
    margin: 8px 0;
  }

  // TODO: 间距优化
  ul, ul li {
    list-style: disc;
    list-style-position: inside;
  }

  // TODO: 间距优化
  ol, ol li {
    list-style: decimal;
    list-style-position: inside;
  }

  img {
    margin: 20px 0;
    max-width: 730px;

    .mobile({
      max-width: 100%;
      width: 100%;
    });
  }

  a {
    .blueLink();
  }

  // TODO: 各类标签补充完整
}
