@import "../../utils/color.less";

@notification-height: 40px;

.headerNotification {
  height: @notification-height;
  line-height: @notification-height;
  font-size: 12px;
  text-align: center;
  background-color: #f9f9f9;

  .content {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    line-height: @notification-height;
  }
  
  .closeIcon {
    margin-left: 10px;
    color: @blue-6;
    cursor: pointer;
    text-decoration: underline;
    vertical-align: top;
    line-height: @notification-height;
  }
}
