@import "~utils/less/index.less";

.tabs {
  margin-bottom: 27px;
}

.menu {
  :global(.rc-menu-submenu > .rc-menu) {
    background-color: transparent;
  }

  .casesInMenu {
    padding: 10px 16px 16px;
  }
}
