@import '~utils/less/index.less';

@banner-height: 560px;
@mobile-banner-height: 340px;

.mainWrapper {
  display: block;
  background-color: @blue-6;
  overflow-x: auto;

  .mobile({
    height: auto;
  });

  .contentWrapper {
    width: 100%;
    height: @banner-height;
  
    .mobile({
      height: auto;
      min-height: @mobile-banner-height;
      padding: 0 24px;
    });

    .content {
      .centeredWithLg();
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      padding-top: 60px; // 距离顶部导航栏
      padding-bottom: 54px; // 距离底部滑块
      color: @grey-7;
    
      &.dark {
        color: @grey-1;

        .btnsWrapper {
          .btn {
            background-color: @grey-1;
            border-color: @grey-1;

            &:hover {
              background-color: #f2f2f2;
              border-color: #f2f2f2;
            }

            &.hollow {
              background-color: @grey-1;
              border-color: @grey-1;

              &:hover {
                background-color: #f2f2f2;
                border-color: #f2f2f2;
              }
            }
          }
        }
      }
    
      .mobile({
        justify-content: flex-start;
        align-items: center;
        height: auto;
        padding-top: 30px;
      });

      .title {
        font-size: 52px;
        line-height: 73px;
        font-weight: 600;
        .mobile({
          font-size: 24px;
          line-height: 34px;
        });
      }
      
      .desc {
        margin-top: 12px;
        font-size: 20px;
      
        .mobile({
          margin-top: 8px;
          font-size: 14px;
        });
      }
      
      .btnsWrapper {
        margin-top: 64px;
      
        .mobile({
          margin-top: 2px;
        });
      
        .btn {
          display: inline-block;
          width: auto;
          height: 40px;
          line-height: 38px;
          margin-right: 16px;
          padding: 0 24px;
          background-color: @primary-color;
          border-color: @primary-color;
        
          &:hover {
            background-color: #37CAFF;
            border-color: #37CAFF;
          }
          
          &.hollow{
            color: @primary-color;
            border-color: @primary-color;
      
            &:hover {
              color: @grey-1;
              background: @primary-color;
            }
          }
        
          .mobile({
            margin-right: 8px;
          });
        }
      }
      
      .iconWrapper {
        flex: 0 1;
      
        svg, img {
          width: 500px;
        }
      }
    }
  }
}
