@import '~utils/less/index.less';


@banner-height: 400px;
@mobile-banner-height: 160px;

.mainWrapper {
  display: block;
  background-color: @blue-6;
  overflow-x: auto;

  .mobile({
    height: auto;
  });
}

.contentWrapper {
  width: 100%;

  .pcLg({
    margin: 0 auto;
    width: @centered-content-width-lg;
  });

  height: @banner-height;
  color: @grey-1;

  .mobile({
    height: auto;
    min-height: @mobile-banner-height;
    padding: 26px 24px;
  });
}

.content {
  .centered();

  padding-top: 76px;
  .mobile({
    padding-top: 0;
  });
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;

  .mobile({
    font-size: 24px;
    line-height: 34px;
  });
}

.desc {
  margin-top: 12px;
  width: 600px;
  font-size: 20px;
  line-height: 1.4;

  .mobile({
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    min-height: 36px;
    width: auto;
  });
}

.btnsWrapper {
  margin-top: 86px;

  .mobile({
    margin-top: 2px;
  });
}

.btn {
  margin-right: 12px;
  display: inline-block;

  .mobile({
    margin-right: 8px;
  });
}

.iconWrapper {
  flex: 0 1;

  svg, img {
    width: 500px;
  }
}
