@import '~utils/less/index.less';

@banner-height: 712px;
@mobile-banner-height: 340px;

.mainWrapper {
  display: block;
  background-color: @blue-6;
  overflow-x: auto;

  .mobile({
    height: auto;
  });

  .contentWrapper {
    width: 100%;
    height: @banner-height;
  
    .mobile({
      height: auto;
      min-height: @mobile-banner-height;
      padding: 0 24px;
    });

    .content {
      .centeredWithLg();
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 60px; // 距离顶部导航栏
      padding-bottom: 54px; // 距离底部滑块
      color: @grey-7;

      &.dark {
        color: @grey-1;
      }

      .mobile({
        justify-content: flex-start;
        align-items: center;
        height: auto;
        padding-top: 30px;
      });

      .title {
        margin-top: 176px;
        .setFontSize(52px);
        font-weight: 500;
        .mobile({
          .setFontSize(24px);
          margin-top: 0;
        });
      }
      
      .desc {
        margin-top: 8px;
        .setFontSize(20px);
      
        .mobile({
          margin-top: 6px;
          .setFontSize(14px);
        });
      }
      
      .btnsWrapper {
        margin-top: 64px;

        .mobile({
          margin-top: 2px;
        });

        .btn {
          display: inline-block;
          width: auto;
          height: 40px;
          line-height: 38px;
          margin-right: 16px;
          padding: 0 24px;

          .mobile({
            margin-right: 8px;
          });
        }
      }

      // 为首页 banner 定制的透明底（hollow）酷黑 button
      &.light .btnsWrapper .btn {
        color: @grey-7;
        border-color: @grey-7;
      
        &:hover {
          color: @grey-1;
          background-color: @grey-7;
          border-color: @grey-7;
        }
      }
    }
  }
}
