// pick & modify from:
// https://github.com/qbox/bo/blob/d380d55b8b9f1c18b36d63ee576e2547086be8ef/www/front/marketing/src/global/variables.less

// 记得同步 './vairables.ts'

//== base
@white: #FFF;
@black: #000;
@transparent: transparent;

@primary-color: #00A0DE;
@success-color: #67C23A;
@warning-color: #F0A818;
@danger-color: #E55C5C;
@error-color: @danger-color;

@shadow-color: rgba(0, 0, 0, 0.50);
@shadow-color-darker: rgba(0, 0, 0, 0.80);

//== screen / tablet
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@modal-md: 600px;
@modal-sm: 346px;

//== Header
@header-bg-color: @transparent;
@header-active-bg-color: #303848;
@header-text-color: @black;
@header-active-text-color: @white;

//== Border
@border-color: #D3D3D3;

//== Table
@table-text-color: #333;
@table-bg-lighter-color: #F5F5F5;

//== Coupon
@coupon-border-color: #FFB41E;
@coupon-text-color: #0A0E17;
@coupon-text-color-lighter: rgba(0, 0, 0, 0.65);
@coupon-money-color: #F43122;
@coupon-draw-btn-left-color: #FE830D;
@coupon-draw-btn-hover-color: #FF590F;

//== Package
@package-dashed-border-color: rgba(0, 0, 0, 0.10);
@package-text-color: @black;
@package-text-color-lighter: rgba(0, 0, 0, 0.65);
@package-current-money-color: #F43122;
@package-origin-money-color: #666;
@package-buy-btn-left-color: #FE830D;
@package-buy-btn-right-color: #FFB41E;
@package-buy-btn-hover-color: #FF590F;
@package-dimension-dropdown-border-color: #DDD;
@package-dimension-dropdown-bg-color: #FBFBFB;
