.picContainer {
  display: flex;
  justify-content: center;
}

.radios {
  margin-bottom: 72px;
  justify-content: center;
  .radio {
    flex: 0 0 150px !important;
  }
}

.qrCode {
  margin: 0 78px 26px 78px;
  width: 200px;
  height: 200px;
}

