@import "~react-icecream/style/less/variables/index.less";

.container {
  border: 1px solid #e6e9f0;
}

.btn {
  height: 36px !important;
  padding: 0 15px !important;
  margin: 7px 0 0 !important;
  border: none !important;
}
