/**
 * @file 短视频方案优势 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.icon {
  width: 60px;

  .mobile({
    width: 24px;
    height: auto;
    margin: 2px 6px 0 0;
  });
}
