/**
 * @file 短视频方案优势 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.item {
  padding: 0 20px !important;

  .mobile({
    padding: 0 !important;
  });
}

.icon {
  width: 60px;
}
