/**
 * @file file
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.detail {
  .mobile({
    padding-top: 20px;
    padding-bottom: 20px;
  });

  .header {
    margin-bottom: 36px;
  }

  .card {
    display: flex;

    .summary {
      flex: 1;
      overflow: hidden;
      margin-left: 36px;

      .mobile({
        margin-left: 16px;
      });
    }
  }

  .desc {
    margin-bottom: 32px;

    .mobile({
      margin: 16px 0;
    });
  }
}

.detail,
.embed {
  .img {
    width: 261px;

    .mobile({
      width: 90px;
    });
  }
}

.embed {
  display: block;

  .wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;

    .downloadIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -32px 0 0 -32px;
      width: 64px;
      height: 64px;

      .mobile({
        margin: -16px 0 0 -16px;
        width: 32px;
        height: 32px;
      });
    }

    &:hover {
      opacity: .9;
    }
  }
}

.item {
  display: flex;

  .mobile({
    width: 100%;
  });

  > .img {
    width: 135px;
    margin-right: 16px;

    .mobile({
      width: 84px;
      margin-right: 8px;
    });
  }

  .card {
    width: 400px;
    min-width: 0;

    .mobile({
      width: auto;
      flex: 1;
    });
  }
}
