@import '~utils/less/index.less';

@blue: @blue-6;
// 同 ./Button/style.less
@buttonSize: 64px;
@mobileButtonSize: 44px;
@entryHeight: 140px;
@mobileEntryHeight: 102px;

.wrapper {
  position: fixed;
  bottom: 50px;
  right: 86px;
  z-index: @feedback-form-z-index;

  .mobile({
    bottom: 44px;
    right: 16px;
  });
}

.entryWrapper {

  position: absolute;
  right: 0;
  bottom: 0;
  width: @buttonSize;
  height: @entryHeight;
  background-color: @grey-1;
  border: 1px solid @grey-3;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.08);
  border-radius: @buttonSize / 2;
  text-align: center;

  .btn {
    position: absolute;
    top: -1px;
    left: -1px;
    background-position: center;
    background-repeat: no-repeat;

    &.btnClose {
      background-size: 30%;
      background-image: url(../icons/close.svg);
    }
    &.btnSmile {
      background-size: 47%;
      background-image: url(../icons/smile.svg);
    }
  }

  .freeTrialLink {
    display: block;
    margin-top: @buttonSize;
    padding: 8px;
    font-size: 16px;
    line-height: 22px;
    color: @blue;
    text-decoration: none;

    &:hover {
      color: @blue-5;
    }
  }

  .mobile({
    width: @mobileButtonSize;
    height: @mobileEntryHeight;
    border-radius: @mobileButtonSize / 2;

    .freeTrialLink {
      margin-top: @mobileButtonSize;
      padding: 8px 9px 15px;
      font-size: 12px;
      line-height: 17px;
    }
  });
}

.modal() {
  .modalWrapper();

  position: absolute;
  right: 0;
  display: block;
  width: 374px;
}

.formModalWrapper {
  .modal();
  height: 500px;
  bottom: @entryHeight + 12px;
}
