/**
 * @file 存储适用场景 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import "~utils/less/index.less";

.sceneContainer {
  padding: 20px;

  .mobile({
    padding: 20px 16px;
  })
}

.sceneImgBlock {
  .notMobile({
    flex-basis: 452px !important;
    text-align: center !important;
  });
}

.sceneImg {
  height: 212px;
  line-height: 1;

  .mobile({
    height: 106px;
    width: 100%;
    margin-top: 20px;
  })
}

.sceneTitle {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  color: @grey-7;
  line-height: 22px;

  &.client {
    padding-top: 20px;
  }
}

.sceneContent {
  margin-bottom: 12px;
  font-size: 14px;
  color: @grey-6;
  line-height: 22px;

  .emphasis {
    color: #00AAE7;
  }

  .mobile({
    font-size: 12px;
    text-align: left;
    line-height: 18px;
  })
}

.clientLogo {
  width: 160px;
  line-height: 1;

  .mobile({
    width: 80px;
  })
}
