/**
 * @file styles of component PageNav
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/styles/index.less";

@comp-page-nav-outer-bg-color: @white;
@comp-page-nav-outer-border-color: gray;
@comp-page-nav-inner-border-color: @border-color;

.comp-page-nav-box-shadow() {
  box-shadow: 0 0 1em @comp-page-nav-outer-border-color;
}

.pc,
.mobile {
  position: fixed;
  z-index: 999; // ant design 的 modal mask 是 1000
  left: 1ex;
  bottom: 20%; // 后续最好做一下位置优化
  color: @black;
}

.menuWrapper {
  //

  .menu {
    padding: 1em 0;
    line-height: 3;
    .comp-page-nav-box-shadow();
    text-align: center;
    border-radius: 1em;
    background-color: @comp-page-nav-outer-bg-color; // FIXME: IE9- 兜底颜色，linear-gradient 失效时生效

    .item {
      // 非常丑，先注释掉…
      // border-bottom: 1px solid @comp-page-nav-inner-border-color;
      // border-top: 1px solid @comp-page-nav-inner-border-color;
      // margin: -1px 0;

      padding: 0 1em;
      cursor: pointer;
    }
  }
}

.pc {
  //

  .hotspot {
    box-sizing: content-box;
    padding: .6em .9em;
    width: 1em;
    .c-word-wrap();
    text-align: center;
    // font-weight: 700;
    background-color: @comp-page-nav-outer-bg-color;
    .comp-page-nav-box-shadow();
    cursor: pointer;

    // 感觉 unicode 和 icecream(antd) icon 长得都有点丑
    // &::after {
    //   content: '\25b8'; // ▸
    // }
    .iconCaret {
      font-size: smaller;
    }
  }

  // for mobile
  @media only screen and (max-width: @screen-sm - 1) {
    & {
      display: none;
    }
  }

  .menuWrapper {
    //
  }
}

.mobile {
  //

  .buttonWrapper {
    .button {
      padding: .5em .7em;
      // font-weight: 900;
      background-color: @comp-page-nav-outer-bg-color;
      .comp-page-nav-box-shadow();
      border-radius: .8em;
      cursor: pointer;
    }
  }

  // for pc
  @media only screen and (min-width: @screen-sm) {
    & {
      display: none;
    }
  }

  .menuWrapper {
    margin-bottom: .5em;
  }
}
