@import '~utils/less/index.less';

.wrapper {
  &.mini {
    .item {
      padding: 0 12px;
      height: 34px;
      line-height: 34px;
      font-size: 12px;

      &.active::after {
        margin-left: -8px;
        width: 16px;
        border-radius: 2px;
      }
    }

    .content {
      padding-top: 0;

      .mobile({
        padding-top: 0;
      });
    }
  }

  &.small {
    .item {
      padding: 0;
      height: 40px;
      line-height: 40px;
      font-size: 12px;

      &:not(:first-child) {
        margin-left: 26px; // FIXME: 可点击区域跟其他 size 不一致
      }
    }
    .content {
      padding-top: 0;
    }
  }

  &.middle {
    .item {
      height: 56px;
      line-height: 56px;
      font-size: 16px;
    }
    .content {
      padding: 24px;
    }
  }

  &.verticalWrapper {
    display: flex;
    align-items: flex-start;
  }
}

.headerWrapper {
  position: relative;

  &.scrollable::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6px; // TODO: 支持不同的 size
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, rgba(0, 0, 0, 0.1) 99.94%);
  }
}

.header {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: @grey-7;

  &.shadow {
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
  }

  // TODO: scroll 实现优化 & 加折叠菜单
  &.scrollable {
    .touch-scroll();
    overflow-x: auto;
  }

  .mobile({
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 12px;

    &.scrollable {
      justify-content: start;
    }
  });

  &.verticalHeader{
    border-left: 1px solid #e5e5e5;
    box-shadow:none;
  }
}

.item {
  position: relative;
  display: inline-block;
  height: 72px;
  line-height: 72px;
  margin: 0;
  padding: 0 24px;
  min-width: 2em; // 最少两个字宽度
  max-width: 12em; // 最多 12 个字宽度, TODO: 改为超出则 ...
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: content-box;
  transition: .2s;

  &.verticalItem{
    display: block;
    text-align: start;
    line-height: 24px;
    &:after{
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 3px;
      height: 100%;
      margin: 0;
    }
  }

  &.verticalItem:not(:first-child){
    margin-top: 20px;
  }
  .ellipsis();

  .mobile({
    flex-basis: auto;
    flex-shrink: 0;
    padding: 0 4px;
    height: 48px;
    line-height: 48px;
  });

  &.active, &:hover {
    color: @blue-6;
  }

  // TODO: 把下边的横条放到 tabs 那层去实现，以便实现动画
  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    height: 4px;
    background-color: transparent;
    transition: .2s;
  }

  &.active:after {
    background-color: @blue-6;
  }
}

.themeWhite {
  .header {
    color: @grey-1;

    &.shadow {
      box-shadow: 0 1px 0 0 #86CBE4;
    }
  }

  .item {
    &.active, &:hover {
      color: @grey-1;
      font-weight: 600;
    }
    &.active:after {
      background-color: @grey-1;
    }
  }
}

.themeThinPrimaryLight {
  .item {
    &.active, &:hover {
      color: @primary-color;
    }
    &.active::after {
      height: 2px;
      background-color: @primary-color;
    }
  }
}

.themeThinGrey {
  .header {
    color: @grey-6;
  }

  .item {
    &.active, &:hover {
      color: @grey-7;
      font-weight: 700;
    }
    &.active::after {
      height: 2px;
      background-color: @grey-7;
    }
  }
}

.content {
  padding-top: 36px;
  text-align: left;
  &.verticalContent{
    padding-top: 0;
  }
  .mobile({
    padding-top: 16px;
  });
}
