@import '~utils/less/index.less';

.wrapper {
  &.small {
    .item {
      padding: 0;
      height: 40px;
      line-height: 40px;
      font-size: 12px;

      &:not(:first-child) {
        margin-left: 26px;
      }
    }
    .content {
      padding-top: 0;
    }
  }

  &.middle {
    .item {
      height: 56px;
      line-height: 56px;
      font-size: 16px;
    }
    .content {
      padding: 24px;
    }
  }
}

.header {
  font-size: 16px;
  color: @grey-7;

  &.shadow {
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
  }

  .mobile({
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  });
}

.item {
  position: relative;
  display: inline-block;
  height: 72px;
  line-height: 72px;
  padding: 0 24px;
  min-width: 2em; // 最少两个字宽度
  max-width: 12em; // 最多 12 个字宽度, TODO: 改为超出则 ...
  height: 100%;
  cursor: pointer;
  box-sizing: content-box;
  transition: .2s;

  .mobile({
    padding: 0 4px;
    height: 48px;
    line-height: 48px;
  });

  &.active, &:hover {
    color: @blue-6;
  }

  // TODO: 把下边的横条放到 tabs 那层去实现，以便实现动画
  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    height: 4px;
    background-color: transparent;
    transition: .2s;
  }

  &.active:after {
    background-color: @blue-6;
  }
}

.themeWhite {
  .header {
    color: @grey-1;

    &.shadow {
      box-shadow: 0 1px 0 0 #86CBE4;
    }
  }

  .item {
    &.active, &:hover {
      color: @grey-1;
      font-weight: 600;
    }
    &.active:after {
      background-color: @grey-1;
    }
  }
}

.content {
  padding-top: 36px;
  text-align: left;

  .mobile({
    padding-top: 16px;
  });
}
