@import '~utils/less/index.less';

@card-width: 376px;
@card-space: 24px;

.products {
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .mobile({
    margin-top: 12px;
    padding: 0 8px;
    height: auto;
    min-height: 0;
  });

  .tab {
    text-align: center;
    display: inline-block;
    > svg {
      display: block;
      width: 190px;
      margin: 0 auto;
    }

    .mobile({
      display: inline-block;
      text-align: left;
      > svg {
        display: inline-block;
        width: 40px;
        margin-right: 16px;
      }
    });
  }

  .pane {
    margin: 0 -@card-space/2 16px;

    .tip {
      display: block;
      padding-left: 45px;
      font-size: 14px;
      color: @grey-6;
      line-height: 35px;
      margin: 0 @card-space/2 @card-space;
      height: 35px;
      .background-image(url(./images/tip.svg), left, border-box, 32px);
    }

    .card {
      display: inline-block;
      width: @card-width;
      background: white;
      vertical-align: top;
      margin: 0 @card-space/2 @card-space;
      box-shadow:0px 4px 8px 0px rgba(51,51,51,0.08);
      border-radius:4px;
      border:1px solid rgba(238,238,238,1);
      cursor: pointer;
  
      .mobile({
        width: 100%;
        height: auto;
      });

      &.disabled > .content {
        .title {
          color: @grey-5;
          &:hover {
            color: @grey-5;
          }
        }
        .desc {
          color: @grey-5;
        }
      }
  
      .icon {
        display: inline-block;
        width: 32x;
        height: 44px;
        font-size: 0;
        margin-left: 20px;
        margin-top: 28px;
        vertical-align: top;
  
        .mobile({
          width: 20%;
        });
      }
  
      .content {
        display: inline-block;
        vertical-align: middle;
        width: 320px;
        padding: 28px 20px !important;
  
        .title {
          display: block;
          font-size: 16px;
          line-height: 20px !important;
          color: black;
          transition: color 0.25s;

          &:hover {
            color: @blue-6;
          }
        }
      
        .desc {
          margin-top: 6px;
          display: block;
          line-height: 20px !important;
          height: 40px;
          font-size: 14px;
          color: @grey-6;
        }
      }
      
    }
  }

  .explore {
    display: inline-block;
    width: 164px;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #00AAE7;
    text-align: left;
    cursor: pointer;
    .background-image(url(./images/arrow.svg), right, border-box, 22px);

    &:hover {
      text-decoration: underline;
    }
  }


  .mobilePane {

    .menuItem {
      text-align: left;
      padding: 10px 16px;
      background: #FAFAFA;
      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: relative;
        bottom: -10px;
        border-bottom: 1px solid @grey-3;
      }
      &:last-of-type {
        &:after {
          border-bottom: none;
        }
      }
      .title {
        color: @grey-7;
        font-size: 14px;
        font-weight: 500;
      }
      .desc {
        margin-top: 4px;
        font-size: 12px;
        color: @grey-6;
      }
    }
  }

  :global {
    .rc-menu .rc-menu-submenu {
      .rc-menu-submenu-title {
        background-color: white;
        text-align: left;
      }
    }
  }

}
