// index page
.dynamic-banner-link {
  outline: none;
  -moz-outline: none;

  &:focus {
    outline: none;
    -moz-outline: none;
  }
}

.jumbotron.hero {
  height: 5rem;
  margin-bottom: 0.30rem;
  text-align: center;
  background-image: image-url('banner/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;

  h2.identification {
    font-size: 0.34rem;
  }

  .img-wrapper {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 30px;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    img.text {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
  }

  &.hero-contact,
  &.hero-company {
    margin-bottom: -0.30rem;
  }

  &.hero-niuday {
    background-image: image-url('niuday/banner-bg.jpg');
    margin: 0;
    padding-top: 68px;

    .img-wrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px 30px;
      text-align: center;
      vertical-align: middle;
      color: #fff;

      .btn-banner {
        color: #fff;
        background-color: #3f66cf;
      }

      .text {
        width: 540px;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  &.hero-niuday.niuday-meitu {
    background-image: image-url('niuday/banner-bg-meitu.jpg') !important;

    .img-wrapper {
      top: 3.30rem;

      h4 {
        font-size: 20px;
      }
    }
  }

  &.hero-niuday.niuday-aicloud {
    background-image: image-url('niuday/banner-bg-aicloud.jpg') !important;

    .img-wrapper {
      top: 3.20rem;

      h4 {
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
      }
    }
  }

  &.hero-niuday.niuday-beijing {
    background-image: image-url('niuday/banner-bg-beijing.jpg') !important;

    .img-wrapper {
      top: 3.20rem;

      h4 {
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
      }
    }
  }

  .banner-desc-right {
    width: 100%;
    left: 60%;
    position: absolute;
    bottom: 1.2rem;
    color: #fff;

    p {
      text-shadow: none;
    }
  }

  .highlight-desc {
    padding: 10px;
    background: #3f66cf;
    font-size: 28px;
    display: inline-block;
    font-weight: bold;
  }

  .banner-container {
    position: relative;
    height: 4.5rem;
    width: 100%;
    margin-top: -0.68rem;
    margin-bottom: 0.30rem;
    text-align: center;

    .banner-desc {
      color: #fff;
      padding-top: 1.70rem;

      p {
        margin-bottom: 0;
      }
    }

    .btn-banner {
      position: absolute;
      bottom: 0.6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.hero-sourth-asia {
    background-image: image-url('sourth-asia-banner.jpg');
  }

  &.hero-bannerIdentify {
    background-image: image-url('banner/banner-identification.jpg');

    .middle-container {
      top: 50%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.10rem;
      }

      .tips {
        padding-top: 0.20rem;
        font-size: 0.14rem;
      }
    }
  }

  &.hero-banner2 {
    background-image: image-url('southern-price-reduce-1.jpg');

    .banner-container .btn-banner {
      bottom: 0.4rem;
    }
  }

  &.hero-bannerPlayer {
    background-image: image-url('banner/banner-player.jpg');

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-bannerAI {
    background-image: image-url('banner-aichuangxinfuchijiahua.jpg');
  }

  &.hero-cdnprice {
    background-image: image-url('banner/banner-cdn.jpg');

    .middle-container {
      top: 48%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.10rem;
      }

      .tips {
        padding-top: 0.20rem;
        font-size: 0.14rem;
      }
    }
  }

  &.hero-bannerGoglobal {
    background-image: image-url('bannerGoglobal.jpg');

    .banner-container {
      height: 4.5rem;

      .btn-banner {
        bottom: -50px;
      }
    }
  }

  &.hero-invitation {
    background-image: image-url('invitation/banner.jpg');

    .container {
      position: relative;

      .content-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 800px;
        text-align: center;

        p {
          color: #52caff;
          font-size: 0.18rem;
          margin-top: -56px;
        }

        .actions {
          a.btn-banner-invitation {
            color: #14315b;
          }
        }
      }
    }
  }

  .right-mask-banner {
    min-height: 3rem;

    img {
      vertical-align: middle;
      display: inline-block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.hero-contact {
    background-image: image-url('contact/banner.jpg');
  }

  &.hero-events {
    background-image: image-url('marketing-banner.jpg');
  }

  &.hero-ecug {
    background-image: image-url('ecug-banner.jpg');
  }

  &.hero-niushow {
    background-image: image-url('niushow-banner.jpg');
  }

  &.hero-company {
    background-image: image-url("company/banner.jpg");
  }

  &.hero-case {
    background-image: image-url("case/banner.jpg");
  }

  &.hero-prices {
    background-image: image-url("price-banner.jpg");
  }

  &.hero-caculator {
    background-image: image-url("caculator-banner.jpg");
  }

  &.hero-goglobal {
    background-image: image-url('goglobal/banner.jpg');
  }

  &.hero-newmedia {
    background-image: image-url('newmedia/banner.jpg');
  }

  &.hero-player {
    background-image: image-url('player/banner.png');
  }

  &.hero-alaccelerator {
    padding-top: 68px;
    background-image: image-url('alaccelerator/banner.jpg');
  }

  &.hero-livequiz {
    background-image: image-url('livequiz/banner-bg.jpg');
  }

  &.hero-plup {
    background-image: image-url('bg-security-banner.jpg');
  }

  &.hero-plup {
    .middle-container {
      padding-top: 50px;
    }

    .right-mask-banner img {
      width: 80%;
    }
  }

  &.hero-plsv {
    background-image: image-url('banner/banner-plsv.jpg');
  }

  &.hero-plsv {
    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-arch {
    background-image: image-url('arch/banner');

    .img-wrapper {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      padding-top: 60px;

      .arch-text {
        width: 456px;
        height: auto;
      }
    }
  }

  &.hero-ecugcon {
    background-image: image-url('ecug/banner.jpg');

    .img-wrapper {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
    }
  }

  &.hero-vcs {
    background-image: image-url("vcs/banner.png");

    .middle-container {
      top: 35%;

      .right-mask-vcs {
        position: absolute;
        top: -1.00rem;
        right: -2.00rem;
      }
    }
  }

  &.hero-gartner {
    background-image: image-url("banner/banner-gartner.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          font-size: 0.50rem;
          font-weight: 600;
        }

        p {
          margin-top: 0.30rem;
          font-size: 0.20rem;
          font-weight: 600;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-kodo-private-index {
    background-image: image-url("banner/banner-kodo-private.jpg");

    .middle-container {
      top: 40%;
      text-align: center;

      .banner-desc {
        h1 {
          font-size: 0.50rem;
        }

        p {
          margin-top: 0.10rem;
          font-size: 0.24rem;
        }
      }

      .btn-banner {
        margin-top: 0.10rem;
      }
    }
  }

  &.hero-invite-2020-index {
    background-image: image-url("banner/banner-invite-2020-index.jpg");

    .middle-container {
      top: 46%;
      text-align: center;

      .banner-desc {
        h1 {
          font-size: 0.50rem;
        }

        p {
          margin-top: 0.20rem;
          font-size: 0.24rem;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-insight {
    background-image: image-url("banner/banner-insight.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          font-size: 0.50rem;
        }

        p {
          margin-top: 0.20rem;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-rtn-index {
    background-image: image-url("banner/banner-rtn.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0 0 0.05rem 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-censor-index {
    background-image: image-url("banner/banner-censor-index.jpg");

    .middle-container {
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0.30rem 0 0 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-spring-recommend-2020 {
    background-image: image-url("banner/banner-spring-recommend-2020.jpg");
    a {
      outline: none;
      -moz-outline: none;
    }
  }

  &.hero-qvmpartner-index {
    background-image: image-url("banner/banner-qvmpartner-index.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0.30rem 0 0 0;
          font-size: 0.28rem;
          .text-warn {
            color: #FFCD00;
          }
        }
      }

      .btn-banner {
        border: none;
        color: #0084FF;
        background-color: #FFF;
        margin-top: 0.30rem;
        &:hover {
          -webkit-box-shadow: 4px 4px 10px #323232;
          -moz-box-shadow: 4px 4px 10px #323232;
          box-shadow: 4px 4px 10px #323232;
        }
      }
    }
  }

  &.hero-cloud-report {
    background-image: image-url("banner/banner-cloud-report.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h3 {
          margin: 0.30rem 0 0 0;
          font-size: 0.20rem;
        }

        h1 {
          margin: 0.30rem 0;
          font-size: 0.46rem;
          font-weight: 600;
        }
      }

      .btn-banner {
        border: none;
        color: #FFF;
        background-color: #03DEC0;
        &:hover {
          -webkit-box-shadow: 4px 4px 10px #323232;
          -moz-box-shadow: 4px 4px 10px #323232;
          box-shadow: 4px 4px 10px #323232;
        }
      }
    }
  }

  &.hero-fusion-index {
    background-image: image-url("banner/banner-fusion-index.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          margin: 0.30rem 0;
          font-size: 0.46rem;
        }

        h3 {
          margin: 0.20rem 0 0 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-sms-index {
    background-image: image-url("banner/banner-sms-index.jpg");
    .middle-container {
      top: 45%;
      text-align: center;
      .banner-desc {
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.54rem;
          font-weight: 600;
        }
        p {
          margin: 0.10rem 0;
          font-size: 0.18rem;
          font-weight: 500;
          text-shadow: none;
          .price-span {
            font-size: 0.28rem;
          }
        }
      }
      .btn-banner {
        margin-top: 0.10rem;
        color: #09206B;
      }
    }
  }

  &.hero-kodogoglobal-index {
    background-image: image-url("banner/banner-kodogoglobal-index.jpg") !important;
    .container {
      .middle-container {
        top: 45%;
        text-align: center;
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
          font-weight: 600;
          text-shadow: none;
        }
        p {
          font-size: 0.20rem;
        }
        .btn-banner {
          margin-top: 0.10rem;
          border: none;
          color: #011D5C;
          background-color: #FFE23F;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-enterpriseoncloud-index {
    background-image: image-url("banner/banner-enterpriseoncloud-index.jpg") !important;
    .container {
      .middle-container {
        top: 44%;
        text-align: center;
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
          font-weight: 600;
          text-shadow: none;
        }
        .content-marked {
          color: #FDD94D;
          font-size: 0.22rem;
        }
        .btn-banner {
          margin-top: 0.10rem;
          border: none;
          color: #011D5C;
          background-color: #FDD94D;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-bigpromotion-index {
    background-image: image-url("banner/banner-bigpromotion.jpg");
    .container {
      .middle-container {
        top: 42%;
        text-align: center;
        .icon-bigpromotion {
          width: 8.00rem;
          margin: 0 auto;
        }
        .btn-banner {
          width: 1.40rem;
          margin: 0 auto;
          margin-top: 0.30rem;
          display: block;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-qvmsumsale-index {
    background-image: image-url("banner/banner-qvmsumsale-index.jpg") !important;
    .container {
      .middle-container {
        top: 42%;
        text-align: center;
        h1, h2 {
          margin-bottom: 0.20rem;
          font-weight: 600;
        }
        h2 {
          text-shadow: none;
        }
        .content-huge {
          font-size: 0.54rem;
        }
        .content-marked {
          color: #FDD94D;
        }
        .btn-banner {
          margin-top: 0.10rem;
          border: none;
          color: #011D5C;
          background-color: #FDD94D;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-cdnpackage-index {
    background-image: image-url("banner/banner-cdnpackage-index.jpg") !important;
    .container {
      .middle-container {
        top: 44%;
        text-align: center;
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.58rem;
          font-weight: 600;
          text-shadow: 0 0.02rem 0.03rem rgba(0, 0, 0, 0.5);
        }
        p {
          margin-top: 0.30rem;
          font-size: 0.26rem;
          font-weight: 600;
          .text-huge {
            font-size: 0.32rem;
          }
        }
        .text-warn {
          color: #FDD94D;
        }
        .btn-banner {
          margin-top: 0.20rem;
          border: none;
          color: #011D5C;
          background-color: #FDD94D;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-fusion-package-index {
    background-image: image-url("banner/banner-fusion-package-index.jpg") !important;
    .container {
      .middle-container {
        top: 44%;
        text-align: center;
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.68rem;
          font-weight: 600;
        }
        h3 {
          margin-top: 0;
          font-size: 0.34rem;
          font-weight: 600;
        }
        img {
          margin: 0 auto;
          margin-top: 0.20rem;
        }
        .btn-banner {
          margin-top: 0.20rem;
          border: none;
          background-color: #FDD94D;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-fighting-ncov-index {
    background-image: image-url("banner/banner-fighting-ncov-index.jpg");
    .container {
      .middle-container {
        top: 44%;
        text-align: center;
        .content {
          width: fit-content;
          margin: 0 auto;
          text-align: left;
          h3 {
            font-size: 0.84rem;
            font-weight: bold;
          }
        }
        .btn-banner {
          margin-top: 0.20rem;
          border: none;
          background-color: #FDD94D;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-spring-sale-index {
    background-image: image-url("spring_sale/index-banner.jpg");
    .btn-banner {
      margin-top: 3.4rem;
      font-size: .14rem;
      border: none;
      background-color: #FDD94D;
      &:hover {
        -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
      }
    }
  }

  &.hero-dora-package-index {
    background-image: image-url("banner/banner-dora-package-index.jpg");
    .container {
      .middle-container {
        top: 46%;
        text-align: center;
        img {
          margin: 0 auto;
          margin-top: 0.20rem;
        }
        .btn-banner {
          margin-top: 0.20rem;
          border: none;
          color: #D50004;
          background-color: #FFF;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-zelda-index {
    background-color: #321974;
    background-image: none !important;
    .container {
      .middle-container {
        top: 42%;
        img {
          margin: 0 auto;
          margin-top: 0.20rem;
        }
      }
    }
  }

  &.hero-double12-2019-index {
    background: -webkit-linear-gradient(#FE0EF8, #410084);
    background: -moz-linear-gradient(#FE0EF8, #410084);
    background: linear-gradient(#FE0EF8, #410084);
    .container {
      .middle-container {
        top: 42%;
        a {
          outline: none;
          -moz-outline: none;
        }
        img {
          margin: 0 auto;
        }
      }
    }
  }

  &.hero-double11-2019-index {
    background: -webkit-linear-gradient(#FF6418, #FF4C43);
    background: -moz-linear-gradient(#FF6418, #FF4C43);
    background: linear-gradient(#FF6418, #FF4C43);
    .container {
      .middle-container {
        top: 42%;
        a {
          outline: none;
          -moz-outline: none;
        }
        img {
          margin: 0 auto;
        }
      }
    }
  }

  &.hero-ecug-2019 {
    background-image: image-url("banner/banner-ecug-2019.jpg");
    .container {
      .middle-container {
        top: 45%;
        text-align: center;
        .content {
          width: max-content;
          margin: 0 auto;
          h1, h3, p {
            margin: 0.10rem 0;
            font-weight: 600;
            text-shadow: none;
          }
          h3 {
            font-size: 0.48rem;
            color: #2A3059;
            text-align: left;
          }
          h1 {
            font-size: 0.90rem;
            color: #00063C;
          }
          p {
            margin: 0.20rem 0;
            font-size: 0.28rem;
            color: #2A3059;
          }
        }
        .btn-banner {
          margin-top: 0.10rem;
          color: #FFF;
          border: none;
          background-color: #4750F6;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-dora-avsmart-index {
    background-image: image-url("banner/banner-dora-avsmart-index.jpg") !important;
    .container {
      .middle-container {
        top: 44%;
        text-align: center;
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.58rem;
          font-weight: 600;
          text-shadow: none;
        }
        p {
          margin-top: 0.20rem;
          font-size: 0.20rem;
          font-weight: 600;
          text-shadow: none;
        }
        .text-warn {
          color: #FDD94D;
        }
        .btn-banner {
          margin-top: 0.20rem;
          border: none;
          color: #011D5C;
          background-color: #FDD94D;
          &:hover {
            -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  &.hero-qvm2for3-index,
  &.hero-qvm2for3 {
    background-image: image-url("banner/banner-qvm2for3-index.jpg");
    .middle-container {
      top: 35%;
      text-align: center;
      .banner-desc {
        h1 {
          margin: 0.10rem 0 0.20rem 0;
          color: #FFF;
          font-size: 0.48rem;
          font-weight: 600;
          .text-huge {
            font-size: 0.68rem;
          }
        }
        p {
          margin-bottom: 0;
          color: rgba(255, 255, 255, 0.7);
          font-size: 0.18rem;
          font-weight: 600;
          text-shadow: none;
        }
      }
      .btn-banner {
        margin-top: 0.20rem;
        border: none;
        color: #3998FF;
        background-color: #FFF;
        &:hover {
          -webkit-box-shadow: 4px 4px 10px #323232;
          -moz-box-shadow: 4px 4px 10px #323232;
          box-shadow: 4px 4px 10px #323232;
        }
      }
    }
  }

  &.hero-career-school {
    background-image: image-url("banner/banner-career-school.jpg");
  }

  &.hero-career-school-2019-autumn {
    background-image: image-url("banner/banner-career-school-2019-autumn.jpg");
    .middle-container {
      top: 48%;
      .col-img-left {
        margin-top: 0.60rem;
      }
    }
  }

  &.hero-qvm-index {
    background-image: image-url("banner/banner-qvm.jpg");

    .middle-container {
      top: 45%;
      text-align: center;
      z-index: 1;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0.30rem 0 0 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }

    .right-image-container {
      height: 70%;
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 0;
    }
  }

  &.hero-ess-index {
    background-image: image-url("banner/banner-ess-index.jpg");

    .middle-container {
      top: 35%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-edu-index {
    background-image: image-url("banner/banner-edu.jpg");

    .middle-container {
      top: 50%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0 0 0.05rem 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-pili {
    background-image: image-url("banner/banner-pili.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0 0 0.05rem 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-7event-index {
    background-image: image-url("banner/banner-7event-index.jpg");

    .middle-container {
      top: 75%;
      text-align: center;

      .btn-banner:hover {
        color: #120B4E;
      }
    }
  }

  &.hero-insight-index {
    background-image: image-url("banner/banner-insight-index.jpg");
    .middle-container {
      top: 32%;
      text-align: center;
      .banner-desc {
        h1 {
          margin: 0.20rem 0;
          font-size: 0.50rem;
          font-weight: 600;
          .icon-insight-flag {
            position: absolute;
            top: 0.20rem;
            margin-left: 10px;
            display: inline-block;
          }
        }
        h2 {
          margin-top: 0.20rem;
          margin-bottom: 0;
          font-size: 0.16rem;
          text-shadow: none;
          span {
            font-weight: 600;
            border-bottom: 1px dashed #FFF;
          }
        }
      }
      .btn-banner {
        margin-top: 0.25rem;
        color: #FFF;
        border: none;
        border-radius: 0;
        font-weight: 600;
        background-color: #20C997;
        .glyphicon-play-circle {
          top: 3px;
        }
        &:hover {
          -webkit-box-shadow: 4px 4px 10px #323232;
          -moz-box-shadow: 4px 4px 10px #323232;
          box-shadow: 4px 4px 10px #323232;
        }
      }
      p {
        margin-top: 0.10rem;
        color: #D3D3D3;
      }
    }
  }

  &.hero-qvm1rmb-index {
    background-image: image-url("banner/banner-qvm1rmb-index.jpg");

    .middle-container {
      top: 40%;
      text-align: center;

      .banner-desc {
        h1 {
          margin: 0.20rem 0;
          font-size: 0.80rem;
          font-weight: 600;
        }
        .text-huge {
          font-size: 1.20rem;
        }
        h2 {
          margin-top: 0.40rem;
          margin-bottom: 0;
          font-size: 0.40rem;
          font-weight: 600;
          text-shadow: none;
        }
      }

      .btn-banner {
        margin-top: 0.40rem;
        color: #530B7B;
        border: none;
        background-color: #FFE300;
      }
    }
  }

  &.hero-kodo-pili-event {
    background-image: image-url("banner/banner-kodo-pili-event.jpg");
    .middle-container {
      top: auto;
      bottom: 18%;
      text-align: center;
    }
  }

  &.hero-event1024-index {
    background-image: image-url("banner/banner-event1024-index.jpg");
    .middle-container {
      top: auto;
      bottom: 20%;
      text-align: center;
      .btn-banner {
        color: #000;
        border: none;
        background-color: #FFD100;
        &:hover {
          color: #FFF;
        }
      }
    }
  }

  &.hero-double11-index {
    background-image: image-url("banner/banner-double11-index.jpg");
    .middle-container {
      top: auto;
      bottom: 20%;
      text-align: center;
      .btn-banner {
        color: #000;
        border: none;
        background-color: #FFD100;
        &:hover {
          color: #FFF;
        }
      }
    }
  }

  &.hero-csvc {
    background-image: image-url("banner/banner-csvc.jpg");
    .middle-container {
      top: auto;
      bottom: 22%;
      text-align: center;
      .btn-warning {
        color: #0039D0;
        border: none;
        background-color: #F5CC2E;
        &:hover {
          color: #FFF;
        }
      }
      .btn-hollow {
        margin-left: 0.10rem;
        color: #F5CC2E;
        border: 1px solid #F5CC2E;
        background-color: transparent;
        &:hover {
          color: #FFF;
        }
      }
    }
  }

  &.hero-qvm1rmb-1123-index {
    background-image: image-url("banner/banner-qvm1rmb-1123-index.jpg");
    .middle-container {
      top: 45%;
      text-align: center;
      .qvm1rmb-image {
        width: 4.60rem;
        position: relative;
        left: calc(50% - 2.30rem);
      }
      .btn-hollow {
        margin-top: 0.30rem;
        color: #C744DC;
        border: none;
        background-color: #FFE300;
        &:hover {
          color: #FFF;
        }
      }
    }
  }

  &.hero-invite-index {
    background-image: image-url("banner/banner-invite-index.jpg");
    .middle-container {
      top: 45%;
      text-align: center;
      .invite-image {
        width: 4.80rem;
        position: relative;
        left: calc(50% - 2.40rem);
      }
      .invite-text {
        margin-top: 0.40rem;
        margin-bottom: 0;
        font-size: 0.20rem;
        color: #000;
        text-shadow: none;
        span {
          padding: 0.05rem 0.20rem;
          border-radius: 0.20rem;
          background-color: #FAD352;
        }
      }
      .btn-banner {
        margin-top: 0.40rem;
        font-weight: 600;
        &:hover {
          color: #DC143C;
          background-color: #FFF;
          border: none;
        }
      }
    }
  }

  .container {
    position: relative;
    height: 4.52rem;
    text-align: left;

    &.center-container {
      text-align: center;

      .middle-container {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
      }
    }
  }

  .middle-container {
    padding: 0 10px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;

    .banner-desc {
      span.text-warn {
        color: #FFE23F;
      }

      span.text-strong {
        color: #27B6FF;
      }

      span.text-bold {
        font-weight: 600;
      }
    }
  }

  h2 {
    font-size: 0.35rem;
    font-weight: 400;
    text-shadow: 0 0.02rem 0.03rem rgba(0, 0, 0, .5);

    small {
      color: #FFF;
    }
  }

  p {
    line-height: 0.28rem;
    font-size: 0.14rem;
    text-shadow: 0 0.02rem 0.03rem rgba(0, 0, 0, .5);
  }
}

.jumbotron.hero.en {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;

  .videoWrapper {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("https://dn-mars-assets.qbox.me/FspZJF8xgIz24cG8xWeq8Sq3yIKB");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .btn-icon.video-initial-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      background-image: image-url("btn-white-play.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100px 100px;
    }
  }
}

#englishVideo {
  .modal-content {
    top: 50px;
  }

  .modal-body {
    padding: 0;

    video {
      margin-bottom: -5px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 12px;
      font-size: 0.3rem;
      z-index: 10;
      color: #000;
      opacity: 1;
    }
  }
}

.banners-slider {
  max-height: 5rem;
  overflow: hidden;
}

// Responsive
// ---------------------------------------------------------------------
@media (max-width: 425px) {
  .slick-slider {
    margin-bottom: 0;
  }

  .jumbotron.hero {
    margin-top: 30px;

    .img-wrapper img.text {
      width: 80%;
    }

    p {
      line-height: 0.32rem;
      font-size: 0.16rem;
    }

    &.hero-banner3 {
      background-position: -520px center;

      .banner-container {
        left: 0;
      }
    }
  }

  .jumbotron.hero .banner-desc-right {
    left: 0;
    text-align: center;
  }

  .jumbotron.hero.hero-plup {
    .middle-container {
      padding: 10px;
    }
  }
}

@media (max-width: 510px) {
  .jumbotron.hero.hero-insight .middle-container .banner-desc {
    h1 {
      font-size: 0.40rem;
    }

    p {
      font-size: 0.15rem;
    }
  }

  .jumbotron.hero.hero-plsv .middle-container .banner-desc {
    h2 {
      font-size: 0.40rem;
    }
  }
}

@media (max-width: 767px) {
  .jumbotron.hero {
    margin-top: 68px;

    &.hero-arch {
      .img-wrapper {
        padding-top: 50px;

        .arch-text {
          width: 330px;
        }
      }
    }

    &.hero-sms-index {
      .middle-container {
        .banner-desc {
          h1 {
            font-size: 0.44rem;
          }
        }
      }
    }

    &.hero-bigpromotion-index {
      .container {
        .middle-container {
          .icon-bigpromotion {
            width: 6.00rem;
          }
          .btn-banner {
            margin-top: 0.40rem;
          }
        }
      }
    }

    &.hero-qvmsumsale-index {
      .container {
        .middle-container {
          h1 {
            margin-top: 0.20rem;
            font-size: 0.40rem;
          }
          h2 {
            margin-top: 0.20rem;
            font-size: 0.32rem;
          }
          .content-huge {
            font-size: 0.48rem;
          }
        }
      }
    }

    &.hero-cdnpackage-index {
      .container {
        .middle-container {
          top: 40%;
          h1 {
            font-size: 0.38rem;
          }
          p {
            font-size: 0.14rem;
            .text-huge {
              font-size: 0.20rem;
            }
          }
        }
      }
    }

    &.hero-dora-avsmart-index {
      .container {
        .middle-container {
          h1 {
            font-size: 0.34rem;
          }
          p {
            font-size: 0.14rem;
          }
          .btn-banner {
            margin: 0;
          }
        }
      }
    }

    &.hero-qvm2for3-index,
    &.hero-qvm2for3 {
      .middle-container {
        top: 42%;
        .banner-desc {
          h1 {
            font-size: 0.32rem !important;
            .text-huge {
              font-size: 0.46rem !important;
            }
          }
        }
      }
    }

    &.hero-enterpriseoncloud-index {
      .container {
        .middle-container {
          top: 42%;
          h1 {
            font-size: 0.38rem;
          }
          p {
            font-size: 0.12rem;
          }
          .content-marked {
            font-size: 0.24rem;
          }
        }
      }
    }

    &.hero-kodogoglobal-index {
      .container {
        .middle-container {
          top: 42%;
          h1 {
            font-size: 0.40rem;
          }
          p {
            font-size: 0.16rem;
          }
        }
      }
    }

    &.hero-career-school-2019-autumn {
      .middle-container {
        top: 44%;
        .col-img-left {
          margin-top: 0;
          img {
            width: 400px;
          }
        }
      }
    }

    &.hero-ecug-2019 {
      .container {
        .middle-container {
          top: 45%;
          .content {
            width: auto;
            h3 {
              text-align: center;
              font-size: 0.36rem;
            }
            h1 {
              font-size: 0.52rem;
            }
            p {
              font-size: 0.20rem;
            }
          }
        }
      }
    }

    &.hero-invite-2020-index {
      .middle-container {
        .banner-desc {
          h1 {
            font-size: 0.42rem;
          }

          p {
            font-size: 0.18rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .jumbotron.hero {
    &.hero-bannerAI {
      .banner-container {
        top: 20px;
      }
    }

    &.hero-alaccelerator {
      height: 6rem;
      margin-top: 50px;
    }

    &.hero-bannerGoglobal {
      .banner-container {
        top: 20px;

        .btn-banner {
          bottom: -15px;
        }
      }
    }

    &.hero-invitation .container .content-box {
      min-width: 330px;

      p {
        margin-top: -30px;
      }
    }

    &.hero-ecugcon .img-wrapper {
      img {
        width: 80%;
        height: auto;
      }
    }

    &.niuday-meitu,
    &.niuday-aicloud,
    &.niuday-beijing {
      .img-wrapper {
        top: 3.00rem !important;

        h4 {
          font-size: 16px !important;
          padding-bottom: 10px;
          margin-bottom: 0;
        }
      }
    }

    &.hero-censor-index {
      .middle-container {
        top: 54%;
      }
    }

    &.hero-qvmpartner-index {
      .middle-container {
        .banner-desc {
          h1 {
            font-size: 0.35rem;
          }
          p {
            font-size: 0.20rem;
          }
        }
      }
    }

    &.hero-cloud-report {
      .middle-container {
        .banner-desc {
          h1 {
            font-size: 0.42rem;
          }
        }
      }
    }

    &.hero-fusion-index {
      .middle-container {
        .banner-desc {
          h1 {
            font-size: 0.38rem;
          }
        }
      }
    }

    &.hero-insight-index {
      .middle-container {
        top: 40%;
        .banner-desc {
          h1 {
            .icon-insight-flag {
              top: 0;
            }
          }
        }
      }
    }

    &.hero-qvm1rmb-index {
      .middle-container {
        top: 42% !important;
        .banner-desc {
          h1 {
            font-size: 0.70rem !important;
          }
          .text-huge {
            font-size: 0.90rem !important;
          }
        }
      }
    }

    &.hero-kodo-pili-event {
      .middle-container {
        top: auto;
        bottom: 12%;
      }
    }

    &.hero-event1024-index {
      .middle-container {
        bottom: 15% !important;
      }
    }

    &.hero-double11-index {
      .middle-container {
        bottom: 15%;
      }
    }

    &.hero-csvc {
      .middle-container {
        bottom: 18%;
      }
    }

    &.hero-ess-index {
      .middle-container {
        top: 38% !important;

        .banner-desc {
          h1 {
            font-size: 0.35rem !important;
          }

          p {
            font-size: 0.16rem !important;
          }
        }
      }
    }

    &.hero-fusion-package-index {
      .container {
        .middle-container {
          top: 40%;
          h1 {
            font-size: 0.50rem;
          }
          h3 {
            font-size: 0.26rem;
          }
          img {
            width: 400px;
          }
        }
      }
    }

    &.hero-dora-package-index {
      .container {
        .middle-container {
          top: 44%;
          img {
            &.img-title {
              width: 500px;
            }
            &.img-md {
              width: 455px;
            }
          }
        }
      }
    }

    &.hero-zelda-index {
      .container {
        .middle-container {
          top: 40%;
          img {
            width: 90%;
            max-width: 560px;
          }
        }
      }
    }

    &.hero-fighting-ncov-index {
      .container {
        .middle-container {
          .content {
            h3 {
              font-size: 0.60rem;
            }
          }
        }
      }
    }
  }

  .banners-slider .jumbotron.hero.hero-niuday .img-wrapper {
    top: 10%;
    transform: translate(-50%, 0);

    img.text {
      width: 340px;
    }
  }
}

@media (max-width: 767px) and (min-width: 426px) {
  .jumbotron.hero .banner-desc-right {
    left: 50%;
  }
}

@media (max-width: 425px) {
  .jumbotron.hero {
    &.hero-bigpromotion-index {
      .container {
        .middle-container {
          .btn-banner {
            margin-top: 0.60rem;
          }
        }
      }
    }

    &.hero-qvm2for3-index,
    &.hero-qvm2for3 {
      .middle-container {
        .banner-desc {
          h1 {
            font-size: 0.24rem !important;
            .text-huge {
              font-size: 0.30rem !important;
            }
          }
          p {
            font-size: 0.14rem !important;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .jumbotron.hero {
    &.hero-bannerIdentify .middle-container .banner-desc {
      h2 {
        font-size: 0.35rem;
      }
    }

    &.hero-ess-index {
      .middle-container {
        top: 38% !important;

        .banner-desc {
          h1 {
            font-size: 0.35rem !important;
          }

          p {
            font-size: 0.16rem !important;
          }
        }
      }
    }

    &.hero-qvm2for3-index,
    &.hero-qvm2for3 {
      .middle-container {
        .banner-desc {
          h1 {
            font-size: 0.38rem;
            .text-huge {
              font-size: 0.58rem;
            }
          }
        }
      }
    }
  }
}

@media (width: 768px) {
  .jumbotron.hero {

    &.hero-ess-index {
      .middle-container {
        top: 30% !important;
      }
    }

    &.hero-csvc {
      .middle-container {
        bottom: 24% !important;
      }
    }

    &.hero-insight-index {
      .middle-container {
        top: 32% !important;
      }
    }

    &.hero-qvmsumsale-index {
      .container {
        .middle-container {
          h1 {
            margin-top: 0.20rem;
            font-size: 0.58rem;
          }
          h2 {
            margin-top: 0.20rem;
            font-size: 0.40rem;
          }
          .content-huge {
            font-size: 0.60rem;
          }
        }
      }
    }
  }
}

// iPad
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron.hero {
    p {
      line-height: 0.34rem;
      font-size: 0.16rem;
    }

    &.hero-dora-avsmart-index {
      .container {
        .middle-container {
          h1 {
            font-size: 0.46rem;
          }
          p {
            font-size: 0.18rem;
          }
        }
      }
    }

    &.hero-career-school-2019-autumn {
      .middle-container {
        .col-img-left {
          margin-top: 0.40rem;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron.hero {
    &.hero-career-school-2019-autumn {
      .middle-container {
        .col-img-left {
          margin-top: 0.50rem;
        }
      }
    }
  }

  .features {
    .media {
      .media-body p.en {
        min-height: 196px;
      }
    }
  }
}