.jumbotron.hero.hero-cdnprice.mb0 {
  margin-bottom: 0;
}

.cdnprice-bg {
  background-color: #042241;
}

.features.feature-cdnprice {
  .container {
    position: relative;
  }
  .diagram {
    margin: 20px;
  }
  div.pricing-details section .checkbox-first {
    padding: 0.10rem 0;
  }
  .pricing-info-wrapper {
    top: 104px;
    right: 0;
  }
}