.censorfeeds-bg {
  background-color: #13145D;
}

.hero-censorfeeds {
  height: 2.30rem !important;
  margin: 0 !important;
  background-image: none !important;

  .container {
    height: 2.00rem !important;
  }

  .middle-container {
    h1 {
      font-size: 0.35rem;
      text-align: center;
    }
    p {
      margin: 0.10rem 0 0 0;
      color: rgba($color: #FFF, $alpha: 0.6);
      font-size: 0.24rem;
      text-align: center;
    }
  }
}

.features-censorfeeds-demo {
  padding: 0 !important;

  .col-title {
    width: calc(100% - 30px);
    height: 0.60rem;
    left: 15px;
    background-color: #4748BF;
    border-top-left-radius: 0.60rem;
    border-top-right-radius: 0.60rem;

    p {
      margin: 0;
      color: #FFF;
      font-size: 0.24rem;
      line-height: 0.60rem;
      text-align: center;
    }
  }

  .col-main-img {
    height: 2.40rem;
    margin-top: 0.10rem;

    .image-censorfeeds-main {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #4748BF;
      background-image: url("https://dn-mars-assets.qbox.me/image-censorfeeds-1.jpg");
      background-size: contain;
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;

      .icon-censorfeeds-result {
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        &.icon-zhengchang {
          display: none;
        }
        &.icon-weigui {
          display: none;
        }
      }
    }

    .popover {
      color: #FFF;
      font-size: 14px;
      background-color: rgba($color: #000, $alpha: 0.6) !important;

      .arrow:after {
        border-top-color: rgba($color: #000, $alpha: 0.6) !important;
      }
    }
  }

  .col-select-img {
    height: 0.80rem;
    margin-top: 0.10rem;

    .image-censorfeeds-select {
      width: 100%;
      height: 100%;
      background-color: #4748BF;
      background-size: contain;
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
      cursor: pointer;

      &.image-1 {
        background-image: image-url("censorfeeds/image-censorfeeds-1.png");
      }
      &.image-2 {
        background-image: image-url("censorfeeds/image-censorfeeds-2.png");
      }
      &.image-3 {
        background-image: image-url("censorfeeds/image-censorfeeds-3.png");
      }

      &.selected,
      &:hover {
        border: 2px solid #53B7F4;
      }
    }
  }

  .col-url-input {
    margin-top: 0.20rem;

    input {
      height: 38px;
      color: #FFF;
      font-size: 12px;
      line-height: 38px;
      border: none;
      background-color: rgba($color: #4748BF, $alpha: 0.7);

      &::placeholder {
        color: rgba($color: #53B7F4, $alpha: 0.7);
      }
    }

    .btn-detection {
      padding: 9px 40px;
      font-size: 14px;
    }

    .popover {
      color: #FFF;
      font-size: 14px;
      background-color: rgba($color: #000, $alpha: 0.6) !important;

      .arrow:after {
        border-top-color: rgba($color: #000, $alpha: 0.6) !important;
      }
    }
  }

  .col-consult {
    margin-top: 0.20rem;
    text-align: center;

    .btn-consult {
      padding: 10px 20px !important;
      font-size: 16px;
      line-height: 16px;
      border-radius: 10px;
    }
  }

  .col-words {
    margin: 0.20rem 0 0 0;

    p {
      color: #FFF;
      font-size: 16px;
      line-height: 24px;
      text-align: center;

      .strong {
        font-size: 24px;
        color: #53B7F4;
      }

      .color {
        color: #53B7F4;
      }
    }
  }

  .col-bottom {
    margin-bottom: 0.20rem;
  }

  .btn-censorfeeds {
    color: #FFF;
    border-color: #4748BF;
    background-color: #4748BF;

    &:hover {
      color: #53B7F4;
    }
  }
}

@media (width: 768px) {
  .hero-censorfeeds {
    .container {
      height: 1.50rem !important;
    }
  }
}

@media (max-width: 767px) {
  .hero-censorfeeds {
    .container {
      height: 3.00rem !important;
    }
  }

  .features-censorfeeds-demo {
    .container {
      padding: 0 !important;
    }
  }
}