.newmedia {
    .icon-adv-newmedia {
        .icon-qiedianzhimiao {margin: 0 0 0 -1.6rem;}
        .icon-dongtaizhuanma {margin: 0 0 0 -3.2rem;}
        .icon-anquanwending {margin: 0 0 0 -4.8rem;}
    }
    .icon-func-newmedia {
        .icon-yuanliujiankong {margin: -1.5rem 0 0 0;}
        .icon-zhinengchai {margin: -1.5rem 0 0 -1rem;}
        .icon-rengongfushen {margin: -1.5rem 0 0 -2rem;}
        .icon-anxufenfa {margin: -1.5rem 0 0 -3rem;}
        .icon-anquanfangdao {margin: -1.5rem 0 0 -4rem;}
    }
}
.demolition-banner {
    .banner-wrap {
        background-image: image-url("demolition/banner-zhinengchaitiao.jpg");
        .tittle-newmedia {
            .nrirong-title-wrap {
                text-align: left;
                >h1 {
                    margin-bottom: .36rem;
                }
            }
        }
    }
}
.chaitiao-meadia {
    background: #f6f6f6;
}