.events-page-enterpriseoncloud {
  // 通用部分
  .enterpriseoncloud-ul {
    padding: 0;
  }
  .enterpriseoncloud-right {
    float: right !important;
  }
  .enterpriseoncloud-bt2 {
    width: 100%;
    margin: auto auto 0.60rem;
    color: #FFF;
    font-size: 0.28rem;
    text-align: center;
    background: image-url("enterpriseoncloud/title-bg.png") no-repeat center;
    background-size: 100%;
    max-width: 642px;
  }
  // banner 部分
  .jumbotron.hero.hero-enterpriseoncloud {
    height: auto !important;
    margin-bottom: 0;
    padding-bottom: 2.00rem;
    background-image: image-url("enterpriseoncloud/banner-bg.jpg") !important;
    background-position: center top;
  }
  .jumbotron.hero.hero-enterpriseoncloud .img-wrapper {
    padding-top: 0px !important;
    color: #FFF;
  }
  .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p11 {
    font-size: 0.60rem;
    font-weight: 500;
    line-height: 0.70rem;
  }
  .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p111 {
    width: 70%;
    margin: auto;
    font-size: 0.15rem;
    line-height: 0.30rem;
    text-align: center;
    opacity: 0.7;
  }
  .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p2 {
    padding-top: 0.30rem;
    font-size: 0.20rem;
  }
  .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p2 b {
    color: #04F5F5;
  }
  // 套餐部分
  .enterpriseoncloud-set-meal {
    position: relative;
    padding-top: 0.40rem;
    background: -webkit-linear-gradient(to bottom left, #242345, #024885);
    background: -o-linear-gradient(to bottom left, #242345, #024885);
    background: -moz-linear-gradient(to bottom left, #242345, #024885);
    background: linear-gradient(to bottom left, #242345, #024885);
  }
  .enterpriseoncloud-set-meal .ul1 {
    width: 100%;
    margin-top: -2.00rem;
    margin-bottom: 0;
    padding-bottom: 0.60rem;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
  }
  .enterpriseoncloud-set-meal .ul1 li {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 0.15rem;
    float: left;
    border-radius: 0.10rem;
    text-align: left;
    color: #838391;
    background-color: #FFF;
    min-width: 184px;
  }
  .enterpriseoncloud-set-meal .ul1 li .li1 {
    padding: 0.18rem 0.05rem 0.05rem 0.22rem;
    font-size: 0.20rem;
    line-height: 0.28rem;
    background: image-url("enterpriseoncloud/meal-topleft-mark.png") no-repeat left top;
    border-radius: 0.10rem;
    color: #000;
    text-align: center;
    font-weight: bolder;
  }
  .enterpriseoncloud-set-meal .ul1 li .li1 span {
    font-size: 0.16rem;
    font-weight: 300;
    line-height: 0.18rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li1 span strong {
    color: #EC6E48;
    font-size: 0.20rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li2 {
    padding: 0.20rem 0.15rem;
    background: #F4F9FD;
    line-height: 0.30rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li2 .opacity {
    opacity: 0;
  }
  .enterpriseoncloud-set-meal .ul1 li .li2 span {
    padding-right: 10px;
    color: #4169FF;
    display: inline-block;
  }
  .enterpriseoncloud-set-meal .ul1 li .li2 .conf-container {
    height: 1.60rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li2 .desc-container {
    height: 0.90rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li4 a {
    width: 1.00rem;
    height: 0.35rem;
    margin: auto;
    color: #FFF;
    font-size: 0.16rem;
    border-radius: 0.1rem;
    background: #4169FF;
    text-align: center;
    line-height: 0.35rem;
    display: block;
  }
  .enterpriseoncloud-set-meal .ul1 li .li4 p {
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.30rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li4 p strong b {
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.30rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li4 p strong {
    color: #EC6E48;
    font-size: 0.20rem;
    font-weight: 100;
    text-align: center;
    line-height: 0.30rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li4 p span {
    font-size: 0.16rem;
    line-height: 0.18rem;
    text-decoration: line-through;
  }
  .enterpriseoncloud-set-meal .ul1 li .li3 {
    padding: 0.15rem 0.15rem 0.05rem;
    font-size: 0.12rem;
    line-height: 0.23rem;
  }
  .enterpriseoncloud-set-meal .ul1 li .li4 {
    padding-bottom: 0.10rem;
    padding-left: 0.10rem;
    font-size: 0.12rem;
    line-height: 0.17rem;
    border-bottom-left-radius: 0.10rem;
    border-bottom-right-radius: 0.10rem;
    background: image-url("enterpriseoncloud/meal-bottom-mark.png") no-repeat left bottom;
    background-size: 100%
  }
  .enterpriseoncloud-set-meal .p1 {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 1.00rem;
    color: #B9B9D5;
    font-size: 0.15rem;
    text-align: center;
    vertical-align: middle;
  }
  .enterpriseoncloud-set-meal .p1 span {
    width: 70%;
    margin: auto;
    margin-bottom: 0;
    text-align: left;
    line-height: 0.24rem;
    display: block;
  }
  // 专属私有云部署部分
  .enterpriseoncloud-bt1 {
    height: 1.00rem;
    text-align: center;
    line-height: 1.00rem;
    background: image-url("enterpriseoncloud/exclusive-bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .enterpriseoncloud-bt1 span {
    padding-right: 0.20rem;
    color: #FFF;
    font-size: 0.24rem;
  }
  .enterpriseoncloud-bt1 a {
    padding: 0.08rem 0.20rem;
    color: #4068FE;
    font-size: 0.18rem;
    border-radius: 0.05rem;
    background-color: #FFF;
  }
  // 云上空间部分
  .enterpriseoncloud-cloud-space-bt {
    background: -webkit-linear-gradient(#024885, #042962);
    background: -o-linear-gradient(#024885, #042962);
    background: -moz-linear-gradient(#024885, #042962);
    background: linear-gradient(#024885, #042962);
  }
  .enterpriseoncloud-cloud-space {
    padding: 0.60rem 0;
    background-size: 100%;
    text-align: center
  }
  .enterpriseoncloud-cloud-space .ul2 {
    margin-bottom: 0.60rem;
  }
  .enterpriseoncloud-cloud-space .ul2 li {
    width: 30%;
    margin: 0.30rem 1.5%;
    color: #FFF;
    float: left;
    text-align: center;
  }
  .enterpriseoncloud-cloud-space .ul2 img {
    width: 0.55rem;
  }
  .enterpriseoncloud-cloud-space .ul2 p {
    margin: 0.30rem 0;
    font-size: 0.16rem;
  }
  // 增值服务部分
  
  .enterpriseoncloud-service {
    padding: 0.60rem 0;
    background: #022E5A;
    background-size: 100%;
  }
  .enterpriseoncloud-service .bk {
    width: 60%;
    margin: 0.30rem auto 0.60rem;
    border: dashed 1px #264DB6;
  }
  .enterpriseoncloud-service-er {
    width: 100%;
    margin: 0.60rem auto auto;
    max-width: 535px;
  }
  .enterpriseoncloud-service-er img {
    width: 45%;
    border-radius: 0.10rem;
    float: left;
  }
  .enterpriseoncloud-service-er p {
    width: 47.5%;
    margin-top: 0.30rem;
    color: #FFF;
    font-size: 0.18rem;
    float: left;
    text-align: center;
  }
  .enterpriseoncloud-service .center {
    color: #FFF;
    text-align: center;
  }
  .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle {
    margin-bottom: 0;
    max-height: 208.5px !important;
    overflow: inherit !important;
  }
  .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-prev {
    top: 34%;
    left: -0.50rem !important;
    z-index: 1;
  }
  .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-next {
    top: 34%;
    right: -0.50rem !important;
    z-index: 1;
  }
  .enterpriseoncloud-service .conveyor img {
    width: 100%;
    height: 145px;
    margin: auto;
    max-height: 145px;
    transition: opacity .1s;
  }
  .enterpriseoncloud-conveyor {
    margin: 0.5rem 15px !important;
  }
  .enterpriseoncloud-conveyor .slick-arrow {
    width: 0.45rem !important;
    height: 0.45rem !important;
    top: 20%;
    -webkit-background-size: 0.45rem 0.45rem !important;
    -moz-background-size: 0.45rem 0.45rem !important;
    -o-background-size: 0.45rem 0.45rem !important;
    background-size: 0.45rem 0.45rem !important;
    background-position: 0 0;
    transition: background-image .1s;
  }
  .enterpriseoncloud-conveyor div p {
    color: #FFF;
    margin-top: 0.20rem;
  }
  .enterpriseoncloud-conveyor .slick-prev {
    background-image: image-url("enterpriseoncloud/arrow-left-gray@2x.png");
  }
  .enterpriseoncloud-conveyor .slick-prev:hover {
    background-image: image-url("enterpriseoncloud/arrow-left-blue@2x.png");
  }
  .enterpriseoncloud-conveyor .slick-next {
    background-image: image-url("enterpriseoncloud/arrow-right-gray@2x.png");
  }
  .enterpriseoncloud-conveyor .slick-next:hover {
    background-image: image-url("enterpriseoncloud/arrow-right-blue@2x.png");
  }
  .enterpriseoncloud-conveyor .slick-slide {
    margin: 10px;
  }
  // 上云经验
  .enterpriseoncloud-experience {
    padding: 0.60rem 0;
    background: #04255D;
    background-size: 100%;
  }
  .enterpriseoncloud-experience-er img {
    width: 12%;
    margin-left: 1.9%;
    margin-right: 1.7%;
    margin-bottom: 0.30rem;
  }
  .enterpriseoncloud-experience .center {
    margin-top: 0.20rem;
    color: #B9B9D5;
    text-align: center;
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .enterpriseoncloud-set-meal .ul1 li .li2 .conf-container {
      height: 1.80rem;
    }
    .enterpriseoncloud-set-meal .ul1 li .li2 .desc-container {
      height: 1.20rem;
    }
    .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-prev {
      top: 36%;
    }
    .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-next {
      top: 36%;
    }
  }

  @media screen and (max-width: 992px) {
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p111 {
      width: 100%;
    }
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p2 {
      padding-top: 0.15rem;
    }
    .enterpriseoncloud-set-meal .ul1 li {
      width: 45% !important;
      min-width: 184px;
    }
    .enterpriseoncloud-set-meal .ul1 li .li2 .desc-container {
      height: 1.00rem;
    }
    .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-prev {
      top: 36%;
      left: -0.40rem !important;
    }
    .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-next {
      top: 36%;
      right: -0.40rem !important;
    }
  }

  @media screen and (width: 768px) {
    .enterpriseoncloud-set-meal .ul1 li .li2 .conf-container {
      height: 1.80rem;
    }
  }

  @media screen and (max-width: 768px) {
    .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-prev {
      top: 40%;
      left: -0.40rem !important;
    }
    .enterpriseoncloud-service .conveyor.conveyor.conveyor-rectangle .slick-next {
      top: 40%;
      right: -0.40rem !important;
    }
  }

  @media screen and (min-width: 577px) and (max-width: 767px) {
    .enterpriseoncloud-set-meal .ul1 li .li2 .conf-container {
      height: 2.00rem;
    }
    .enterpriseoncloud-set-meal .ul1 li .li2 .desc-container {
      height: 1.40rem;
    }
  }

  @media screen and (max-width: 576px) {
    .enterpriseoncloud-set-meal .ul1 li .li2 .conf-container {
      height: auto;
    }
    .enterpriseoncloud-set-meal .ul1 li .li2 .desc-container {
      height: auto;
      margin-top: 0.20rem;
    }
    .enterpriseoncloud-bt1 {
      height: auto;
      padding-bottom: 0.30rem;
    }
    .enterpriseoncloud-bt1 span {
      font-size: 0.20rem !important;
    }
    .enterpriseoncloud-bt1 a {
      width: 1.60rem;
      margin: 0 auto;
      padding: 0.08rem 0.15rem !important;
      font-size: 0.16rem !important;
      line-height: 0.30rem;
      display: block;
    }
    .enterpriseoncloud-set-meal .ul1 li {
      width: 97% !important;
      margin-left: 1.5% !important;
      margin-right: 1.5% !important;
      min-width: 184px;
    }
  }

  @media screen and (max-width: 764px) {
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p2 {
      padding-top: 0.3rem;
    }
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p111 {
      width: 70%;
    }
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper {
      top: 0.40rem !important;
    }
  }

  @media screen and (max-width: 622px) {
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p111 {
      width: 100%;
    }
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p2 {
      padding-top: 0.30rem;
      font-size: 0.20rem;
    }
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p11 {
      font-size: 0.45rem;
      line-height: 0.60rem;
    }
  }

  @media screen and (max-width: 400px) {
    .enterpriseoncloud-bt1 span {
      font-size: 0.18rem;
    }
    .enterpriseoncloud-bt1 a {
      padding: 0.08rem 0.10rem;
      font-size: 0.14rem;
    }
    .enterpriseoncloud-experience-er img {
      width: 24% !important;
      margin-left: 3.8% !important;
      margin-right: 3.2% !important;
    }
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p2 {
      padding-top: 0.15rem;
    }
    .jumbotron.hero.hero-enterpriseoncloud .img-wrapper .p11 {
      font-size: 0.40rem;
      line-height: 0.50rem;
    }
  }
}
