.hudongzhibo-banner {
    .banner-wrap {
        background-image: image-url("live/banner-hudongzhibo.jpg");
        .tittle-newmedia {
            .nrirong-title-wrap {
                text-align: left;
                >h1 {
                    margin-bottom: .36rem;
                }
            }
        }
    }
}
.zhibohudong-newmedia {
    .icon-adv-newmedia {
        .icon-guanlinengli {
            margin: 0 0 0 -1.6rem;
        }
        .icon-hudongnengli {
            margin: 0 0 0 -3.2rem;
        }
        .icon-jierunengli {
            margin: 0 0 0 -4.8rem;
        }
        .icon-zhibonengli {
            margin: -1.5rem 0 0 0;
        }
    }
    .icon-core-newmedia {
        width: 100%;
        height: 2.2rem;
        margin-bottom: 50px;
    }
    .icon-core-newmedia {
        background-image: image-url("live/icon-hudongzhibo-func1.png");
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .icon-core-newmedia2 {
        background-image: image-url("live/icon-hudongzhibo-func2.png");
    }
    .icon-core-newmedia3 {
        background-image: image-url("live/icon-hudongzhibo-func3.png");
    }
    .icon-core-newmedia4 {
        background-image: image-url("live/icon-hudongzhibo-func4.png");
    }
    .img-wrap-newmedia {
        text-align: center;
    }
}
.zhibohudong-newmedia {
    padding-bottom: .8rem;
}
.hudongzhibo-scene-newmedia {
    padding-bottom: .8rem;
    section {
        text-align: right;
    }
    .tab-desc-newmedia {
        position: relative;
        margin-top: 0.2em;
        text-align: left;
        padding-left: 10px;
        i {
            position: absolute;
            top: 10px;
            left: -10px;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background: #0095D9;
        }
    }
}


@media (max-width: 767px) {
    .hudongzhibo-scene-newmedia {
        .nav-tabs.nav-justified.nav-short li {
            margin: 0;
            width: 24%;
        }
    }
    .hudongzhibo-scene-newmedia.features .tab-desc {
        margin-top: 2em;
    }
    .zhibohudong-newmedia .icon-core-newmedia {
        background-position: center center;
    }
}
.wu-newmedia {
    display: inline-block;
    width: 19.5%;
    font-size: 0;
    p {
        font-size: 14px;
        text-align: center;
    }
}
@media(max-width: 768px) {
    .wu-newmedia {
        width: 50%;
    }
}
.hudongzhibo-scene-newmedia {
    .tabs {
        .nav-tabs {
            margin-bottom: .5rem;
            border-bottom: 1px solid #ccc;
            width: 100%;
        }
        .tab-content {
            padding: 0;
            .img-wrap-newmedia {
                padding: 0;
                padding-right: .3rem;
            }
        }
    }
}
@media (max-width: 767px) {
    .hudongzhibo-scene-newmedia {
        .nav-tabs.nav-justified.nav-short li {
            margin: 0;
            width: 24%;
        }
    }
    .hudongzhibo-scene-newmedia.features .tab-desc {
        margin-top: 2em;
    }
    .hudongzhibo-scene-newmedia .tabs .tab-content .img-wrap-newmedia {
        padding-right: 0;
        padding-bottom: .4rem;
        text-align: center;
    }
    .nav-tabs.nav-justified.nav-short li a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}