/**
 * @file 内容管理
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.id {
  .common-line-wrap();
  min-width: 100px;
}

.type {
  min-width: 4em;
}

.category,
.status {
  .common-line-nowrap();
}

.operations {
  > *  {
    margin-right: @icecream-gap-xs;
  }
}
