/**
 * @file 解决方案
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.main {
  margin-top: 16px;
  padding: 0 16px;
  overflow: hidden;
  background: @grey-1;
}

.title {
  padding: 20px 0;
  font-size: 20px;
  line-height: 28px;

  .mobile({
    padding: 16px 0;
    text-align: center;
  });
}

.list {
  margin: 0 12px 12px 0;

  .mobile({
    margin: 0 0 16px 0;
  });
}
