/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.section {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  margin-left: @icecream-gap-xs;
}
