/**
 * @file styles of component NeedSigninModal
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import "~utils/styles/index.less";

.modal {
  .header {
    margin-top: 0.04rem;
    font-size: 0.20rem;

    i {
      color: @primary-color;
    }
  }

  .content {
    font-size: 0.16rem;
    line-height: 2;
  }

  .footerBtn {
    padding-left: 0.40rem;
    padding-right: 0.40rem;
  }

  @media only screen and (min-width: @modal-sm) and (max-width: @screen-sm - 1) {
    & {
      max-width: @modal-sm !important;
    }
  }

  @media only screen and (min-width: @screen-sm) {
    & {
      max-width: @modal-md !important;
    }
  }
}
