@import './color.less';
@import '~react-icecream-2/dist/utils.less';

@centered-content-width: 1180px;
@centered-content-width-lg: 1420px;
@modal-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
@main-bg-color: @grey-1;

@ui-modal-z-index: 2000;
@feedback-z-index: 2000;
@product-navigator-z-index: 1000;

// 悬浮的操作入口组件
@operation-entry-z-index: 1000;

// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
@font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei,
  Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

// 目前只做移动端 & PC 端两种适配，宽度小于 @screen-sm 认为是移动端
// 注意跟 utils/index.ts 中 isMobile 的实现保持一致
@screen-sm: 768px;
@screen-md: 1280px;
@screen-lg: 1600px;

.mobile(@rules) {
  @media only screen and (max-width: (@screen-sm - 1)) {
    @rules();
  }
}

.notMobile(@rules) {
  @media only screen and (min-width: @screen-sm) {
    @rules();
  }
}

.pcLessMd(@rules) {
  @media only screen and (max-width: (@screen-md - 1)) {
    @rules();
  }
}

.pcLessLg(@rules) {
  @media only screen and (max-width: (@screen-lg - 1)) {
    @rules();
  }
}

.pcLg(@rules){
  @media only screen and (min-width: @screen-lg) {
    @rules();
  }
}

.centered() {
  width: @centered-content-width;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .mobile({
    width: 100%;
  });
}

.centeredWithLg() {
  .centered();

  .pcLg({
    width: @centered-content-width-lg;
  });
}

// 浮层的包裹元素，统一的圆角 & 阴影 & 底色
.modalWrapper() {
  border-radius: 12px;
  background-color: @grey-1;
  box-shadow: @modal-box-shadow;

  .mobile({
    border-radius: 0;
    box-shadow: none;
  });
}

.line-wrap() {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-all;
  white-space: normal;
}

.line-nowrap() {
  word-wrap: normal;
  overflow-wrap: normal;
  word-break: keep-all;
  white-space: nowrap;
}

.line-break-word() {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// support webkit only
// http://caniuse.com/#search=line-clamp
// 使用时注意第二个参数
.ellipsis-line-clamp(@n: 3, @maxheight: 80px, @wrap: true) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @n;
  -webkit-box-orient: vertical;
  max-height: @maxheight; // 非 webkit 浏览器

  & when (@wrap = true) {
    word-break: break-all;
  }
}

// 相比 ellipsis-line-clamp 不用提供最大高度，只需要提供字号，自动算最大高度
.ellipsis-line-clamp-by-font-size(@n: 3, @fontSize: 14px) {
  .setIcecreamFontSize(@fontSize);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @n;
  -webkit-box-orient: vertical;
  word-break: break-all;
  max-height: getIcecreamLineHeightByPx(@fontSize) * @n; // 非 webkit 浏览器, 不支持的不显示多余的行
}

.background-image(@image, @position: center, @origin: border-box, @size: contain) {
  background-size: @size;
  background-repeat: no-repeat;
  background-position: @position;
  background-origin: @origin;
  background-image: @image;
}

.fadeIn(@time: .2s, @ease: linear, @delay: 0s) {
  :global {
    animation-name: fadeIn;
  }

  animation-duration: @time;
  animation-timing-function: @ease;
  animation-delay: @delay;
}

// 很多内容（如产品使用场景）里会用来组织列表的，前面带蓝色圆点的 item
// 使用时给 li 添加该 mixin 即可
.dot-item() {
  position: relative;
  padding-left: 1em;
  font-size: 14px;
  line-height: 22px;
  color: @grey-6;

  &:not(:first-child) {
    margin-top: 4px;
  }

  &::before {
    content: "\2022"; // dot
    position: absolute;
    left: 0;
    display: block;
    color: @blue-6;
    opacity: .4;
  }
}

// 本身就是蓝色的链接，hover 时出下划线（不同于大部分链接本身黑色，hover 变蓝）
.blueLink() {
  color: @primary-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.hover-transition(@property: transform, @duration: .3s, @transform: translateY(-5px), @mobile-transform: none) {
  transition-property: @property;
  transition-duration: @duration;

  &:hover {
    transform: @transform !important;
  }

  .mobile({
    &:hover {
      transform: @mobile-transform !important;
    }
  })
}

// 运行环境，预期所有的组件内容都会由一个 context 包裹
// 在普通页面中，body 即该 context；对于嵌入到其他站点的内容，单独构造一个 context
.context() {
  line-height: 1.5715;
  color: @grey-7;
  font-size: 14px;
  font-family: @font-family;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.25s;

    &:hover {
      // 这边跟设计师确认，页面上链接基本有两种：
      // 1. 黑字，hover 变蓝（无下划线）
      // 2. 白色或蓝色字，hover 加下划线
      // 其中 1 是主要的，因此这里全局设置下
      color: @blue-6;
    }
  }

  li {
    list-style: none;
  }
}

// 页面右下角浮动条离页面右侧的距离
@floating-bar-pc-right: 16px;
@floating-bar-mobile-right: 16px;

// 页面右下角浮动条（如“回到顶部”、“免费注册”、“联系我们”等）的公共样式
.floatingBar() {
  border: 1px solid @border-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .04);
  background-color: @grey-1;

  color: @grey-7;

  &:hover {
    color: @primary-color;
  }
}

// 页面右下角浮动条（如“回到顶部”、“FeedbackEntry”等）的 Wrapper 公共样式
.floatingBarV2 {
  background: #FFFFFF;
  border: 1px solid #E5EDF4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.touch-scroll() {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  -webkit-overflow-scrolling: touch;
}

// setIcecreamFontSize 太长了，缩略下
.setFontSize(@fontsize) {
  .setIcecreamFontSize(@fontsize)
}
