@import '~utils/less/index.less';

.btn {
  width: auto !important;
  padding: 0px 16px;
  margin-left: 36px;
  color: @grey-7 !important;
  white-space: nowrap;

  &:hover {
    color: @blue-6 !important;
    background: @grey-1;
  }
}

.dropdown:not(:global(.rc-dropdown-hidden)) {
  display: flex;

  a {
    display: block;
  }
}

.calc {
  margin-left: 8px;
  vertical-align: -1px;
}

.arrow {
  margin-left: 4px;
  vertical-align: -3px;
  transition: transform 0.2s;

  &.open {
    transform: rotate(180deg);
  }
}
