<div class="features features-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-stacked left-tab" role="tablist">
          <li class="active"><a href="#news-section" data-toggle="tab">新闻动态</a></li>
          <li><a href="#moments-section" data-toggle="tab">产品动态</a></li>
          <li><a href="#benefits-section" data-toggle="tab">近期福利</a></li>
          <li><a href="#reports-section" data-toggle="tab">行业报告</a></li>
          <li><a href="#cases-section" data-toggle="tab">客户案例</a></li>
          <li><a href="#" data-toggle="tab">市场合作</a></li>
          <li><a href="#" data-toggle="tab">加入我们</a></li>
          <li><a href="#" data-toggle="tab">联系我们</a></li>
          <li><a href="#" data-toggle="tab">公司介绍</a></li>
        </ul>
      </div>

      <div class="col-sm-10">
        <div class="tab-content news-section-wrapper">
          <section class="tab-pane active" id="news-section">
            <div>
              <h3>七牛云许世伟荣获上海市青年科技杰出贡献</h3>
              <time>牛小七 2017年3月24日 发布在 媒体报道</time>
              <p class="news-content">对于这次苹果 WWDC，中国用户表示这次马屁拍得很舒服。其中 Siri 支持语言自普通话、粤语和台湾话后，芯片的智能音响可以播放其中四千万首曲目</p>
            </div>

            <div>
              <h3>七牛云许世伟荣获上海市青年科技杰出贡献</h3>
              <time>牛小七 2017年3月24日 发布在 媒体报道</time>
              <p class="news-content">对于这次苹果 WWDC，中国用户表示这次马屁拍得很舒服。其中 Siri 支持语言自普通话、粤语和台湾话后，芯片的智能音响可以播放其中四千万首曲目</p>
            </div>

            <div>
              <h3>七牛云许世伟荣获上海市青年科技杰出贡献</h3>
              <time>牛小七 2017年3月24日 发布在 媒体报道</time>
              <p class="news-content">对于这次苹果 WWDC，中国用户表示这次马屁拍得很舒服。其中 Siri 支持语言自普通话、粤语和台湾话后，芯片的智能音响可以播放其中四千万首曲目</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
