<div class="jumbotron hero hero-cdnprice mb0">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-12">
          <div class="banner-desc">
            <h2>融合 CDN 全面降价</h2>
            <p>最多可节省 <span class="text-warn">46%</span></p>
            <p>最低只需 <span class="text-warn">0.14 元/GB</span></p>
          </div>
          <%= link_to "立即开通", "https://sso.qiniu.com/", target:"_blank", class:"btn btn-lg btn-hollow btn-banner" %>
          <p class="tips">注：价格生效日期 2018 年 1 月 1 日</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features cdnprice-bg feature-cdnprice">
  <div class="container">
    <div class="diagram">
      <%= image_tag 'cdnprice/form1.png' %>
    </div>
    <div class="diagram">
      <%= image_tag 'cdnprice/form2.png' %>
    </div>
  </div>
</div>

<div class="features feature-cdnprice light-bkcolor">
  <div class="container">
    <div class="intro">
      <h2 class="title">CDN 价格计算器</h2>
    </div>
    <div class="pricing-caculator">
      <div class="pricing-details">
        <section class="caculator-sec-last">
          <dl>
            <dt class="checkbox checkbox-first"><label>融合 CDN</label></dt>
            <div class="active" id="tab-caculator-fusion">
              <dd id="fusion-area-select">
                <ul class="list-inline">
                  <li><span>区域</span></li>
                  <li>
                    <ul class="fusion-checkbox area-select" id="fusion-checkbox">
                      <li><input type="checkbox" value="inland" class="spacecheck" key="fusion" checked><label>大陆地区</label></li>
                      <li><input type="checkbox" value="outland" class="spacecheck" key="fusion"><label>港澳台</label></li>
                      <li><input type="checkbox" value="ENA" class="spacecheck" key="fusion"><label>欧洲/北美洲</label></li>
                      <li><input type="checkbox" value="India" class="spacecheck" key="fusion"><label>亚洲（东南亚/印度）</label></li>
                      <li><input type="checkbox" value="Asia" class="spacecheck" key="fusion"><label>亚洲（其他地区）</label></li>
                      <li><input type="checkbox" value="SA" class="spacecheck" key="fusion"><label>南美洲</label></li>
                      <li><input type="checkbox" value="Oceania" class="spacecheck" key="fusion"><label>大洋洲与其他</label></li>
                    </ul>
                  </li>
                </ul>
              </dd>
              <dl id="data-inland" class="inland input-data" key="inland">
                <dt class="dt-lighter">大陆地区</dt>
                <dd>
                  <div class="row m-t-sm">
                    <div class="col-sm-6 m-b">
                      <label for="">HTTP 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-inland">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <label for="">HTTPS 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-inland">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl id="data-outland" class="outland displayNone input-data" key="outland">
                <dt class="dt-lighter">港澳台</dt>
                <dd>
                  <div class="row m-t-sm">
                    <div class="col-sm-6 m-b">
                      <label for="">HTTP 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-outland">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <label for="">HTTPS 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-outland">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl id="data-ENA" class="ENA displayNone input-data" key="ENA">
                <dt class="dt-lighter">欧洲/北美洲</dt>
                <dd>
                  <div class="row m-t-sm">
                    <div class="col-sm-6 m-b">
                      <label for="">HTTP 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-ENA">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <label for="">HTTPS 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-ENA">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl id="data-Asia" class="Asia displayNone input-data" key="Asia">
                <dt class="dt-lighter">亚洲（其他地区）</dt>
                <dd>
                  <div class="row m-t-sm">
                    <div class="col-sm-6 m-b">
                      <label for="">HTTP 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-Asia">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <label for="">HTTPS 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-Asia">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl id="data-India" class="India displayNone input-data" key="India">
                <dt class="dt-lighter">亚洲（东南亚/印度）</dt>
                <dd>
                  <div class="row m-t-sm">
                    <div class="col-sm-6 m-b">
                      <label for="">HTTP 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-India">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <label for="">HTTPS 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-India">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl id="data-SA" class="SA displayNone input-data" key="SA">
                <dt class="dt-lighter">南美洲</dt>
                <dd>
                  <div class="row m-t-sm">
                    <div class="col-sm-6 m-b">
                      <label for="">HTTP 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-SA">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <label for="">HTTPS 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-SA">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl id="data-Oceania" class="Oceania displayNone input-data" key="Oceania">
                <dt class="dt-lighter">大洋洲与其他</dt>
                <dd>
                  <div class="row m-t-sm">
                    <div class="col-sm-6 m-b">
                      <label for="">HTTP 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-Oceania">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <label for="">HTTPS 下载流量/月</label>
                      <div class="input-group">
                        <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-Oceania">
                        <div class="input-group-btn unit-select" val="GB">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li val="GB"><a>GB</a></li>
                            <li val="TB"><a>TB</a></li>
                            <li val="PB"><a>PB</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
            </div>
          </dl>
        </section>
      </div>
    </div>
    <div class="pricing-info-wrapper">
      <div class="pricing-info">
        <dl>
          <dt>价格预算清单</dt>
          <dd id="pricing-info-fusion">
            <ul class="pricing-info-details">
              <li>融合CDN</li>
              <li class="price">￥<span id="fusion-price">0</span></li>
            </ul>
            <dl class="inland">
              <dt class="bg-init dt-sm">大陆地区</dt>
              <dd><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-inland" key="fusion-HTTP-inland"></span></dd>
              <dd><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-inland" key="fusion-HTTPS-inland"></span></dd>
            </dl>
            <dl class="outland displayNone">
              <dt class="bg-init dt-sm">港澳台</dt>
              <dd><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-outland" key="fusion-HTTP-outland"></span></dd>
              <dd><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-outland" key="fusion-HTTPS-outland"></span></dd>
            </dl>
            <dl class="ENA displayNone">
              <dt class="bg-init dt-sm">欧洲/北美洲</dt>
              <dd><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-ENA" key="fusion-HTTP-ENA"></span></dd>
              <dd><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-ENA" key="fusion-HTTPS-ENA"></span></dd>
            </dl>
            <dl class="Asia displayNone">
              <dt class="bg-init dt-sm">亚洲（其他地区）</dt>
              <dd><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-Asia" key="fusion-HTTP-Asia"></span></dd>
              <dd><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-Asia" key="fusion-HTTPS-Asia"></span></dd>
            </dl>
            <dl class="India displayNone">
              <dt class="bg-init dt-sm">亚洲（东南亚/印度）</dt>
              <dd><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-India" key="fusion-HTTP-India"></span></dd>
              <dd><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-India" key="fusion-HTTPS-India"></span></dd>
            </dl>
            <dl class="SA displayNone">
              <dt class="bg-init dt-sm">南美洲</dt>
              <dd><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-SA" key="fusion-HTTP-SA"></span></dd>
              <dd><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-SA" key="fusion-HTTPS-SA"></span></dd>
            </dl>
            <dl class="Oceania displayNone">
              <dt class="bg-init dt-sm">大洋洲与其他</dt>
              <dd><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-Oceania" key="fusion-HTTP-Oceania"></span></dd>
              <dd><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-Oceania" key="fusion-HTTPS-Oceania"></span></dd>
            </dl>
          </dd>
          <dd class="sum">
            <p class="sum"><span>合计： ￥</span><span id="sum-price">0</span><span> / 月</span></p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="stripe stripe-blue p-xxl">
  <h3 class="text-center">
    注册即享 10G 免费存储空间及 10GB 免费 HTTP 下载流量
  </h3>
  <div class="text-center"><a href="https://sso.qiniu.com" class="btn btn-lg btn-hollow around-xl" target="_blank">立即开通</a></div>
</div>