<div class="jumbotron hero hero-company">

</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h2 class="title">七牛是一家怎样的公司？</h2>
    </div>
    <p>七牛云是国内领先的企业级云服务商，专注于以数据管理为中心的云计算业务研发和运营，围绕富媒体场景推出了对象存储、融合 CDN 加速、容器计算云、大数据平台、人工智能平台等产品，并提供一站式视频云解决方案。公司目前已位列国内云计算行业第一阵营，为 70 多万家企业提供服务。</p>
  </div>
</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h2 class="title">七牛云文化——简单·可信赖</h2>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "company/icon-jiandanderen@2x.png", class: "media-object", alt: "做一个简单的人", width: 60 %>
          <div class="caption">
            <h4>做一个简单的人</h4>
            <p>以认定方向为坚持目标，以奋斗者为发展根本，坚持劳有所得，多劳多得，赢得员工的信赖。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "company/icon-jiandandechanpin@2x.png", class: "media-object", alt: "做一款简单的产品", width: 60 %>
          <div class="caption">
            <h4>做一款简单的产品</h4>
            <p>以客户为中心，以结果为导向，坚持化繁为简，追求极致，赢得客户的信赖。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "company/icon-jiandandegongsi@2x.png", class: "media-object", alt: "做一家简单的公司", width: 60 %>
          <div class="caption">
            <h4>做一家简单的公司</h4>
            <p>以社会责任为己任，以公司信用为最重要资产，坚持言出必行，诚实守信，赢得社会的信赖。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">七牛云点点滴滴</h2>
    </div>
    <div class="timeline">
      <ul class="timeline-ul">
        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span">2011 年</span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <span class="icon-point icon-point-right icon-event"></span>
              <time>2011 年 08 月</time>
              <p>七牛云成立</p>
            </div>
            <span class="icon-img chenli"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time>2011 年 12 月</time>
              <p>云平台上线运营</p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img yunpingtai"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span">2012 年</span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time>2012 年 02 月</time>
              <p>获得数百万元 A 轮融资，由经纬中国投资</p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img alun"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time>2012 年 12 月</time>
              <p>七牛云著作《Go 语言编程》被评为“2012 年度十大图书之一”</p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img go"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span">2013年</span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time>2013 年 01 月</time>
              <p>获得启明创投、经纬中国千万美元 B 轮投资</p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img blun"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span">2014年</span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time>2014 年 07 月</time>
              <p>存储 2.0 上线，节省单位存储成本 62%</p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img cunchu"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time>2014 年 08 月</time>
              <p>获得 C 轮数千万美元融资，由宽带资本领投，经纬中国和启明创投跟投</p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img clun"></span>
          </div>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time>2014 年 12 月</time>
              <p>海外加速服务上线，覆盖全球 31 个国家共 54 个地区</p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img haiwaijiasu"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span">2015 年</span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time>2015 年 01 月</time>
              <p>七牛云对象存储服务通过可信云认证</p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img kexinyun"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time>2015 年 08 月</time>
              <p>基于容器服务技术的数据处理平台正式发布</p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img shujuchuli"></span>
          </div>
        </li>

        <li class="right time-wrapper">
          <span class="time-point">
            <span class="time-point-blue"></span>
          </span>
          <span class="time-span">2016 年</span>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time>2016 年 02 月</time>
              <p>完成 D 轮融资，投资方包括方广资本、嘉实投资、张江高科、澳洲电信等知名机构</p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img dlun"></span>
          </div>
        </li>

        <li class="right">
          <div class="li-content">
            <div class="info-div">
              <time>2016 年 05 月</time>
              <p>移动时代的直播云服务上线</p>
              <span class="icon-point icon-point-right"></span>
              <span class="icon-point icon-point-left icon-event"></span>
            </div>
            <span class="icon-img zhibo"></span>
          </div>
        </li>

        <li class="left left-li">
          <div class="li-content">
            <div class="info-div">
              <span class="icon-point icon-point-left"></span>
              <time>2016 年 12 月</time>
              <p>获得 ISO/IEC 27001:2013 信息安全管理体系认证证书</p>
              <span class="icon-point icon-point-right icon-event"></span>
            </div>
            <span class="icon-img xinxianquan"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
