<div class="jumbotron hero hero-invitation">
  <div class="container">
    <div class="content-box">
      <%= image_tag 'invitation/img-banner.png', width:'100%' %>
      <p>活动时间：2018 年 3 月 5 日 - 3 月 31 日</p>
      <div class="actions">
        <%= link_to "立即领取", "https://portal.qiniu.com/signup/choice", target:"_blank", class:"btn btn-lg btn-primary btn-banner" -%>
      </div>
    </div>
  </div>
</div>

<div class="features feature-invitation">
  <div class="container">
    <div class="intro">
      <h2 class="title">新人专属福利包</h2>
    </div>

    <div class="content">
      <%= image_tag 'invitation/img-diyongquan.png', class:'' %>
      <p>备注：抵用劵总金额为 666 元</p>
      <div class="actions">
        <%= link_to "立即领取", "https://portal.qiniu.com/signup/choice", target:"_blank", class:"btn btn-lg btn-primary btn-banner" -%>
      </div>
    </div>
  </div>
</div>

<div class="features feature-invitation feature-invitation-bg">
  <div class="container">
    <div class="intro">
      <h2 class="title">活动规则</h2>
    </div>
    <p>1.该抵用券仅限新用户使用</p>
    <p>2.新用户注册七牛账户后，666元抵用券会自动发放到个人账户</p>
    <p>3.活动时间：2018年3月5日-3月31日</p>
    <p>4.抵用券有效期：1个月</p>
    <p>5.有任何问题，欢迎邮件联系：<a href="mailto:marketing@qiniu.com">marketing@qiniu.com</a></p>
    <p>6.本活动解释权归七牛云所有</p>
  </div>
</div>