<div class="jumbotron hero hero-newmedia">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-8 col-xs-10">
          <h2>新媒体解决方案</h2>
          <p>七牛云新媒体解决方案致力于打造适配传媒业务的海量数据存储与加速的内容管理平台，统一管理面向集团级别的全媒体资源管理系统。包括多来源内容汇聚、融合媒体中心、直播、智能内容审核平台、云导播平台、全网大数据统计分析等。</p>
          <div class="actions">
            <%= link_to "立即试用", "", class: "btn btn-lg btn-hollow" -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features newmedia">
  <div class="container">
    <div class="table-wrapper">
      <div class="align-wrapper">
        <div class="card-wrapper">
          <div class="align-base-line"></div>
          <div class="card">
            <div class="head">
              <div class="icon icon-content">
                <span>内容汇聚</span>
              </div>
            </div>
            <div class="main">
              <div>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  手机直播采集
                  <p>场外移动端采集、视频采集推流、自带美颜等动态效果</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  桌面直播采集
                  <p>PC端直播推流工具、操作简洁、支持组合桌面、采集切换等功能</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  手机短视频采集
                  <p>移动端内容采集，支持多段录制、场景信息回传、混音滤镜等效果</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  场外互动
                  <p>场内场外互动解决方案，具有低延时、高流畅性等特点</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="head">
              <div class="icon icon-cloud">
                <span>云端制播</span>
              </div>
            </div>
            <div class="main">
              <div>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  云端快编
                  <p>在线快编工具，具有快速制作、高效合成、全格式兼容等特点</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  云导播台
                  <p>支持8路监播、文字图片特效、调音台等功能</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  智能审核
                  <p>基于人工智能的审核平台，支持鉴黄、涉恐、敏感政治人物审查等功能</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  智能模板
                  <p>可自定义的编辑模板、快速完成节目制作</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card active">
            <div class="head">
              <div class="icon icon-light">
                <span>指挥策划</span>
              </div>
            </div>
            <div class="main">
              <div>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  舆情分析
                  <p>基于大数据平台的舆情分析平台，提供舆情采集、舆情处理、舆情检索、统计报告等功能</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  智能推荐
                  <p>基于热点的推荐系统，协助快速完成选题、节目制作</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  精准推送
                  <p>通过采集用户行为，快速形成用户画像，进行内容和广告的精准投送</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  质量监控
                  <p>采集业务流程中各个环节的信息，完善质量监控体系</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="head">
              <div class="icon icon-gear">
                <span>媒资管理</span>
              </div>
            </div>
            <div class="main">
              <div>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  海量存储
                  <p>分布式海量存储系统，具有高度灵活、便于扩展、安全可靠、技术自研等特点</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  智能拆条
                  <p>依托人工智能平台的智能拆条技术，可对视频素材进行库快速拆条、文字提取等功能</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  智能编目
                  <p>依托人工智能平台的智能编目方案，可基于人脸、场景、物体快速完成媒资编目</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  内容聚类
                  <p>内容智能聚类，有效提升媒体素材的高效管理</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="head">
              <div class="icon icon-file">
                <span>内容发布</span>
              </div>
            </div>
            <div class="main">
              <div>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  融合加速
                  <p>融合CDN加速平台，提供无盲区、智能调度、立体品控、低回源率的内容加速服务</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  播放器
                  <p>可定制、高兼容性的各平台播放器</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  授权播放
                  <p>会员观看、付费观看，支持黑白名单等自定义授权模式</p>
                </a>
                <a href="javascript:;">
                  <i class="glyphicon glyphicon-play iconfont" aria-hidden="true"></i>
                  用户互动
                  <p>视频、语音、文字互动平台，提供话题、弹幕、实时消息等互动模式</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features newmedia newmedia-bg">
  <div class="container">
    <div class="intro">
      <h2 class="title">方案优势</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="service-wrapper">
          <div class="service">
            <div class="iconlogo icon-01"></div>
            <div class="iconum icon-01"></div>
            <h4 class="service-title">混合云架构部署</h4>
            <span class="line-light"></span>
            <p>充分利用公有云快速扩容、按需付费的特性，同时配合私有云平台兼顾数据安全保证对敏感数据的高度可控。</p>
            <a href="javascript:;"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="service-wrapper">
          <div class="service">
            <div class="iconlogo icon-02"></div>
            <div class="iconum icon-02"></div>
            <h4 class="service-title">一站式融合媒体解决方案</h4>
            <span class="line-light"></span>
            <p>依托七牛的技术优势，打造全新的产品与解决方案，支撑和打通媒体融合过程中的所有环节，助力媒体行业快速转型。</p>
            <a href="javascript:;"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="service-wrapper">
          <div class="service">
            <div class="iconlogo icon-03"></div>
            <div class="iconum icon-03"></div>
            <h4 class="service-title">面向业务的专属定制</h4>
            <span class="line-light"></span>
            <p>依托七牛的专业技术团队，针对客户的业务场景提供个性化定制开发服务。可实现与现有平台的快速对接，梳理优化审核流程，加速审核平台的智能化演进。</p>
            <a href="javascript:;"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="service-wrapper">
          <div class="service">
            <div class="iconlogo icon-04"></div>
            <div class="iconum icon-04"></div>
            <h4 class="service-title">大客户一体化服务</h4>
            <span class="line-light"></span>
            <p>7x24 小时的 1对1 专属技术服务，优化服务流程，降低沟通成本，提供方案架构设计、产品实施交付、专业技术支持，围绕业务进行全生命周期的支撑服务。</p>
            <a href="javascript:;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features newmedia">
  <div class="container">
    <div class="intro">
      <h2 class="title">和他们一起用</h2>
    </div>
    <% I18n.t("nemwmedias").each do |nemwmedia| %>
      <div class="col-sm-2 col-xs-6">
        <div class="thumbnail feature-case">
          <%= image_tag nemwmedia[:path], class: "list-img", alt: '和他们一起用', width: 100 %>
        </div>
      </div>
    <% end %>
  </div>
</div>