<div class="jumbotron hero hero-partner">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-6">
          <h2>七牛云合作伙伴发展计划</h2>
          <p>欢迎加入七牛云合作伙伴发展计划，利用七牛云的技术能力，</p>
          <p>我们协助你一起聚焦客户的数据智能与管理，提供更有价值的解决方案和服务。</p>
          <div class="actions">
            <%= link_to "加入我们", "#",target: "_blank", class: "btn btn-lg btn-hollow m-r m-b-xs" -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="intro">
      <h2 class="title">招募计划</h2>
    </div>

    <div class="table-responsive table-parter-wrapper">
      <table class="table table-partner shadow" width="100%">
        <tbody>
          <tr>
            <th width="145px" class="border-right"></th>
            <th class="border-right">
              <div class="img-wrapper"><%= image_tag 'partner/icon-biaozhundaili.png' %></div>
              <span>标准代理</span>
            </th>
            <th>
              <div class="img-wrapper"><%= image_tag 'partner/icon-hangyedaili.png' %></div>
              <span>行业代理</span>
            </th>
          </tr>

          <tr>
            <th class="border-right">合作条件</th>
            <td class="border-right">认同七牛云的服务价值，愿意积极宣传推广七牛云相关产品的站长、创服社区、开发者社区、软件开发商等。</td>
            <td>深耕垂直行业，希望通过七牛多年技术积累赋能拓宽自身业务场景的系统集成、解决方案提供商。</td>
          </tr>

          <tr>
            <th class="border-right">所获授权</th>
            <td class="border-right">银牌代理商、金牌代理商</td>
            <td>人工智能创新服务商、大数据服务商、智能视频服务商</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="features feature-color">
  <div class="container">
    <div class="intro">
      <h2 class="title">合作流程</h2>
    </div>

    <ul class="list-step-center">
      <li class="step-li step-li-first">
        <div class="unit">
          <div class="unit-text">
            <div class="step-num-center">1</div>
            <h4 class="step-text">提交合作申请</h4>
          </div>
          <div class="unit-line"></div>
        </div>
      </li>

      <li class="step-li">
        <div class="unit">
          <div class="unit-text">
            <div class="step-num-center">2</div>
            <h4 class="step-text">代理资质审核</h4>
          </div>
          <div class="unit-line"></div>
        </div>
      </li>

      <li class="step-li">
        <div class="unit">
          <div class="unit-text">
            <div class="step-num-center">3</div>
            <h4 class="step-text">沟通业务细节</h4>
          </div>
          <div class="unit-line"></div>
        </div>
      </li>

      <li class="step-li step-li-last">
        <div class="unit">
          <div class="unit-text">
            <div class="step-num-center">4</div>
            <h4 class="step-text">正式展开合作</h4>
          </div>
        </div>
      </li>
    </ul>

    <div class="text-center m-t-xl">
      <%= link_to "加入我们", "#",target: "_blank", class: "btn btn-lg btn-primary" -%>
    </div>
  </div>
</div>

<div class="stripe stripe-blue p-xxl">
  <h4 class="text-center">
    合作相关咨询，欢迎通过邮件方式联系我们 partner@qiniu.com
  </h4>
</div>