<div class="jumbotron hero hero-solution">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>七牛云解决方案平台</h2>
        <p>基于八大核心产品对象存储、融合CDN、容器云、大数据平台、深度学习平台、数据处理、视频直播、视频点播，以及自身多年的云服务领域的技术积累和服务运营经验，七牛云精心打造了简单、可信的解决方案平台，以帮助您快速实现业务需求并创造更多商业价值。</p>
        <div class="actions m-t-xl m-b-md">
          <%= link_to "点击咨询", "", class: "btn-lg btn-default pandora-btn" -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="row row-solution">
      <div class="col-sm-7 col-solution">
        <h2 class="icon icon-private">对象存储私有化部署解决方案</h2>
        <p class="content">对象存储私有化部署方案是基于七牛公有云对象存储服务的架构和运营经验设计而成的，能够为企业客户搭建独立的数百 PB 级别的高可靠、强安全、低成本、可扩展的存储系统，满足多样化的非结构化数据存储需求。同时还能提供成熟的系统管理和运维，让企业以更低廉的产品及维护成本，满足在容量、性能及稳定性上的需求。</p>
        <h4 class="icon icon-kodo">对象存储</h4>
      </div>
      <div class="col-sm-5 col-scene">
        <div>
          <h4>适用场景</h4>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <h5 class="icon icon-jinrong">金融</h5>
            </div>

            <div class="col-md-4 col-sm-6">
              <h5 class="icon icon-jinrong">金融</h5>
            </div>

            <div class="col-md-4 col-sm-6">
              <h5 class="icon icon-jinrong">金融</h5>
            </div>

            <div class="col-md-4 col-sm-6">
              <h5 class="icon icon-jinrong">金融</h5>
            </div>
          </div>
        </div>

        <div>
          <h4>客户案例</h4>
          <ul class="list-inline">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>