<div class="jumbotron hero hero-solution">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>七牛云解决方案平台</h2>
        <p>基于八大核心产品对象存储、融合CDN、容器云、大数据平台、深度学习平台、数据处理、视频直播、视频点播，以及自身多年的云服务领域的技术积累和服务运营经验，七牛云精心打造了简单、可信的解决方案平台，以帮助您快速实现业务需求并创造更多商业价值。</p>
        <div class="actions m-t-xl m-b-md">
          <%= link_to "点击咨询", "", class: "btn-lg btn-default pandora-btn" -%>
        </div>
      </div>
    </div>
  </div>
</div>