<div class="jumbotron hero hero-tech">

</div>

<div class="features features-tech">
  <div class="container">
    <div class="intro">
      <span class="title">往期活动回顾</span>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="title">
          <time>
            <strong>20</strong>
            <span>4月</span>
          </time>
          <p>第六期 首席架构师的自我修养</p>
        </div>
        <div class="infobox"></div>
      </div>
    </div>
  </div>
</div>