@import '~utils/less/index.less';

.card {
  padding: 20px 0;

  + .card {
    border-top: 1px solid @grey-3;
  }
}

.title {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
}

.groupTitle {
  margin-bottom: 8px;
}

.item {
  margin-bottom: 8px;
  color: @grey-5;

  .unit {
    float: right;
  }
}

.footer {
  margin-top: 12px;
  color: @orange-6;

  .price {
    font-size: 20px;
  }
}
