@import '~utils/less/index.less';

.modal {
  width: 320px;
  background: @grey-1;
  border-radius: 8px;
}

.modalTitle {
  padding: 32px 25px;
  font-size: 17px;
  color: @grey-8;
  text-align: center;
  font-weight: 500;
}

.modalFooter {
  height: 55px;
  padding: 16px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: @blue-6;
  border-top: 1px solid @grey-3;
}
