@import "~react-icecream/style/less/variables/index.less";

@main-navbar-height: 57px;

.wrapper {
  flex-basis: @main-navbar-height + 4px;
  flex-shrink: 0;
  height: @main-navbar-height + 4px;
  padding: 0 24px;
  border-bottom: 1px solid #e6e9f0;
  background: #fff;

  .navbar {
    display: flex;
    justify-content: flex-end;

    .header {
      height: 58px;
      line-height: 58px;
      text-align: right;
      cursor: pointer;

      .avatar {
        height: 36px;
        height: 36px;
        margin-left: 10px;
      }

      .email {
        &:hover {
          color: rgba(0, 0, 0, 0.85);
        }
      }
    }

    .signout {
      color: rgba(0, 0, 0, 0.65);
      &:hover {
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
}