/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.main {
  display: flex;
  align-items: center;
}

.select {
  max-height: @icecream-form-input-height-md;
  width: 260px;
}

.item {
  display: flex;
  align-items: center;
  .common-line-wrap();
}

.iconSelected {
  margin-left: @icecream-gap-md;
}

.name {
  margin-left: @icecream-gap-xs;
}

.id {
  display: none;
}
