/**
 * @file file list
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -72px;

  .mobile({
    display: block;
    margin: -4px 16px 0;
  });
}
