/**
 * @file file list
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 28px -72px 0 0;

  .mobile({
    display: block;
    margin: 0 16px;
  });
}

.item {
  margin: 0 72px 36px 0;

  .mobile({
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEE;
  });
}
