/**
 * @file svg file input
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.wrapper {
  display: inline-flex;
  flex-direction: column;
}

.main {
  display: inline-flex;
}

.desc {
  margin: @icecream-gap-xs 0 0;
  font-size: smaller;
  line-height: 1.5;
  color: @icecream-color-grey-8;
}

.btn {
  line-height: @icecream-form-input-height-md;
}

.hidden {
  display: none;
}
