@import '~utils/less/index.less';

@page-height: 400px;

@card-width: 376px;
@card-height: 96px;

@footer-height: 236px;

@case-width: 212px;
@case-height: 80px;
@case-space: 12px;

@mobile-case-height: 64px;
@mobile-case-space: 12px;

.solutions {
  padding-top: 60px;
  .background-image(url(./images/bg.png), top center, border-box, 1920px 724px) !important;

  .mobile({
    padding-top: 20px;
    background-image: none !important;
  });

  .sectionTitle {
    color: white;
    .mobile({
      color: @grey-7;
    });
  }

  :global {
    .rc-menu .rc-menu-submenu {
      .rc-menu-submenu-title {
        background-color: white;
        text-align: left;
      }
    }
  }
}

.pane {
  .paneContent {
    display: inline-block;
    vertical-align: top;
    margin-right: 110px;
  
    .title {
      font-size: 32px;
      color: white;
      font-weight: 400;
  
      .en {
        margin-left: 16px;
        color: rgba(255, 255, 255, 0.4);
      }
    }
  
    .desc {
      margin-top: 28px;
      font-size: 16px;
      max-width: 690px;
      height: 190px;
      color: white;
    }

    .pageNo {
      font-size: 54px;
      font-family: din-condensed;
      color: white;
  
      .total {
        font-size: 36px;
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  .right {
    display: inline-block;
    
  }
  
  .footer {
    background: white;
    border-radius: 8px;
    padding: 32px (32px - @case-space/2) 20px;
    line-height: 1;
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.08);
    border-radius:8px;

    .mobile({
      padding: 16px;
    });

    .case {
      display: inline-block;
      border: 1px solid rgba(238,238,238,1);
      margin: 0 @case-space/2 @case-space;
      width: @case-width;
      height: @case-height;

      > svg {
        width: @case-width;
        height: @case-height;

        .mobile({
          width: 100%;
          height: @case-height;
        })
      }
   
      .mobile({
        width: calc(50% -  @case-space);
        height: auto;
      });
    }
  }
}

.card {
  width: @card-width;
  height: @card-height;
  background: white;
  border-radius: 4px;
  padding: 16px;
  margin: 0 0 20px;
  box-shadow:0px 0px 20px 0px rgba(0,0,0,0.08);
  .hover-transition();

  .mobile({
    padding: 14px 16px;
    width: 100%;
    height: auto;
    margin: 12px 0 0;
    box-shadow: none;
  });

  .icon {
    width: 47px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    .mobile({
      display: none;
    });
  }

  .content {
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    padding: 0;
    .mobile({
      width: 100%;
      height: auto;
    });
    .title {
      font-size: 14px;
      color: @grey-8;
      line-height: 20px;
      font-weight: 400;
      transition: color 0.25s;

      &:hover {
        color: @blue-6;
      }
    }
  
    .desc {
      margin-top: 4px;
      font-size: 12px;
      line-height: 20px;
      color: @grey-6;
    }
  }
  
}

.mobilePane {
  padding: 16px;
  background-color: #fafafa;

  .desc {
    color: @grey-6;
    font-size: 12px;
    line-height: 17px;
    text-align: left;
  }

  .cards {
    margin-top: 12px;
  }

  .footer {
    margin: 12px -@mobile-case-space/2 -12px;
    text-align: left;
    .case {
      display: inline-block;
      border: 1px solid rgba(238,238,238,1);
      margin: 0 @mobile-case-space/2 @mobile-case-space/2;
      width: calc(50% -  @mobile-case-space);
      height: @mobile-case-height;

      > svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  
}