@import "~react-icecream-1/style/less/variables/index.less";

.hidden {
  display: none;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-top: @icecream-gap-md;

  .tips {
    font-size: @icecream-font-size-1;
    color: @icecream-red-3;
  }
}