@import '~utils/less/index.less';

.blockWraper {
  overflow-x: auto;
  background-color: @grey-1;

  &:nth-child(2n + 1) {
    background-color: #F8FCFF;
  }

  .mobile({
    overflow-x: hidden;
  });
}

.wrapper {
  .centeredWithLg();
  padding: 72px 0;
  text-align: center;

  .mobile({
    padding: 28px 16px;
  });
}

.intro {
  margin-bottom: 36px;

  .mobile({
    margin-bottom: 24px;
  });
}

.title {
  color: @grey-7;
  font-size: 28px;
  font-weight: 500;

  .mobile({
    font-size: 20px;
  });
}

.subtitle {
  margin-top: 16px;
  color: @grey-6;
  line-height: 22px;

  .mobile({
    margin-top: 6px;
    font-size: 12px;
    line-height: 18px;
  });
}
