@import '~utils/less/index.less';

.block {
  text-align: center;
}
.card {
  flex: 1;
  white-space: pre-line;
  display: inline-flex;
  display: -ms-inline-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  height: 560px;
  box-shadow: 0px 4px 8px 0px rgba(51, 51, 51, 0.08);
  border: 1px solid @grey-3;
  border-top: none;

  .mobile({
    width: 100%;
  });

  .header {
    flex: 0 0 153px;
    padding: 18px 20px 24px;
    text-align: left;
    background: #fafafa;
    border-top: 2px solid @blue-6;
    border-bottom: 1px solid @grey-3;

    .mobile({
      flex: auto;
      padding: 20px 16px;
    });

    .title {
      margin-bottom: 20px;
      color: @grey-7;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;

      .mobile({
        margin-bottom: 12px;
        font-size: 16px;
      });
    }

    .desc {
      margin-bottom: 4px;
      color: @grey-6;
      font-size: 12px;
      line-height: 1.5;

      .mobile({
        margin-bottom: 8px;
        font-size: 12px;
      });
    }

    .scene {
      color: @grey-6;
      font-size: 12px;
      line-height: 1.5;

      .mobile({
        font-size: 12px;
      });
    }
  }

  .body {
    flex: 1;
    padding: 20px 20px 0;

    .mobile({
      padding: 16px 16px 0 16px;
    });

    .row {
      display: flex;
      margin-bottom: 12px;
      text-align: left;
      color: @grey-7;
      word-break: keep-all;

      &:last-child {
        margin-bottom: 0;
      }

      .mobile({
        font-size: 12px;
      });
    }

    .icon {
      margin-top: 3px;
      margin-right: 8px;

      .mobile({
        margin-top: 0;
      });
    }
  }

  .footer {
    padding: 32px 20px;

    .mobile({
      padding: 0 16px 16px;
    });

    .price {
      color: @orange-6;
      font-size: 14px;

      .number {
        margin-right: 4px;
        font-size: 24px;
      }
    }

    .button {
      width: 100%;
      margin-top: 20px;

      .mobile({
        margin-top: 12px;
      });
    }
  }
}

.card + .card {
  margin-left: 20px;

  .mobile({
    margin-top: 16px;
    margin-left: 0;
  });
}
