/**
 * @file edit / create
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.img {
  margin: @icecream-gap-xs 0;
  color: @icecream-color-grey-8;
  font-size: smaller;
}
