@import '~utils/less/index.less';

@group-space: 24px;
@group-padding: 28px 32px;

.linkGroups {
  display: flex;
  align-items: stretch;
  margin: 0 -@group-space/2;

  .group {
    flex: 1;
    margin: 10px @group-space/2;
    padding: @group-padding;
    background-color: white;
    text-align: left;
    color: @grey-7;
    border: 1px solid @grey-3;
    box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.08);
    .title {
      font-size: 20px;
      font-weight: 400;
      display: block;
      margin-bottom: 16px;
      color: @grey-6;
    }
    .links {
      overflow: hidden;
      .item {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 12px;
        display: block;
        .ellipsis();
  
        &:before {
          content: '';
          width: 0;
          height: 0;
          border: 3px solid @blue-6;
          opacity: 40%;
          border-radius: 50%;
          font-size: 0;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}
