@import "~utils/less/index.less";

@anchor-duration: 0.25s;
@icon-size: 52px;
@icon-size-inc: 10px;

.link {
  .mobile({
    display: inline-block;
  });

  a {
    display: inline-flex;
    align-items: center;
    transition: none;

    .notMobile({
      margin-left: -13px;
      padding: 13px;
      font-size: 16px;
    });

    .mobile({
      margin-right: 20px;
      padding: 0;
      font-size: 14px;
    });

    &:hover {
      .iconWrapper {
        width: @icon-size + @icon-size-inc;
        height: @icon-size + @icon-size-inc;
        margin: -(@icon-size-inc / 2);
        padding: 13px;
        border: 1px solid #2BA1FB;
        border-radius: ((@icon-size + @icon-size-inc) / 2);
      }

      .text {
        color: @primary-color;
      }
    }
  }
}

.icon {
  width: 100%;
  height: 100%;
}

.iconWrapper {
  width: @icon-size;
  height: @icon-size;
  padding: 11px;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #FFF;
  border-radius: (@icon-size / 2);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
  transition:
    width @anchor-duration,
    height @anchor-duration,
    margin @anchor-duration,
    padding @anchor-duration;

  .mobile({
    display: none;
  });
}

.text {
  display: inline-flex;
  align-items: center;
  transition: all @anchor-duration;

  .notMobile({
    margin-left: 20px;
    color: #666;
  });

  .mobile({
    margin-left: 0;
    color: @primary-color !important;
  });

  svg {
    margin-left: 5px;

    .mobile({
      display: none;
    });
  }
}
