@import '~utils/less/index.less';

.main {
  .centered();
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1 1 auto;
}

.right {
  flex: 0 0 276px;
  margin-left: 124px;

  .mobile({
    display: none;
  });
}
