/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.inputGroup {
  display: flex;
  gap: @icecream-gap-md;
}

.typeSelect {
  width: 100px;
  max-height: @icecream-form-input-height-md;
}
