/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.inputGroup {
  display: flex;
  gap: @icecream-gap-md;
}

.typeSelectForm {
  margin-bottom: 0 !important;
}

.typeSelect {
  width: 100px;
  max-height: @icecream-form-input-height-md;
}

.uploadBtn {
  margin-right: -20px;
}
