/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.inputGroup {
  display: flex;
  gap: @icecream-gap-md;

  &SelectForm {
    margin-bottom: 0 !important;
  }

  &Select {
    width: 120px;
    max-height: @icecream-form-input-height-md;
  }
}
