/**
 * @file 智能视频云应用场景 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.img {
  height: 160px;

  .mobile({
    height: 300px;
  });
}

.placeholder {
  border: none;
  box-shadow: none;
}
