/**
 * @file 智能视频云应用场景 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.card {
  display: flex;
  flex-direction: column;

  .mobile({
    margin: 0 0 16px;
  });
}

.img {
  height: 162px;

  .mobile({
    height: 148px;
  });
}

.placeholder {
  border: none;
  box-shadow: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.desc {
  flex: 1;
}

.btn {
  align-self: end;
  margin-top: 20px;
}
