@import '../utils/style.less';

* {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow-y: auto;
  font-size: 14px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  // 移动端默认内容不可见，client 端 mount 后会给 body 添加 class `mounted`（逻辑见隔壁 `_app.tsx`）
  // 此时控制内容可见，以避免因首屏针对 PC 端逻辑生成内容，在移动端会有闪屏的问题
  .mobile({
    opacity: 0;
    &:global(.mounted) {
      opacity: 1;
    }
  });
}

svg {
  // 防止 svg 放在 flex 里面收缩
  flex-shrink: 0;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.25s;
}

li {
  list-style: none;
}
