// 导入 css 而不是 less，防止颜色命名冲突
@import '~react-icecream/dist/icecream.css';
@import '~utils/less/index.less';

* {
  margin: 0;
  padding: 0;
  line-height: 1.5715;
  box-sizing: border-box;
}

.mobile({
  html, body {
    height: 100%;
  }

  html {
    // 移动端防止 overlay/mask 弹出后背景滑动
    overflow: hidden;
  }
});;

body {
  color: @grey-7;
  overflow-y: auto;
  font-size: 14px;
  // https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
  font-family: -apple-system, PingFang SC, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  // 移动端默认内容不可见，client 端 mount 后会给 body 添加 class `mounted`（逻辑见隔壁 `_app.tsx`）
  // 此时控制内容可见，以避免因首屏针对 PC 端逻辑生成内容，在移动端会有闪屏的问题
  .mobile({
    opacity: 0;
    &:global(.mounted) {
      opacity: 1;
    }
  });
}

svg {
  // 防止 svg 放在 flex 里面收缩
  flex-shrink: 0;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.25s;

  &:hover {
    // 这边跟设计师确认，页面上链接基本有两种：
    // 1. 黑字，hover 变蓝（无下划线）
    // 2. 白色或蓝色字，hover 加下划线
    // 其中 1 是主要的，因此这里全局设置下
    color: @blue-6;
  }
}

li {
  list-style: none;
}

input,
button,
select {
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

figcaption {
  margin-top: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p {
  color: inherit;
}
