@import '~react-icecream-2/dist/icecream.less';
@import '~utils/less/index.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: @grey-4;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  min-width: @screen-md;
  line-height: 1.5715;
  color: @grey-7;
  overflow-y: auto;
  font-size: 14px;
  font-family: @font-family;

  // 移动端默认内容不可见，client 端 mount 后会给 body 添加 class `mounted`（逻辑见隔壁 `_app.tsx`）
  // 此时控制内容可见，以避免因首屏针对 PC 端逻辑生成内容，在移动端会有闪屏的问题
  .mobile({
    opacity: 0;
    min-width: unset;
    &:global(.mounted) {
      opacity: 1;
    }
  });

  .mobile({
    background-color: #FAFAFA;
  });
}

svg {
  // 防止 svg 放在 flex 里面收缩
  flex-shrink: 0;
  vertical-align: middle;
}

// 防止 modal 的 iocn样式被 svg 的影响
:global(.ant-modal-confirm-title .anticon svg) {
  vertical-align: unset;
}

svg tspan::selection {
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.25s;

  &:hover {
    // 这边跟设计师确认，页面上链接基本有两种：
    // 1. 黑字，hover 变蓝（无下划线）
    // 2. 白色或蓝色字，hover 加下划线
    // 其中 1 是主要的，因此这里全局设置下
    color: @blue-6;
  }
}

li {
  list-style: none;
}

input,
button,
select {
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

figcaption {
  margin-top: 12px;

  .mobile({
    font-size: 12px;
  });
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p {
  color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'number-regular';
  src: url('../utils/less/51-Number-Regular.ttf');
}

@font-face {
  font-family: 'din-condensed';
  src: url('../utils/less/DIN-Condensed-Bold-2.ttf');
}

/* icecream 相关*/
:global {
  .ant-table-bordered .ant-table-tbody > tr > td {
    border: 1px solid #e8e8e8;
  }

  .ant-table-bordered .ant-table-thead > tr > th {
    border: 1px solid #e8e8e8;
  }

  .ant-table-tbody {
    tr:nth-child(2n) {
      background: #fafafa;
    }
  }

  .ant-table-footer {
    color: @grey-5;
  }
}
