@import '~utils/less/index.less';

.core {
  .mobile({
    margin-top: 15px;
  });
}

.headerBanner {
  :global {
    .slick-slider{
      .slick-dots.slick-dots-bottom {
        bottom: 34px;

        li {
          margin: 0 4px;
        }

        button, .slick-active button {
          width: 32px;
          height: 4px;
          position: relative;
          // 增大页面切换按钮选中范围
          &:before {
            content: '';
            position: relative;
            top: -30px;
            height: 30px;
            width: 32px;
            display: block;
          }
        }
        button {
          background: @grey-5;
          opacity: 0.2;
        }

        .slick-active button {
          background: @primary-color;
          opacity: 1;
        }
      }
    }
  }

  &.dark {
    :global {
      .slick-slider {
        .slick-dots.slick-dots-bottom {
          button {
            background: @grey-1;
            opacity: 0.5;
          }

          .slick-active button {
            background: @grey-1;
            opacity: 1;
          }
        }
      }
    }
  }

  .mobile({
    :global {
      .slick-slider {
        .slick-dots.slick-dots-bottom {
          bottom: 32px;
          button, .slick-active button {
            width: 24px;
            height: 4px;
          }
        }
      }
    }
  });
}
