@import '~utils/less/index.less';

.core {
  padding-bottom: 0;
  .coreIcon {
    .mobile({
      padding: 0 !important;
      width: 60px;
      height: 60px;
    });
  }
  .mobile({
    margin-top: 15px;
  });
}

.headerBanner {

  .bannerKodoOversea strong {
    color: #F3D18F;
    font-weight: inherit;
  }

  .btnKodoOverseaPrimary {
    color: #0A1639;
  }

  .btnKodoePrimary {
    color: #20176B;
  }

  .btnKodoeHollow {
    &:hover {
      color: #20176B !important;
    }
  }

  :global {
    .slick-dots.slick-dots-bottom {
      bottom: 50px;
      button, .slick-active button {
        width: 28px;
        height: 4px;
      }
    }
  }

  .mobile({
    :global {
      .slick-dots.slick-dots-bottom {
        bottom: 8px;
        button, .slick-active button {
          width: 20px;
          height: 2px;
        }
      }
    }
  });
}
