/**
 * @file Swiper
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.slide {
  display: block;
  height: 410px;
  background-size: cover;
  background-position: center;

  .mobile({
    height: 35vw;
  });
}
