@import '~utils/less/index.less';

.card {
  height: 140px;
  padding: 28px 36px;

  .title {
    margin-bottom: 12px;
    font-size: 20px;
    color: @grey-7;
  }

  .desc {
    color: @grey-6;
    font-size: 14px;
  }
}
