@import '~utils/less/index.less';

@step-icon-width: 120px;
@step-icon-height: @step-icon-width;
@step-name-width: 230px;
@step-name-line-height: 28px;
@space-bewteen-icon-name: 26px;

.accessProcess {
  .subHeader {
    display: block;
    margin-bottom: 50px;
  }

  .process {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .step {
      text-align: center;

      .stepIcon, .stepIconWrapper {
        background-color: @grey-1;
        height: @step-icon-height;
        width: @step-icon-width;
        border-radius: 50%;
        border: 1px solid rgba(238,238,238,1);
        box-shadow:0px 4px 8px 0px rgba(51, 51, 51, 0.08);
      }

      .stepIconWrapper {
        display: inline-block;
        line-height: @step-icon-height - 4px;

        img {
          width: @step-icon-height / 2;
          height: @step-icon-width / 2;
        }
      }

      .stepName {
        margin-top: @space-bewteen-icon-name;
        font-size: 20px;
        line-height: @step-name-line-height;
        width: @step-name-width;
      }
    }
  }

  .connect {
    flex: none;
    width: 34px;
    height: @step-icon-height;
    .background-image(url(./images/arrow.svg));
    margin-left: 5px;
    margin-right: 5px;
  }
}
