@import '~utils/less/index.less';

@page-height: 308px;
@mobile-page-height: auto;

.news {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 60px;

  .mobile({
    padding-top: 20px;
  });

  .page {
    width: 100%;
    height: @page-height;
    text-align: left;

    .mobile({
      height: auto;
      padding: 16px 0;
    });
  }

  :global {
    .ant-carousel .slick-slider {
      .slick-list {
        padding-bottom: 50px;
        margin-bottom: -50px;
      }
    }
    .slick-dots.slick-dots-bottom {
      margin-bottom: 0px;
      li button {
        background: #d8d8d8;
        width: 28px;
        height: 4px;
        position: relative;
        // 增大页面切换按钮选中范围
        &:before {
          content: '';
          position: relative;
          top: -30px;
          height: 30px;
          width: 28px;
          display: block;
        }
      }
      li.slick-active button {
        background: @grey-5;
      }
    }
  }
  
  .mobile({
    :global {
      .ant-carousel .slick-slider {
        .slick-list {
          padding-bottom: 10px;
          margin-bottom: 15px;
        }
        .slick-dots.slick-dots-bottom {
          bottom: 0;
          button, .slick-active button {
            width: 20px;
          }
        }
      }
    }
  });
}

@story-width: 554px;
@story-height: 136px;
@story-img-width: 214px;
@story-content-width: 316px;
@story-space: 66px;
@story-img-content-space: 24px;

@mobile-story-width: 100%;
@mobile-story-height: 76px;
@mobile-story-img-width: 120px;
@mobile-story-img-content-space: 8px;

.story {
  width: @story-width;
  height: @story-height;
  display: inline-block;
  box-shadow: none;
  border: none;
  cursor: pointer;
  margin: 0 @story-space 36px 0;
  position: relative;

  &:nth-of-type(2n) {
    margin-right: 0;
  }

  .mobile({
    margin: 0 0 16px;
    width: @mobile-story-width;
    height: @mobile-story-height;
  });

  .img {
    width: @story-img-width;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    .mobile({
      width: @mobile-story-img-width;
      position: absolute;
    });
  }

  .content {
    vertical-align: top;
    width: @story-content-width;
    margin-left: @story-img-content-space;
    padding: 0;
    display: inline-block;

    .mobile({
      width: 100%;
      margin-left: 0;
      padding-left: @mobile-story-img-content-space + @mobile-story-img-width;
    });

    .title {
      font-size: 16px;
      color: @grey-7;
      line-height: 24px;
      .ellipsis-line-clamp(2, 48px);
      &:hover {
        color: @blue-6;
      }
      .mobile({
        font-size: 14px;
        line-height: 22px;
        .ellipsis-line-clamp(2, 44px);
      });
    }

    .desc {
      font-size: 14px;
      color: @grey-5;
      margin-top: 10px;
      line-height: 20px;
      height: 40px;
      .ellipsis-line-clamp(2, 40px);

      .mobile({
        display: none;
      });
    }

    .footer {
      display: block;
      position: relative;
      margin-top: 16px;
      .mobile({
        margin-top: 10px;
      });
      .date {
        font-size: 12px;
        color: @grey-5;
      }
  
      .social {
        position: absolute;
        z-index: 10;
        height: 24px;
        right: 10px;
        bottom: 0;

        .weibo, .wechat {
          display: inline-block;
          margin-left: 12px;
          width: 24px;
          height: 24px;
          color: @grey-5;

          & + .tooltip {
            position: absolute;
            bottom: 27px;
            left: -27px;
            display: none;
            width: 100px;
            height: 110px;
            padding: 10px 5px;
            .background-image(url(./images/qrcodebg.svg), center, border-box, stretch);
            
            .mobile({
              display: none !important;
            });
          }

          &:hover {
            color: #BFBFBF;
            & + .tooltip {
              display: block;
            }
          }
        }
      }
    }
    
  }
}

.splitLine {
  height: 0;
  width: 100%;
  border-bottom: 1px solid @grey-3;
}
