@import "~react-icecream/style/less/variables/index.less";

.container {
  display: flex;
  align-items: center;

  .icon {
    width: 80px;
    height: 40px;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}