/**
 * @file 私有云存储客户 Logo 墙 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.icon {
  height: 120px;
  position: relative;
  top: 50%;
  margin-top: -60px;

  .mobile({
    height: 80px;
    margin-top: -40px;
  });
}
