/**
 * @file Tags
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.tags {
  > * {
    margin-bottom: @icecream-gap-xs / 2;
  }

  > * + * {
    margin-left: @icecream-gap-xs;
  }
}

.input {
  margin-top: @icecream-gap-xs / 2;
  border-style: dashed;
}

.addIcon {
  color: @icecream-color-grey-10;
  cursor: pointer;
}
