/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.inputGroup {
  display: flex;
  gap: @icecream-gap-md;

  &Select {
    width: 120px;
    max-height: @icecream-form-input-height-md;
  }
}
