@import "~utils/less/index.less";

.itemContent {
  width: 100%;
}

.captchaWrapper {
  position: relative;

  .captchaButton {
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
  }
}
