.text {
  z-index: 0;
  position: relative;
  display: inline-flex;
  height: 32px;
  padding: 0 0 0 12px;
  font-size: 14px;
  line-height: 32px;
  color: #07beff;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  text-align: left;
  background: #f2fbff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  &.noBorder {
    border-radius: 4px;
  }

  .arrow {
    margin-left: 8px;
    color: #07beff;
    
    svg {
      vertical-align: 0.125em;
    }
  }

  .angle {
    position: absolute;
    top: 0;
    right: -10px;
    color: #f2fbff;
  }

  &:hover {
    color: #fff;
    transition: color 0.3s;

    background: #07beff;

    .arrow {
      color: #fff;
    }

    .angle {
      color: #07beff;
    }
  }
}

.title {
  margin-bottom: 12px;
  font-size: 16px;
  color: #333;
}

.desc {
  font-size: 12px;
  color: #666;
}

// TODO 改成不 hack 的方式，比如引入不带样式的 rc-tooltip
.tooltip {
  :global {
    .icecream-tooltip-arrow {
      display: none;
    }
    .icecream-tooltip-inner {
      width: 236px;
      max-width: 236px;
      padding: 16px;
      color: #333333;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid #e5eaf4;
      // TODO 最小宽度
      // TODO 文字颜色
    }
  }
}
