/**
 * @file styles of component TitleBar
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/styles/index.less";

.main {
  padding: 0.30rem 0.10rem 0.10rem;
  font-size: .14rem;
  color: @white;
  background-color: @black; // FIXME: IE9- 兜底颜色，linear-gradient 失效时生效

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  .title {
    text-align: center;
    font-size: .30rem;
    line-height: 2;
  }

  .subTitle {
    margin: 0 auto;
    text-align: center; // 还是左对齐？
    line-height: 2;

    @media only screen and (min-width: @screen-sm) {
      & {
        max-width: @screen-sm; // 这样优化好吗。。？
      }
    }

    .subTitleMain {
      a {
        text-decoration: underline;
        cursor: pointer;
        color: inherit;

        &:link,
        &:visited,
        &:hover,
        &:active {
          text-decoration: underline;
          cursor: pointer;
          color: inherit;
        }
      }
    }

    .instructionEntry {
      margin-left: 1ex;
      border: none;
      background: @transparent;
      .c-word-nowrap();
      text-decoration: underline;
      outline: none;
      cursor: pointer;

      &::after {
        content: ' >';
      }
    }
  }
}

.modal {
  @media only screen and (min-width: @modal-sm) and (max-width: @screen-sm - 1) {
    & {
      max-width: @modal-sm !important;
    }
  }

  @media only screen and (min-width: @screen-sm) {
    & {
      max-width: @modal-md !important;
    }
  }

  .title {
    //

    .titleMain {
      //
    }
  }

  .content {
    //
  }
}
