/**
 * @file 内容详情页常用按钮
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.btn {
  line-height: 40px;
  height: 40px;
  background-color: @primary-color !important;
  border-color: @primary-color !important;
}
