/**
 * @file 产品页功能与优势组件 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.pc {
  .groupWrapper {
    padding: 24px 0 0;
    display: flex;
    justify-content: center;
  }

  .itemWrapper {
    padding: 0 52px;
    flex: 1 1;
  }

  .item {
    &.itemTopDown {
      .itemContent {
        margin: 0 auto;
        display: table;
      }

      .itemTitle {
        margin-top: 16px;
        text-align: center;
      }
    }

    &.itemLeftRight {
      display: flex;
      justify-content: center;
      align-items: center;

      .itemIcon {
        width: 120px;
      }

      .itemContent {
        flex: 1 1;
        margin-left: 24px;
        text-align: left;
      }
    }
  }

  .itemIcon {
    text-align: center;
    height: 120px;
    font-size: 0;
    line-height: 120px;
  }

  .itemContent {
    &.contentCenter {
      text-align: center;
    }

    &.contentLeft {
      text-align: left;
    }
  }

  .itemTitle {
    color: @grey-7;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  .desc {
    position: relative;
    margin: 12px 0;
    color: @grey-6;
    line-height: 22px;

    &.preIconCheck {
      padding-left: 24px;

      &:before {
        content: "";
        .background-image(url(./check.svg));
        width: 16px;
        height: 16px;
        position: absolute;
        top: 4px;
        left: 0;
      }
    }

    &.preIconDot {
      padding-left: 20px;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6px;
        left: 0;
        border-radius: 50%;
        background-color: @blue-6;
        opacity: 0.4;
      }
    }
  }

  .link {
    margin: 12px 0;
    line-height: 20px;

    a {
      color: @blue-6;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mobile {
  .itemIcon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .linkItem {
    outline: none;

    .itemContent {
      padding-right: 32px;
    }

    .arrowIcon {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .item {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid @grey-3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // 最后一个 group 下的最后一个 item（即整个 Feature 模块中的最后一个 item）
  .groupWrapper:last-child .itemWrapper:last-child .item {
    border-bottom-color: transparent; // 去掉下边框
    padding-bottom: 4px; // 去掉 16px（即跟 section 16px 的下边距合并）
  }

  .itemIcon {
    flex: 0 1;
    width: 60px;
    height: 60px;
    > svg {
      width: 60px;
      height: 60px;
      padding: 0 10px;
    }
  }

  .itemContent {
    position: relative;
    padding-left: 16px;
    text-align: left;
    flex: 1 1;
  }

  .itemTitle {
    color: @grey-7;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .desc {
    margin: 4px 0;
    color: @grey-6;
    font-size:12px;
    line-height: 18px;
  }
}
