@import "~utils/less/index.less";

.content {
  width: @centered-content-width - 230px;
  padding: 48px + 2px 0 48px 70px;// 这边加 2px 是为了和左边的目录文字对齐

  .pcLg({
    width: @centered-content-width-lg - 280px;
    padding-left: 80px;
  });
}

.hidden {
  display: none;
}
