@import '~utils/less/index.less';

.wrapper {
  .centered();
  padding: 72px 0;
  text-align: center;

  .mobile({
    padding: 16px;
  });
}

.grey {
  background: #FAFAFA;
}

.title {
  margin-bottom: 37px;
  color: @grey-7;
  font-size: 28px;

  .mobile({
    margin-bottom: 16px;
    font-size: 20px;
  });
}
