/**
 * @file 模块列表
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.list {
  margin: 0 auto @icecream-gap-md;

  td {
    padding: @icecream-gap-xs;
  }
}

.btns > * {
  margin-left: @icecream-gap-md;
}
