@import '~utils/less/index.less';

.wrapper {
  top: 0;
  z-index: @product-navigator-z-index;
  background-color: #fff;

  // 固定在顶部的时候，把下边框转移到 wrapper 上
  &.fixed {
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
    transition: .5s;
    .content {
      transition: .5s;
      box-shadow: none;
    }
    .extra {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.content {
  .centered();
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
}

.tabs {
  flex: 1 0 auto;
}

.priceArrow {
  margin-left: 2px;
  path {
    fill: @grey-4;
  }
}

.extra {
  flex: 0 0 auto;
  margin: 0 12px;

  transition: transform 1s, opacity 1.5s;
  visibility: hidden;
  transform: translateY(20%);
  opacity: 0.2;
}

.button:not(:first-child) {
  margin-left: 12px;
}
