@import '~utils/less/index.less';

.pcWrapper .wrapper {
  height: 380px;
  display: flex;

  .scene {
    flex: 1 1;

    margin-left: 56px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 100%;
    padding: 24px;

    background: @grey-1;

    .img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-size: cover;
      background-repeat: no-reapeat;
      background-position: 50% 50%;
    }
  }
}

.mobileWrapper {
  padding: 0 20px;
  :global {
    .rc-menu {
      text-align: left;
      
      .rc-menu-submenu {
        background: @grey-1;
        border: 1px solid @border-color;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
        border-radius: 2px;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        .rc-menu-sub {
          padding: 0 15px 20px;
        }
      }
    }
  }

  .img {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 12px;
  }
}

.detail {
  flex: 1 1;
  
  .title {
    margin-bottom: 12px;
    font-weight: 500;
    color: @grey-7;
    .setFontSize(16px);

    .mobile({
      margin-bottom: 8px;
      .setFontSize(14px);
    });
  }

  .text {
    color: @grey-6;
    .setFontSize(14px);

    .notMobile({
      .ellipsis-line-clamp(2, 44px);
    });

    .mobile({
      .setFontSize(12px);
    });
  }

  .desc {
    margin-bottom: 32px;

    .mobile({
      margin-bottom: 16px;
    });
  }
}

.problem {
  margin-bottom: 12px;
  padding-left: 12px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
  
  .problemTitle {
    margin-bottom: 2px;
    color: @grey-7;
    .setFontSize(14px);

    .mobile({
      .setFontSize(12px);
    });

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      vertical-align: middle;
      width: 0;
      height: 0;
      border: 3px solid @blue-6;
      border-radius: 50%;
      opacity: .4;
      font-size: 0;

      .mobile({
        top: 6px;
      });
    }
  }
}
