/**
 * @file dora 核心功能及服务 style.less
 * @author zhuhao <zhuhao@qiniu.com>
 */

@import '~utils/less/index.less';

.featureIcon {
  margin: -30px 0 0;

  .mobile({
    width: 60px;
    margin: -12px 0 0;
    height: 60px;
  })
}
