@import '~utils/less/index.less';

.featureIcon {
  .mobile({
    padding: 0 10px;
  });
}

.icon {
  width: 60px;

  .mobile({
    width: 36px;
    padding: 0;
  })
}

.descItem {
  margin-top: 10px;
  .content {
    display: inline-block;
  }
}