@import '~utils/less/index.less';

.netPolice {
  .floatingBarV2();
  position: fixed;
  z-index: @feedback-z-index;
  right: @floating-bar-pc-right;
  bottom: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78px;
  font-size: 12px;
  

  img {
    width: 100%;
  }
}