.demoPage {
  background: #FAFAFA;
  .banner {
    height: 200px;
    .title {
      font-size: 30px;
    }
  }
  .mainContainer {
    max-width: 1176px;
    margin: auto;
    .breadcrumb {
      margin: 20px 0;
    }
    .footer {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 40px;
      color: #00AAE7;
      font-size: 16px;
      span {
        vertical-align: middle;
      }
    }
  }
}

