@import "~utils/less/index.less";

@pop-duration: 0.25s;

.card {
  flex: 1;
  position: relative;
  height: 480px;
  text-align: left;
  background-size: contain;
  background-repeat: no-repeat;

  .group {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 180px;
    padding: 40px;
    transition: all @pop-duration;
  }

  .serial {
    width: 46px;
  }

  .title {
    margin: 12px 0;
    font-size: 18px;
    font-weight: 500;
  }

  .desc {
    color: #FFF;
    opacity: 0;
    transition: all @pop-duration;
  }

  &:hover {
    .group {
      height: 328px;
      color: #FFF !important;
      background: #07BEFF !important;
    }

    .desc {
      opacity: 1;
    }
  }

  &.popDir {
    &Up {
      background-position: top center;

      .group {
        bottom: 0;
        color: #FFF;
        background: #000;
      }
    }

    &Down {
      background-position: bottom center;

      .group {
        top: 0;
        color: #000;
        background: #FFF;
      }
    }
  }
}


.motivationCard {
  flex: 1;
  position: relative;
  height: 260px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px #00000005;
  overflow: hidden;
}

.enter {
  background-color: #07BEFF;
  color: #FFF;
  transition: .3s;

  img {
    width: 108px;
    height: 108px;
    margin-bottom: 1rem;
    transform: translate(0, -200%);
    transition: all .3s linear;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    transform: translate(0, -400%);
    transition: all .3s linear;
  }

  p {
    position: absolute;
    padding: 0 3rem;
    color: #FFF;
    opacity: 1;
    transform: translate(0, 10%);
    transition: all .3s ease-in;
  }
}

.leave {
  background-color: #FFF;
  color: #000;
  transition: .3s;

  img {
    width: 108px;
    height: 108px;
    margin-bottom: 1rem;
    transform: translate(0, 0);
    transition: all .3s linear;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    transform: translate(0, 0);
    transition: all .3s linear;
  }

  p {
    position: absolute;
    padding: 0 3rem;
    color: #333;
    opacity: 0;
    transform: translate(0, 200%);
    transition: all .3s ease-in;
  }
}

