@import '~utils/less/index.less';

.wrapper {
  display: flex;
  padding: 30px 28px;
  align-items: center;
  background-color: @grey-1;

  .mobile({
    padding: 24px 16px;
  });
}

.icon {
  width: 32px;
  height: 32px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.content {
  flex: 1 1 auto;
  font-size: 20px;
  line-height: 1.4;
  margin-left: 16px;

  .mobile({
    font-size: 16px;
  });
}
