/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.sectionLabel {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.sectionItem:not(:last-of-type) {
  padding-bottom: @icecream-gap-lg;
}

.btn {
  margin-left: @icecream-gap-xs;
}
