<div class="jumbotron hero hero-plup">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <h2>七牛云“涉稳安全资源包”火速到场</h2>
          <h3>集鉴黄、鉴暴恐、政治人物识别为一体的综合涉稳安全系列产品</h3>
          <p>
            替代 90% 以上的人工审核<br />
            7x24h 全天候的内容审核涉稳安全服务<br />
            审核技术随时根据国家网信办标准更新<br />
            热线电话：400-808-9176
          </p>
          <div class="actions">
            <%= link_to "立即试用", "", class: "btn btn-lg btn-hollow", data: { toggle: "modal", target: "#feedback-modal"} -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features">
  <div class="container">
    <div class="intro">
      <h2>涉稳安全产品</h2>
    </div>
    <p>七牛云人工智能实验室在人工智能领域深耕多年，在内容审核领域深入研发，对政府类的审核需求有高度的敏感和理解。早在 2015 年七牛就推出了图片鉴黄服务，并且准确度超过 99.5%，可以替代 90% 以上的人工审核。 此次为了七牛推出“涉稳安全资源包”，即鉴黄、鉴暴恐、政治人物识别为一体的综合涉稳安全系列产品，致力为广大网民创造一片清新宁静的环境。七牛云人工智能实验室的鉴黄、鉴暴恐、政治人物识别是严格按照网信、网安等监管机构要求，用心打造的高性能、高识别率，紧跟时政要求的涉稳安全检测系列API。</p>
    <p>
      产品包括三个API：
      <a class="more" target="_blank" href="https://developer.qiniu.com/dora/manual/3701/ai-pulp">智能鉴黄</a>
      <a class="more" target="_blank" href="https://developer.qiniu.com/dora/manual/3918/terror">鉴暴恐</a>
      <a class="more" target="_blank" href="https://developer.qiniu.com/dora/manual/3922/politician">政治人物识别</a>
    </p>
  </div>
</div>


<div class="features">
  <div class="container">
    <div class="intro">
      <h2>核心技术</h2>
    </div>
    <p>
      七牛云人工智能实验室提供了单张图片响应时间小于 0.1 s、准确率超过 99.5%、7x24h 全天候的内容审核涉稳安全服务。现累积识别图片数量已超过 4000 亿张、审核视频数量超过 80 亿个。合作客户包括熊猫直播、faceU、淡蓝、平安银行、新华社、中央人民广播电台、北京网信办等数千家互联网企业和政企机构。
    </p>
  </div>
</div>


<div class="features">
  <div class="container">
    <div class="intro">
      <h2>规格和包价格</h2>
    </div>
    <div class="table-responsive">
      <table cellpadding="0" cellspacing="0" class="table">
        <thead>
          <tr>
            <th>图片涉稳安全资源包规格</th>
            <th>价格（元/个）</th>
            <th>单价 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>月调用三个 API 各 20 万次（另赠送 2 万次不确定部分）</td>
            <td>2200</td>
            <td>1.1 元/百次</td>
          </tr>
          <tr>
            <td>月调用三个 API 各 100 万次（另赠送 2 万次不确定部分）</td>
            <td>10800</td>
            <td>1.08元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 200 万次（另赠送 20 万次不确定部分）</td>
            <td>21000</td>
            <td>1.05元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 500 万次（另赠送 50 万次不确定部分）</td>
            <td>50000</td>
            <td>1元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 1000 万次（另赠送 100 万次不确定部分）</td>
            <td>95000</td>
            <td>0.95元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 2000 万次（另赠送 200 万次不确定部分）</td>
            <td>176000</td>
            <td>0.88元/百次 </td>
          </tr>
          <tr>
            <td>月调用三个 API 各 5000 万次（另赠送 500 万次不确定部分）</td>
            <td>400000</td>
            <td>0.8元/百次 </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <h3>使用须知：</h3>
      <p>鉴黄资源包中已使用接口调用次数每月统计，不足百次部分算百次，例如 <strong>100060 次计作 1001 百次。资源包支持每月结转形式</strong>。</p>
      <p>此次涉稳包整合帮助客户节省接近 50% 的成本，产品原价照： <a class="more" target="_blank" href="https://www.qiniu.com/prices?source=dora">https://www.qiniu.com/prices?source=dora</a></p>
    </p>
  </div>
</div>