<div class="jumbotron hero hero-plup">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <h2>“七牛涉稳安全”资源包</h2>
          <p>面向产品：七牛图片鉴黄，暴恐，政治人物识别为一体的综合涉稳安全系列产品，七牛人工智能实验室的鉴黄，暴恐，政治人物识别是严格按照网信，网安等监管机构要求，用心打造的高性能，高识别率，紧跟时政要求的涉稳安全检测系列API，帮助您严格的查处您平台上面的涉及色情，暴恐，政治人物的不良信息传播和存储。</p>
          <p>
            产品包括三个API：
            <a href="https://developer.qiniu.com/dora/manual/3701/ai-pulp">智能鉴黄</a>
            <a href="https://developer.qiniu.com/dora/manual/3918/terror">鉴暴恐</a>
            <a href="https://developer.qiniu.com/dora/manual/3922/politician">政治人物识别</a>
          </p>
          <div class="actions">
            <%= link_to "立即试用", "", class: "btn btn-lg btn-hollow", data: { toggle: "modal", target: "#feedback-modal"} -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features">
  <div class="container">
    <div class="intro">
      <h2>规格和包价格(资源包支持每月结转形式)</h2>
    </div>
    <div class="table-responsive">
      <table cellpadding="0" cellspacing="0" class="table">
        <thead>
          <tr>
            <th>图片涉稳安全资源包规格</th>
            <th>价格（元/个）</th>
            <th>单价 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>月调用鉴黄，鉴暴恐，政治人物识别确定部分各20万次（另赠送2万次不确定部分）</td>
            <td>2200</td>
            <td>1.1 元/百次</td>
          </tr>
          <tr>
            <td>月调用鉴黄，鉴暴恐，政治人物识别确定部分各100万次（另赠送2万次不确定部分）</td>
            <td>10800</td>
            <td>1.08元/百次 </td>
          </tr>
          <tr>
            <td>月调用鉴黄，鉴暴恐，政治人物识别确定部分各200万次（另赠送20万次不确定部分）</td>
            <td>21000</td>
            <td>1.05元/百次 </td>
          </tr>
          <tr>
            <td>月调用鉴黄，鉴暴恐，政治人物识别确定部分各500万次（另赠送50万次不确定部分）</td>
            <td>50000</td>
            <td>1元/百次 </td>
          </tr>
          <tr>
            <td>月调用鉴黄，鉴暴恐，政治人物识别确定部分各1000万次（另赠送100万次不确定部分）</td>
            <td>95000</td>
            <td>0.95元/百次 </td>
          </tr>
          <tr>
            <td>月调用鉴黄，鉴暴恐，政治人物识别确定部分各2000万次（另赠送200万次不确定部分）</td>
            <td>176000</td>
            <td>0.88元/百次 </td>
          </tr>
          <tr>
            <td>月调用鉴黄，鉴暴恐，政治人物识别确定部分各5000万次（另赠送500万次不确定部分）</td>
            <td>400000</td>
            <td>0.8元/百次 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>