/**
 * @file 视频冷存储方案优势 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.icon {
  width: 60px;
  margin: -28px 50px 0 0;

  .mobile({
    margin: 4px 0 0;
  });
}
