/**
 * @file 视频冷存储应用场景 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.img {
  height: 164px;

  .mobile({
    height: 300px;
  });
}

.title {
  text-align: center;
}
