/**
 * @file 监控视频边缘存储行业痛点 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.icon {
  width: 60px;

  .mobile({
    width: 24px;
    height: auto;
    margin: 4px 6px 0 0;
  })
}
