/**
 * @file 完整列表
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.topArticles {
  .mobile({
    margin-bottom: -12px;
    padding: 12px 16px 0;
  });
}

.bottomArticles {
  .mobile({
    margin-bottom: -12px;
    padding: 12px 16px 0;
  });
}

.moreArticlesLinkWrapper {
  margin: 24px 0;
  background: #FFF;
  text-align: center;

  .mobile({
    margin: 0;

    &::before {
      content: ' ';
      display: block;
      margin: 0 16px;
      overflow: hidden;
      border-top: 1px solid #EEE;
    }

    a {
      display: block;
      padding: 12px 0;
    }
  });
}

.loading {
  height: 466px;

  .mobile({
    height: 280px;
  });
}

.empty {
  height: 466px;
  padding-bottom: 36px;

  .mobile({
    height: 280px;
    padding-bottom: 12px;
  });
}
