@import '~utils/less/index.less';

@card-height: 400px;
@mobile-card-height: 160px;

.card {
  position: relative;
  padding: 36px 24px;
  height: @card-height;

  .mobile({
    padding: 12px;
    height: @mobile-card-height;
  });

  .desc {
    margin-top: 28px;
    font-size: 16px;
    color: @grey-7;

    .mobile({
      margin-top: 0;
      font-size: 14px;
    });
  }
}

.footer {
  position: absolute;
  bottom: 36px;

  .mobile({
    bottom: 18px;
  });

  img {
    width: 40px;
  }

  .footerContent {
    display: inline-block;
    margin-left: 16px;
    vertical-align: middle;

    h4 {
      font-size: 14px;
    }

    h5 {
      margin-top: 2px;
      font-size: 12px;
      color: @grey-6;
    }
  }
}

.qrCodeCard {
  height: @card-height;
  padding: 36px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .title {
    flex: 0;
    color: @blue-6;
    font-size: 33px;
    font-weight: 900;
    font-style: oblique;
    line-height: 33px;

    .mobile({
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      line-height: 20px;
    });
  }

  .desc {
    flex: 0;
    margin-top: 28px;
    font-size: 16px;
    color: @grey-7;

    .mobile({
      margin-top: 16px;
      font-size: 14px;
    });
  }

  .iconQrCodeWrapper {
    flex: 1;
    width: 100%;
    margin: 12px 0;
    text-align: center;

    .iconQrCode {
      width: 138px;
      height: 138px;
    }

    .mobile({
      margin: 16px 0;
    });
  }

  .bottom {
    flex: 0;

    h5 {
      margin-top: 2px;
      font-size: 12px;
      color: @grey-6;

      &.bold {
        color: @grey-7;
        font-weight: 500;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .mobile({
    height: auto;
    padding: 18px 12px;
  });
}
