@import '~utils/less/index.less';

.certificationLink {
  display: inline-block;
  margin-top: 32px;
  .mobile({
    margin-top: 16px;
  });
}

.activityLink {
  display: inline-block;
  margin-top: 32px;
  .mobile({
    margin-top: 0;
  });
}

.youCanDoText {
  color: @grey-7;
  margin-top: 32px;
  .setFontSize(14px);
  .mobile({
    margin-top: 16px;
  });
}

.activities {
  text-align: left;
}
