@import '~utils/less/index.less';

.icon {
  float: right;
  margin-top: 4.5px;
  margin-right: 16px;
}

.footer {
  color: @grey-5;
  background-color: rgba(0,20,50,1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;

  :global {
    .rc-menu {
      padding: 0;
      font-size: 16px;
      border: none;
      box-shadow: none;
      background-color: rgba(0,20,50,1) !important;

      &.rc-menu-sub {
        padding: 10px 0;
      }

      .rc-menu-submenu {
        border: none;
        background-color: rgba(0,20,50,1);
      }

      .rc-menu-submenu-title {
        border-top: 1px solid rgba(255,255,255,0.1);;
        margin-top: -1px;
        background-color: rgba(0,20,50,1);
        font-size: 14px;
      }

      .menu-item {
        font-size: 12px;
        padding: 6px 15px;
      }
    
      .rc-menu-submenu-open {
        .rc-menu-submenu-title {
          color: @blue-6;
          border-bottom: 1px solid rgba(255,255,255,0.1);
        }
      }
    }

  }

  .nav {
    width: 100%;
    margin: 0 -15px;
    color: @grey-5;
  }

  .icons {
    margin-top: 10px;

    .icon {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }
  }

  .qrCode {
    margin-top: 20px;
    font-size: 12px;
    color: @grey-5;
    width: 100%;
    .image {
      width: 130px;
      height: 130px;
      display: block;
      margin: 0 auto 15px;
    }
    text-align: center;
  }

  .buy {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    .buyBtn {
      height: 36px;
      width: 100%;
      margin-top: 24px;
    }
  }
  
  .icp {
    margin-top: 17px;
    color: @grey-6;
    font-size: 12px;
    text-align: center;
  }
}
