@import '~utils/less/index.less';

.figure {
  text-align: center !important;

  .qrCode, .mpCode {
    width: 220px;
    height: 220px;
  }

  .qrCode {
    padding: 10px;
  }

  .desc {
    margin-top: 16px;
  }
}

.webDemo {
  text-align: center;
  margin-top: 44px;

  .link {
    color: #00AAE7;
    font-size: 20px;
    display: inline-block;
    padding-right: 30px;
    .background-image(url(./images/next.svg), right, border-box, 25px);

    &:hover {
      text-decoration: underline;
    }
  }
}
