/**
 * @file 私有云存储方案架构 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.img {
  width: 1080px;
  height: auto;
  margin: 0 auto;

  .mobile({
    width: 100%;
  });
}
