<div class="jumbotron hero hero-caculator">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>价格计算器</h2>
      </div>
    </div>
  </div>
</div>

<div class="feature-price tabs">
  <div class="feature-price-nav" id="feature-price-nav">
    <div class="container">
      <ul class="nav navbar-nav" id="caculatorTabs">
        <li>
          <input type="checkbox" class="caculatorTabs" value="kodo" checked> 标准存储</input>
        </li>
        <li>
          <input type="checkbox" class="caculatorTabs" value="lowKodo" checked> 低频存储</input>
        </li>
        <li>
          <input type="checkbox" class="caculatorTabs" value="fusion" checked> 融合CDN</input>
        </li>
      </ul>
    </div>
  </div>

  <div class="features light-bkcolor">
    <div class="container">
      <div class="row">
        <div class="pricing-caculator">
          <div class="tab-content pricing-details">
            <section class="tab-pane active caculator-sec" id="tab-caculator-kodo">
              <dl>
                <dt>标准存储</dt>
                <dd>
                  <ul class="list-inline">
                    <li><span>存储区域</span></li>
                    <li>
                      <select class="select-lg" name="kodo" id="kodo">
                        <option value="east">华东</option>
                        <option value="sourth">华南</option>
                        <option value="north">华北</option>
                        <option value="northAmerica">北美</option>
                      </select>
                    </li>
                  </ul>
                </dd>
                <dd>
                  <h5>存储空间</h5>
                  <input type="range" value="0" min="0" max="10000000" step="1" class="input-range amount-input" id="range-kodo-space" key="kodo-space">
                  <input type="number" class="input-num amount-input" min="0" max="10000000" id="num-kodo-space" key="kodo-space">
                  <span>GB/月</span>
                </dd>
                <dd>
                  <h5>GET读请求数</h5>
                  <input type="range" value="0" min="0" max="10000000" step="1" class="input-range amount-input" id="range-kodo-read" key="kodo-read">
                  <input type="number" class="input-num amount-input" min="0" max="10000000" id="num-kodo-read" key="kodo-read">
                  <span>万次/月</span>
                </dd>
                <dd>
                  <h5>PUT/DELET写请求数</h5>
                  <input type="range" value="0" min="0" max="10000000" step="1" class="input-range amount-input" id="range-kodo-write" key="kodo-write">
                  <input type="number" class="input-num amount-input" min="0" max="10000000" id="num-kodo-write" key="kodo-write">
                  <span>万次/月</span>
                </dd>
              </dl>
            </section>

            <section class="tab-pane active caculator-sec" id="tab-caculator-lowKodo">
              <dl>
                <dt>低频存储</dt>
                <dd>
                  <h5>存储空间</h5>
                  <input type="range" value="0" min="0" max="10000000" step="1" class="input-range amount-input" id="range-lowKodo-space" key="lowKodo-space">
                  <input type="number" class="input-num amount-input" min="0" max="10000000" id="num-lowKodo-space" key="lowKodo-space">
                  <span>GB/月</span>
                </dd>
                <dd>
                  <h5>API请求数 (GET/PUT)</h5>
                  <input type="range" value="0" min="0" max="10000000" step="1" class="input-range amount-input" id="range-lowKodo-API" key="lowKodo-API">
                  <input type="number" class="input-num amount-input" min="0" max="10000000" id="num-lowKodo-API" key="lowKodo-API">
                  <span>万次/月</span>
                </dd>
                <dd>
                  <h5>存储类型转换</h5>
                  <input type="range" value="0" min="0" max="10000000" step="1" class="input-range amount-input" id="range-lowKodo-type" key="lowKodo-type">
                  <input type="number" class="input-num amount-input" min="0" max="10000000" id="num-lowKodo-type" key="lowKodo-type">
                  <span>万次/月</span>
                </dd>
                <dd>
                  <h5>读取流量(HTTP)</h5>
                  <input type="range" value="0" min="0" max="10000000" step="1" class="input-range amount-input" id="range-lowKodo-HTTP" key="lowKodo-HTTP">
                  <input type="number" class="input-num amount-input" min="0" max="10000000" id="num-lowKodo-HTTP" key="lowKodo-HTTP">
                  <span>GB/月</span>
                </dd>
              </dl>
            </section>

            <section class="tab-pane active caculator-sec-last" id="tab-caculator-fusion">
              <dl>
                <dt>融合CDN</dt>
                <dd>
                  <ul class="list-inline">
                    <li><span>区域</span></li>
                    <li>
                      <select class="select-lg" name="fusion" id="fusion">
                        <option value="outland">海外</option>
                        <option value="inland">国内</option>
                      </select>
                    </li>
                    <li>
                      <select class="select-lg" name="fusion-outland" id="fusion-outland" class>
                        <option value="ENA">欧洲/北美洲</option>
                        <option value="Asia">亚洲（除中国/印度/东南亚）</option>
                        <option value="India">亚洲（东南亚/印度）</option>
                        <option value="SA">南美洲</option>
                        <option value="Oceania">大洋洲与其他</option>
                      </select>
                    </li>
                  </ul>
                </dd>
                <dd>
                  <h5>HTTP下载流量</h5>
                  <input type="range" value="0" min="0" max="10000" step="1" class="input-range amount-input" id="range-fusion-HTTP" key="fusion-HTTP">
                  <input type="number" class="input-num amount-input" min="0" max="10000" id="num-fusion-HTTP" key="fusion-HTTP">
                  <span class="fusion-unit">TB/月</span>
                </dd>
                <dd>
                  <h5>HTTPS下载流量</h5>
                  <input type="range" value="0" min="0" max="10000" step="1" class="input-range amount-input" id="range-fusion-HTTPS" key="fusion-HTTPS">
                  <input type="number" class="input-num amount-input" min="0" max="10000" id="num-fusion-HTTPS" key="fusion-HTTPS">
                  <span class="fusion-unit">TB/月</span>
                </dd>
              </dl>
            </section>
          </div>
        </div>
        <div class="pricing-info-wrapper" id="pricing-info">
          <div class="pricing-info">
            <dl>
              <dt>价格预算清单</dt>
              <dd id="pricing-info-kodo">
                <ul class="pricing-info-details">
                  <li>标准存储</li>
                  <li class="price">￥<span id="kodo-price">0</span></li>
                </ul>
                <p id="kodo-details"><span id="text-kodo-space" key="kodo-space"></span>GB/月，<span id="text-kodo-read" key="kodo-read"></span>万次/月读请求，<span id="text-kodo-write" key="kodo-write"></span>万次/月写请求</p>
              </dd>
              <dd id="pricing-info-lowKodo">
                <ul class="pricing-info-details">
                  <li>低频存储</li>
                  <li class="price">￥<span id="lowKodo-price">0</span></li>
                </ul>
                <p id="lowKodo-details"><span id="text-lowKodo-space" key="lowKodo-space"></span>GB/月，<span id="text-lowKodo-API" key="lowKodo-API"></span>万次API请求，<span id="text-lowKodo-type" key="lowKodo-type"></span>万次存储类型装换，<span id="text-lowKodo-HTTP" key="lowKodo-HTTP"></span>GB的HTTP读取</p>
              </dd>
              <dd id="pricing-info-fusion">
                <ul class="pricing-info-details">
                  <li>融合CDN</li>
                  <li class="price">￥<span id="fusion-price">0</span></li>
                </ul>
                <p id="fusion-details">HTTP下载流量<span id="text-fusion-HTTP" key="fusion-HTTP"></span><span class="fusion-unit">TB</span>, HTTPS下载流量<span id="text-fusion-HTTPS" key="fusion-HTTPS"></span><span class="fusion-unit">TB</span></p>
              </dd>
              <dd class="sum">
                <a href="" class="sum">合计： ￥<span id="sum-price">0</span> / 月</a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>