<div class="jumbotron hero hero-caculator">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-12">
          <h2>价格计算器</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-price-nav" id="feature-price-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified nav-prices-links">
        <li><%= link_to "产品价格", prices_path, class: "tab-links" -%></li>
        <li class="active"><%= link_to "价格计算器", calculator_path, class: "tab-links" -%></li>
        <li><%= link_to "云主机价格计算器", calculator_qvm_path, class: "tab-links" -%></li>
      </ul>
    </div>
  </div>
</div>

<div class="features light-bkcolor">
    <div class="container">
      <div class="row row-clear">
        <div class="pricing-caculator">
          <div class="tab-content pricing-details overflow-visible">
            <section class="caculator-sec">
              <dl>
                <dt class="checkbox"><input type="checkbox" class="caculatorTabs" value="kodo" name="kodo" checked><label for="kodo">标准存储</label></dt>
                <div class="active" id="tab-caculator-kodo">
                  <dd>
                    <ul class="list-inline">
                      <li><span>存储区域</span></li>
                      <li>
                        <ul class="kodo-checkbox area-select" id="kodo-checkbox">
                          <li><input type="checkbox" value="east" checked class="spacecheck" key="kodo" id="east-kodo-checkbox"><label for="east-kodo-checkbox">华东</label></li>
                          <li><input type="checkbox" value="sourth" class="spacecheck" key="kodo" id="sourth-kodo-checkbox"><label for="sourth-kodo-checkbox">华南</label></li>
                          <li><input type="checkbox" value="north" class="spacecheck" key="kodo" id="north-kodo-checkbox"><label for="north-kodo-checkbox">华北</label></li>
                          <li><input type="checkbox" value="singapore" class="spacecheck" key="kodo" id="singapore-kodo-checkbox"><label for="singapore-kodo-checkbox">东南亚</label></li>
                          <li><input type="checkbox" value="northAmerica" class="spacecheck" key="kodo" id="na-kodo-checkbox"><label for="na-kodo-checkbox">北美</label></li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dl id="data-east" class="east input-data" key="east">
                    <dt class="dt-lighter">华东</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-3 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-east">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-oss" key="kodo-oss-east">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-east">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">PUT/DELETE 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-east">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-cdnBS" key="kodo-cdnBS-east">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-sourth" class="sourth displayNone input-data" key="sourth">
                    <dt class="dt-lighter">华南</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-3 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-sourth">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-oss" key="kodo-oss-sourth">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-sourth">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">PUT/DELETE 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-sourth">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-cdnBS" key="kodo-cdnBS-sourth">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-north" class="north displayNone input-data" key="north">
                    <dt class="dt-lighter">华北</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-3 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-north">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-oss" key="kodo-oss-north">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-north">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">PUT/DELETE 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-north">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-cdnBS" key="kodo-cdnBS-north">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-singapore" class="singapore displayNone input-data" key="singapore">
                    <dt class="dt-lighter">东南亚</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-3 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-singapore">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-oss" key="kodo-oss-singapore">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-singapore">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">PUT/DELETE 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-singapore">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-cdnBS" key="kodo-cdnBS-singapore">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-northAmerica" class="northAmerica displayNone input-data" key="northAmerica">
                    <dt class="dt-lighter">北美</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-3 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-northAmerica">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-oss" key="kodo-oss-northAmerica">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-northAmerica">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">PUT/DELETE 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-northAmerica">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-cdnBS" key="kodo-cdnBS-northAmerica">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>

                </div>
              </dl>
            </section>

            <section class="caculator-sec">
              <dl>
                <dt class="checkbox"><input type="checkbox" class="caculatorTabs" value="lowKodo" checked><label>低频存储</label></dt>
                <div class="active" id="tab-caculator-lowKodo">
                  <dd>
                    <ul class="list-inline">
                      <li><span>存储区域</span></li>
                      <li>
                        <ul class="lowKodo-checkbox area-select" id="lowKodo-checkbox">
                          <li><input type="checkbox" value="east-lowKodo" checked class="spacecheck" key="lowKodo" id="east-lowKodo-checkbox"><label for="east-lowKodo-checkbox">华东</label></li>
                          <li><input type="checkbox" value="sourth-lowKodo" class="spacecheck" key="lowKodo" id="sourth-lowKodo-checkbox"><label for="sourth-lowKodo-checkbox">华南</label></li>
                          <li><input type="checkbox" value="north-lowKodo" class="spacecheck" key="lowKodo" id="north-lowKodo-checkbox"><label for="north-lowKodo-checkbox">华北</label></li>
                          <li><input type="checkbox" value="singapore-lowKodo" class="spacecheck" key="lowKodo" id="singapore-lowKodo-checkbox"><label for="singapore-lowKodo-checkbox">东南亚</label></li>
                          <li><input type="checkbox" value="northAmerica-lowKodo" class="spacecheck" key="lowKodo" id="na-lowKodo-checkbox"><label for="na-lowKodo-checkbox">北美</label></li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dl id="data-east-lowKodo" class="east-lowKodo input-data" key="east">
                    <dt class="dt-lighter">华东</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-space" key="space-east-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-oss" key="oss-east-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">数据读取/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-HTTP" key="HTTP-east-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">API请求数 (GET/PUT) /月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-API" key="API-east-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储类型转换/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-type" key="type-east-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-cdnBS" key="cdnBS-east-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-sourth-lowKodo" class="sourth-lowKodo displayNone input-data" key="sourth">
                    <dt class="dt-lighter">华南</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-space" key="space-sourth-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-oss" key="oss-sourth-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">数据读取/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-HTTP" key="HTTP-sourth-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">API请求数 (GET/PUT) /月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-API" key="API-sourth-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储类型转换/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-type" key="type-sourth-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-cdnBS" key="cdnBS-sourth-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-north-lowKodo" class="north-lowKodo displayNone input-data" key="north">
                    <dt class="dt-lighter">华北</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-space" key="space-north-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-oss" key="oss-north-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">数据读取/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-HTTP" key="HTTP-north-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">API请求数 (GET/PUT) /月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-API" key="API-north-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储类型转换/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-type" key="type-north-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-cdnBS" key="cdnBS-north-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-singapore-lowKodo" class="singapore-lowKodo displayNone input-data" key="singapore">
                    <dt class="dt-lighter">东南亚</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-space" key="space-singapore-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-oss" key="oss-singapore-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">数据读取/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-HTTP" key="HTTP-singapore-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">API请求数 (GET/PUT) /月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-API" key="API-singapore-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储类型转换/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-type" key="type-singapore-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-cdnBS" key="cdnBS-singapore-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-northAmerica-lowKodo" class="northAmerica-lowKodo displayNone input-data" key="northAmerica">
                    <dt class="dt-lighter">北美</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-space" key="space-northAmerica-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">外网流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-oss" key="oss-northAmerica-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">数据读取/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-HTTP" key="HTTP-northAmerica-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">API请求数 (GET/PUT) /月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-API" key="API-northAmerica-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">存储类型转换/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-type" key="type-northAmerica-lowKodo">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 m-b">
                          <label for="">CDN 回源流出流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-lowKodo-cdnBS" key="cdnBS-northAmerica-lowKodo">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                </div>
              </dl>
            </section>

            <section class="caculator-sec-last">
              <dl>
                <dt class="checkbox"><input type="checkbox" class="caculatorTabs" value="fusion" checked><label>融合 CDN</label></dt>
                <div class="active" id="tab-caculator-fusion">
                  <dd id="fusion-area-select">
                    <ul class="list-inline">
                      <li><span>区域</span></li>
                      <li>
                        <ul class="fusion-checkbox area-select" id="fusion-checkbox">
                          <li><input type="checkbox" value="inland" class="spacecheck" key="fusion" checked><label>大陆地区</label></li>
                          <li><input type="checkbox" value="ENA" class="spacecheck" key="fusion"><label>欧洲/北美洲</label></li>
                          <li><input type="checkbox" value="India" class="spacecheck" key="fusion"><label>亚洲（港澳台/东南亚/印度）</label></li>
                          <li><input type="checkbox" value="Asia" class="spacecheck" key="fusion"><label>亚洲（其他地区）</label></li>
                          <li><input type="checkbox" value="SA" class="spacecheck" key="fusion"><label>南美洲</label></li>
                          <li><input type="checkbox" value="Oceania" class="spacecheck" key="fusion"><label>大洋洲与其他</label></li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dl id="data-inland" class="inland input-data" key="inland">
                    <dt class="dt-lighter">大陆地区</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-inland">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-inland">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-ENA" class="ENA displayNone input-data" key="ENA">
                    <dt class="dt-lighter">欧洲/北美洲</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-ENA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-ENA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-Asia" class="Asia displayNone input-data" key="Asia">
                    <dt class="dt-lighter">亚洲（其他地区）</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-Asia">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-Asia">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-India" class="India displayNone input-data" key="India">
                    <dt class="dt-lighter">亚洲（港澳台/东南亚/印度）</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-India">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-India">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-SA" class="SA displayNone input-data" key="SA">
                    <dt class="dt-lighter">南美洲</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-SA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-SA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-Oceania" class="Oceania displayNone input-data" key="Oceania">
                    <dt class="dt-lighter">大洋洲与其他</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-Oceania">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-Oceania">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                </div>
              </dl>
            </section>
          </div>
        </div>
        <div class="pricing-info-wrapper">
          <div class="pricing-info">
            <dl>
              <dt>价格预算清单</dt>
              <dd id="pricing-info-kodo">
                <ul class="pricing-info-details">
                  <li>标准存储</li>
                  <li class="price">￥<span id="kodo-price">0</span></li>
                </ul>
                <dl class="east">
                  <dt class="bg-init dt-sm">华东</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-kodo-space-east" key="kodo-space-east"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-kodo-oss-east" key="kodo-oss-east"></span></dd>
                  <dd class="displayNone"><span>GET 读请求数/月</span><span class="pull-right" id="text-kodo-read-east" key="kodo-read-east"></span></dd>
                  <dd class="displayNone"><span>PUT/DELETE 写请求数/月</span><span class="pull-right" id="text-kodo-write-east" key="kodo-write-east"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-kodo-cdnBS-east" key="kodo-cdnBS-east"></span></dd>
                </dl>
                <dl class="sourth displayNone">
                  <dt class="bg-init dt-sm">华南</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-kodo-space-sourth" key="kodo-space-sourth"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-kodo-oss-sourth" key="kodo-oss-sourth"></span></dd>
                  <dd class="displayNone"><span>GET 读请求数/月</span><span class="pull-right" id="text-kodo-read-sourth" key="kodo-read-sourth"></span></dd>
                  <dd class="displayNone"><span>PUT/DELETE 写请求数/月</span><span class="pull-right" id="text-kodo-write-sourth" key="kodo-write-sourth"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-kodo-cdnBS-sourth" key="kodo-cdnBS-sourth"></span></dd>
                </dl>
                <dl class="north displayNone">
                  <dt class="bg-init dt-sm">华北</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-kodo-space-north" key="kodo-space-north"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-kodo-oss-north" key="kodo-oss-north"></span></dd>
                  <dd class="displayNone"><span>GET 读请求数/月</span><span class="pull-right" id="text-kodo-read-north" key="kodo-read-north"></span></dd>
                  <dd class="displayNone"><span>PUT/DELETE 写请求数/月</span><span class="pull-right" id="text-kodo-write-north" key="kodo-write-north"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-kodo-cdnBS-north" key="kodo-cdnBS-north"></span></dd>
                </dl>
                <dl class="singapore displayNone">
                  <dt class="bg-init dt-sm">东南亚</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-kodo-space-singapore" key="kodo-space-singapore"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-kodo-oss-singapore" key="kodo-oss-singapore"></span></dd>
                  <dd class="displayNone"><span>GET 读请求数/月</span><span class="pull-right" id="text-kodo-read-singapore" key="kodo-read-singapore"></span></dd>
                  <dd class="displayNone"><span>PUT/DELETE 写请求数/月</span><span class="pull-right" id="text-kodo-write-singapore" key="kodo-write-singapore"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-kodo-cdnBS-singapore" key="kodo-cdnBS-singapore"></span></dd>
                </dl>
                <dl class="northAmerica displayNone">
                  <dt class="bg-init dt-sm">北美</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-kodo-space-northAmerica" key="kodo-space-northAmerica"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-kodo-oss-northAmerica" key="kodo-oss-northAmerica"></span></dd>
                  <dd class="displayNone"><span>GET 读请求数/月</span><span class="pull-right" id="text-kodo-read-northAmerica" key="kodo-read-northAmerica"></span></dd>
                  <dd class="displayNone"><span>PUT/DELETE 写请求数/月</span><span class="pull-right" id="text-kodo-write-northAmerica" key="kodo-write-northAmerica"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-kodo-cdnBS-northAmerica" key="kodo-cdnBS-northAmerica"></span></dd>
                </dl>
              </dd>
              <dd id="pricing-info-lowKodo">
                <ul class="pricing-info-details">
                  <li>低频存储</li>
                  <li class="price">￥<span id="lowKodo-price">0</span></li>
                </ul>
                <dl class="east-lowKodo">
                  <dt class="bg-init dt-sm">华东</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-space-east-lowKodo" key="lowKodo-space-east"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-oss-east-lowKodo" key="lowKodo-oss-east"></span></dd>
                  <dd class="displayNone"><span>API请求数 (GET/PUT) /月</span><span class="pull-right" id="text-API-east-lowKodo" key="lowKodo-API-east"></span></dd>
                  <dd class="displayNone"><span>存储类型转换/月</span><span class="pull-right" id="text-type-east-lowKodo" key="lowKodo-type-east"></span></dd>
                  <dd class="displayNone"><span>数据读取/月</span><span class="pull-right" id="text-HTTP-east-lowKodo" key="lowKodo-HTTP-east"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-cdnBS-east-lowKodo" key="lowKodo-cdnBS-east"></span></dd>
                </dl>
                <dl class="sourth-lowKodo displayNone">
                  <dt class="bg-init dt-sm">华南</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-space-sourth-lowKodo" key="lowKodo-space-sourth"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-oss-sourth-lowKodo" key="lowKodo-oss-sourth"></span></dd>
                  <dd class="displayNone"><span>API请求数 (GET/PUT) /月</span><span class="pull-right" id="text-API-sourth-lowKodo" key="lowKodo-API-sourth"></span></dd>
                  <dd class="displayNone"><span>存储类型转换/月</span><span class="pull-right" id="text-type-sourth-lowKodo" key="lowKodo-type-sourth"></span></dd>
                  <dd class="displayNone"><span>数据读取/月</span><span class="pull-right" id="text-HTTP-sourth-lowKodo" key="lowKodo-HTTP-sourth"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-cdnBS-sourth-lowKodo" key="lowKodo-cdnBS-sourth"></span></dd>
                </dl>
                <dl class="north-lowKodo displayNone">
                  <dt class="bg-init dt-sm">华南</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-space-north-lowKodo" key="lowKodo-space-north"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-oss-north-lowKodo" key="lowKodo-oss-north"></span></dd>
                  <dd class="displayNone"><span>API请求数 (GET/PUT) /月</span><span class="pull-right" id="text-API-north-lowKodo" key="lowKodo-API-north"></span></dd>
                  <dd class="displayNone"><span>存储类型转换/月</span><span class="pull-right" id="text-type-north-lowKodo" key="lowKodo-type-north"></span></dd>
                  <dd class="displayNone"><span>数据读取/月</span><span class="pull-right" id="text-HTTP-north-lowKodo" key="lowKodo-HTTP-north"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-cdnBS-north-lowKodo" key="lowKodo-cdnBS-north"></span></dd>
                </dl>
                <dl class="singapore-lowKodo displayNone">
                  <dt class="bg-init dt-sm">东南亚</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-space-singapore-lowKodo" key="lowKodo-space-singapore"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-oss-singapore-lowKodo" key="lowKodo-oss-singapore"></span></dd>
                  <dd class="displayNone"><span>API请求数 (GET/PUT) /月</span><span class="pull-right" id="text-API-singapore-lowKodo" key="lowKodo-API-singapore"></span></dd>
                  <dd class="displayNone"><span>存储类型转换/月</span><span class="pull-right" id="text-type-singapore-lowKodo" key="lowKodo-type-singapore"></span></dd>
                  <dd class="displayNone"><span>数据读取/月</span><span class="pull-right" id="text-HTTP-singapore-lowKodo" key="lowKodo-HTTP-singapore"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-cdnBS-singapore-lowKodo" key="lowKodo-cdnBS-singapore"></span></dd>
                </dl>
                <dl class="northAmerica-lowKodo displayNone">
                  <dt class="bg-init dt-sm">北美</dt>
                  <dd class="displayNone"><span>存储空间/月</span><span class="pull-right" id="text-space-northAmerica-lowKodo" key="lowKodo-space-northAmerica"></span></dd>
                  <dd class="displayNone"><span>外网流出流量/月</span><span class="pull-right" id="text-oss-northAmerica-lowKodo" key="lowKodo-oss-northAmerica"></span></dd>
                  <dd class="displayNone"><span>API请求数 (GET/PUT) /月</span><span class="pull-right" id="text-API-northAmerica-lowKodo" key="lowKodo-API-northAmerica"></span></dd>
                  <dd class="displayNone"><span>存储类型转换/月</span><span class="pull-right" id="text-type-northAmerica-lowKodo" key="lowKodo-type-northAmerica"></span></dd>
                  <dd class="displayNone"><span>数据读取/月</span><span class="pull-right" id="text-HTTP-northAmerica-lowKodo" key="lowKodo-HTTP-northAmerica"></span></dd>
                  <dd class="displayNone"><span>CDN 回源流出流量/月</span><span class="pull-right" id="text-cdnBS-northAmerica-lowKodo" key="lowKodo-cdnBS-northAmerica"></span></dd>
                </dl>
              </dd>
              <dd id="pricing-info-fusion">
                <ul class="pricing-info-details">
                  <li>融合CDN</li>
                  <li class="price">￥<span id="fusion-price">0</span></li>
                </ul>
                <dl class="inland">
                  <dt class="bg-init dt-sm">大陆地区</dt>
                  <dd class="displayNone"><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-inland" key="fusion-HTTP-inland"></span></dd>
                  <dd class="displayNone"><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-inland" key="fusion-HTTPS-inland"></span></dd>
                </dl>
                <dl class="ENA displayNone">
                  <dt class="bg-init dt-sm">欧洲/北美洲</dt>
                  <dd class="displayNone"><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-ENA" key="fusion-HTTP-ENA"></span></dd>
                  <dd class="displayNone"><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-ENA" key="fusion-HTTPS-ENA"></span></dd>
                </dl>
                <dl class="Asia displayNone">
                  <dt class="bg-init dt-sm">亚洲（其他地区）</dt>
                  <dd class="displayNone"><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-Asia" key="fusion-HTTP-Asia"></span></dd>
                  <dd class="displayNone"><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-Asia" key="fusion-HTTPS-Asia"></span></dd>
                </dl>
                <dl class="India displayNone">
                  <dt class="bg-init dt-sm">亚洲（港澳台/东南亚/印度）</dt>
                  <dd class="displayNone"><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-India" key="fusion-HTTP-India"></span></dd>
                  <dd class="displayNone"><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-India" key="fusion-HTTPS-India"></span></dd>
                </dl>
                <dl class="SA displayNone">
                  <dt class="bg-init dt-sm">南美洲</dt>
                  <dd class="displayNone"><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-SA" key="fusion-HTTP-SA"></span></dd>
                  <dd class="displayNone"><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-SA" key="fusion-HTTPS-SA"></span></dd>
                </dl>
                <dl class="Oceania displayNone">
                  <dt class="bg-init dt-sm">大洋洲与其他</dt>
                  <dd class="displayNone"><span>HTTP 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTP-Oceania" key="fusion-HTTP-Oceania"></span></dd>
                  <dd class="displayNone"><span>HTTPS 下载流量 /月</span><span class="pull-right" id="text-fusion-HTTPS-Oceania" key="fusion-HTTPS-Oceania"></span></dd>
                </dl>
              </dd>
              <dd class="sum">
                <p class="sum"><span>合计： ￥</span><span id="sum-price">0</span><span> / 月</span></p>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
</div>