<div class="jumbotron hero hero-caculator">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-12">
          <h2>云主机价格计算器</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-price-nav" id="feature-price-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified nav-prices-links">
        <li><%= link_to "产品价格", prices_path, class: "tab-links" -%></li>
        <li><%= link_to "价格计算器", calculator_path, class: "tab-links" -%></li>
        <li class="active"><%= link_to "云主机价格计算器", calculator_qvm_path, class: "tab-links" -%></li>
      </ul>
    </div>
  </div>
</div>

<iframe src="https://calc.qvm-dev.online?mode=user" class="caculator-qvm-container"></iframe>