<div class="jumbotron hero hero-caculator">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-12">
          <h2>价格计算器</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-price-nav" id="feature-price-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified nav-prices-links">
        <li><%= link_to "产品价格", prices_path, class: "tab-links" -%></li>
        <li class="active"><%= link_to "价格计算器", caculator_path, class: "tab-links" -%></li>
      </ul>
    </div>
  </div>
</div>

<div class="features light-bkcolor">
    <div class="container">
      <div class="row row-clear">
        <div class="pricing-caculator">
          <div class="tab-content pricing-details">
            <section class="caculator-sec">
              <dl>
                <dt class="checkbox"><input type="checkbox" class="caculatorTabs" value="kodo" name="kodo" checked><label for="kodo">标准存储</label></dt>
                <div class="active" id="tab-caculator-kodo">
                  <dd>
                    <ul class="list-inline">
                      <li><span>存储区域</span></li>
                      <li>
                        <ul class="kodo-checkbox area-select" id="kodo-checkbox">
                          <li><input type="checkbox" value="east" checked class="spacecheck" key="kodo" id="east-kodo-checkbox"><label for="east-kodo-checkbox">华东</label></li>
                          <li><input type="checkbox" value="sourth" class="spacecheck" key="kodo" id="sourth-kodo-checkbox"><label for="sourth-kodo-checkbox">华南</label></li>
                          <li><input type="checkbox" value="north" class="spacecheck" key="kodo" id="north-kodo-checkbox"><label for="north-kodo-checkbox">华北</label></li>
                          <li><input type="checkbox" value="northAmerica" class="spacecheck" key="kodo" id="na-kodo-checkbox"><label for="na-kodo-checkbox">北美</label></li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dl id="data-east" class="east input-data" key="east">
                    <dt class="dt-lighter">华东</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-4 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-east">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-east">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">PUT/DELET 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-east">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-sourth" class="sourth displayNone input-data" key="sourth">
                    <dt class="dt-lighter">华南</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-4 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-sourth">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-sourth">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">PUT/DELET 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-sourth">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-north" class="north displayNone input-data" key="north">
                    <dt class="dt-lighter">华北</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-4 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-north">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-north">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">PUT/DELET 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-north">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-northAmerica" class="northAmerica displayNone input-data" key="northAmerica">
                    <dt class="dt-lighter">北美</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-4 m-b">
                          <label for="">存储空间/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-space" key="kodo-space-northAmerica">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">GET 读请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-read" key="kodo-read-northAmerica">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 m-b">
                          <label for="">PUT/DELET 写请求数/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-kodo-write" key="kodo-write-northAmerica">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">万次</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>

                </div>
              </dl>
            </section>

            <section class="caculator-sec">
              <dl>
                <dt class="checkbox"><input type="checkbox" class="caculatorTabs" value="lowKodo" checked><label>低频存储</label></dt>
                <div class="active" id="tab-caculator-lowKodo">
                  <dd>
                    <div class="row m-t-sm">
                      <div class="col-lg-3 col-sm-6 m-b">
                        <label for="">存储空间/月</label>
                        <div class="input-group">
                          <input type="number" class="form-control input-num" min="0" id="num-lowKodo-space" key="lowKodo-space">
                          <div class="input-group-btn unit-select" val="GB">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li val="GB"><a>GB</a></li>
                              <li val="TB"><a>TB</a></li>
                              <li val="PB"><a>PB</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 m-b">
                        <label for="">API请求数 (GET/PUT) /月</label>
                        <div class="input-group">
                          <input type="number" class="form-control input-num" min="0" id="num-lowKodo-API" key="lowKodo-API">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default">万次</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 m-b">
                        <label for="">存储类型转换/月</label>
                        <div class="input-group">
                          <input type="number" class="form-control input-num" min="0" id="num-lowKodo-type" key="lowKodo-type">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default">万次</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 m-b">
                        <label for="">读取流量(HTTP) /月</label>
                        <div class="input-group">
                          <input type="number" class="form-control input-num" min="0" id="num-lowKodo-HTTP" key="lowKodo-HTTP">
                          <div class="input-group-btn unit-select" val="GB">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li val="GB"><a>GB</a></li>
                              <li val="TB"><a>TB</a></li>
                              <li val="PB"><a>PB</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%#<ul class="list-inline setli-3width input-data" key="">
                      <li>
                        <h5>存储空间/月</h5>
                        <input type="number" class="input-num amount-input" min="0" id="num-lowKodo-space" key="lowKodo-space">
                        <select name="lowKodo-space-measure" id="lowKodo-space-measure">
                          <option value="GB">GB</option>
                          <option value="TB">TB</option>
                          <option value="PB">PB</option>
                        </select>
                      </li>
                      <li>
                        <h5>API请求数 (GET/PUT) /月</h5>
                        <input type="number" class="input-num amount-input" min="0" id="num-lowKodo-API" key="lowKodo-API">
                        <span>万次</span>
                      </li>
                      <li>
                        <h5>存储类型转换/月</h5>
                        <input type="number" class="input-num amount-input" min="0" id="num-lowKodo-type" key="lowKodo-type">
                        <span>万次</span>
                      </li>
                      <li>
                        <h5>读取流量(HTTP) /月</h5>
                        <input type="number" class="input-num amount-input" min="0" id="num-lowKodo-HTTP" key="lowKodo-HTTP">
                        <select name="lowKodo-HTTP-measure" id="lowKodo-HTTP-measure">
                          <option value="GB">GB</option>
                          <option value="TB">TB</option>
                          <option value="PB">PB</option>
                        </select>
                      </li>
                    </ul>%>
                  </dd>
                </div>
              </dl>
            </section>

            <section class="caculator-sec-last">
              <dl>
                <dt class="checkbox"><input type="checkbox" class="caculatorTabs" value="fusion" checked><label>融合 CDN</label></dt>
                <div class="active" id="tab-caculator-fusion">
                  <dd id="fusion-area-select">
                    <ul class="list-inline">
                      <li><span>区域</span></li>
                      <li>
                        <ul class="fusion-checkbox area-select" id="fusion-checkbox">
                          <li><input type="checkbox" value="inland" class="spacecheck" key="fusion" checked><label>大陆地区</label></li>
                          <li><input type="checkbox" value="outland" class="spacecheck" key="fusion"><label>港澳台</label></li>
                          <li><input type="checkbox" value="ENA" class="spacecheck" key="fusion"><label>欧洲/北美洲</label></li>
                          <li><input type="checkbox" value="India" class="spacecheck" key="fusion"><label>亚洲（东南亚/印度）</label></li>
                          <li><input type="checkbox" value="Asia" class="spacecheck" key="fusion"><label>亚洲（其他地区）</label></li>
                          <li><input type="checkbox" value="SA" class="spacecheck" key="fusion"><label>南美洲</label></li>
                          <li><input type="checkbox" value="Oceania" class="spacecheck" key="fusion"><label>大洋洲与其他</label></li>
                        </ul>
                      </li>
                    </ul>
                  </dd>
                  <dl id="data-inland" class="inland input-data" key="inland">
                    <dt class="dt-lighter">大陆地区</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-inland">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-inland">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-outland" class="outland displayNone input-data" key="outland">
                    <dt class="dt-lighter">港澳台</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-outland">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-outland">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-ENA" class="ENA displayNone input-data" key="ENA">
                    <dt class="dt-lighter">欧洲/北美洲</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-ENA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-ENA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-Asia" class="Asia displayNone input-data" key="Asia">
                    <dt class="dt-lighter">亚洲（其他地区）</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-Asia">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-Asia">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-India" class="India displayNone input-data" key="India">
                    <dt class="dt-lighter">亚洲（东南亚/印度）</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-India">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-India">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-SA" class="SA displayNone input-data" key="SA">
                    <dt class="dt-lighter">南美洲</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-SA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-SA">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl id="data-Oceania" class="Oceania displayNone input-data" key="Oceania">
                    <dt class="dt-lighter">大洋洲与其他</dt>
                    <dd>
                      <div class="row m-t-sm">
                        <div class="col-sm-6 m-b">
                          <label for="">HTTP 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTP" key="fusion-HTTP-Oceania">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 m-b">
                          <label for="">HTTPS 下载流量/月</label>
                          <div class="input-group">
                            <input type="number" class="form-control input-num" min="0" id="num-fusion-HTTPS" key="fusion-HTTPS-Oceania">
                            <div class="input-group-btn unit-select" val="GB">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="unit-txt">GB</span> <span class="caret"></span></button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li val="GB"><a>GB</a></li>
                                <li val="TB"><a>TB</a></li>
                                <li val="PB"><a>PB</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                </div>
              </dl>
            </section>
          </div>
        </div>
        <div class="pricing-info-wrapper">
          <div class="pricing-info">
            <dl>
              <dt>价格预算清单</dt>
              <dd id="pricing-info-kodo">
                <ul class="pricing-info-details">
                  <li>标准存储</li>
                  <li class="price">￥<span id="kodo-price">0</span></li>
                </ul>
                <dl class="east">
                  <dt class="bg-init dt-sm">华东</dt>
                  <dd><span>存储空间/月</span><span class="float-right" id="text-kodo-space-east" key="kodo-space-east"></span></dd>
                  <dd><span>GET 读请求数/月</span><span class="float-right" id="text-kodo-read-east" key="kodo-read-east"></span></dd>
                  <dd><span>PUT/DELET 写请求数/月</span><span class="float-right" id="text-kodo-write-east" key="kodo-write-east"></span></dd>
                </dl>
                <dl class="sourth displayNone">
                  <dt class="bg-init dt-sm">华南</dt>
                  <dd><span>存储空间/月</span><span class="float-right" id="text-kodo-space-sourth" key="kodo-space-sourth"></span></dd>
                  <dd><span>GET 读请求数/月</span><span class="float-right" id="text-kodo-read-sourth" key="kodo-read-sourth"></span></dd>
                  <dd><span>PUT/DELET 写请求数/月</span><span class="float-right" id="text-kodo-write-sourth" key="kodo-write-sourth"></span></dd>
                </dl>
                <dl class="north displayNone">
                  <dt class="bg-init dt-sm">华北</dt>
                  <dd><span>存储空间/月</span><span class="float-right" id="text-kodo-space-north" key="kodo-space-north"></span></dd>
                  <dd><span>GET 读请求数/月</span><span class="float-right" id="text-kodo-read-north" key="kodo-read-north"></span></dd>
                  <dd><span>PUT/DELET 写请求数/月</span><span class="float-right" id="text-kodo-write-north" key="kodo-write-north"></span></dd>
                </dl>
                <dl class="northAmerica displayNone">
                  <dt class="bg-init dt-sm">北美</dt>
                  <dd><span>存储空间/月</span><span class="float-right" id="text-kodo-space-northAmerica" key="kodo-space-northAmerica"></span></dd>
                  <dd><span>GET 读请求数/月</span><span class="float-right" id="text-kodo-read-northAmerica" key="kodo-read-northAmerica"></span></dd>
                  <dd><span>PUT/DELET 写请求数/月</span><span class="float-right" id="text-kodo-write-northAmerica" key="kodo-write-northAmerica"></span></dd>
                </dl>
              </dd>
              <dd id="pricing-info-lowKodo">
                <ul class="pricing-info-details">
                  <li>低频存储</li>
                  <li class="price">￥<span id="lowKodo-price">0</span></li>
                </ul>
                <dl>
                  <dd><span>存储空间/月</span><span class="float-right" id="text-lowKodo-space" key="lowKodo-space"></span></dd>
                  <dd><span>API请求数 (GET/PUT) /月</span><span class="float-right" id="text-lowKodo-API" key="lowKodo-API"></span></dd>
                  <dd><span>存储类型转换/月</span><span class="float-right" id="text-lowKodo-type" key="lowKodo-type"></span></dd>
                  <dd><span>读取流量(HTTP) /月</span><span class="float-right" id="text-lowKodo-HTTP" key="lowKodo-HTTP"></span></dd>
                </dl>
              </dd>
              <dd id="pricing-info-fusion">
                <ul class="pricing-info-details">
                  <li>融合CDN</li>
                  <li class="price">￥<span id="fusion-price">0</span></li>
                </ul>
                <dl class="inland">
                  <dt class="bg-init dt-sm">大陆地区</dt>
                  <dd><span>HTTP 下载流量 /月</span><span class="float-right" id="text-fusion-HTTP-inland" key="fusion-HTTP-inland"></span></dd>
                  <dd><span>HTTPS 下载流量 /月</span><span class="float-right" id="text-fusion-HTTPS-inland" key="fusion-HTTPS-inland"></span></dd>
                </dl>
                <dl class="outland displayNone">
                  <dt class="bg-init dt-sm">港澳台</dt>
                  <dd><span>HTTP 下载流量 /月</span><span class="float-right" id="text-fusion-HTTP-outland" key="fusion-HTTP-outland"></span></dd>
                  <dd><span>HTTPS 下载流量 /月</span><span class="float-right" id="text-fusion-HTTPS-outland" key="fusion-HTTPS-outland"></span></dd>
                </dl>
                <dl class="ENA displayNone">
                  <dt class="bg-init dt-sm">欧洲/北美洲</dt>
                  <dd><span>HTTP 下载流量 /月</span><span class="float-right" id="text-fusion-HTTP-ENA" key="fusion-HTTP-ENA"></span></dd>
                  <dd><span>HTTPS 下载流量 /月</span><span class="float-right" id="text-fusion-HTTPS-ENA" key="fusion-HTTPS-ENA"></span></dd>
                </dl>
                <dl class="Asia displayNone">
                  <dt class="bg-init dt-sm">亚洲（其他地区）</dt>
                  <dd><span>HTTP 下载流量 /月</span><span class="float-right" id="text-fusion-HTTP-Asia" key="fusion-HTTP-Asia"></span></dd>
                  <dd><span>HTTPS 下载流量 /月</span><span class="float-right" id="text-fusion-HTTPS-Asia" key="fusion-HTTPS-Asia"></span></dd>
                </dl>
                <dl class="India displayNone">
                  <dt class="bg-init dt-sm">亚洲（东南亚/印度）</dt>
                  <dd><span>HTTP 下载流量 /月</span><span class="float-right" id="text-fusion-HTTP-India" key="fusion-HTTP-India"></span></dd>
                  <dd><span>HTTPS 下载流量 /月</span><span class="float-right" id="text-fusion-HTTPS-India" key="fusion-HTTPS-India"></span></dd>
                </dl>
                <dl class="SA displayNone">
                  <dt class="bg-init dt-sm">南美洲</dt>
                  <dd><span>HTTP 下载流量 /月</span><span class="float-right" id="text-fusion-HTTP-SA" key="fusion-HTTP-SA"></span></dd>
                  <dd><span>HTTPS 下载流量 /月</span><span class="float-right" id="text-fusion-HTTPS-SA" key="fusion-HTTPS-SA"></span></dd>
                </dl>
                <dl class="Oceania displayNone">
                  <dt class="bg-init dt-sm">大洋洲与其他</dt>
                  <dd><span>HTTP 下载流量 /月</span><span class="float-right" id="text-fusion-HTTP-Oceania" key="fusion-HTTP-Oceania"></span></dd>
                  <dd><span>HTTPS 下载流量 /月</span><span class="float-right" id="text-fusion-HTTPS-Oceania" key="fusion-HTTPS-Oceania"></span></dd>
                </dl>
              </dd>
              <dd class="sum">
                <p class="sum"><span>合计： ￥</span><span id="sum-price">0</span><span> / 月</span></p>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
</div>