<div class="jumbotron hero hero-prices">
  <div class="container">
    <div class="middle-container">
      <div class="row">
        <div class="col-xs-8">
          <h2>产品价格</h2>
          <p>按照实际使用量付费，多种计费方案，最大程度帮您节省 IT 支出成本</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-price-nav" id="feature-price-nav">
  <div class="container">
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified nav-prices-links">
        <li class="active"><%= link_to "产品价格", prices_path, class: "tab-links" -%></li>
        <li><%= link_to "价格计算器", caculator_path, class: "tab-links" -%></li>
      </ul>
    </div>
  </div>
</div>

<div class="feature-price">
  <div class="features light-bkcolor">
    <div class="container">
      <div class="tabs" id="nav-product">
        <ul class="nav nav-tabs nav-justified nav-prices-tabs" role="tablist">
          <li class="tab-prices-kodo"><a href="#tab-prices-kodo" data-toggle="tab" key="kodo">对象存储</a></li>
          <li class="tab-prices-fusion"><a href="#tab-prices-fusion" data-toggle="tab" key="fusion">融合 CDN</a></li>
          <li class="tab-prices-dora"><a href="#tab-prices-dora" data-toggle="tab" key="dora">智能多媒体 API</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <section class="tab-pane" id="tab-prices-kodo">
          <div class="tab-content-caculating">
            <div class="intro">
              <h2 class="title-left">计费方式</h2>
            </div>

            <div class="row details">
              <dl>
                <dt class="icon-title icon-kodo">标准存储</dt>
              </dl>

              <dl>
                <dd>存储空间费用基于存储区域按照阶梯累积计费方式，超出阶梯部分按照下一阶梯价格计费， 存储空间使用越大，价格越低。</dd>
                <dd>存储空间费用将按照每月平均存储量来进行计费，每月平均存储量计算公式如下</dd>
                <dd class="formula">每月平均存储量 ＝ 当月每天存储量峰值之和 ÷ 当月天数</dd>
              </dl>

              <dl>
                <dd>开通七牛云对象存储服务的标准用户，每月可享受一定量的标准存储免费存储空间、标准存储免费请求数目。</dd>
                <dd>每月计费时，会先抵扣免费额度，超出部分再按照价格详情付费结算。</dd>
              </dl>

              <div class="row list-inline-prices">
                <div class="col-xs-6 col-md-3 special-price">
                  <div class="div-init">
                    <h5>标准存储免费空间</h5>
                    <p><span class="big-text">0-10 </span><span class="smal-text"> GB</span></p>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 special-price">
                  <div>
                    <h5>每月免费上传流量</h5>
                    <p><span class="big-text">无上限</span></p>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 special-price">
                  <div>
                    <h5>标准存储每月写请求 Put / Delete</h5>
                    <p><span class="big-text">0-10 </span><span class="smal-text"> 万次</span></p>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 special-price">
                  <div class="border-init">
                    <h5>标准存储每月读请求 Get</h5>
                    <p><span class="big-text">0-100 </span><span class="smal-text"> 万次</span></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row details">
              <dl>
                <dt class="icon-title icon-dipin">低频存储</dt>
              </dl>
              <h5>低频存储对象 Object 最短存储期限为 60 天，早于 60 天删除的 Object，其存储费用按 60 天计算 <a href="https://developer.qiniu.com/kodo/manual/3737/infrequent-storage" class="more" target="_blank">更多说明</a></h5>
            </div>
          </div>

          <div class="tab-content-pricing">
            <div class="intro">
              <h2 class="title-left">价格详情</h2>
            </div>
            <div class="table-responsive pricing-white-bg">
              <table width="100%" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                <tbody>
                  <tr>
                    <th width="34%">名目</th><th width="33%" colspan="2" class="th-init border-bottom">标准存储</th><th width="33%" colspan="2" class="th-init border-bottom border-left">低频存储</th>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（华东）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 1 TB</td>
                    <td>0.148  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 1 TB 至 200 TB</td>
                    <td>0.145  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 200 TB 至 5 PB</td>
                    <td>0.142  元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.139  元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（华南）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 1 TB</td>
                    <td>0.134  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 1 TB 至 200 TB</td>
                    <td>0.131  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 200 TB 至 5 PB</td>
                    <td>0.128  元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.125  元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（华北）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 1 TB</td>
                    <td>0.148  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 1 TB 至 200 TB</td>
                    <td>0.145  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 200 TB 至 5 PB</td>
                    <td>0.142  元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.139  元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（新加坡）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 50 TB</td>
                    <td>0.165  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 50 TB 至 500 TB</td>
                    <td>0.162  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 500 TB 至 5 PB</td>
                    <td>0.159  元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.156  元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="5" class="border-right">存储空间（北美）</th>
                    <td>第 0 GB 至 10 GB</td>
                    <td>免费</td>
                    <td rowspan="5" colspan="2" class="border-bottom border-left">0.06  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 10 GB 至 50 TB</td>
                    <td>0.165  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 50 TB 至 500 TB</td>
                    <td>0.162  元/GB/月</td>
                  </tr>
                  <tr>
                    <td>第 500 TB 至 5 PB</td>
                    <td>0.159  元/GB/月</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 5 PB 以上</td>
                    <td class="border-bottom">0.156  元/GB/月</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">PUT / DELETE 请求</th>
                    <td>第 0 次至 10 万次</td>
                    <td>免费</td>
                    <td rowspan="2" colspan="2" class="border-bottom border-left">0.1 元/万次</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 10 万次以上</td>
                    <td class="border-bottom">0.01 元/万次</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">GET 请求</th>
                    <td>第 0 次至 100 万次</td>
                    <td>免费</td>
                    <td rowspan="2" colspan="2" class="border-bottom border-left">0.1 元/万次</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">第 100 万次以上</td>
                    <td class="border-bottom">0.01 元/万次</td>
                  </tr>
                  <tr>
                    <th class="border-right">存储类型转换</th>
                    <td colspan="2" class="border-bottom">0.1 元/万次</td>
                    <td colspan="2" class="border-bottom border-left">0.1 元/万次</td>
                  </tr>
                  <tr>
                    <th class="border-right">上传流量</th>
                    <td colspan="2" class="border-bottom">免费</td>
                    <td colspan="2" class="border-bottom border-left">免费</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">外网流出流量</th>
                    <td>0GB - 100 TB</td>
                    <td>0.29  元/GB</td>
                    <td class="border-left">0GB - 100 TB</td>
                    <td>0.29  元/GB</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">100TB - 以上</td>
                    <td class="border-bottom">0.26 元/GB</td>
                    <td class="border-bottom border-left">100TB - 以上</td>
                    <td class="border-bottom">0.26 元/GB</td>
                  </tr>
                  <tr>
                    <th class="border-right">融合 CDN 回源流量</th>
                    <td colspan="2" class="border-bottom">免费</td>
                    <td colspan="2" class="border-bottom border-left">免费</td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="border-right">跨区域同步流量</th>
                    <td>国内 <-> 国内</td>
                    <td>0.29 元/GB</td>
                    <td class="border-left">国内 <-> 国内</td>
                    <td>0.29 元/GB</td>
                  </tr>
                  <tr>
                    <td class="border-bottom">国内 <-> 海外</td>
                    <td class="border-bottom">0.58 元/GB</td>
                    <td class="border-bottom border-left">国内 <-> 海外</td>
                    <td class="border-bottom">0.58 元/GB</td>
                  </tr>
                  <tr>
                    <th class="th-init border-right">数据读取</th>
                    <td colspan="2">免费</td>
                    <td colspan="2" class="border-left">0.06  元/GB</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="tab-pane" id="tab-prices-fusion">
          <div class="tab-content-caculating">
            <div class="intro">
              <h2 class="title-left">计费方式</h2>
            </div>
            <dl class="dl-border">
              <dt class="icon-title icon-fusion">融合 CDN</dt>
              <dd>七牛云CDN加速按国内流量和海外流量阶梯价格计费，当月分别超额累进（以自然月为一个累计周期）。开通七牛云融合CDN的用户可分别享有国内和海外0-10GB HTTP下载流量。</dd>
            </dl>
          </div>

          <div class="tab-content-pricing">
            <div class="intro">
              <h2 class="title-left">价格详情</h2>
            </div>
            <div class="hash" id="inland" name="inland">
              <div class="table-responsive pricing-white-bg">
                <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                  <tbody>
                    <tr class="light-bkcolor">
                      <th width="160" class="thead-title th-init border-bottom">中国大陆</th>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                    </tr>
                    <tr>
                      <th width="180" class="border-right">名目</th><th class="th-init">流量阶梯/每月</th><th class="th-init">价格</th>
                    </tr>
                    <tr>
                      <th rowspan="4" class="border-right">HTTP 下载流量</th>
                      <td class="light-bkcolor">第 0 GB 至 10 GB</td>
                      <td class="light-bkcolor">免费</td>
                    </tr>
                    <tr>
                      <td>第 10 GB 至 100 TB</td>
                      <td>0.24 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 100 TB 至 1 PB</td>
                      <td>0.19 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 1PB 以上</td>
                      <td>0.14 元/GB</td>
                    </tr>
                    <tr>
                      <th rowspan="3" class="th-init border-right">HTTPS 下载流量</th>
                      <td class="light-bkcolor">第 0 GB 至 100 TB</td>
                      <td class="light-bkcolor">0.28 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 100 TB 至 1 PB</td>
                      <td>0.23 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 1 PB 以上</td>
                      <td>0.18 元/GB</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="hash" id="outland" name="outland">
              <div class="table-responsive pricing-white-bg">
                <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                  <tbody>
                    <tr class="light-bkcolor">
                      <th width="180" class="thead-title th-init border-bottom">其他地区</th>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                      <td class="border-bottom"></td>
                    </tr>
                    <tr>
                      <th width="180" class="border-right">名目</th>
                      <th width="180" class="th-init">流量阶梯<span class="grey-unit">/每月</span></th>
                      <th class="th-init">亚洲<p class="grey-unit th-p"> （港澳台/东南亚/印度）</p></th>
                      <th class="th-init">亚洲<p class="grey-unit th-p">（其他地区）</p></th>
                      <th class="th-init">欧洲/北美洲</th>
                      <th class="th-init">南美洲</th>
                      <th class="th-init">大洋洲与其他</th>
                    </tr>
                    <tr>
                      <th rowspan="5" class="border-right">HTTP 下载流量</th>
                      <td class="light-bkcolor">第 0 GB 至 10 GB</td>
                      <td class="light-bkcolor" colspan="5" style="text-align:center">免费</td>
                    </tr>
                    <tr>
                      <td>第 10 GB 至 10 TB</td>
                      <td>0.76 元/GB</td>
                      <td>0.50 元/GB</td>
                      <td>0.34 元/GB</td>
                      <td>0.76 元/GB</td>
                      <td>0.94 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 10 TB 至 50 TB</td>
                      <td>0.66 元/GB</td>
                      <td>0.44 元/GB</td>
                      <td>0.30 元/GB</td>
                      <td>0.66 元/GB</td>
                      <td>0.82 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 50 TB 至 100 TB</td>
                      <td>0.57 元/GB</td>
                      <td>0.38 元/GB</td>
                      <td>0.26 元/GB</td>
                      <td>0.57 元/GB</td>
                      <td>0.71 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 100 TB 以上</td>
                      <td colspan="5" style="text-align:center">请联系我们</td>
                    </tr>
                    <tr>
                      <th rowspan="5" class="th-init border-bottom border-right">HTTPS 下载流量</th>
                      <td>第 0 GB 至 10 TB</td>
                      <td>0.91 元/GB</td>
                      <td>0.60 元/GB</td>
                      <td>0.40 元/GB</td>
                      <td>0.91 元/GB</td>
                      <td>1.12 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 10 TB 至 50 TB</td>
                      <td>0.79 元/GB</td>
                      <td>0.52 元/GB</td>
                      <td>0.36 元/GB</td>
                      <td>0.79 元/GB</td>
                      <td>0.98 元/GB</td>
                    </tr>
                    <tr>
                      <td>第 50 TB 至 100 TB</td>
                      <td>0.68 元/GB</td>
                      <td>0.45 元/GB</td>
                      <td>0.31 元/GB</td>
                      <td>0.68 元/GB</td>
                      <td>0.85 元/GB</td>
                    </tr>
                    <tr class="light-bkcolor">
                      <td>第 100 TB 以上</td>
                      <td colspan="5" style="text-align:center">请联系我们</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>

        <section class="tab-pane" id="tab-prices-dora">
          <div class="tab-content-caculating">
            <div class="intro">
              <h2 class="title-left">计费方式</h2>
            </div>
            <dl class="dl-border">
              <dt class="icon-title icon-dora">智能多媒体API</dt>
              <dd>智能多媒体API是一款后付费产品，每月3～5 日生成上个月的帐单并进行结算。除音视频码按分钟收费，部分数据处理按调用次数收费，其他的官方数据处理服务免费。用户自定义数据处理服务按资源配置收费，选择 C1M1 的标准用户和 高级用户，每月有 750 小时的免费额度。</dd>
            </dl>

            <div class="tab-content-pricing">
              <div class="intro">
                <h2 class="title-left">价格详情</h2>
              </div>
              <div class="hash" id="duomeitichuli" name="duomeitichuliyinshipin">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">多媒体处理 - 音视频转码</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th class="border-right">名目</th><th colspan="3" class="text-center th-init">价格</th>
                      </tr>
                      <tr>
                        <th class="border-right">音频转码</th>
                        <td colspan="3" class="light-bkcolor text-center">0.0048 元/分钟</td>
                      </tr>
                      <tr>
                        <th rowspan="7" class="border-right">视频转码（H.264）</th>
                        <td>输出规格</td>
                        <td>普通帧率</td>
                        <td>高帧率</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 sd240（ 320x240）</td>
                        <td>0.0057 元/分钟</td>
                        <td>0.0114 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 sd480（640x480） </td>
                        <td>0.0072 元/分钟</td>
                        <td>0.0114 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 sd（1080x720） </td>
                        <td>0.0189 元/分钟</td>
                        <td>0.0378 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 hd（1920x1080）</td>
                        <td>0.0324 元/分钟</td>
                        <td>0.0648 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 2K（2560x1440）</td>
                        <td>0.06 元/分钟</td>
                        <td>0.12 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 4K（3840x2160）</td>
                        <td>0.12 元/分钟</td>
                        <td>0.24 元/分钟</td>
                      </tr>
                      <tr>
                        <th rowspan="7" class="th-init border-right">视频转码（H.265）</th>
                        <td class="light-bkcolor">视频转码 sd240（ 320x240）</td>
                        <td class="light-bkcolor">0.0285 元/分钟</td>
                        <td class="light-bkcolor">0.057 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 sd480（640x480） </td>
                        <td>0.036 元/分钟</td>
                        <td>0.072 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 sd（1080x720） </td>
                        <td>0.0945 元/分钟</td>
                        <td>0.189 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 hd（1920x1080）</td>
                        <td>0.162 元/分钟</td>
                        <td>0.324 元/分钟</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>视频转码 2K（2560x1440）</td>
                        <td>0.3 元/分钟</td>
                        <td>0.6 元/分钟</td>
                      </tr>
                      <tr>
                        <td>视频转码 4K（3840x2160）</td>
                        <td>0.6 元/分钟</td>
                        <td>1.2 元/分钟</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="duomeitichuliothers" name="duomeitichuliothers">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="500" class="thead-title th-init border-bottom">多媒体处理 - 其他请求</th>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th class="th-init">名目</th><th class="th-init">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>imageslim（图片瘦身）</td>
                        <td>0.1 元/千次</td>
                      </tr>
                      <tr>
                        <td>avconcat（音视频拼接）</td>
                        <td>0.1 元/千次</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>avinfo（音视频元信息）</td>
                        <td>0.1 元/千次</td>
                      </tr>
                      <tr>
                        <td>imageAve（图片主色调）</td>
                        <td>0.1 元/千次</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>vframe, vsample（视频截图）</td>
                        <td>0.1 元/千次</td>
                      </tr>
                      <tr>
                        <td>qhash（文件 HASH 值）</td>
                        <td>0.05 元/GB</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="tupianjianhuang" name="tupianjianhuang">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">图片鉴黄</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">范围</th><th colspan="2" class="th-init">价格</th>
                      </tr>
                      <tr>
                        <td class="light-bkcolor">-</td>
                        <td class="light-bkcolor"><span style="font-weight:500">确定部分价格</span></td>
                        <td class="light-bkcolor"><span style="font-weight:500">不确定部分价格</span></td>
                      </tr>
                      <tr>
                        <td>第 0 张 至 300 万张</td>
                        <td>0.17 元/百张</td>
                        <td>0.035 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 300 万张 至 1500 万张</td>
                        <td>0.15 元/百张</td>
                        <td>0.032 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 1500 万张 至 3000 万张</td>
                        <td>0.13 元/百张</td>
                        <td>0.028 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>3000 万张以上</td>
                        <td>0.11 元/百张</td>
                        <td>0.025 元/百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="tupianjiankong" name="tupianjiankong">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">图片鉴暴恐</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">范围</th><th colspan="2" class="th-init">价格</th>
                      </tr>
                      <tr>
                        <td class="light-bkcolor">-</td>
                        <td class="light-bkcolor"><span style="font-weight:500">确定部分价格</span></td>
                        <td class="light-bkcolor"><span style="font-weight:500">不确定部分价格</span></td>
                      </tr>
                      <tr>
                        <td>第 0 张 至 300 万张</td>
                        <td>0.17 元/百张</td>
                        <td>0.035 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 300 万张 至 1500 万张</td>
                        <td>0.15 元/百张</td>
                        <td>0.032 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 1500 万张 至 3000 万张</td>
                        <td>0.13 元/百张</td>
                        <td>0.028 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>3000 万张以上</td>
                        <td>0.11 元/百张</td>
                        <td>0.025 元/百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="zhengzhirenwushibie" name="zhengzhirenwushibie">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" cellpadding="0" cellspacing="0" class="pricing-table table border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="340" class="thead-title th-init border-bottom">政治人物识别</th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="340" class="th-init">范围</th><th colspan="2" class="th-init">价格</th>
                      </tr>
                      <tr>
                        <td class="light-bkcolor">-</td>
                        <td class="light-bkcolor"><span style="font-weight:500">确定部分价格</span></td>
                        <td class="light-bkcolor"><span style="font-weight:500">不确定部分价格</span></td>
                      </tr>
                      <tr>
                        <td>第 0 张 至 300 万张</td>
                        <td>0.17 元/百张</td>
                        <td>0.035 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>第 300 万张 至 1500 万张</td>
                        <td>0.15 元/百张</td>
                        <td>0.032 元/百张</td>
                      </tr>
                      <tr>
                        <td>第 1500 万张 至 3000 万张</td>
                        <td>0.13 元/百张</td>
                        <td>0.028 元/百张</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>3000 万张以上</td>
                        <td>0.11 元/百张</td>
                        <td>0.025 元/百张</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="hash" id="zidingyishujuchuli" name="zidingyishujuchuli">
                <div class="table-responsive pricing-white-bg">
                  <table width="1060" border="0" cellpadding="0" cellspacing="0" class="pricing-table talbe border-none">
                    <tbody>
                      <tr class="light-bkcolor">
                        <th width="180" class="thead-title th-init border-bottom">自定义数据处理<br><span style="font-size:12px;width:450px;line-height:18px">选择 C1M1 的标准用户和高级用户</span><br><span style="font-size:12px;width:450px;line-height:18px">每月有 750 小时的免费额度。</span></th>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                        <td class="border-bottom"></td>
                      </tr>
                      <tr>
                        <th width="180" class="th-init">规格</th><th width="180" class="th-init">内存/CPU/系统盘/GPU/数据盘</th><th colspan="2" class="th-init">价格</th>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>-</td>
                        <td>-</td>
                        <td width="40"><span style="font-weight:500">按需算（每小时）</span></td>
                        <td width="110"><span style="font-weight:500">按月算（30 天）</span></td>
                      </tr>
                      <tr>
                        <td>C1M1</td>
                        <td>1 GB / 1 Core / 20 GB / 0 / 0</td>
                        <td>0.0815 元/小时</td>
                        <td>58.68 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C2M2</td>
                        <td>2 GB / 2 Core / 20 GB / 0 / 0</td>
                        <td>0.1631 元/小时</td>
                        <td>117.432 元/月</td>
                      </tr>
                      <tr>
                        <td>C2M4</td>
                        <td>4 GB / 2 Core / 20 GB / 0 / 0</td>
                        <td>0.1671 元/小时</td>
                        <td>120.312 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C4M4</td>
                        <td>4 GB / 4 Core / 20 GB / 0 / 0</td>
                        <td>0.3081 元/小时</td>
                        <td>221.832 元/月</td>
                      </tr>
                      <tr>
                        <td>C4M8</td>
                        <td>8 GB / 4 Core / 20 GB / 0 / 0</td>
                        <td>0.3161 元/小时</td>
                        <td>227.592 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C8M8</td>
                        <td>8 GB / 8 Core / 20 GB / 0 / 0</td>
                        <td>0.6161 元/小时</td>
                        <td>443.592 元/月</td>
                      </tr>
                      <tr>
                        <td>C8M16</td>
                        <td>16 GB / 8 Core / 20 GB / 0 / 0</td>
                        <td>0.6321 元/小时</td>
                        <td>455.112 元/月</td>
                      </tr>
                      <tr class="light-bkcolor">
                        <td>C16M16</td>
                        <td>16 GB / 16 Core / 20 GB / 0 / 0</td>
                        <td>2.0875 元/小时</td>
                        <td>1503 元/月</td>
                      </tr>
                      <tr>
                        <td>C16M32</td>
                        <td>32 GB / 16 Core / 20 GB / 0 / 0</td>
                        <td>2.1451 元/小时</td>
                        <td>1544.472 元/月</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>