@import '~utils/less/index.less';

.wrapper {
  position: relative;
  margin-left: 24px;
  white-space: nowrap; // 避免 safari 上文本换行

  .pcLg({
    margin-left: 32px;
  });

  .signin {
    margin-right: 24px;
    
    &:hover {
      color: #07BEFF;
    }
  
    .pcLg({
      margin-right: 32px;
    });
  }

  .signup {
    display: inline-block;
    height: 100%;
    padding: 0 16px;
    background: #07BEFF;
    color: @grey-1;
  
    &:hover {
      color: @grey-1;
      background-color:#37CAFF;
    }
  }
}

.haveSignin {
  .ellipsis();

  width: auto;
  margin-right: 24px;
  padding-right: 24px;
  cursor: pointer;
  text-align: right;

  .pcLg({
    margin-right: 32px;
  });
}

.dropdown {
  padding: 12px 0;
  min-width: 180px;
  max-width: 220px;

  p{
    margin-top: 4px;
    font-size: 12px;
    color: @grey-5;
  }

  .divider{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
}

.arrow {
  position: absolute;
  top: 23px;
  right: 0;
}
