@import '~utils/less/index.less';

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: @feedback-form-z-index;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.modal {
  .modalWrapper();

  z-index: @feedback-form-z-index + 1;
  width: 40%;
  min-width: 400px;
  max-width: 800px;
  height: 40%;
  min-height: 400px;
  max-height: 600px;
  margin-bottom: 54px;
}

.closeBtn {
  z-index: @feedback-form-z-index + 1;
}
