@import '~utils/less/index.less';

.wrapper {
  z-index: @feedback-z-index;
}

.modal {
  z-index: @feedback-z-index + 1;
}

.closeBtn {
  position: absolute;
  z-index: @feedback-z-index + 2;
  top: 0;
  right: 0;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  cursor: pointer;

  svg {
    fill: @grey-4;
    transition: .2s;
  }

  &:hover svg {
    fill: @grey-5;
  }

  .mobile({
    width: 52px;
    height: 52px;

    svg {
      width: 15px;
      height: 15px;
      fill: @grey-7;
    }
  });
}

