@import '~utils/less/index.less';

.text {
  color: @grey-6;
  font-size: 14px;
}

.link {
  color: @blue-6;

  &:hover {
    text-decoration: underline;
  }
}

.red {
  margin-top: 24px;
  color: @red-6;
}

.alert {
  margin-bottom: 24px;
  color: @red-6;

  .link {
    margin-left: 12px;
  }
}
