@import '~utils/less/index.less';

.menu {
  width: 230px;
  height: 100%;
  padding-top: 48px;
  background-color: #F8FCFF;
  background-image: url('./image.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 276px;

  .pcLg({
    width: 280px;
  });
}

