@import '~utils/less/index.less';

@size: 64px;

.wrapper {
  width: @size;
  height: @size;
  line-height: @size;
  text-align: center;
  border-radius: @size / 2;
  background-color: @blue-6;
  color: #fff;
  cursor: pointer;
}
