/**
 * @file styles
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~admin-base/common/utils/style/index.less";

.wrapper {
  .doc {
    margin-bottom: @icecream-gap-md;
  }

  .formFooter {
    margin-left: 5em;
  }

  .formError {
    color: @icecream-error-color;
    margin-top: @icecream-gap-md;
  }
}

.previewList {
  max-height: 50vh;
  overflow-y: auto;

  li {
    list-style-type: decimal;
    margin-left: 4ex;
  }
}
