@import "~utils/less/index.less";

.introDesc {
  display: inline-block;
  width: 800px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5em;

  .mobile({
    width: 100%;
    text-align: center;
    font-size: 12px;
  });
}

.introImg {
  .mobile({
    width: 100%;
    height: auto;
  });
}

.featureImg {
  height: 162px;
}

.featureContent {
  .notMobile({
    padding: 24px;
  });
}

.sceneImgWrapper {
  padding: 0 60px 0 100px;
  text-align: center !important;

  .sceneImg {
    width: 180px;
  }
}

.sceneDesc {
  padding: 24px;

  .sceneDescTitle {
    font-size: 16px;
  }

  .sceneDescContent {
    margin-top: 16px;
  }
}


.demo {
  + .demo {
    margin-top: 64px;

    .mobile({
      margin-top: 24px;
    });
  }

  .demoImg {
    width: 100%;
  }

  .demoContent {
    .demoTitle {
      font-size: 20px;
      line-height: 1.4em;

      .mobile({
        font-size: 16px;
      });
    }
    .demoDesc {
      margin-top: 15px;
      font-size: 16px;
      line-height: 1.5em;
      color: @grey-6;

      .mobile({
        font-size: 14px;
      });
    }
    .demoBtn {
      margin-top: 44px;

      .mobile({
        margin-top: 16px;
      });
    }
  }
}

.word {
  @imgWidth: 160px;

  position: relative;
  padding: 16px 24px 16px (16px + @imgWidth + 24px);
  min-height: 172px;

  .mobile({
    padding: 16px;
    min-height: unset;
  });

  .logo {
    position: absolute;
    top: 16px;
    left: 16px;
    width: @imgWidth;

    .mobile({
      position: static;
      width: 100%;
      height: auto;
    });
  }

  .title {
    font-size: 20px;
    line-height: 1.4em;
  }

  .content {
    margin-top: 12px;
    color: @grey-6;
  }
}

.casesWrapper {

  // 客户案例卡片是有阴影的，但是 Swiper 会在容器上设置 overflow: hidden
  // 这里把内容撑开额外的距离，以展示阴影；在最外层的容器上再把这个距离收回来（通过负 margin）
  // 因此这里的 @paddingForShadow 比阴影的扩散范围大即可
  @paddingForShadow: 8px;

  margin: 0 -@paddingForShadow;

  .caseGroupWrapper {
    padding: 0 @paddingForShadow;
  }
}

.tryLink {
  margin-top: 64px;
}
