@import '~utils/less/index.less';
@import '../style.less';

.nav {
  display: inline-block;
  display: flex;
  flex: 0 0 auto;

  .item {
    flex: 0 0 auto;
  }

  .itemText {
    position: relative;
    display: block;
    padding: 0 16px;
    height: @header-height;
    color: @grey-7;
    line-height: @header-height;
    user-select: none;
    white-space: nowrap; // safari 上 28px 放不下两个 14px 的字= =

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 32px;
      height: 4px;
      background: transparent;
      transform: translateX(-50%);
      // 伪类 transition 在 ie10 不工作
      transition: background 0.25s;
    }
  }

  :global {
    a.active,
    a:hover {
      color: @blue-6;

      &:after {
        background: @blue-6;
      }
    }
  }
}

.dropdown {
  min-width: 120px !important;
  max-width: 220px;

  a {
    display: block;
  }
}

.overlay {
  left: 0px !important;
}