@import '~utils/less/index.less';

.desc {
  font-size: 14px;
  color: @grey-6;

  + .desc {
    margin-top: 12px;
  }
}

.link {
  color: @blue-6;

  &:hover {
    text-decoration: underline;
  }
}

.card {
  display: inline-block;
  width: 244px;
  height: 90px;
  padding: 16px;
  background: #FAFAFA;

  .mobile({
    width: 100%;

    + .card {
      margin-top: 16px;
    }
  })
}

.title {
  margin-bottom: 4px;
  font-size: 12px;
}

.num {
  margin-right: 5px;
  font-size: 24px;
}

.card + .card {
  margin-left: 4px;
}

