@import '~utils/less/index.less';

.radios {
  margin-bottom: 72px;
  justify-content: center;

  .mobile({
    margin-bottom: 24px;
  });

  .radio {
    flex: 0 0 150px;
  }
}

.op {
  margin-top: 4px;
  color: @blue-6;
}