/**
 * @file 智能视频云产品优势 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.icon {
  width: 56px;
  margin: -10px 60px 0 0;

  .mobile({
    width: 24px;
    height: auto;
    margin: 4px 6px 0 0;
  })
}
