@import '~utils/less/index.less';

.tabs {
  margin: -24px -24px 0 -24px;
}

.region {
  display: flex;
  border-bottom: 1px solid @grey-3;

  > :first-child {
    flex-shrink: 0;
    width: 76px;
    white-space: nowrap;
  }

  :global {
    .ant-checkbox-group-item {
      margin-bottom: 24px;
    }
  }
}
