@import '~utils/less/index.less';

.wrapper {
  + .wrapper {
    margin-top: 72px;
  }

  h2 {
    color: @grey-7;
    font-size: 28px;
    margin-bottom: 16px;
  }

  .tip {
    margin: 12px 0;
  }

  .content {
    padding: 24px;
    background: @grey-1;
  }
}
