/**
 * @file 短视频客户案例 Logo 墙 style.less
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import '~utils/less/index.less';

.icon {
  height: 156px;
  position: relative;
  top: 50%;
  margin-top: -78px;

  .mobile({
    height: 90px;
    margin-top: -45px;
  });
}
