@import '~utils/less/index.less';

.item {
  padding: 22px 20px 22px 38px;
  position: relative;
  display: flex;
  align-items: center;
  background: @grey-1;
  box-shadow: 0px 2px 4px 0px rgba(51,51,51,0.08);
  border: 1px solid @grey-3;
  text-align: left;

  .mobile({
    display: block;
  });

  &::before {
    content: " ";
    position: absolute;
    left: 20px;
    top: 30px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(322deg, rgba(0,170,231,0) 0%, rgba(0,170,231,1) 100%);
    opacity: .6;
  }

  + .item {
    margin-top: 20px;

    .mobile({
      margin-top: 16px;
    });
  }

  .content {
    flex: 1 1 0;
    font-size: 18px;
    color: @blue-6;
    line-height: 24px;

    .mobile({
      margin-bottom: 8px;
      font-size: 16px;
    });
  }

  .issuer {
    flex: 0 0 auto;
    margin-left: 1em;
    font-size: 16px;

    .mobile({
      font-size: 12px;
    });
  }
}