@import '~utils/less/index.less';

.companyWrapper {
  display: flex;
  align-items: center;
  margin: 36px 0 16px;

  &:first-child {
    margin-top: 0;
  }

  .prefix {
    margin-right: 16px;
    width: 4px;
    height: 16px;
    background: #00aae6;
  }

  .company {
    font-size: 16px;
    font-weight: 500;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 24px 24px;

  .title {
    margin-bottom: 12px;
    font-size: 16px;
  }
  
  .desc {
    margin-bottom: 24px;
    color: #666666;
  }

  .href {
    color: #00aae7;
  }
}
