// Variables
// --------------------------------------------------


// Colors
// -------------------------
$blue: #00A0DE !default;


// Elements
// -------------------------
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
}

html {
  min-height: 100%;
  height: auto;
  position: relative;
  background-color: #FFF;
}

code {
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

a{
  cursor: pointer;
  &:hover{
    color: #28aedf;
    text-decoration: none;
  }
}

a[data-lightbox] { display: inline-block; }

