// Buttons

.btn{
  transition: background-color .3s;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
}

.btn-primary{
  background-color: $blue;
  border-color: darken($blue, 15%);

  &:hover{
    background-color: darken($blue, 15%);
    // border-color: darken($border, 15%);
  }
}

.btn-outline-w{
  border-color: #FFF;
}

.stripe-blue{
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus{
    background-color: #FFF;
    border-color: #FFF;
    color: darken($blue, 15%);
    outline: none;
  }
}