.conveyor{
  margin: 0 15px;

  .slick-slide{
    text-align: center;
    outline: none;
  }

  .slick-arrow{
    width: 22px;
    height: 45px;
    top: 20%;
    -webkit-background-size: 21px 45px;
    -moz-background-size: 21px 45px;
    -o-background-size: 21px 45px;
    background-size: 21px 45px;
    background-position: 0 0;
    transition: background-image .1s;
    &:before{ content: '' }
  }
  .slick-prev{
    background-image: image-url("arrow-left@2x.png");
    &:hover{ background-image: image-url("arrow-left-highlight@2x.png"); }
  }
  .slick-next{
    background-image: image-url("arrow-right@2x.png");
    &:hover{ background-image: image-url("arrow-right-highlight@2x.png"); }
  }

  .slick-dots li button::before{
    font-family: "" !important;
    font-size: 40px;
    content: "-";
    color: #B9B9B9;
  }

  .slick-dots li.slick-active button::before{
    color: #3498db;
  }

  img{
    margin: auto;
    max-height: 42px;
    transition: opacity .1s;
  }

  .case{
    display: inline-block;
    height: 42px;
    -webkit-background-size: auto 42px;
    -moz-background-size: auto 42px;
    -o-background-size: auto 42px;
    background-size: auto 42px;
    background-repeat: no-repeat;
    transition: background-image .1s;
    &:hover,
    &:focus{
      outline: none;
       img{ opacity: 0; }
    }
  }
  .case-div{
    background-position: center center;
    background-repeat: no-repeat;
  }
  .index-case{
    display: block;
    margin: 3px;
    border: 1px solid #eeeeee;
    height: 118px;
    line-height: 118px;
    background-size: 100px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .customer-ch{
    background-image: image-url("client-ch-highlight@2x.jpg");
  }
  .customer-changba{
    background-image: image-url("client-changba-highlight@2x.jpg");
  }
  .customer-dajian{
    background-image: image-url("client-dajian-highlight@2x.jpg");
  }
  .customer-dazhong{
    background-image: image-url("client-dazhong-highlight@2x.jpg");
  }
  .customer-hujiang{
    background-image: image-url("client-hujiang-highlight@2x.jpg");
  }
  .customer-intel{
    background-image: image-url("client-intel-highlight@2x.jpg");
  }
  .customer-oppo{
    background-image: image-url("client-oppo-highlight@2x.jpg");
  }
  .customer-qingting{
    background-image: image-url("client-qingting-highlight@2x.jpg");
  }
  .customer-zte{
    background-image: image-url("client-zte-highlight@2x.jpg");
  }

  .customer-tantan{
    background-image: image-url("fusion/client-tantan-highlight@2x.jpg");
  }
  .customer-anxinzhengquan{
    background-image: image-url("fusion/client-anxinzhengquan-highlight@2x.jpg");
  }
  .customer-mangguotv{
    background-image: image-url("fusion/client-mangguotv-highlight@2x.jpg");
  }
  .customer-wifibanlv{
    background-image: image-url("fusion/client-wifibanlv-highlight@2x.jpg");
  }
  .customer-huanbei{
    background-image: image-url("dora/client-huanbei-highlight@2x.jpg");
  }
  .customer-jumeiyoupin{
    background-image: image-url("dora/client-jumeiyoupin-highlight@2x.jpg");
  }
  .customer-pinganhaofang{
    background-image: image-url("dora/client-pinganhaofang-highlight@2x.jpg");
  }
  .customer-timelink{
    background-image: image-url("dora/client-timelink-highlight@2x.jpg");
  }
  .customer-zaker{
    background-image: image-url("dora/client-zaker-highlight@2x.jpg");
  }
  .customer-yunxuetang{
    background-image: image-url("vance/client-yunxuetang-highlight@2x.jpg");
  }
  .customer-caishi{
    background-image: image-url("vance/client-caishi-highlight@2x.jpg");
  }


}


// Responsive
// ---------------------------------------------------------------------

@media (max-width: 767px){

}

// iPad
@media (min-width: 768px) and (max-width: 991px){

}

// @media (min-width: 992px){
//   .topic-content-wrap .container { max-width: 100%; }
// }

// @media (min-width: 1200px){
//   .container {
//     width: 1170px;
//   }
// }

@media (min-width: 992px){

}