.conveyor{
  margin: 0 15px;

  .slick-slide{
    text-align: center;
    outline: none;
  }

  .slick-arrow{
    width: 22px;
    height: 45px;
    top: 20%;
    -webkit-background-size: 21px 45px;
    -moz-background-size: 21px 45px;
    -o-background-size: 21px 45px;
    background-size: 21px 45px;
    background-position: 0 0;
    transition: background-image .1s;
    &:before{ content: '' }
  }
  .slick-prev{
    background-image: image-url("arrow-left@2x.png");
    &:hover{ background-image: image-url("arrow-left-highlight@2x.png"); }
  }
  .slick-next{
    background-image: image-url("arrow-right@2x.png");
    &:hover{ background-image: image-url("arrow-right-highlight@2x.png"); }
  }

  .slick-dots li button::before{
    font-family: "" !important;
    font-size: 40px;
    content: "-";
    color: #B9B9B9;
  }

  .slick-dots li.slick-active button::before{
    color: #3498db;
  }

  img{
    margin: auto;
    max-height: 42px;
    transition: opacity .1s;
  }

  .case{
    display: inline-block;
    height: 42px;
    -webkit-background-size: auto 42px;
    -moz-background-size: auto 42px;
    -o-background-size: auto 42px;
    background-size: auto 42px;
    background-repeat: no-repeat;
    transition: background-image .1s;
    &:hover,
    &:focus{
      outline: none;
       img{ opacity: 0; }
    }
  }

  .index-case{
    display: block;
    margin: 3px;
    border: 1px solid #eeeeee;
    height: 100px;
    max-height: 100px;
    line-height: 100px;
    background-size: 100px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .customer-changba {
    background-image: image-url("clientcase/client-changba@2x.jpg");
  }
  .customer-changhong {
    background-image: image-url("clientcase/client-changhong.jpg");
  }
  .customer-dajiang {
    background-image: image-url("clientcase/client-dajiang@2x.jpg");
  }
  .customer-dianping {
    background-image: image-url("clientcase/client-dianping@2x.jpg");
  }
  .customer-guanglianda {
    background-image: image-url("clientcase/client-guanglianda@2x.jpg");
  }
  .customer-haikangweishi {
    background-image: image-url("clientcase/client-haikangweishi@2x.jpg");
  }
  .customer-hubeiguangdian {
    background-image: image-url("clientcase/client-hubeiguangdian@2x.jpg");
  }
  .customer-hujiang {
    background-image: image-url("clientcase/client-hujiang@2x.jpg");
  }
  .customer-intel {
    background-image: image-url("clientcase/client-intel@2x.jpg");
  }
  .customer-jiangsuweishi {
    background-image: image-url("clientcase/client-jiangsuweishi@2x.jpg");
  }
  .customer-meipai {
    background-image: image-url("clientcase/client-meipai@2x.jpg");
  }
  .customer-oppo {
    background-image: image-url("clientcase/client-oppo@2x.jpg");
  }
  .customer-qingtingfm {
    background-image: image-url("clientcase/client-qingtingfm@2x.jpg");
  }
  .customer-shunfeng {
    background-image: image-url("clientcase/client-shunfeng@2x.jpg");
  }
  .customer-sobey {
    background-image: image-url("clientcase/client-sobey@2x.jpg");
  }
  .customer-souhu {
    background-image: image-url("clientcase/client-souhu@2x.jpg");
  }
  .customer-zhihu {
    background-image: image-url("clientcase/client-zhihu@2x.jpg");
  }
  .customer-zhongguopingan {
    background-image: image-url("clientcase/client-zhongguopingan@2x.jpg");
  }
  .customer-zhongguoyidong {
    background-image: image-url("clientcase/client-zhongguoyidong@2x.jpg");
  }
  .customer-zhongxing {
    background-image: image-url("clientcase/client-zhongxing@2x.jpg");
  }
}


// Responsive
// ---------------------------------------------------------------------

@media (max-width: 767px){

}

// iPad
@media (min-width: 768px) and (max-width: 991px){

}

// @media (min-width: 992px){
//   .topic-content-wrap .container { max-width: 100%; }
// }

// @media (min-width: 1200px){
//   .container {
//     width: 1170px;
//   }
// }

@media (min-width: 992px){

}