.conveyor{
  margin: 0 15px;
  margin-bottom: 0.68rem;

  &.conveyor.conveyor-rectangle {
    margin-bottom: 0;
    max-height: 334px;
    overflow: hidden;

    .slick-prev {
      z-index: 1;
      top: 42%;
      left: 5px;
    }

    .slick-next {
      z-index: 1;
      top: 42%;
      right: 5px;
    }

    .rectangle-slider {
      position: relative;
      padding: 60% 0;
      margin-bottom: -5px;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: max-content;
      }

      .bg {
        position: absolute;
        left: 0;
        top: 160px;
        width: 100%;
        height: 100%;
        background-color: #00a0de;
        opacity: 0;
      }

      .mask {
        position: absolute;
        left: 0;
        top: 28%;
        height: 100%;
        width: 100%;

        time {
          font-size: 0.30rem;
        }

        .title {
          font-size: 0.14rem;
          line-height: 0.22rem;
          padding: 0 10%;
          margin-top: 0.25rem;
        }

        .site {
          font-size: 0.18rem;
          margin-bottom: 0.35rem;

          .site-spec {
            width: 40px;
            height: 4px;
            background-color: #fff;
            margin: 15px auto;
          }
        }

        .details {
          opacity: 0;

          time {
            font-size: 0.14rem;
          }

          .site {
            font-size: 0.14rem;
            margin-top: 0.15rem;
            margin-bottom: 0.20rem;
          }

          a {
            color: #fff;
            &:hover {
              color: #006992;
            }
          }
        }
      }

      &:hover {
        .bg {
          transition: all 0.3s;
          opacity: 0.8;
          top: 0;
        }
        .mask {
          transition: all 0.3s;
          top: 0;

          .middle {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
          .details {
            opacity: 1;
          }
        }
      }
    }

    &.conveyor-m-x {
      overflow: initial;

      .slick-prev {
        left: -25px;
      }

      .slick-next {
        right: -25px;
      }

      .slick-prev:hover {
        background-repeat: no-repeat;
        background-image: image-url('niuday/arrow-left.png');
      }

      .slick-next:hover {
        background-repeat: no-repeat;
        background-image: image-url('niuday/arrow-right.png');
      }

      .rectangle-slider.square-slider {
        padding: 30% 0;
        margin: 0 8px;

        &.pointer-none {
          pointer-events: none;
        }

        &:hover {
          .mask {

            .info {
              .site {
                color: #fff;
              }

              .time {
                color: #fff;
              }

              .spec-border-b {
                border: none;
              }
            }

            .details {
              .site {
                color: #fff;
              }

              .spec-border-b {
                border-bottom: 2px solid #fff;
              }
            }
          }
        }

        a.d-block {
          display: block;
        }

        .bg {
          background-color: #3074d5;
        }

        .mask {
          .info {
            .site {
              font-size: 0.3rem;
              margin: 0;
              color: #3074d5;
            }

            .time {
              font-size: 0.18rem;
              line-height: 0.36rem;
              margin: 0;
              color: #3074d5;
            }

            .spec-border-b {
              display: inline-block;
              border-bottom: 2px solid #3074d5;
            }
          }

          .details {
            .site {
              font-size: 14px;
              line-height: 28px;
              padding: 0 0 5px;
            }

            .spec-border-b {
              display: inline-block;
              border-bottom: 2px solid #3074d5;
            }
          }
        }
      }
    }
  }

  .slick-slide{
    text-align: center;
    outline: none;
  }

  .slick-arrow{
    width: 0.22rem;
    height: 0.45rem;
    top: 20%;
    -webkit-background-size: 0.21rem 0.45rem;
    -moz-background-size: 0.21rem 0.45rem;
    -o-background-size: 0.21rem 0.45rem;
    background-size: 0.21rem 0.45rem;
    background-position: 0 0;
    transition: background-image .1s;
    &:before{ content: '' }
  }
  .slick-prev{
    background-image: image-url("arrow-left@2x.png");
    &:hover{ background-image: image-url("arrow-left-highlight@2x.png"); }
  }
  .slick-next{
    background-image: image-url("arrow-right@2x.png");
    &:hover{ background-image: image-url("arrow-right-highlight@2x.png"); }
  }

  .slick-dots li button::before{
    font-size: 40px;
    content: "-";
    color: #B9B9B9;
  }

  .slick-dots li.slick-active button::before{
    color: #3498db;
  }

  img{
    margin: auto;
    max-height: 42px;
    transition: opacity .1s;
  }

  .case{
    display: inline-block;
    height: 42px;
    -webkit-background-size: auto 42px;
    -moz-background-size: auto 42px;
    -o-background-size: auto 42px;
    background-size: auto 42px;
    background-repeat: no-repeat;
    transition: background-image .1s;
    &:hover,
    &:focus{
      outline: none;
       img{ opacity: 0; }
    }
  }

  .index-case{
    display: block;
    margin: 3px;
    border: 1px solid #eeeeee;
    height: 100px;
    max-height: 100px;
    line-height: 100px;
    background-size: 100px auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .customer-changba {
    background-image: image-url("clientcase/client-changba@2x.jpg");
  }
  .customer-changhong {
    background-image: image-url("clientcase/client-changhong.jpg");
  }
  .customer-dajiang {
    background-image: image-url("clientcase/client-dajiang@2x.jpg");
  }
  .customer-dianping {
    background-image: image-url("clientcase/client-dianping@2x.jpg");
  }
  .customer-guanglianda {
    background-image: image-url("clientcase/client-guanglianda@2x.jpg");
  }
  .customer-haikangweishi {
    background-image: image-url("clientcase/client-haikangweishi@2x.jpg");
  }
  .customer-hubeiguangdian {
    background-image: image-url("clientcase/client-hubeiguangdian@2x.jpg");
  }
  .customer-hujiang {
    background-image: image-url("clientcase/client-hujiang@2x.jpg");
  }
  .customer-intel {
    background-image: image-url("clientcase/client-intel@2x.jpg");
  }
  .customer-jiangsuweishi {
    background-image: image-url("clientcase/client-jiangsuweishi@2x.jpg");
  }
  .customer-meipai {
    background-image: image-url("clientcase/client-meipai@2x.jpg");
  }
  .customer-oppo {
    background-image: image-url("clientcase/client-oppo@2x.jpg");
  }
  .customer-qingtingfm {
    background-image: image-url("clientcase/client-qingtingfm@2x.jpg");
  }
  .customer-shunfeng {
    background-image: image-url("clientcase/client-shunfeng@2x.jpg");
  }
  .customer-sobey {
    background-image: image-url("clientcase/client-sobey@2x.jpg");
  }
  .customer-souhu {
    background-image: image-url("clientcase/client-souhu@2x.jpg");
  }
  .customer-zhihu {
    background-image: image-url("clientcase/client-zhihu@2x.jpg");
  }
  .customer-zhongguopingan {
    background-image: image-url("clientcase/client-zhongguopingan@2x.jpg");
  }
  .customer-zhongguoyidong {
    background-image: image-url("clientcase/client-zhongguoyidong@2x.jpg");
  }
  .customer-zhongxing {
    background-image: image-url("clientcase/client-zhongxing@2x.jpg");
  }
}


// Responsive
// ---------------------------------------------------------------------

@media (max-width: 767px){

}

// iPad
@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 992px){

}