// 内容安全 demo 样式
.censor-demo {
  .nav-image-video {
    li {
      font-size: 0.16rem;
      background-color: #FFF;
      display: table-cell !important;

      a {
        color: #000 !important;
      }

      &.active {
        background-color: #557CED;

        a {
          color: #FFF !important;
        }
      }
    }
  }

  .tab-content {
    margin-top: 0 !important;
    margin-bottom: 0.30rem;
  }

  .thumbnail-upload {
    width: 80%;
    position: relative;
    left: 10%;
    padding: 0;
    border-radius: 0;
    border: 1px solid #E1E1E1 !important;
    background-color: #FFF !important;
    min-height: 0;

    &.video-upload {
      .video-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
      }
    }

    .image-overlay,
    .video-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background: transparent;
      z-index: 4;
      display: none
    }

    .image-scan,
    .video-scan {
      width: 100%;
      height: 0.20rem;
      position: absolute;
      top: -0.20rem;
      left: 0;
      background-image: image-url("censor/image-scan.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 4;
      display: none;

      &.active {
        display: block;
        -webkit-animation: scan-top-bottom 1s ease-in-out infinite;
        -moz-animation: scan-top-bottom 1s ease-in-out infinite;
        -ms-animation: scan-top-bottom 1s ease-in-out infinite;
        -o-animation: scan-top-bottom 1s ease-in-out infinite;
        animation: scan-top-bottom 1s ease-in-out infinite;
      }
    }

    .slide-container {
      width: 94%;
      position: relative;
      left: 3%;
      margin-top: 0.20rem;
      margin-bottom: 0.10rem;
      text-align: center;
      display: flex;

      .slide-item {
        position: relative;
        padding: 0.05rem;
        margin: 0.05rem;
        opacity: 0.3;
        vertical-align: middle;
        display: table-cell;
        box-sizing: border-box;
        cursor: pointer;

        &.active,
        &:hover {
          opacity: 1;
          border: 2px solid #557CED;
        }

        img,
        video {
          vertical-align: middle;
        }
      }
    }

    .image-container,
    .video-container {
      width: 100%;
      position: relative;
      top: 0.10rem;
      padding: 0.20rem;
      border-bottom: 1px solid #E1E1E1;
      text-align: center;

      video {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }

      .image-violate,
      .video-violate,
      .image-pass,
      .video-pass {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: 1.50rem 1.50rem;
        background-position: center;
        z-index: 2;
      }

      .image-violate,
      .video-violate {
        background-image: image-url("censor/image-violate.png");
        display: none;
      }

      .image-pass,
      .video-pass {
        background-image: image-url("censor/image-pass.png");

        &.image-pass-xinggan {
          background-image: image-url("censor/image-pass-xinggan.png") !important;
        }
      }

      .result-container {
        width: 2.00rem;
        position: absolute;
        top: -0.10rem;
        left: 0;
        background-color: rgba($color: #000, $alpha: 0.65);
        z-index: 1;

        p {
          position: relative;
          margin: 10px;
          color: #FFF;
          font-size: 0.14rem;
          line-height: 0.34rem;
          text-align: left;

          .result-word {
            position: absolute;
            right: 10px;
          }
        }

        .text-error {
          color: #D9534F;
        }
      }
    }

    .image-container {
      .upload-image-show {
        width: calc(100% - 0.40rem);
        height: calc(100% - 0.40rem);
        position: absolute;
        top: 0.20rem;
        left: 0.20rem;
        background-image: image-url("censor/image-xinggan.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }

    .image-control,
    .video-control {
      width: 100%;
      height: 0.50rem;
      margin-bottom: 0.30rem;
      text-align: center;
      line-height: 0.50rem;

      input {
        width: calc(90% - 120px);
        height: 40px;
        color: #FFF;
        border-radius: 1px;
        background-color: rgba($color: #151515, $alpha: 0.65);
        display: inline-block;

        &:focus {
          border: 2px solid #557CED;
        }
      }

      .btn {
        width: 100px;
        height: 40px;
        margin-top: -2px;
        padding: 0 12px;
        border-radius: 1px;
        line-height: 40px;
        background-color: #557CED;

        &:hover {
          background-color: darken(#557CED, 15%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .censor-demo {
    padding: 0 0.20rem;

    .result-container {
      width: 2.50rem !important;
    }
  }
}

@media (max-width: 767px) {
  .censor-demo {
    .nav-image-video {
      li {
        width: 1%;

        a {
          margin-bottom: 0 !important;
        }
      }
    }

    .thumbnail-upload {
      width: 100% !important;
      left: 0 !important;

      .image-container,
      .video-container {
        height: 4.20rem;
      }
    }
  }
}

@media (width: 768px) {
  .censor-demo {
    .nav-image-video {
      width: 100% !important;
    }

    .thumbnail-upload {
      width: 100% !important;
      left: 0 !important;

      .image-container,
      .video-container {
        height: 4.20rem !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .censor-demo {
    .thumbnail-upload {
      .image-container,
      .video-container {
        height: 3.20rem;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .censor-demo {
    .thumbnail-upload {
      .image-container,
      .video-container {
        height: 4.00rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .censor-demo {
    .thumbnail-upload {
      .image-container,
      .video-container {
        height: 4.00rem;
      }
    }
  }
}

// 扫描动画
@keyframes scan-top-bottom {
  from {
    top: -0.20rem;
  }

  to {
    top: calc(100% - 0.20rem);
  }
}

@-webkit-keyframes scan-top-bottom {
  from {
    top: -0.20rem;
  }

  to {
    top: calc(100% - 0.20rem);
  }
}

@-moz-keyframes scan-top-bottom {
  from {
    top: -0.20rem;
  }

  to {
    top: calc(100% - 0.20rem);
  }
}

@-ms-keyframes scan-top-bottom {
  from {
    top: -0.20rem;
  }

  to {
    top: calc(100% - 0.20rem);
  }
}

@-o-keyframes scan-top-bottom {
  from {
    top: -0.20rem;
  }

  to {
    top: calc(100% - 0.20rem);
  }
}