footer {
  padding: 70px 0;
  background-color: #303848;
  color: #FFF;
  vertical-align: baseline;
  transition: left .4s ease-in;
  font-weight: 300;
  &.niuday {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: image-url('niuday/bottom-bg.jpg');
  }
  &.en {
    padding: 0 0 15px;
    .cloud-verify {
      margin-top: 10px;
    }
    .links {
      margin: 0;
      border: none;
      ul {
        padding: 10px 0;
      }
    }
  }
  a.contact {
    display: inline-block;
    padding: 0.05rem 0.3rem;
    margin-bottom: 15px;
    height: 0.25rem;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 0.25rem 0.25rem;
    text-align: center;
  }
  .contact-niuday {
    padding: 45px 0 10px;
  }
  .tel-box-grey {
    background-image: image-url("niuday/icon-phone.png");
  }
  .email-box-grey {
    background-image: image-url("niuday/icon-email.png");
  }
  .container dl {
    dt {
      margin-bottom: 20px;
    }
    dd {
      line-height: 28px;
    }
    a {
      color: #FFF;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .logo {
    display: inline-block;
    margin-left: -10px;
    padding: 15px 0 20px;
    img {
      width: 125px;
    }
  }
  .qrcode {
    margin: 0 auto 5px;
    width: 112px;
    height: 112px;
    padding: 6px;
    background: #FFF;
    img {
      max-width: 100%;
    }
  }
  .sns {
    position: relative;
    padding: 50px 0 5px;
    a {
      display: inline-block;
      width: 18px;
      height: auto;
      background-size: 18px auto !important;
      padding: 10px;
      margin: 0 10px;
      cursor: pointer;
    }
    .github {
      background: image-url('github.png') no-repeat;
    }
    .weibo {
      background: image-url('weibo.png') no-repeat;
    }
    .weixin {
      background: image-url('icon-weichat.png') no-repeat;
    }
    #wexin-qrcode-popover {
      left: -68px;
      top: -120px;
    }
  }
  .links {
    margin: 35px 0 20px;
    border-top: 1px solid #4C5461;
    font-size: 12px;
    ul {
      list-style: none;
      margin: 0;
      padding: 20px 0 0;
      li {
        display: inline-block;
        padding: 0 14px;
        margin: 7px 0;
        height: 14px;
        line-height: 14px;
        border-left: 1px solid #adaeb3;
        &:first-child {
          border-left: none;
          padding-left: 0px;
        }
        a {
          color: #FFF;
        }
      }
    }
  }
  .cloud-verify {
    float: right;
    margin-top: 25px;
    .cmmi3-logo {
      display: block;
      width: 75px;
      height: 60px;
      background-image: image-url('cmmi3.png');
      background-repeat: no-repeat;
      background-size: auto 75px;
      background-position: center;
      float: right;
      margin-right: 20px;
    }
    .report-logo {
      display: block;
      width: 75px;
      height: 60px;
      background-image: image-url('report.png');
      background-repeat: no-repeat;
      background-size: auto 74px;
      background-position: center;
      float: right;
      margin-right: 20px;
    }
    .verify-logo {
      display: block;
      width: 70px;
      height: 60px;
      background-image: image-url('kexinyun.png');
      background-repeat: no-repeat;
      background-size: auto 60px;
      background-position: center;
      float: right;
    }
    .iso-logo {
      display: block;
      width: 75px;
      height: 60px;
      background-image: image-url('iso27001.png');
      background-repeat: no-repeat;
      background-size: auto 60px;
      background-position: center;
      float: right;
      margin-right: 20px;
    }
    .cncf-logo {
      display: block;
      width: 82px;
      height: 60px;
      background-image: image-url('cncf.png');
      background-repeat: no-repeat;
      background-size: auto 100px;
      background-position: center;
      float: right;
      margin-right: 20px;
    }
  }
  .icp span,
  .report-call span {
    line-height: 24px;
    white-space: nowrap;
  }
}

footer.form-footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  .links.career-footer-links,
  .links.blog-footer-links,
    {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0 0 45px;
  }
  .contact-links {
    float: right;
    .qrcode {
      position: absolute;
      top: -40px;
      left: -120px;
      opacity: 0;
    }
    .sns {
      display: inline-block;
    }
  }
  .links.form-footer-links {
    border: none;
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
    ul {
      border: none;
    }
  }
}

footer.footer-mobile {
  .collapse-wrapper {
    margin-left: -15px;
    margin-right: -15px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li.panel {
        border: 0;
        border-radius: 0;
        background-color: #303848;
        position: relative;
        .panel-sort {
          color: #fff;
          background-color: #303848;
          border: 0;
          a {
            display: block;
          }
          .sort-name {
            color: #fff;
            font-size: 14px;
          }
          &::after {
            content: '';
            border: 2px solid #667180;
            display: block;
            width: 10px;
            height: 10px;
            margin: auto;
            position: absolute;
            top: 12px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-top: none;
            border-right: none;
            right: 20px;
          }
          &.actived::after {
            top: 15px;
            border-bottom: none;
            border-left: none;
            border-right: 2px solid #667180;
            border-top: 2px solid #667180;
          }
        }
        .collapse-menu {
          .panel-menu {
            padding: 0;
            border-top-color: #4C5461;
            .menu-unit {
              padding-left: 15px;
              border-bottom: 1px solid rgba(229, 229, 229, 0.07);
            }
            a {
              display: block;
              &.github,
              &.weibo {
                display: inline-block;
              }
            }
            h4 {
              font-size: 12px;
              color: #777;
            }
          }
        }
      }
    }
  }
}

.contact-niuday {
  a.contact {
    display: inline-block;
    padding: 0.05rem 0.3rem;
    padding-right: 0;
    margin: 0 0.15rem 0.15rem;
    height: 0.25rem;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 0.25rem 0.25rem;
    text-align: center;
    &.tel-box-grey {
      background-image: image-url("niuday/icon-phone.png");
    }
    &.email-box-grey {
      background-image: image-url("niuday/icon-email.png");
    }
  }
}

// Responsive
// ---------------------------------------------------------------------
@media (max-width: 425px) {
  footer.form-footer {
    .links.career-footer-links,
    footer.form-footer .links.blog-footer-links {
      padding: 0;
    }
    .contact-links {
      float: none;
      text-align: center;
    }
  }
  footer {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 12px;
    .sns {
      padding: 20px 0 5px;
    }
    .container dl dd {
      line-height: 24px;
    }
    .links {
      text-align: center;
      .cloud-verify {
        float: none;
        text-align: center;
        .verify-logo,
        .iso-logo,
        .cncf-logo,
        .report-logo,
        .cmmi3-logo {
          display: inline-block;
          float: none;
          margin: 0;
        }
      }
      ul {
        width: 100%;
        padding-top: 20px;
        li {
          padding: 0 8px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .cloud-verify {
      .cmmi3-logo,
      .report-logo,
      .verify-logo,
      .iso-logo,
      .cncf-logo {
        width: 50px;
        height: 40px;
        margin-right: 10px;
        background-size: auto 50px;
      }
      .verify-logo {
        margin-right: 0;
        background-size: auto 40px;
      }
      .iso-logo {
        background-size: auto 40px;
      }
      .cncf-logo {
        background-size: auto 60px;
      }
    }
  }
}

// iPad
@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) {}