.helper {
  z-index: 1000;
  min-width: 42px;
  min-height: 128px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  right: 8px;
  .free-icon {
    position: relative;
    left: -1px;
    img {
      width: 44px;
    }
  }
  #waiter {
    display: block;
    width: 42px;
    height: auto;
    word-break: break-all;
    text-align: center;
    color: #333;
    background: #FFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
    img {
      width: 40px;
    }
    span {
      display: inline-block;
      line-height: 16px;
      padding: 5px 12px;
      writing-mode: horizontal-tb;
      &.d-none {
        display: none;
      }
    }
  }
  .close-btn {
    display: inline-block;
    width: 42px;
    height: 35px;
    padding: 5px 0;
    text-align: center;
    background: #FFF;
    border: 1px solid #D1D5DB;
    border-top: none;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
    img {
      width: 15px;
      opacity: 0.6;
      filter: alpha(opacity=60);
    }
  }
}