.helper{
  min-width: 42px;
  min-height: 128px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  right: 8px;

  #waiter{
    display: block;
    width: 42px;
    height: 128px;
    word-break: break-all;
    text-align: center;
    color: #333;
    background: #FFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 9;
    right: 0;

    img{ width: 40px; }
    span{
      display: inline-block;
      line-height: 16px;
      padding: 5px 10px;
    }
  }
}

