.welcome-page-news,
.cooperations-page-index,
.welcome-page-user_agreement,
.welcome-page-sla_kodo,
.welcome-page-sla_fusion,
.welcome-page-sla_pili,
.welcome-page-sla_dora,
.welcome-page-product_news,
.welcome-page-welfares,
.errors-page,
.recommendations-page,
.feedbacks-page{
  nav.navbar{
    background-color: #303848;
  }
  .features{
    padding-top: 1.5rem;
    &.web-form{
      padding-top: 68px;
    }
  }
  .error-page.error-page-404{
    margin: 90px auto;
    max-width: 666px;
    min-height: 370px;
  }
}
nav.navbar{
  min-height: 68px;
  margin-bottom: 0;
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  &:hover{
    background-color: #303848;
  }
}

// 导航栏
.navbar-default{
  background: transparent;
  color: #FFF;
  background-color: #303848;
  border: none;
  border-radius: 0;
  transition: opacity .6s ease, background .6s ease, box-shadow .6s ease;

  .navbar-collapse{
    padding-left: 4px;
    padding-right: 4px;
  }

  .navbar-header{
    min-height: 68px;
    .navbar-toggle{
      margin-top: 14px;
      &:focus,
      &:hover { background-color: rgba(0, 0, 0, 0.35); }

      .icon-bar { background-color: #FFF; }
    }
  }
  .navbar-brand {
    display: inline-block;
    height: auto;
    color: #FFF;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    &:focus,
    &:hover { color: #FFF; }

    img{
      display: block;
      float: left;
    }
    span{
      display: block;
      float: left;
      margin-top: 17px;
    }
  }

  .navbar-nav > li.open a{
    color: $brand-primary;
    background-color: transparent;
    &:hover{
      color: $brand-primary;
      background-color: transparent;
    }
    &:focus{
      color: #FFF;
      background-color: transparent;
    }
  }
  .navbar-nav > li {
    padding: 0.08rem 0 0.09rem;
    > a {
      display: block;
      color: #FFF;
      position: relative;
      &:hover{ color: $brand-primary; }
      &:focus{ color: #FFF; }
    }
  }
  .navbar-nav .services-menu,
  .navbar-nav .solutions-menu{
    background-color: #303848;
    padding: 0;
    border: 0;
    li{
      &.menu-title{
        background-color:rgba(229, 229, 229, 0.06);
        font-size: 12px;
        color: rgb(151, 152, 156);
        padding: 2px 0 2px 20px;
      }
      &.service,
      &.solution{
        padding: 0;
        border-bottom: 1px solid rgba(229, 229, 229, 0.07);
      }
      a{
        padding: 10px 20px;
        color: #FFF;
        transition: all .3s;
        &:hover{
          transition: all .3s;
          color: $brand-primary;
          background-color: rgba(239, 239, 239, 0.15);

          h4 small{ color: $brand-primary; }
        }
        &:focus{
          transition: all .3s;
          color: #FFF;
        }
        h4{
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          font-size: 14px;

          small{ color: #FFF; }
        }
        p{
          color: rgb(151, 152, 156);
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }

  span.navbar-btline{
    display: block;
    content: " ";
    width: 100%;
    height: 1px;
    background-color:#97989c;
  }

  .navbar-right{
    margin-right: 0;
    font-size: 12px;
  }

  .actions{
    margin-left: 15px;
    padding: 7px 0 0 25px;
    position: relative;

    span.middle-line{
      display: inline-block;
      content: " ";
      width: 1px;
      height: 16px;
      background: #FFF;
      position: absolute;
      top: 17px;
      left: 0;
    }

    .btn{ margin-right: 10px;
      &:last-child{ margin-right: 0; }
    }
  }
}

.nav-tabs.nav-justified.nav-short{
  width: 80%;
}

.services-menu{
  .service{
    .kodo{
      background-image: image-url("menuicon-duixiangcunchu@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .fusion{
      background-image: image-url("menuicon-rongheyouzhijiedian@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .kirk{
      background-image: image-url("menuicon-rongqifuwu@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .atlab{
      background-image: image-url("menuicon-jiqixuexi@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .pandora{
      background-image: image-url("menuicon-dashuju@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .dora{
      background-image: image-url("menuicon-shujuchuli@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .pili{
      background-image: image-url("menuicon-shipinzhibo@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .vance{
      background-image: image-url("menuicon-shipindianbo@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
  }
}

.solutions-menu{
  .menu-title{
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .QOS{
    background-image: image-url("menuicon-duixiangcunchusiyouhua@2x.png");
  }
  .UDMP{
    background-image: image-url("menuicon-feijiegouhuashujuguanli@2x.png");
  }
  .PLSV{
    background-image: image-url("menuicon-duanshipin@2x.png");
  }
  .ICA{
    background-image: image-url("menuicon-zhinengyunxiangce@2x.png");
  }
  .IHAIOT{
    background-image: image-url("menuicon-zhinengyingjian@2x.png");
  }
  .RTMI{
    background-image: image-url("menuicon-guangdianchuanmei@2x.png");
  }
  .HST{
    background-image: image-url("menuicon-anfang@2x.png");
  }
  .Internet{
    background-image: image-url("menuicon-hulianwang@2x.png");
  }
  .DQM{
    background-image: image-url("menuicon-yingyongzhiliangjiankong@2x.png");
  }
}

// Responsive
// ---------------------------------------------------------------------
// iPhone
@media (min-width: 320px) and (max-width: 479px) {
  .navbar-default .navbar-nav > li{
    a{ padding: 0.10rem 0.15rem; }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .navbar-default .navbar-nav > li{
    padding-top: 0;
    padding-bottom: 0;
    a{ padding: 0.10rem; }
  }
}

@media (max-width: 767px){
  nav.navbar{
    position: relative;
    background-color: #303848;
  }
  .navbar-default .navbar-nav .services-menu li a h4, .navbar-default .navbar-nav .solutions-menu li a h4{
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
  .navbar-nav {
    margin: 0;
    &.navbar-nav-mobile{
      li{
        border-bottom: 1px solid rgba(229, 229, 229, 0.07);
        padding: 0;
        &.open{
          background-color: #16171a;
          border-bottom: 0;
        }
        a{
          padding: 0.15rem;
        }
      }
    }
  }
  .navbar-default .navbar-collapse{
    padding: 0;
  }
  .navbar-default .navbar-right{
    font-size: 0.2rem;
  }
  .navbar-default .actions {
    padding-top: 0.15rem;
    margin: 0.15rem 0 0.15rem 0.15rem;
    text-align: center;
  }
  .navbar-default .navbar-nav .services-menu,
  .navbar-default .navbar-nav .solutions-menu {
    margin-bottom: 0;
    li a { padding: 0.10rem 0.15rem; }
  }
  .dropdown-toggle-mobile::after{
    content: '';
    border: 2px solid #667180;
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    position: absolute;
    top: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top: none;
    border-right: none;
    right: 20px;
  }
  .dropdown-toggle-mobile.actived::after{
    border-bottom: none;
    border-left: none;
    border-right: 2px solid #667180;
    border-top: 2px solid #667180;
  }
}

// iPad
@media (min-width: 768px) and (max-width: 991px){
  .navbar-nav {
    margin-top: 10px;
  }
  .navbar-default .navbar-nav > li > a{
    padding: 10px;
  }
}

// @media (min-width: 992px){
// }

// @media (min-width: 1200px){
// }

@media (min-width: 992px){

}

@media (max-width: 1024px){
}