nav.navbar{
  min-height: 68px;
  margin-bottom: 0;
}

// 导航栏
.navbar-default{
  background: transparent;
  color: #FFF;
  background-color: #303848;
  border: none;
  border-radius: 0;
  transition: opacity .6s ease, background .6s ease, box-shadow .6s ease;

  .navbar-header{
    min-height: 68px;
    .navbar-toggle{
      margin-top: 14px;
      &:focus,
      &:hover { background-color: rgba(0, 0, 0, 0.35); }

      .icon-bar { background-color: #FFF; }
    }
  }
  .navbar-brand {
    display: inline-block;
    height: auto;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    &:focus,
    &:hover { color: #FFF; }

    img{
      display: block;
      float: left;
    }
    span{
      display: block;
      float: left;
      margin-top: 17px;
    }
  }

  .navbar-nav:first-child{
    margin-left: 10px;
  }

  .navbar-nav > li.open a{
    color: $brand-primary;
    background-color: transparent;
    &:hover{
      color: $brand-primary;
      background-color: transparent;
    }
    &:focus{
      color: #FFF;
      background-color: transparent;
    }
  }
  .navbar-nav > li {
    padding: 8px 0 9px;
    > a {
      display: block;
      color: #FFF;
      position: relative;
      &:hover{ color: $brand-primary; }
      &:focus{ color: #FFF; }
    }
  }
  .navbar-nav .services-menu,
  .navbar-nav .solutions-menu{
    background-color: #303848;
    padding: 0;
    border: 0;
    li{
      font-family: PingFangSC Light;
      &.menu-title{
        background-color:rgba(229, 229, 229, 0.06);
        font-size: 12px;
        height: 32px;
        line-height: 32px;
        color: rgb(151, 152, 156);
        padding: 0 0 0 20px;
      }
      &.service,
      &.solution{
        height: 80px;
        padding: 0;
        border-bottom: 2px solid rgba(229, 229, 229, 0.07);
      }
      a{
        padding: 10px 20px 0 20px;
        height: 80px;
        color: #FFF;
        transition: all .3s;
        &:hover{
          transition: all .3s;
          color: $brand-primary;
          background-color: rgba(239, 239, 239, 0.15);
        }
        &:focus{
          transition: all .3s;
          color: #FFF;
        }
        h4{
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          font-size: 14px;
        }
        p{
          color: rgb(151, 152, 156);
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }

  .navbar-right{
    margin-right: 0;
    font-size: 12px;
  }

  .actions{
    margin-left: 15px;
    padding: 7px 0 0 25px;
    position: relative;

    &::before{
      display: inline-block;
      content: " ";
      width: 1px;
      height: 16px;
      background: #FFF;
      position: absolute;
      top: 17px;
      left: 0;
    }

    .btn{ margin-right: 10px;
      &:last-child{ margin-right: 0; }
    }
  }
}

.nav-tabs.nav-justified.nav-short{
  width: 55%;
}

.services-menu{
  .service{
    .kodo{
      background-image: image-url("menuicon-duixiangcunchu@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .fusion{
      background-image: image-url("menuicon-rongheyouzhijiedian@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .kirk{
      background-image: image-url("menuicon-rongqifuwu@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .atlab{
      background-image: image-url("menuicon-jiqixuexi@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .pandora{
      background-image: image-url("menuicon-dashuju@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .dora{
      background-image: image-url("menuicon-shujuchuli@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .pili{
      background-image: image-url("menuicon-shipinzhibo@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
    .vance{
      background-image: image-url("menuicon-shipindianbo@2x.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px 19px;
    }
  }
}

.solutions-menu{
  .QOS{
    background-image: image-url("menuicon-duixiangcunchusiyouhua@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .UDMP{
    background-image: image-url("menuicon-feijiegouhuashujuguanli@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .ICA{
    background-image: image-url("menuicon-zhinengyunxiangce@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .IHAIOT{
    background-image: image-url("menuicon-zhinengyingjian@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .RTMI{
    background-image: image-url("menuicon-guangdianchuanmei@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .HST{
    background-image: image-url("menuicon-anfang@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .Internet{
    background-image: image-url("menuicon-hulianwang@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .DQM{
    background-image: image-url("menuicon-yingyongzhiliangjiankong@2x.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
}