// nav nav-tabs
.nav.nav-tabs{
  border-bottom: 2px solid #e5e5e5;

  &.nav-justified >li::before {
    bottom: -2px;
  }

  >li{
    position: relative;
    margin-bottom: -2px;
    margin-left: 15px;
    margin-right: 15px;
  }
  >li::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1989fa;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.1s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
  }

  li.active::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  >li>a{
    padding: 12px 0;
    color: #333;
    border: none;
    &:hover{
      color: #1989fa;
      background-color: transparent;
      border-radius: 0;
    }
  }
  >li.active>a,
  >li.active>a:focus,
  >li.active>a:hover {
    color: #1989fa;
    cursor: default;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

// 切换导航栏
.nav.points-bar{
  border-bottom: 0;
  margin: auto;
}

// 中部导航active样式调为普通
.nav.nav-tabs.nav-justified{
  >li.active>a,
  >li.active>a:focus,
  >li.active>a:hover {
    color: #333;
    cursor: default;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  > li::before{
    width: 0;
    height: 0;
  }
}

.nav.nav-tabs.nav-justified.points-bar > li::before{
  width: 0;
  height: 0;
}
.nav.nav-tabs.points-bar > li.active > a,
.nav.nav-tabs.points-bar > li.active > a:focus,
.nav.nav-tabs.points-bar > li.active > a:hover,
.nav.nav-tabs.points-bar > li > a:hover,
.nav.nav-tabs.points-bar > li > a:visited{
  color: rgb(0, 160, 222);
}

.nav.nav-tabs.points-bar > li > a[aria-expanded="false"] {
  color: #333;
}

// 左侧切换导航
.nav.nav-stacked.left-tab{
  border-bottom: 0;
  margin: auto;
}

.nav.nav-stacked.left-tab > li::before{
  width: 0;
  height: 0;
}
.nav.nav-stacked.left-tab > li.active > a,
.nav.nav-stacked.left-tab > li.active > a:focus,
.nav.nav-stacked.left-tab > li.active > a:hover,
.nav.nav-stacked.left-tab > li > a:hover,
.nav.nav-stacked.left-tab > li > a:visited{
  color: rgb(0, 160, 222);
  background-color: transparent;
}