@import '~utils/less/index.less';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;

  figure {
    max-width: (@centered-content-width - 48) / 3;
    margin: 12px;
    margin-bottom: 26px;
    text-align: left;

    .mobile({
      max-width: 100%;
    });

    img {
      display: block;
      width: 100%;
    }
  }
}
