@import "~react-icecream-1/style/less/variables/index.less";

.row {
  display: flex;
  align-items: center;
  height: 40px;

  .input {
    width: 200px;
  }

  .icon {
    margin-left: @icecream-gap-xs;

    &:nth-child(2) {
      margin-left: @icecream-gap-xs;
    }
  }
}

.disabled {
  pointer-events: none;
}
