@import '~utils/less/index.less';

.pane {
  margin: -12px;
}

.cardWrapper {
  max-width: (@centered-content-width - 24 * 2) / 2;
}

.card {
  height: 162px;
  padding: 24px;

  .title {
    margin-bottom: 12px;
    font-size: 20px;
    color: @grey-7;
  }

  .desc {
    color: @grey-6;
    font-size: 14px;
  }
}
