@import '~utils/less/index.less';

.cardWrapper {
  max-width: (@centered-content-width - 24 * 4) / 4;
}

.card {
  height: 220px;
  padding: 24px;

  .title {
    margin-bottom: 12px;
    font-size: 20px;
    color: @grey-7;
  }

  .desc {
    color: @grey-6;
    font-size: 14px;
  }
}
