/**
 * @file 智能视频分析 产品功能 style.less
 * @author hovenjay <hovenjay@qiniu.com>
 */

@import '~utils/less/index.less';

.featureCard {
  display: flex;
  align-items: center;
  padding: 40px 0;
  overflow: hidden;
}

.featureIcon {
  text-align: center;
  width: 168px;
}

.featureContent {
  flex: 1;
  margin-right: 40px;
}

.featureTitle {
  color: @grey-7;
  font-size: 20px;
}

.featureDesc {
  color: @grey-6;
  padding: 8px 0 0 0;
  min-height: 48px;
  font-size: 14px;
}
