@import '~utils/less/index.less';

.desc {
  margin-top: 63px;

  .mobile({
    margin-top: 8px;
  });
}

.joinLink {
  display: inline-block;
  margin-top: 64px;
  font-size: 20px;

  > svg {
    vertical-align: sub;
  }

  .mobile({
    margin-top: 0;
  });
}
