


 <div class="container_16 clearfix" id="content">
  <div class="grid_11">
    <div>
    
      <div id="post-8691" class="post-8691 post type-post status-publish format-standard hentry category-383">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8691" title="Permalink to 七牛云完成新一轮 10 亿元融资，阿里集团与云锋基金领投！" rel="bookmark">七牛云完成新一轮 10 亿元融资，阿里集团与云锋基金领投！</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年8月28日"><a href="/archives/8691" title="七牛云完成新一轮 10 亿元融资，阿里集团与云锋基金领投！" rel="bookmark">2017年8月28日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/%e4%b8%83%e7%89%9b%e5%8a%a8%e6%80%81" rel="category tag">七牛动态</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>8 月 28 日，七牛云宣布完成新一轮 10 亿人民币的融资，本轮融资由阿里巴巴集团和云锋基金领投。在本轮投资后，七牛云将继续保持自身的高速增长和独立性，为中国云计算产业贡献力量。 阿里集团和云锋基金为什么对七牛云青眼有加？ 在国内主流云服务厂商中，七牛云凭借自身过硬的技术实力走出了一条不同寻常的发展道路。区别于其他公司从云主机业务开始切入市场的方式，七牛云从一开始就选择为客户提供一站式的海量数据解决方案。相比云主机的即买即用特性，海量数据业务通常需要较长时间的产品对接和实施过程。 创始人许式伟有自己非常清晰的观点：「我们一向很坚定的认为未来的市场竞争就是数据的竞争。相比仅仅是卖一些基础资源给客户，我更希望能够利用我们的技术特长帮助 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8691" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8691 .post_class -->
<div id="post-8678" class="post-8678 post type-post status-publish format-standard hentry category-go-">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8678" title="Permalink to 七牛云 GO 语言周报【八月第 3 期】" rel="bookmark">七牛云 GO 语言周报【八月第 3 期】</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年8月21日"><a href="/archives/8678" title="七牛云 GO 语言周报【八月第 3 期】" rel="bookmark">2017年8月21日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/go-%e8%af%ad%e8%a8%80%e5%91%a8%e6%8a%a5" rel="category tag">Go 语言周报</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>Go 语言第一深坑 &#8211; interface 与 nil 的比较 Go 语言以简单易上手而著称，它的语法非常简单，熟悉 C++，Java 的开发者只需要很短的时间就可以掌握 Go 语言的基本用法。然而 Go 语言的 interface 在使用过程中却有一个特别坑的特性，当你比较一个 interface 类型的值是否是 nil 的时候，这是需要特别注意避免的问题。 本文作者为分析了 interface 与 nil 的区别，避免 gopher 们踩坑哦。 原文地址：http://studygolang.com/articles/10635 Go 最常用的字符串操作 Golang 为广大的开发者提供了许多内置的字符串功能，目的是 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8678" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8678 .post_class -->
<div id="post-8636" class="post-8636 post type-post status-publish format-standard hentry category-share">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8636" title="Permalink to 短视频自研还是选择第三方？技术选型前必看的自检清单文章" rel="bookmark">短视频自研还是选择第三方？技术选型前必看的自检清单文章</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年8月15日"><a href="/archives/8636" title="短视频自研还是选择第三方？技术选型前必看的自检清单文章" rel="bookmark">2017年8月15日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/share" rel="category tag">技术分享</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>2017 年，短视频成为了内容创业的新风口，各种短视频 App 如雨后春笋般先后上线。随着互联网内容消费升级，视频越来越像文字、图片一样，成为每一个 App 不可或缺的一部分。 为了能够更好地聚焦于业务，早日完成短视频 App 的上线，越来越多的公司倾向于选择一家靠谱的短视频 SDK 来起步，怎么定义靠谱？要关注哪些指标？仅功能满足就可以了吗？ —— 显然不够，下面我们站在 App 开发者的角度，来看看什么样的短视频 SDK 会有着更好的口碑和满意度 ？在你技术选型前，我们一起看看下在这份自检清单。 1. 包体是否足够小 App 的包体大小，对获取用户有着至关重要的作用，特别是在线下的推广活动中，包体太大，下载费时费流量，很多用户会 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8636" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8636 .post_class -->
<div id="post-8622" class="post-8622 post type-post status-publish format-standard hentry category-go-">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8622" title="Permalink to 七牛云 GO 语言周报【八月第 1 期】" rel="bookmark">七牛云 GO 语言周报【八月第 1 期】</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年8月14日"><a href="/archives/8622" title="七牛云 GO 语言周报【八月第 1 期】" rel="bookmark">2017年8月14日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/go-%e8%af%ad%e8%a8%80%e5%91%a8%e6%8a%a5" rel="category tag">Go 语言周报</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>Go 开发中总结的 15 个心得 和许多之前从未接触过 Go 的程序员一样，作者一直听到许多关于 Go 的传言。由于 Golang 是一种现代的静态编译语言，作者于是被他深深吸引。由于忙于其他的项目，尽管一直想深入了解 Go 语言，但一直没有时间。然而在四个月前，作者面对 Capsule CD 中的一个问题时，突然意识到 Go 语言或许是解决问题的最好方式。 于是，作者开始一步步研究 Go 语言，并且归纳了 15 个开发中的小心得。 原文地址：https://blog.thesparktree.com/15-lessons-in-golang 你不该用的六个 Go 小技巧 刚刚看完了 15 个开发中的小心得，又有一位开发者写下了六个 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8622" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8622 .post_class -->
<div id="post-8611" class="post-8611 post type-post status-publish format-standard hentry category-go-">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8611" title="Permalink to 七牛云 GO 语言周报【八月第 2 期】" rel="bookmark">七牛云 GO 语言周报【八月第 2 期】</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年8月14日"><a href="/archives/8611" title="七牛云 GO 语言周报【八月第 2 期】" rel="bookmark">2017年8月14日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/go-%e8%af%ad%e8%a8%80%e5%91%a8%e6%8a%a5" rel="category tag">Go 语言周报</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>Go 1.9 RC 2版本发布 随着八月 Go 1.9 正式版发布日的日渐临近，gopher 们都对这一新版本充满期待。在发布了第一个 RC 版本之后，本周第二个 RC 版本也正式推出，并已开放测试。想要在 Go1.9 正式发布前抢先体验最新特性？  原文地址：https://golang.org/dl/#go1.9rc2 Go 中创建工作线程池 作者和他的团队最近开发了一项服务，用以链接公司自有业务API 和 Salesforce API。在此之前，每当他们想将项目上传到 Salesforce 时，要先在 FIFO 队列中发送消息，然后将抽样这些消息，再将消息负载上传到 Salesforce。作者希望能尽可能缩短这一过程所需的时间 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8611" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8611 .post_class -->
<div id="post-8597" class="post-8597 post type-post status-publish format-standard hentry category-go-">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8597" title="Permalink to 七牛云 GO 语言周报【七月第 2 期】" rel="bookmark">七牛云 GO 语言周报【七月第 2 期】</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年7月21日"><a href="/archives/8597" title="七牛云 GO 语言周报【七月第 2 期】" rel="bookmark">2017年7月21日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/go-%e8%af%ad%e8%a8%80%e5%91%a8%e6%8a%a5" rel="category tag">Go 语言周报</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>全世界有多少 Gopher？ 上周的周报中，我们介绍了 Go 语言的排名已经进入到前十。那么世界上到底有多少 Gopher 呢? 作者列出了以下计算公式： Gopher 数量 = 全世界的开发者数量 * 使用 Go 语言的软件占所有软件的比例 原文地址：https://research.swtch.com/gophercount Go1.9 有哪些值得关注的变化 还有不到一个月，Go 1.9版本也要正式发布了（计划 8 月份发布），当前 Go 1.9 的最新版本是 go1.9 beta2，本篇的实验环境也是基于该版本的，估计与最终 go 1.9 版本不会有太大差异了。在今年的 GopherChina 大会上，作者曾提到：Go 已经演 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8597" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8597 .post_class -->
<div id="post-8591" class="post-8591 post type-post status-publish format-standard hentry category-go-">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8591" title="Permalink to 七牛云 GO 语言周报【七月第 1 期】" rel="bookmark">七牛云 GO 语言周报【七月第 1 期】</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年7月18日"><a href="/archives/8591" title="七牛云 GO 语言周报【七月第 1 期】" rel="bookmark">2017年7月18日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/go-%e8%af%ad%e8%a8%80%e5%91%a8%e6%8a%a5" rel="category tag">Go 语言周报</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>TIOBE 七月排名 Go 进入前十 TIOBE 七月头条：Go 语言达到历史最高并进入前十。对于 Go 语言来说，这是一个里程碑时刻，我们可以更大胆地想象，它下一步的发展会达到怎样的高度。Go 是否能够真正成为编程语言中的重量级角色，甚至在未来将JavaScript 和 Python 甩在身后？Kotlin、Elixir和Hack 这些新兴语言本月排名并未上升，Kotlin 下降了 5 位，Hack下降了 6 位 而 Elixir 下降了 5 位并且掉出了前五十。 原文地址：TIOBE &#8211; The Software Quality Company &nbsp; Erlang 和 Go 的对比 本文将介绍用同步 IO 的 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8591" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8591 .post_class -->
<div id="post-8572" class="post-8572 post type-post status-publish format-standard hentry category-383">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8572" title="Permalink to 【独家】七牛为开发者倾情奉献，性能秒杀 RSA 的 ECC 证书免费申请" rel="bookmark">【独家】七牛为开发者倾情奉献，性能秒杀 RSA 的 ECC 证书免费申请</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年6月29日"><a href="/archives/8572" title="【独家】七牛为开发者倾情奉献，性能秒杀 RSA 的 ECC 证书免费申请" rel="bookmark">2017年6月29日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/%e4%b8%83%e7%89%9b%e5%8a%a8%e6%80%81" rel="category tag">七牛动态</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>一、背景 据记载，公元前 400 年，古希腊人发明了置换密码。1881 年世界上的第一个电话保密专利出现。在第二次世界大战期间，德国军方启用「恩尼格玛」密码机，密码学在战争中起着非常重要的作用。 随着信息化和数字化社会的发展，人们对信息安全和保密的重要性认识不断提高，于是在 1997 年，美国国家标准局公布实施了「美国数据加密标准（DES）」，民间力量开始全面介入密码学的研究和应用中，采用的加密算法有 DES、RSA、SHA 等。随着对加密强度需求的不断提高，近期又出现了 AES、ECC 等。  使用密码学可以达到以下目的：  保密性：防止用户的标识或数据被读取。  数据完整性：防止数据被更改。  身份验证：确保数据发自特定的一方。 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8572" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8572 .post_class -->
<div id="post-8566" class="post-8566 post type-post status-publish format-standard hentry category-506">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8566" title="Permalink to 快扔掉那颗炸弹！10 分钟搞明白直播中手机发热问题" rel="bookmark">快扔掉那颗炸弹！10 分钟搞明白直播中手机发热问题</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年6月22日"><a href="/archives/8566" title="快扔掉那颗炸弹！10 分钟搞明白直播中手机发热问题" rel="bookmark">2017年6月22日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/%e8%a7%86%e9%a2%91%e7%9b%b4%e6%92%ad%e6%8a%80%e6%9c%af" rel="category tag">视频直播技术</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>本文为 《直播疑难杂症排查》系列的第十篇文章，我们重点看看直播过程中直播功耗高的问题。继《直播技术详解》系列文章之后，我们推出了这个新的系列《直播疑难杂症排查》，把解决直播问题的经验逐步分享出来，同时也会穿插一些音视频开发的基础知识和优化经验，希望能够帮助到直播领域的开发者们。 本系列会涵盖的内容包括但不限于如下一些主题： 播放失败 直播卡顿 首开慢 延时高 音画不同步 马赛克严重 播放黑屏、花屏、绿屏 播放杂音、噪音、回声 点播拖动不准 直播发热问题 其他问题（待续） 问题现象 直播过程中手机发热严重，耗电快。 问题排查 导致手机功耗高，发热严重的根本因素，无外乎就是一点：CPU/GPU 占用率高，所以，我们首先要分析下，哪些因素 <span class="ellipsis">&hellip;</span> <span class="more-link-wrap"><a href="/archives/8566" class="more-link"><span>继续阅读…</span></a></span></p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8566 .post_class -->
<div id="post-8554" class="post-8554 post type-post status-publish format-standard hentry category-qiniu-ann">
  <div class="entry-header">
    <div class="entry-avatar">
      <img alt="" src="http://blog.qiniu.com/wp-content/themes/vortex/images/market.png" class="avatar avatar-60 photo" height="60" width="60">
    </div>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="/archives/8554" title="Permalink to 「六月感恩季，七牛献豪礼」盛大开启！" rel="bookmark">「六月感恩季，七牛献豪礼」盛大开启！</a>
      </h2>
      <div class="entry-meta">
      <span class="entry-author author vcard"><a href="http://blog.qiniu.com/archives/author/mktqiniu" title="by 牛小七" rel="author">牛小七</a></span><span class="entry-date" title="2017年6月19日"><a href="/archives/8554" title="「六月感恩季，七牛献豪礼」盛大开启！" rel="bookmark">2017年6月19日</a></span><span class="cat-links"><span class="entry-utility-prep entry-utility-prep-cat-links">发布在</span> <a href="/archives/category/qiniu-ann" rel="category tag">七牛公告</a></span>      </div><!-- .entry-meta -->
    </div>
  </div>


  <div class="entry-content clearfix">
	<p>2011年，七牛云成立。 2017 年，七牛云成立六周年。 从开始到现在，七牛云一直秉承着「缩短从想法到产品的距离」的初衷，从创始人的技术梦想，成长为一家间接服务着中国超过 50% 网民的企业。七牛云将一直陪伴在用户身边，共同面对发展道路上的一切挑战。这一次，我们开启七牛云史上力度最大的促销活动，感谢陪伴七牛云一路走来的伙伴。 活动详情 参与方式 1. 登录七牛官网 qiniu.com 2. 进入 portal.qiniu.com 3. 点击财务统计，系统将自动识别你能享受的优惠额度</p>
  </div> <!-- end .entry-content -->

  


</div> <!-- end #post-8554 .post_class -->
      
      <div id="loop-nav-numeric" class="nav-numeric">
  <h3 class="assistive-text">Post Navigation</h3>
  <span class='page-numbers current'>1</span>
<a class='page-numbers' href='/page/2'>2</a>
<a class='page-numbers' href='/page/3'>3</a>
<span class="page-numbers dots">&hellip;</span>
<a class='page-numbers' href='/page/72'>72</a>
<a class="next page-numbers" href="/page/2">下一页 &raquo;</a>  <div class="clear"></div>
</div> <!-- end #loop-nav-numeric -->

    </div> <!-- end #content -->
  </div> <!-- end .grid_11 -->

  <div class="grid_5">
  <div id="sidebar">

	    <div class="widget widget_search widget-widget_search">
      <div class="widget-wrap widget-inside">
        <div class="search">
  <form method="get" class="searchform" action="http://blog.qiniu.com/">
    <label for="s" class="assistive-text">Search for:</label>
    <input type="text" class="field" name="s" id="s" value="Search" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
    <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
  </form>
</div><!-- end .search -->      
</div>
    </div>
    <div class="widget widget_categories widget-widget_categories">
      <div class="widget-wrap widget-inside">
        <h3 class="widget-title">Categories</h3>
          <ul>
            <li class="cat-item cat-item-first">
              <a href="http://hd.qiniu.com/arch" title="七牛架构师实践日" target="_blank">
                <img src="http://blog.qiniu.com/wp-content/themes/vortex/images/architecture-pratice.jpg">
              </a>
            </li>
            <li class="cat-item cat-item-2">
              <a href="http://blog.qiniu.com" title="查看博客下的所有文章">所有文章</a>
            </li>
            	<li class="cat-item cat-item-330"><a href="/archives/category/ecug" >ECUG</a>
</li>
	<li class="cat-item cat-item-512"><a href="/archives/category/go-%e8%af%ad%e8%a8%80%e5%91%a8%e6%8a%a5" >Go 语言周报</a>
</li>
	<li class="cat-item cat-item-510"><a href="/archives/category/tech-online" >Tech Online</a>
</li>
	<li class="cat-item cat-item-2"><a href="/archives/category/qiniu-ann" >七牛公告</a>
</li>
	<li class="cat-item cat-item-383"><a href="/archives/category/%e4%b8%83%e7%89%9b%e5%8a%a8%e6%80%81" >七牛动态</a>
</li>
	<li class="cat-item cat-item-3"><a href="/archives/category/figure" >七牛群像</a>
</li>
	<li class="cat-item cat-item-1"><a href="/archives/category/jobs" title="七牛招聘专栏">加入我们</a>
</li>
	<li class="cat-item cat-item-4"><a href="/archives/category/report" >媒体报道</a>
</li>
	<li class="cat-item cat-item-5"><a href="/archives/category/showcase" >客户案例</a>
</li>
	<li class="cat-item cat-item-6"><a href="/archives/category/share" >技术分享</a>
</li>
	<li class="cat-item cat-item-377"><a href="/archives/category/changelog" title="这个栏目放一些原文档站更新日志页的内容">更新日志</a>
</li>
	<li class="cat-item cat-item-296"><a href="/archives/category/best" >最佳实践</a>
</li>
	<li class="cat-item cat-item-477"><a href="/archives/category/%e6%9e%b6%e6%9e%84%e5%ae%9e%e8%b7%b5" >架构实践</a>
</li>
	<li class="cat-item cat-item-509"><a href="/archives/category/%e6%9e%b6%e6%9e%84%e5%b8%88%e5%b0%8f%e7%bb%84%e4%ba%a4%e6%b5%81%e4%bc%9a" >架构师小组交流会</a>
</li>
	<li class="cat-item cat-item-7"><a href="/archives/category/events" >活动消息</a>
</li>
	<li class="cat-item cat-item-511"><a href="/archives/category/niudushe" >牛犊社</a>
</li>
	<li class="cat-item cat-item-8"><a href="/archives/category/coder-life" >程序人生</a>
</li>
	<li class="cat-item cat-item-9"><a href="/archives/category/horizon" >视野开拓</a>
</li>
	<li class="cat-item cat-item-506"><a href="/archives/category/%e8%a7%86%e9%a2%91%e7%9b%b4%e6%92%ad%e6%8a%80%e6%9c%af" >视频直播技术</a>
</li>
	<li class="cat-item cat-item-504"><a href="/archives/category/comics" >连载漫画</a>
</li>

          </ul>
      </div>
    </div>
    <!-- <div class="widget widget_categories widget-widget_categories">
      <div class="widget-wrap widget-inside">
        <h3 class="widget-title">活动</h3>
          <ul>
            <li class="cat-item cat-item-2">
              <a href="http://www.qiniu.com/activity/recharge" title="七牛三周年促销，充2000送1000" target="_blank">
                <img src="http://qnblog.qiniudn.com/blog_ad1.png">
              </a>
            </li>
            <li class="cat-item cat-item-2">
              <a href="https://3zn.qiniu.com" title="七牛三周年嘉年华" target="_blank">
                <img src="develop-best-pratice.png">
              </a>
            </li>
          </ul>
      </div>
    </div> -->
  </div> <!-- end #sidebar -->
</div>  <!-- end .grid_5 -->
</div> <!-- end .container_16 -->






  <div id="footer">
    <div class="container_16">
      <div class="grid_5">
  &copy; Copyright 2017 - <a href="http://blog.qiniu.com/">七牛云</a></div>
<div class="grid_11">
  Vortex Theme by <a href="http://wordpress.org/themes/vortex" title="WPVortex">WPVortex</a> &sdot;<a href="http://wordpress.org/" title="WordPress">WordPress</a>&sdot;Redesigned by <a href="http://www.qiniu.com" title="Qiniu.com">Qiniu</a>
</div>
    </div>
  </div>

</div> <!-- end .wrapper -->
<script type='text/javascript' src='http://blog.qiniu.com/wp-content/themes/vortex/lib/js/superfish/superfish-combine.min.js?ver=1.5.9'></script>
<script type='text/javascript' src='http://blog.qiniu.com/wp-content/themes/vortex/lib/js/common.js?ver=1.0'></script>
<script type='text/javascript' src='http://blog.qiniu.com/wp-includes/js/wp-embed.min.js?ver=4.6.6'></script>
<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("fbfbacb18f1ac527ede6ca993f5fbb18");</script><!-- end Mixpanel -->
<!-- start GA -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40857860-12', 'auto');
  ga('send', 'pageview');

</script>
<!-- end GA -->
</body>
</html>
</body>
</html>
