/**
 * @file 组件样式
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.uploadBtn {
  line-height: @icecream-form-input-height-md;
}

.clearIcon {
  margin: 0 0 -2px @icecream-gap-xs;
  color: @icecream-color-grey-6;
  cursor: pointer;

  &:hover {
    color: @icecream-color-grey-7;
  }
}
