/**
 * @file 预览
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.icon {
  width: 40px !important;
  height: @icecream-form-input-height-md !important;
}

.iconNano {
  display: inline-block;
  width: @icecream-font-size-md;
  height: @icecream-font-size-md;

  img {
    display: block;
    max-width: @icecream-font-size-md;
    max-height: @icecream-font-size-md;
  }
}
