.hero-7event {
  background-image: image-url("banner/banner-7event.jpg") !important;
  margin-bottom: 0 !important;
}

.page-body-7event {
  background: -webkit-linear-gradient(#08093E, #5519B1);
  background: -o-linear-gradient(#08093E, #5519B1);
  background: -moz-linear-gradient(#08093E, #5519B1);
  background: linear-gradient(#08093E, #5519B1);
}

.features-7event-present {
  background: transparent !important;

  .present-container {
    position: relative;

    .block-left,
    .block-right {
      position: absolute;
    }

    .block-left {
      left: 0;
    }

    .block-right {
      right: 0;
    }

    .trapezoid-large-lr,
    .trapezoid-small-lr {
      border-left: 0 solid rgba(255, 255, 255, 0.04);
      border-top: 0.20rem solid transparent;
      border-bottom: 0.20rem solid transparent;
    }

    .trapezoid-large-rl,
    .trapezoid-small-rl {
      border-right: 0 solid rgba(255, 255, 255, 0.04);
      border-top: 0.20rem solid transparent;
      border-bottom: 0.20rem solid transparent;
    }

    .trapezoid-large-lr,
    .trapezoid-large-rl {
      height: 50%;
      bottom: 10%;
    }

    .trapezoid-small-lr,
    .trapezoid-small-rl {
      height: 30%;
      bottom: 20%;
    }
  }

  .container {
    margin-bottom: 0.50rem;
  }

  .intro {
    .title {
      margin-bottom: 0.05rem;
      color: #FFF;
      line-height: 0.50rem;
      background-image: image-url("7event/title-background.png");
      background-repeat: no-repeat;
      background-size: 2.20rem;
      background-position: center;
    }

    .desc {
      color: #F9804B;
      font-size: 0.25rem;
    }
  }

  .table-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.10rem;
    overflow-x: auto;

    .table {
      margin: 0.20rem 0;
      min-width: 720px;

      tr>td {
        font-size: 0.16rem;
        padding: 0.12rem 8px;
        color: #FFF;
        border: none;
        vertical-align: middle;

        &.font-blue {
          color: #5EC4FB;
        }

        &.vertical-top {
          vertical-align: top;
        }

        &.horizontal-center {
          text-align: center;
        }

        p {
          margin-bottom: 0.10rem;
          color: #FFF;
          font-size: 0.14rem;
          line-height: 18px;
        }

        a {
          color: #FFF;

          &.recharge-btn-1:hover {
            color: #22185B;
          }

          &.recharge-btn-2:hover {
            color: #2D1A6D;
          }

          &.recharge-btn-3:hover {
            color: #3B1E81;
          }

          &.recharge-btn-4:hover {
            color: #482094;
          }

          &.recharge-btn-5:hover {
            color: #5323A6;
          }
        }
      }
    }
  }
}

.features-7event-foot {
  height: 3.00rem;
  padding: 0;
  background: transparent;
  background-image: image-url("7event/foot-background.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;

  h2,
  p {
    color: #FFF;
    text-align: center;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.20rem;
    padding-bottom: 0.20rem;
    border-bottom: 2px solid #FFF;
  }

  p {
    font-size: 0.20rem;
  }
}

@media (max-width:991px) {
  .features-7event-present {
    .table-container {
      tr>td {
        font-size: 0.14rem !important;

        p {
          font-size: 0.12rem !important;
        }
      }
    }
  }
}

@media (max-width:767px) {
  .features-7event-present {
    .present-container {

      .block-left,
      .block-right {
        display: none;
      }
    }
  }

  .features-7event-foot {
    h2 {
      font-size: 0.28rem;
    }

    p {
      font-size: 0.18rem;
    }
  }
}