.features-about,
.features-sla{
  div.sections-wrapper{
    padding: 0;
    margin: 0;
  }
  ul.nav.nav-stacked.left-tab li a{
    color: #666;

    &:hover,
    &:focus{
      color: #00a0de;
    }
  }

  ul.nav.nav-stacked.left-tab li.active a{
    color: #00a0de;
  }
  section{
    font-family: PingFangSC Medium;

    div.news-modal{
      padding: 30px 0;
      border-bottom: 1px solid #eeeeee;
    }

    h4{
      font-size: 0.21rem;
      color: rgb(47, 48, 51);
    }

    time{
      font-size: 12px;
      color: rgb(151, 152, 156);
    }

    p{
      font-size: 0.14rem;
      color: rgb(94, 97, 102);
      margin-top: 0.20rem;
    }
  }
}

#about-left-bar {
  li { display: inline-block; }
  margin-bottom: 0.20rem;
}