/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require slick
 *= require slick-theme
 */

@import "bootstrap-sprockets";
@import "components/variables";
@import "bootstrap";
@import "components/navbar";
@import "components/navtab";
@import "components/utilities";
@import "components/footer";
@import "components/icons";
@import "components/helper";
@import "components/conveyor";
@import "components/components";
@import "components/range";

@import "banner";
@import "contact";
@import "events";
@import "tech";
@import "about";
@import "company";
@import "cooperations";
@import "case";
@import "prices";
@import "solution";
@import "products";
@import "sla";

html{
  position: relative;
  font-size: 100px;
}

.browsehappy{
  border-radius: 0;
  margin-bottom: 0;
}

a.out_link{
  display: inline-block;
  margin-top: 0;
  color: #fff;
}

a.underline{
  text-decoration: underline;
}

.kodo-modal{
  color: rgba(255,255,255,0.75);
  font-size: 0.14rem;
  line-height: 1.8;
}

.links-list{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 0.20rem;
    margin-bottom: 0.10rem;

    &::before{
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      border: 1px solid #525866;
      top: 5px;
      left: 0;
    }
    a:hover{ color: #07A0DF; }
  }
}

.select-lg{
  outline-style: none;
  outline-color: #e6eaef;
  &:active,&:focus{
    outline-style: none;
    outline-color: #e6eaef;
  }
}

//index banner slider
.banners-slider{
   .slick-dots li button::before{
    font-size: 0.40rem;
    content: "-";
    color: #B9B9B9;
  }
  .slick-dots li.slick-active button::before{ color: #3498db; }
}
.banners-slider .slick-dots.banners-arrow{ bottom: 0.48rem; }
.banners-actions{
  position: relative;

  .btn-absolute{
    position: absolute;
    top: -1.70rem;
    left: 1.00rem;
  }
}

//反馈、推荐表单
div.form-wrapper{
  padding-top: 0;
  padding-bottom: 1.4rem;
  .title{
    font-size: 0.16rem;
    color: #2f3033;
    text-align: center;
  }

  .form-box{ padding: 0.10rem 0.10rem 0.50rem 0.10rem; }
  form{
    max-width: 6.50rem;
    margin: 0 auto;

    .form-group{
      margin-bottom: 0.24rem;

      .col-init-left{
        padding-left: 0;
      }

      .col-init-right{
        padding-right: 0;
      }

      label{
        padding-left: 0;
        padding-right: 0;
        font-size: 0.14rem;
        color: #2f3033;
      }

      textarea{
        resize: none;
      }

      .form-control.active{
        border: 1px solid #ff3939;
      }

      .maxLength-tips{
        float: right;

        .maxLength-label{
          font-size: 0.12rem;
          color: #ff3939;
        }
      }

      .div-error{ display: none; }
      .div-error.active{
        display: inline-block;
        .error-label{
          font-size: 0.12rem;
          color: #ff3939;
        }
      }
    }
    .actions{ text-align: center; }
  }
}

//公用fixed
.fxd{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1000;
}
//左边40*40大小的背景图
.icon40{
  padding-left: 0.40rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.40rem 0.40rem;
  height: 0.40rem;
  line-height: 0.40rem;
}
.icon50{
  font-size: 0.14rem;
  display: inline-block;
  margin: 0;
  margin-bottom: 0.20rem;
  padding-left: 0.50rem;
  padding-right: 0.50rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.50rem 0.50rem;
  line-height: 0.50rem;
}
.icon140{
  font-size: 0.30rem;
  padding-left: 1.0rem;
  padding-top: 0.30rem;
  padding-bottom: 0.20rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.80rem 0.80rem;
  margin-bottom: 0.20rem;
}
//覆盖 bootsrap css
//.nav > li > a:hover, .nav > li > a:focus
.nav.navbar-wrapper-middle > li > a:hover, .nav.navbar-wrapper-middle > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}

// 罗列 堆积式的展示图片 图片的大小
img.list-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.error-page{
  margin: 50px auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.error-page-404{
    max-width: 1130px;
    min-height: 630px;
    background-image: image-url('404.jpg');
  }
}

// 打印
// ---------------------------------------------------------------------
@media print {
  body{ padding-top: 0; }
  .topic-sidebar-wrap{ display: none; }
  .topic-content-wrap { margin-left: 0; }
}


// Responsive
// ---------------------------------------------------------------------
@media (max-width: 1024px){
  .pricing-caculator{ width: 6.0rem; }
  input[type="range"]{ width: 70%; }
}


@media (max-width: 768px){
  .pricing-caculator{
    width: 100%;
  }
  input[type="range"]{
    width: 55%;
  }
  .input-num{
    width: 0.9rem;
  }
}

footer .container {
  .grey-link a {
    color: #adaeb3;
  }
}

.grey-color {
  color: #adaeb3;
}

@media (max-width: 736px) {
  .banners-slider .slick-dots.banners-arrow{
    bottom: 0.18rem;
  }
}

// iPad
@media (min-width: 768px) and (max-width: 991px){

}

//phone
@media (max-width: 768px){
  html{
    font-size: 70px;
  }
}

@media (min-width: 992px){

}

@media (min-width: 768px){
  .plsv-services{
    .col-5{
      width: 20%;
    }
  }
  .nav-tabs.nav-justified.nav-short{
    width: 80%;
  }
}

@media (max-width: 767px) {
  .left-hotnews {
    ul > li {
      display: inline-block;
    }
  }
  .modal .modal-dialog {
    margin-top: 12px;
  }
  .nav-tabs.nav-justified.nav-short {
    width: 100%;
    text-align: center;
    li {
      float: none;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      a {
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }
  }
}
