/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require slick
 *= require slick-theme
 */

@import "bootstrap-sprockets";
@import "components/variables";
@import "bootstrap";
@import "components/navbar";
@import "components/navtab";
@import "components/utilities";
@import "components/footer";
@import "components/icons";
@import "components/helper";
@import "components/conveyor";
@import "components/components";
@import "components/range";

@import "contact";
@import "events";
@import "tech";
@import "pandora";
@import "fusion";
@import "about";
@import "company";
@import "cooperations";
@import "case";
@import "prices";
@import "solution";
@import "dora";
@import "sla";

html{
  position: relative;
  font-size: 100px;
}

.browsehappy{
  border-radius: 0;
  margin-bottom: 0;
}

// index page
.jumbotron.hero{
  height: 5.18rem;
  margin-top: -0.68rem;
  margin-bottom: 0.30rem;
  text-align: center;
  background-image: image-url('banner.jpg');

  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;

  .vertical{
    position: relative;
    top: 25%;
  }

  &.hero-contact,
  &.hero-company{
    margin-bottom: -0.30rem;
  }

  .btn-banner{
    position: relative;
    top: 3.50rem;
  }

  &.hero-banner1{ background-image: image-url('ssl.jpg');}
  &.hero-banner2{ background-image: image-url('southern-price-reduce-1.jpg')}
  &.hero-banner3{
    background-image: image-url('southern-price-reduce.jpg');
    .btn-banner{
      left: 1.00rem;
    }
  }
  &.hero-kodo{ background-image: image-url('duixiangcunchu-banner.jpg'); }
  &.hero-pili{ background-image: image-url('zhiboyun-banner.jpg'); }
  &.hero-contact{ background-image: image-url('contact/banner.jpg'); }
  &.hero-events{background-image: image-url('marketing-banner.jpg'); }
  &.hero-ecug{background-image: image-url('ecug-banner.jpg'); }
  &.hero-niushow{background-image: image-url('niushow-banner.jpg'); }
  &.hero-pandora{background-image: image-url('dashuju-banner.jpg'); }
  &.hero-fusion{background-image: image-url('fusion-banner.jpg'); }
  &.hero-dora{background-image: image-url("zhinengduomeitiAPI-banner.jpg"); }
  &.hero-kirk{background-image: image-url("rongqiyun-banner.jpg"); }
  &.hero-vance{background-image: image-url("dianboyun-banner.jpg"); }
  &.hero-company{background-image: image-url("company/banner.jpg"); }
  &.hero-case{background-image: image-url("case/banner.jpg"); }
  &.hero-solution{background-image: image-url("solutions-banner.jpg"); }
  &.hero-prices{background-image: image-url("price-banner.jpg"); }
  &.hero-caculator{background-image: image-url("caculator-banner.jpg"); }
  &.hero-atlab{background-image: image-url("ava-banner.jpg"); }
  &.hero-plsv{background-image: image-url("duanshipin-banner.jpg"); }

  .container{
    text-align: left;
    padding-top: 0.55rem;
    color: #FFF;
  }
  h2{
    margin: 0.50rem auto 0.30rem;
    font-size: 0.35rem;
    font-weight: 400;
    text-shadow: 0 0.02rem 0.03rem rgba(0,0,0,.5);
  }
  p{
    line-height: 0.28rem;
    font-size: 0.14rem;
  }
}

a.out_link{
  display: inline-block;
  margin-top: 0;
  color: #fff;
}

a.underline{
  text-decoration: underline;
}

.kodo-modal{
  color: rgba(255,255,255,0.75);
  font-size: 0.14rem;
  line-height: 1.8;
}

.features-nav{
  height: 0.46rem;
  margin-top: 0;
}

// 产品
.features{
  background: #FFF;
  padding: 0.60rem 0 0.50rem;

  .list li.active a{
    color: #00a0de;
  }

  .list li.hot a{
    color: #2f3033;
  }

  .btn.feature-btn{
    color: #28aedf;
    background-color: transparent;
    border: 0.01rem solid #28aedf;

    &:hover{
      color: #fff;
      background-color: #28aedf;
    }
  }

  a.more{
    display: inline-block;
    margin-top: 0;
    color: $brand-primary;
  }
  //合作伙伴 案例
  div.feature-case{
    position: relative;
    border: 0.01rem solid #eeeeee;
    margin-bottom: 0.30rem;
    min-height: 1.40rem;
  }

  video{
    max-height: 100%;
    max-width: 100%;
  }

  .row{
    .col-sm-6{
      padding-left: 0.35rem;
      padding-right: 0.35rem;
      margin-bottom: 0.25rem;
    }

    .col-sm-6.col-init,
    .col-sm-8.col-init{
      padding-right: 0;
      padding-left: 0.35rem;
    }

    .col-sm-6.col-sm-6-init{
      padding-left: 0.15rem;
    }

    .col-padding{
      padding: 0.50rem;
    }

    .col-clear{
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }
  }

  .row-clear{
    margin: 0;
  }

  .media-object.media-object-index{
    max-width: 1.20rem;
  }

  .caption.caption-index{
    padding: 0.27rem;

    .caption-title{
      margin-top: 0;
      margin-bottom: 0.20rem;
    }
    p{
      line-height: 0.28rem;
    }
  }

  &.kirk-usage{
    .row{
      .thumbnail{
        min-height: 2.33rem;
      }
    }
  }

  &.plsv-services{
    .row.row-clear{
      padding-left: 0.20rem;
      padding-right: 0.20rem;

      .thumbnail-icons{
        min-height: 1.00rem;
      }
    }
  }

  .intro{
    margin-bottom: 0.50rem;
    .title{
      margin-top: 0.20rem;
      margin-bottom: 0.20rem;
      text-align: center;
      font-weight: 300;
    }
    .desc{ text-align: center; }
  }

  .tab-content {
    margin-top: 0.45rem;
    line-height: 0.28rem;

    .tab-desc {
      padding: 0;
      text-align: center;
      margin-top: -0.20rem;
    }

    .media-body{
      padding: 0 0.50rem;
    }
    p{
      line-height: 0.28rem;
      padding: 0.28rem 0.10rem;
    }
  }

  .feature-item{
    margin-bottom: 0.50rem;
    padding-left: 0.15rem;
    &:last-child{ margin-bottom: 0; }
    h4{
      margin-bottom: 0.15rem;
      > img{ margin-right: 0.15rem; }
    }
  }

  .media-left{
    padding-right: 0.30rem;
  }

  .media-object{
    max-width: 1.40rem;
  }
  .media-heading{
    margin-bottom: 0.20rem;
  }
  p, a{
    color: #666;
  }
  a{
    &.icon{
      display: inline-block;
      margin-right: 0.10rem;
    }
    &:hover{ color: #28aedf; }
  }

  .thumbnail{
    border: none;
    background: transparent;
    min-height: 2.35rem;
    margin-bottom: 0;
    .caption.caption-center{
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      h4 {
        margin-bottom: 0.15rem;
      }
      p {
        color: #888;
      }
    }
    .desc{
      text-align: center;
    }
    h4{ text-align: center; }
  }
}

.features.features-scene .img-left{
  max-width: 2.70rem;
}

.features.features-superiority {
  .title { font-size: 0.28rem; }
  .media-left {
    padding-right: 0.30rem;
  }
  p {
    line-height: 0.28rem;
    color: #888;
  }
  .row .col-sm-6 {
    margin-bottom: 0.30rem;
  }
}

.features.feature-core {
  .title { font-size: 0.28rem; }
  p {
    line-height: 0.28rem;
    color: #888;
  }
  h4 {
    margin-bottom: 0.15rem;
  }
  padding-bottom: 0.50rem;
}

.features.pili-media {
  .media {
    min-height: 1.10rem;
  }
  .media-heading {
    margin-bottom: 0.15rem;
  }
  p {
    color:#888;
    line-height: 0.28rem;
  }
  .row .col-sm-6 {
    margin-bottom: 0.30rem;
  }
}

.feature-color{
  background: #F7F8F9;
}
.light-bkcolor{
  background-color: #f6f8fa;
}

.features-hotnews{
  .left-hotnews{
    padding-left: 0.50rem;
  }
  .right-hotnews{
    padding-right: 0.50rem;
  }
}
.features-solution{
  background: #F7F8F9;
}

.features-cases{
  background: #FFF;
}

.features-less{
  &.features-cases{
    background: #F8F8F8;
  }
  .row h2.title{
    text-align: center;
    margin-top: 0.05rem;
    margin-bottom: 0.3rem;
  }
}

.features-hotnews{
  margin-top: 0.20rem;
  border-top: 0.01rem solid rgba(0, 0, 0, 0.075);
  .row{
    margin-left: -0.50rem;
    margin-right: -0.50rem;

    font-family: PingFangSC Regular;

    .col-sm-6{
      padding-left: 0.15rem;
      padding-right: 0.15rem;
      margin-bottom: 0;
    }
  }
  .hotnews-title{
    padding-bottom: 0.20rem;

    font-size: 0.18rem;
    font-weight: 400;
    color: #97989c;
    &:hover{
      cursor: pointer;
      color: #000;
    }
  }

  .hotnews-box{
    img{
      width: 100%;
    }
    .infobox{
      padding: 0.10rem;
    }
    &:hover{
      transition: all 0.3s;

      transform: scale(1.02,1.02);

      -webkit-box-shadow: 0 0 0 #EFEFEF, 0.02rem 0.02rem 0.20rem #B9B9B9;
      -moz-box-shadow: 0 0 0 #EFEFEF, 0.02rem 0.02rem 0.20rem #B9B9B9;
      box-shadow: 0 0 0 #EFEFEF, 0.02rem 0.02rem 0.20rem #B9B9B9;
    }
  }

  time{
    color: #97989c;
    font-size: 0.12rem;

    display: block;
    margin-bottom: 0.10rem;
  }
  p{
    color: #000;
  }
}

.features-custom-function{
  background: #F7F8F9;
  .media-left{ padding-right: 0.35rem; }
  .media-body{ padding-right: 0.30rem; }
}

.features-scenario{
  text-align: center;
  img{ margin-bottom: 0.30rem; }
}

.links-list{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a:hover{
      color: #07A0DF;
    }
  }
}

.select-lg{
  outline-style: none;
  outline-color: #e6eaef;
  &:active,&:focus{
    outline-style: none;
    outline-color: #e6eaef;
  }
}

//index banner slider
.banners-slider{
   .slick-dots li button::before{
    font-family: "" !important;
    font-size: 0.40rem;
    content: "-";
    color: #B9B9B9;
  }

  .slick-dots li.slick-active button::before{
    color: #3498db;
  }
}
.banners-slider .slick-dots.banners-arrow{
  bottom: 0.58rem;
}
.banners-actions{
  position: relative;

  .btn-absolute{
    position: absolute;
    top: -1.70rem;
    left: 1.00rem;
  }
}

//反馈、推荐表单
div.form-wrapper{
  padding-top: 0;
  padding-bottom: 1.20rem;
  .title{
    font-family: PingFangSC Medium;
    font-size: 0.16rem;
    color: #2f3033;
    text-align: center;
  }

  .form-box{
    padding: 0.10rem 0.10rem 0.50rem 0.10rem;
  }
  form{
    max-width: 6.50rem;
    margin: 0 auto;

    .form-group{
      margin-bottom: 0.24rem;

      label{
        padding-left: 0;
        padding-right: 0;
        font-family: PingFangSC Regular;
        font-size: 0.14rem;
        color: #2f3033;
      }

      textarea{
        resize: none;
      }

      .form-control.active{
        border: 0.01rem solid #ff3939;
      }

      .maxLength-tips{
        text-align: right;

        .maxLength-label{
          font-family: PingFangSC Regular;
          font-size: 0.12rem;
          color: #ff3939;
        }
      }

      .div-error{
        display: none;
      }
      .div-error.active{
        display: block;
        .error-label{
          font-family: PingFangSC Regular;
          font-size: 0.12rem;
          color: #ff3939;
        }
      }
    }

    .actions{
      text-align: center;
    }
  }
}

//公用fixed
.fxd{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1000;
}
//左边40*40大小的背景图
.icon40{
  padding-left: 0.40rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.40rem 0.40rem;
  height: 0.40rem;
  line-height: 0.40rem;
}
.icon50{
  font-size: 0.14rem;
  display: inline-block;
  margin: 0;
  margin-bottom: 0.20rem;
  padding-left: 0.50rem;
  padding-right: 0.20rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.50rem 0.50rem;
  height: 0.50rem;
  line-height: 0.50rem;
}
.icon140{
  font-size: 0.30rem;
  padding-left: 1.0rem;
  padding-top: 0.30rem;
  padding-bottom: 0.20rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.80rem 0.80rem;
  margin-bottom: 0.20rem;
}
//覆盖 bootsrap css
//.nav > li > a:hover, .nav > li > a:focus
.nav.navbar-wrapper-middle > li > a:hover, .nav.navbar-wrapper-middle > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

//罗列 堆积式的展示图片 图片的大小
img.list-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

// 打印
// ---------------------------------------------------------------------
@media print {
  body{ padding-top: 0; }
  .topic-sidebar-wrap{ display: none; }
  .topic-content-wrap { margin-left: 0; }
}


// Responsive
// ---------------------------------------------------------------------
@media (max-width: 1024px){
  .features{
    padding: 0.50rem 0 0.50rem;
  }
  .pricing-caculator{
    width: 6.30rem;
  }
  input[type="range"]{
    width: 70%;
  }
  .features-kodo .nav-tabs.nav-justified.nav-short {
    width: 80%;
  }
}


@media (max-width: 768px){
  .features{
    padding-top: 0.10rem;
    .intro {
      margin-bottom: 0.20rem;
    }
    .col-sm-6:nth-child(odd){
      clear: left;
    }

    .media-left{
      display: block;
      text-align: center;
      padding: 0.10rem;
      .media-object{ margin: auto; }
    }

    .media-body{
      display: block;
      width: auto;
      .media-heading{ text-align: center; }
    }
  }

  .pricing-caculator{
    width: 100%;
  }
  input[type="range"]{
    width: 55%;
  }
  .input-num{
    width: 0.60rem;
  }
}

footer .container {
  .grey-link a {
    color: #adaeb3;
  }
}

.grey-color {
  color: #adaeb3;
}

// iPad
@media (min-width: 768px) and (max-width: 991px){
  .jumbotron.hero{
    p{
      line-height: 0.34rem;
      font-size: 0.16rem;
    }
  }
}

//phone
@media (max-width: 768px){
  html{
    font-size: 70px;
  }
  .jumbotron.hero{
    p{
      line-height: 0.34rem;
      font-size: 0.16rem;
    }
  }
  .features-kodo .nav-tabs.nav-justified.nav-short {
    width: 100%;
  }
  .navbar-default .actions{
    margin-left: 0;
    padding-left: 0.15rem;
  }
  .features .row.row-dora .col-content-middle{
    padding: 0.15rem;
  }
  .features-eval .evaluation-right ul{
    padding-left: 2.2rem;
    li{
      padding-top: 0.12rem;
      padding-bottom: 0.12rem;
    }
  }
}

@media (min-width: 992px){

}

@media (min-width: 768px){
  .plsv-services{
    .col-5{
      width: 20%;
    }
  }
}

@media (max-width: 767px) {
  .features .row {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-tabs.nav-justified.nav-short {
    width: 100%;
    text-align: center;
    li {
      float: none;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      a {
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }
  }
}
