/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


html, body {
  width: 100%;
  height: 100%;
  min-height: 480px;
  overflow-x: hidden;
  font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
}

html {
  min-height: 100%;
  height: auto;
  position: relative;
  background-color: #FFF;
}

body {
  padding-bottom: 185px;
}

code {
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

a{
  cursor: pointer;
  &:hover{
    color: #28aedf;
    text-decoration: none;
  }
}

a[data-lightbox] { display: inline-block; }

nav.navbar{
  min-height: 64px;
}

// 导航栏
.navbar-default{
  background: #1B8AFA;
  color: #FFF;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0;
  transition: opacity .6s ease, background .6s ease, box-shadow .6s ease;

  &.transparent{
    background: transparent;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: none;
  }
  .navbar-header{
    min-height: 64px;
    .navbar-toggle{
      margin-top: 14px;
      &:focus,
      &:hover { background-color: rgba(0, 0, 0, 0.35); }

      .icon-bar { background-color: #FFF; }
    }
  }
  .navbar-brand {
    display: inline-block;
    height: auto;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    &:focus,
    &:hover { color: #FFF; }

    img{
      display: block;
      float: left;
    }
    span{
      display: block;
      float: left;
      margin-top: 17px;
    }
  }

  .navbar-nav:first-child{
    margin-left: 10px;
  }

  .navbar-right{
    margin-right: 0;
    li.mobile{ display: none; }
  }

  .navbar-nav>li>a {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #FFF;
    position: relative;

    &::after {
      position: absolute;
      bottom: 20px;
      left: 14px;
      right: 14px;
      height: 2px;
      background: #FFF;
      content: '';
      opacity: 0;
      -webkit-transition: -webkit-transform 0.2s ease-in;
      transition: transform 0.1s ease-in;
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
    }
  }
  .navbar-nav>li.dropdown.open>a,
  .navbar-nav>li>a:focus,
  .navbar-nav>li>a:hover,
  .navbar-nav>.active>a,
  .navbar-nav>.active>a:focus,
  .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);

    &::after {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .navbar-nav>.open>a,
  .navbar-nav>.open>a:focus,
  .navbar-nav>.open>a:hover {
    color: #FFF;
    background-color: transparent;
  }
}

footer{
  height: 185px;
  background-color: #303749;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: baseline;
  transition: left .4s ease-in;
  font-weight: 300;

  .container{ max-width: 960px; }
  .links{
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .copyright{
    margin: 0 30px 10px 0;
    padding: 4px 0;
  }

  .qiniu-sites {
    li {
      display: inline-block;
      padding: 0 14px;
      margin: 7px 0;
      height: 14px;
      line-height: 14px;
      border-left: 1px solid #e6e9f0;

      &:first-child {
        border-left: none;
        padding-left: 0px;
      }

      a{ color: #FFF; }
    }
  }

  .social-follow {
    float: right;
    .social-links li {
      float: left;
      margin-right: 20px;
      a{ color: #CCC; }
    }
    .social-weixin-qrcode{
      position: relative;

      .popover{
        .arrow{ left: 50%; }
        bottom: 35px;
        top: inherit;
        left: -75px;
      }
    }
  }
}

// custome btn
.btn.btn-normal {
  color: #fff;
  background: #1989fa;
  border-radius: 0;
  &:hover{ color: #FFF; }
}

// nav nav-tabs
.nav.nav-tabs{
  border-bottom: 2px solid #e5e5e5;
  >li{
    display: block;
    position: relative;
    margin-bottom: -2px;
    margin-right: 35px;

    &:last-child{ margin-right: 0;}
  }
  >li::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1989fa;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.1s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
  }

  li.active::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  >li>a{
    padding: 12px 0;
    color: #333;
    border: none;
    &:hover{
      color: #1989fa;
      background-color: transparent;
      border-radius: 0;
    }
  }
  >li.active>a,
  >li.active>a:focus,
  >li.active>a:hover {
    color: #1989fa;
    cursor: default;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

// index page
// hero
.search-form{
  position: relative;
  margin: 50px auto;

  .search-box{
    padding: 6px 8px 6px 38px;
    height: 36px;
    box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1);
  }
  .icon{
    position: absolute;
    left: 12px;
    top: 12px;
    color: #999;
  }
  .search-tip {
    color: #fff;
    em{ font-style: normal; }
  }
}

.jumbotron.hero{
  height: 385px;
  margin-top: -65px;
  text-align: center;
  background-image: image-url('banner3.jpg');

  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;

  .container{
    max-width: 750px;
    padding-top: 55px;
  }
  h2{
    margin: 50px auto;
    font-weight: 400;
    color: #FFF;
    text-shadow: 0 2px 3px rgba(0,0,0,.5);
  }
  .search-form .search-box{ border: none; }
}

// 产品
.features{
  background: #FFF;
  .container{
    .row{
      margin-left: -35px;
      margin-right: -35px;
      .col-sm-6{
        padding-left: 35px;
        padding-right: 35px;
        min-height: 172px;
        margin-bottom: 25px;
      }
    }

    .title{
      margin: 50px 10px;
      line-height: 34px;
      text-align: center;
      font-weight: 300;
    }
    .desc{
      text-align: center;
    }
    .media-object{
      max-width: 150px;
    }
    .media-heading{
      margin-bottom: 20px;
    }
    p, a{
      color: #666;
      line-height: 24px;
    }
    a:hover{
      color: #28aedf;
    }
  }
}


.features-solution{
  .thumbnail{
    border: none;
    h4{
      text-align: center;
    }
  }
}

#support-tab, #goTopBtn {
    z-index: 9;
    right: 20px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: width .15s ease-out;
    transition: width .15s ease-out;
    position: fixed;
    cursor: pointer;
    font-weight: 500;
    overflow: hidden;
    text-decoration: none;
    background: image-url('earphone.png') no-repeat #8792a8;
    background-size: 28px;
    background-position: 11px center;
    outline: none;
}

#goTopBtn {
  background-image: image-url('gotopbtn.png');
  bottom: 20px;
}

#support-tab span, #goTopBtn span {
    color: #fff;
    display: none;
}

#support-tab:hover, #goTopBtn:hover {
    width: 146px;
    background-position: 20px center;
}

#support-tab:hover span, #goTopBtn:hover span {
    display: inline;
    padding-left: 38px;
}

#goTopBtn.hidden {
  display: none;
}

// Responsive
@media (max-width: 425px) {
  footer{
    .qiniu-sites li { padding: 0 5px; }
    .footer-info{ margin: 25px auto 22px; }
  }
}


// 打印
@media print {
  body{ padding-top: 0; }
  .topic-sidebar-wrap{ display: none; }
  .topic-content-wrap { margin-left: 0; }
}