.features.features-arch {
  p.desc {
    font-size: 0.18rem;
    line-height: 0.36rem;
    color: rgb(136, 136, 136);
    text-align: center;
    margin: 0;
  }
}

.features.feature-arch-actions {
  padding-bottom: 0;
}
