// index page
.jumbotron.hero{
  height: 5.68rem;
  margin-top: -0.68rem;
  margin-bottom: 0.30rem;
  text-align: center;
  background-image: image-url('banner.jpg');

  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;

  &.hero-contact,
  &.hero-company{
    margin-bottom: -0.30rem;
  }

  .banner-container{
    position: relative;
    height: 5.18rem;
    width: 100%;
    margin-top: -0.68rem;
    margin-bottom: 0.30rem;
    text-align: center;
    .banner-desc{
      color: #fff;
      padding-top: 1.70rem;
      p{
        margin-bottom: 0;
      }
    }

    .btn-banner{
      position: absolute;
      bottom: 0.6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.hero-banner1{ background-image: image-url('duanshipin-banner.jpg');}
  &.hero-banner2{ background-image: image-url('southern-price-reduce-1.jpg');}
  &.hero-banner3{
    background-image: image-url('southern-price-reduce.jpg');
    .banner-container{
      left: 1.7rem;
    }
  }
  &.hero-kodo{ background-image: image-url('duixiangcunchu-banner.jpg'); }
  &.hero-pili{ background-image: image-url('zhiboyun-banner.jpg'); }
  &.hero-contact{ background-image: image-url('contact/banner.jpg'); }
  &.hero-events{background-image: image-url('marketing-banner.jpg'); }
  &.hero-ecug{background-image: image-url('ecug-banner.jpg'); }
  &.hero-niushow{background-image: image-url('niushow-banner.jpg'); }
  &.hero-pandora{background-image: image-url('dashuju-banner.jpg'); }
  &.hero-fusion{background-image: image-url('fusion-banner.jpg'); }
  &.hero-dora{background-image: image-url("zhinengduomeitiAPI-banner.jpg"); }
  &.hero-kirk{background-image: image-url("rongqiyun-banner.jpg"); }
  &.hero-vance{background-image: image-url("dianboyun-banner.jpg"); }
  &.hero-company{background-image: image-url("company/banner.jpg"); }
  &.hero-case{background-image: image-url("case/banner.jpg"); }
  &.hero-solution{background-image: image-url("solutions-banner.jpg"); }
  &.hero-prices{background-image: image-url("price-banner.jpg"); }
  &.hero-caculator{background-image: image-url("caculator-banner.jpg"); }
  &.hero-atlab{background-image: image-url("ava-banner.jpg"); }
  &.hero-plsv{background-image: image-url("duanshipin-banner.jpg"); }

  .container{
    position: relative;
    height: 5.2rem;
    text-align: left;
    &.center-container{
      text-align: center;
      .middle-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
      }
    }
  }
  .middle-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
  }
  h2{
    margin: 0.50rem auto 0.30rem;
    font-size: 0.35rem;
    font-weight: 400;
    text-shadow: 0 0.02rem 0.03rem rgba(0,0,0,.5);
  }
  p{
    line-height: 0.28rem;
    font-size: 0.14rem;
    text-shadow: 0 0.02rem 0.03rem rgba(0,0,0,.5);
  }
}


// Responsive
// ---------------------------------------------------------------------
@media (max-width: 425px) {
  .slick-slider{ margin-bottom: 0; }
  .jumbotron.hero{
    p{
      line-height: 0.32rem;
      font-size: 0.16rem;
    }
    &.hero-banner3{
      background-position: -520px center;
      .banner-container{
        left: 0;
      }
    }
  }
}

@media (max-width: 767px){

}

// iPad
@media (min-width: 768px) and (max-width: 991px){
  .jumbotron.hero{
    p{
      line-height: 0.34rem;
      font-size: 0.16rem;
    }
  }
}