// index page
.jumbotron.hero {
  height: 5rem;
  margin-bottom: 0.30rem;
  text-align: center;
  background-image: image-url('banner/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;

  h2.identification {
    font-size: 0.34rem;
  }

  .img-wrapper {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 30px;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    img.text {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
  }

  &.hero-contact,
  &.hero-company {
    margin-bottom: -0.30rem;
  }

  &.hero-niuday {
    background-image: image-url('niuday/banner-bg.jpg');
    margin: 0;
    padding-top: 68px;

    .img-wrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px 30px;
      text-align: center;
      vertical-align: middle;
      color: #fff;

      .btn-banner {
        color: #fff;
        background-color: #3f66cf;
      }

      .text {
        width: 540px;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  &.hero-niuday.niuday-meitu {
    background-image: image-url('niuday/banner-bg-meitu.jpg') !important;

    .img-wrapper {
      top: 3.30rem;

      h4 {
        font-size: 20px;
      }
    }
  }

  &.hero-niuday.niuday-aicloud {
    background-image: image-url('niuday/banner-bg-aicloud.jpg') !important;

    .img-wrapper {
      top: 3.20rem;

      h4 {
        padding-right: 0;
        padding-left: 0;
        font-size: 20px;
      }
    }
  }

  .banner-desc-right {
    width: 100%;
    left: 60%;
    position: absolute;
    bottom: 1.2rem;
    color: #fff;

    p {
      text-shadow: none;
    }
  }

  .highlight-desc {
    padding: 10px;
    background: #3f66cf;
    font-size: 28px;
    display: inline-block;
    font-weight: bold;
  }

  .banner-container {
    position: relative;
    height: 4.5rem;
    width: 100%;
    margin-top: -0.68rem;
    margin-bottom: 0.30rem;
    text-align: center;

    .banner-desc {
      color: #fff;
      padding-top: 1.70rem;

      p {
        margin-bottom: 0;
      }
    }

    .btn-banner {
      position: absolute;
      bottom: 0.6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.hero-sourth-asia {
    background-image: image-url('sourth-asia-banner.jpg');
  }

  &.hero-bannerIdentify {
    background-image: image-url('banner/banner-identification.jpg');

    .middle-container {
      top: 50%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.10rem;
      }

      .tips {
        padding-top: 0.20rem;
        font-size: 0.14rem;
      }
    }
  }

  &.hero-banner2 {
    background-image: image-url('southern-price-reduce-1.jpg');

    .banner-container .btn-banner {
      bottom: 0.4rem;
    }
  }

  &.hero-bannerPlayer {
    background-image: image-url('banner/banner-player.jpg');

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-bannerAI {
    background-image: image-url('banner-aichuangxinfuchijiahua.jpg');
  }

  &.hero-cdnprice {
    background-image: image-url('banner/banner-cdn.jpg');

    .middle-container {
      top: 48%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.10rem;
      }

      .tips {
        padding-top: 0.20rem;
        font-size: 0.14rem;
      }
    }
  }

  &.hero-bannerGoglobal {
    background-image: image-url('bannerGoglobal.jpg');

    .banner-container {
      height: 4.5rem;

      .btn-banner {
        bottom: -50px;
      }
    }
  }

  &.hero-invitation {
    background-image: image-url('invitation/banner.jpg');

    .container {
      position: relative;

      .content-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 800px;
        text-align: center;

        p {
          color: #52caff;
          font-size: 0.18rem;
          margin-top: -56px;
        }

        .actions {
          a.btn-banner-invitation {
            color: #14315b;
          }
        }
      }
    }
  }

  .right-mask-banner {
    min-height: 3rem;

    img {
      vertical-align: middle;
      display: inline-block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.hero-contact {
    background-image: image-url('contact/banner.jpg');
  }

  &.hero-events {
    background-image: image-url('marketing-banner.jpg');
  }

  &.hero-ecug {
    background-image: image-url('ecug-banner.jpg');
  }

  &.hero-niushow {
    background-image: image-url('niushow-banner.jpg');
  }

  &.hero-company {
    background-image: image-url("company/banner.jpg");
  }

  &.hero-case {
    background-image: image-url("case/banner.jpg");
  }

  &.hero-prices {
    background-image: image-url("price-banner.jpg");
  }

  &.hero-caculator {
    background-image: image-url("caculator-banner.jpg");
  }

  &.hero-goglobal {
    background-image: image-url('goglobal/banner.jpg');
  }

  &.hero-newmedia {
    background-image: image-url('newmedia/banner.jpg');
  }

  &.hero-player {
    background-image: image-url('player/banner.png');
  }

  &.hero-alaccelerator {
    padding-top: 68px;
    background-image: image-url('alaccelerator/banner.jpg');
  }

  &.hero-livequiz {
    background-image: image-url('livequiz/banner-bg.jpg');
  }

  &.hero-plup {
    background-image: image-url('bg-security-banner.jpg');
  }

  &.hero-plup {
    .middle-container {
      padding-top: 50px;
    }

    .right-mask-banner img {
      width: 80%;
    }
  }

  &.hero-plsv {
    background-image: image-url('banner/banner-plsv.jpg');
  }

  &.hero-plsv {
    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h2 {
          font-size: 0.50rem;
        }

        p {
          padding-top: 0.10rem;
          font-size: 0.20rem;
        }
      }

      .btn {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-arch {
    background-image: image-url('arch/banner');

    .img-wrapper {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      padding-top: 60px;

      .arch-text {
        width: 456px;
        height: auto;
      }
    }
  }

  &.hero-ecugcon {
    background-image: image-url('ecug/banner.jpg');

    .img-wrapper {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
    }
  }

  &.hero-partner {
    background-image: image-url('partner/banner.jpg');
  }

  &.hero-vcs {
    background-image: image-url("vcs/banner.png");

    .middle-container {
      top: 35%;

      .right-mask-vcs {
        position: absolute;
        top: -1.00rem;
        right: -2.00rem;
      }
    }
  }

  &.hero-gartner {
    background-image: image-url("banner/banner-gartner.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          font-size: 0.50rem;
          font-weight: 600;
        }

        p {
          margin-top: 0.30rem;
          font-size: 0.20rem;
          font-weight: 600;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-insight {
    background-image: image-url("banner/banner-insight.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          font-size: 0.50rem;
        }

        p {
          margin-top: 0.20rem;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }
  }

  &.hero-rtn-index {
    background-image: image-url("banner/banner-rtn.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0 0 0.05rem 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-censor-index {
    background-image: image-url("banner/banner-censor-index.jpg");

    .middle-container {
      top: 55%;
      text-align: center;

      .btn-banner {
        margin-top: 0.40rem;
      }
    }
  }

  &.hero-qvm-index {
    background-image: image-url("banner/banner-qvm.jpg");

    .middle-container {
      top: 45%;
      text-align: center;
      z-index: 1;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0.30rem 0 0 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.30rem;
      }
    }

    .right-image-container {
      height: 70%;
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 0;
    }
  }

  &.hero-ess-index {
    background-image: image-url("banner/banner-ess-index.jpg");

    .middle-container {
      top: 35%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-edu-index {
    background-image: image-url("banner/banner-edu.jpg");

    .middle-container {
      top: 50%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0 0 0.05rem 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-pili {
    background-image: image-url("banner/banner-pili.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          margin-top: 0.30rem;
          margin-bottom: 0.20rem;
          font-size: 0.50rem;
        }

        p {
          margin: 0 0 0.05rem 0;
          font-size: 0.20rem;
        }
      }

      .btn-banner {
        margin-top: 0.20rem;
      }
    }
  }

  &.hero-7event-index {
    background-image: image-url("banner/banner-7event-index.jpg");

    .middle-container {
      top: 75%;
      text-align: center;

      .btn-banner:hover {
        color: #120B4E;
      }
    }
  }

  &.hero-qvm1rmb-index {
    background-image: image-url("banner/banner-qvm1rmb-index.jpg");

    .middle-container {
      top: 45%;
      text-align: center;

      .banner-desc {
        h1 {
          margin: 0.20rem 0;
          font-size: 0.80rem;
          font-weight: 600;
        }

        h2 {
          margin-top: 0.40rem;
          margin-bottom: 0;
          font-size: 0.40rem;
          font-weight: 600;
          text-shadow: none;
        }
      }

      .btn-banner {
        margin-top: 0.40rem;
        color: #530B7B;
        border: none;
        background-color: #FFE300;
      }
    }
  }

  &.hero-kodo-pili-event {
    background-image: image-url("banner/banner-kodo-pili-event.jpg");
    .middle-container {
      top: auto;
      bottom: 18%;
      text-align: center;
    }
  }

  &.hero-event1024-index {
    background-image: image-url("banner/banner-event1024-index.jpg");
    .middle-container {
      top: auto;
      bottom: 20%;
      text-align: center;
      .btn-banner {
        color: #000;
        border: none;
        background-color: #FFD100;
        &:hover {
          color: #FFF;
        }
      }
    }
  }

  .container {
    position: relative;
    height: 4.52rem;
    text-align: left;

    &.center-container {
      text-align: center;

      .middle-container {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
      }
    }
  }

  .middle-container {
    padding: 0 10px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;

    .banner-desc {
      span.text-warn {
        color: #FFE23F;
      }

      span.text-strong {
        color: #27B6FF;
      }

      span.text-bold {
        font-weight: 600;
      }
    }
  }

  h2 {
    font-size: 0.35rem;
    font-weight: 400;
    text-shadow: 0 0.02rem 0.03rem rgba(0, 0, 0, .5);

    small {
      color: #FFF;
    }
  }

  p {
    line-height: 0.28rem;
    font-size: 0.14rem;
    text-shadow: 0 0.02rem 0.03rem rgba(0, 0, 0, .5);
  }
}

.jumbotron.hero.en {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;

  .videoWrapper {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("https://mars-assets.qnssl.com/FspZJF8xgIz24cG8xWeq8Sq3yIKB");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .btn-icon.video-initial-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      background-image: image-url("btn-white-play.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100px 100px;
    }
  }
}

#englishVideo {
  .modal-content {
    top: 50px;
  }

  .modal-body {
    padding: 0;

    video {
      margin-bottom: -5px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 12px;
      font-size: 0.3rem;
      z-index: 10;
      color: #000;
      opacity: 1;
    }
  }
}

.banners-slider {
  max-height: 5rem;
  overflow: hidden;
}

// Responsive
// ---------------------------------------------------------------------
@media (max-width: 425px) {
  .slick-slider {
    margin-bottom: 0;
  }

  .jumbotron.hero {
    margin-top: 30px;

    .img-wrapper img.text {
      width: 80%;
    }

    p {
      line-height: 0.32rem;
      font-size: 0.16rem;
    }

    &.hero-banner3 {
      background-position: -520px center;

      .banner-container {
        left: 0;
      }
    }
  }

  .jumbotron.hero .banner-desc-right {
    left: 0;
    text-align: center;
  }

  .jumbotron.hero.hero-plup {
    .middle-container {
      padding: 10px;
    }
  }
}

@media (max-width: 510px) {
  .jumbotron.hero.hero-insight .middle-container .banner-desc {
    h1 {
      font-size: 0.40rem;
    }

    p {
      font-size: 0.15rem;
    }
  }

  .jumbotron.hero.hero-plsv .middle-container .banner-desc {
    h2 {
      font-size: 0.40rem;
    }
  }
}

@media (max-width: 767px) {
  .jumbotron.hero {
    margin-top: 68px;

    &.hero-arch {
      .img-wrapper {
        padding-top: 50px;

        .arch-text {
          width: 330px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .jumbotron.hero {
    &.hero-bannerAI {
      .banner-container {
        top: 20px;
      }
    }

    &.hero-alaccelerator {
      height: 6rem;
      margin-top: 50px;
    }

    &.hero-bannerGoglobal {
      .banner-container {
        top: 20px;

        .btn-banner {
          bottom: -15px;
        }
      }
    }

    &.hero-invitation .container .content-box {
      min-width: 330px;

      p {
        margin-top: -30px;
      }
    }

    &.hero-ecugcon .img-wrapper {
      img {
        width: 80%;
        height: auto;
      }
    }

    &.niuday-meitu,
    &.niuday-aicloud {
      .img-wrapper {
        top: 3.00rem !important;

        h4 {
          font-size: 16px !important;
          padding-bottom: 10px;
          margin-bottom: 0;
        }
      }
    }

    &.hero-censor-index {
      .middle-container {
        top: 65%;
      }
    }

    &.hero-qvm1rmb-index {
      .banner-desc {
        h1 {
          font-size: 0.70rem !important;
        }
      }
    }

    &.hero-kodo-pili-event {
      .middle-container {
        top: auto;
        bottom: 12%;
      }
    }

    &.hero-event1024-index {
      .middle-container {
        bottom: 15% !important;
      }
    }

    &.hero-ess-index {
      .middle-container {
        top: 38% !important;

        .banner-desc {
          h1 {
            font-size: 0.35rem !important;
          }

          p {
            font-size: 0.16rem !important;
          }
        }
      }
    }
  }

  .banners-slider .jumbotron.hero.hero-niuday .img-wrapper {
    top: 10%;
    transform: translate(-50%, 0);

    img.text {
      width: 340px;
    }
  }
}

@media (max-width: 767px) and (min-width: 426px) {
  .jumbotron.hero .banner-desc-right {
    left: 50%;
  }
}

@media (max-width: 992px) {
  .jumbotron.hero {
    &.hero-bannerIdentify .middle-container .banner-desc {
      h2 {
        font-size: 0.35rem;
      }
    }

    &.hero-ess-index {
      .middle-container {
        top: 38% !important;

        .banner-desc {
          h1 {
            font-size: 0.35rem !important;
          }

          p {
            font-size: 0.16rem !important;
          }
        }
      }
    }
  }
}

@media (width: 768px) {
  .jumbotron.hero {

    &.hero-ess-index {
      .middle-container {
        top: 30% !important;
      }
    }
  }
}

// iPad
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron.hero {
    p {
      line-height: 0.34rem;
      font-size: 0.16rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .features {
    .media {
      .media-body p.en {
        min-height: 196px;
      }
    }
  }
}