.features-blog{
  color: rgb(47,48,51);
  a{
    color: rgb(161,161,161);
    &:hover{
      color: rgb(6, 167, 225);
    }
  }
  .blog-content{
    width: 100%;
    overflow: hidden;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    border-bottom: 1px solid #e5e5e5;
    .entry-header{
      padding-bottom: 41px;
      .entry-utility-prep{
        color: rgb(161,161,161);
      }
    }
    .entry-title {
      .title{
        font-size: 30px;
        font-weight: 100;
        color: rgb(47,48,51);
      }
    }
    .entry-meta {
      padding-top: 0.1rem;
      .entry-meta-unit{
        margin-left: 2px;
        margin-right: 2px;
      }
      .img {
        width: 0.14rem;
      }
    }
    .blog-text{
      position: relative;
      min-height: 200px;
      .ellipsis{
        padding: 5px;
        color: rgb(47,48,51);
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-wrap: break-word;
      }
      .more-link-wrap{
        position: absolute;
        bottom: 0;
        left: 0;
        .more-link {
          color: rgb(6, 167, 225);
          display: block;
          font-size: 18px;
        }
      }
    }
  }

  .pagination {
    padding-top: 0.45rem;
    padding-bottom: 0.85rem;
  }
// right-sidebar

  .sidebar{
    padding-top: 0.45rem;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
  }

  /**
  |------------------------
  | =Search Form Widget
  |------------------------
  */

  .searchform {
    width: 100%;
    background: #fff;
    border: solid 1px #e7e7e7;
    padding:  0;
    margin: 0;
    overflow: auto;
  }

  .searchform .assistive-text {
    display: none;
  }

  .searchform input[type="text"] {
    width: 286px;
    height: 38px;
    float: left;
    padding: 6px 0 6px 11px;
    margin: 0;
    vertical-align: middle;
    border: 0;
    color: #ccc;
    box-shadow: none;
    border-radius:0;
  }
  .searchform input[type="text"]:focus	 {
    border-right: solid 1px #e7e7e7;
    outline-offset: 0;
    outline-width: 0;
    width: 260px;
    box-shadow: none;
    border-radius: 0;
  }

  .searchform input[type="submit"] {
    width: 36px;
    height: 36px;
    background: image-url('zoom.jpg') no-repeat 50% 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
  }

  .cat-item-first{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .cat-item{
    .category{
      color: rgb(2,2,2);
      font-size: 18px;
      line-height: 36px;
      &:hover{
        color: rgb(6, 167, 225);
      }
    }
  }
  .hot-clicks{
    color: rgb(2,2,2);
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    .title{
      font-size: 0.24rem;
      font-weight: 77;
    }
    ul.hot-clicks-wrapper{
      padding-left: 17px;
      margin: 0;
      li{
        margin-top: 0.14rem;
        margin-bottom: 0.14rem;
        .hot-title{
          color: rgb(2,2,2);
          font-size: 18px;
          line-height: 36px;
          &:hover{
            color: rgb(6, 167, 225);
          }
        }
      }
    }
  }
}