// Place all the styles related to the career controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// career index fluid-slider-wrapper
.navbar-default .navbar-brand span.navbar-brand-text {
  margin-top: 5px;
}

.hero-career .banner-desc {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fluid-slider-wrapper {
  padding: 1.68rem 0 0;
}

// social slider
.social-slider {
  .slick-prev {
    z-index: 1;
    margin-top: -20px;
    left: 20px;
    width: 20px;
    height: 30px;
    background-image: image-url("career/turnpage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 30px;
    transform: rotate(180deg);
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  .slick-prev:before {
    content: '';
  }

  .slick-next:before {
    content: '';
  }

  .slick-next {
    right: 20px;
    margin-top: -20px;
    width: 20px;
    height: 30px;
    background-image: image-url("career/turnpage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 30px;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

// career index fluid-word-slider
.fluid-word-slider {
  margin-top: 480px;
}

.conveyor.fluid-wordbutton-slider .slick-slide {
  text-align: left;
}

.fluid-slider-img-wraaper {
  padding: 0 0.2rem;
}

.Btn-prev,
.Btn-next {
  background: #6994B9;
}

.grid-container {
  transition: all 0.3s;
  position: relative;
  min-height: 100px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
    -moz-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
    box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;

    .btn-icon {
      background-image: image-url("icon-player.png");
    }
  }

  .btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
  }

  .btn-icon-visited {
    background-image: image-url("btn-play-highlight.png");
  }
}

.fluid-media-slider-wrapper {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
}

.fluid-media-slider {
  padding-top: 70px;

  .slick-dots li button::before {
    font-size: 0.40rem;
    content: "-";
    color: #B9B9B9;
  }

  .slick-dots li.slick-active button::before {
    color: #3498db;
  }
}

.banners-slider .slick-dots.banners-arrow {
  bottom: 0.48rem;
}

.banners-actions {
  position: relative;

  .btn-absolute {
    position: absolute;
    top: -1.70rem;
    left: 1.00rem;
  }
}

video {
  width: 100%;
  height: auto;
}

#interview {
  .modal-body {
    background: #000;
    padding: 0px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 0.3rem;
    z-index: 10;
    color: #000;
    opacity: 1;
  }

  video {
    display: block;
  }
}

#eventParty-short {
  .modal-body {
    background: #000;
    padding: 0px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 0.3rem;
    z-index: 10;
    color: #000;
    opacity: 1;
  }

  video {
    display: block;
  }
}

#eventParty-long {
  .modal-body {
    background: #000;
    padding: 0px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 0.3rem;
    z-index: 10;
    color: #000;
    opacity: 1;
  }

  video {
    display: block;
  }
}

// positions tab
.features-positions {
  &.features {
    h4 {
      font-size: 18px;
    }

    .intro {
      p {
        margin-bottom: 0;
      }
    }
  }

  .positionTab {
    margin: 0;

    .info-null {
      padding: 8px;
      border-top: 1px solid #ddd;
      font-size: 14px;
      line-height: 28px;
    }

    .table-responsive {
      border: none;

      .table>tbody>tr>th,
      .table>tbody>tr>td {
        border-top: 1px solid #ddd;
      }
    }
  }

  .nav.nav-tabs {
    margin-top: 25px;
    text-align: center;
    border-bottom: none;
  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    color: $brand-primary;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }

  &.features-positions-school {
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
      background-color: #F8F8F8;
    }
  }

  .nav.nav-tabs>li {
    float: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;

    img {
      display: block;
      opacity: .5;
    }

    a {
      margin-bottom: -1px;
    }
  }

  .nav>li.active {
    img {
      opacity: 1;
    }
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 6px 15px;
    text-align: center;
  }

  .nav>li>img {
    margin-bottom: 15px;
    &.m-b-20px {
      margin-bottom: 20px;
    }
  }

  .nav.nav-tabs>li::before {
    height: 0;
  }

  .m-r-1 {
    display: inline-block;
    margin-right: 5px !important;
  }

  .table td {
    line-height: 28px;
  }

  td {
    .title {
      font-size: 14px;
      display: inline-block;
      width: 100%;
      color: rgb(51, 51, 51);

      &:hover {
        cursor: pointer;
        color: #28aedf;
        text-decoration: none;
      }
    }

    .space {
      display: inline-block;
      margin: 0;
    }

    time {
      display: inline-block;
      width: 100%;
      text-align: right;
    }
  }
}

// position
.features.features-position {
  &.features-position-bg {
    background-color: #f2f2f2;
  }

  &.features-last {
    margin-bottom: 152px;
  }

  .position-title {
    padding-top: 51px;
  }

  .desc {
    font-size: 18px;
    color: rgb(136, 136, 136);
  }

  h2.title {
    font-size: 36px;
    color: rgb(51, 51, 51);
    margin: 20px 0;
  }

  .tags {
    span {
      display: inline-block;
      border-radius: 5px;
      font-size: 14px;
      color: rgb(173, 174, 179);
      margin-right: 15px;
      padding: 6px 12px;
      background-color: #fff;
    }
  }

  .action a.btn.btn-primary {
    margin-top: 10px;
    color: #fff;
    background-color: #00A0DE;
    border-color: #008ec5;
  }

  .position-details {
    color: rgb(136, 136, 136);
    margin-top: -30px;

    .title {
      font-size: 18px;
      color: rgb(51, 51, 51);
    }

    .position-unit {
      margin-bottom: 20px;
    }
  }
}

.features .hiring-content {
  ul.career-list {
    padding-left: 20px;
    padding-right: 20px;

    li {
      font-size: 14px;
      line-height: 28px;
      color: rgb(94, 97, 102);
      margin-bottom: 5px;
    }
  }

  .row {
    padding-bottom: 0.4rem;
  }
}

// career avater
.features-career {
  // .container {
  //   padding-bottom: 0;
  // }

  .media {
    .modal-body {
      padding-left: 50px;
      padding-right: 50px;
    }

    img {
      margin: auto;
      max-height: 100px;
      transition: opacity .1s;
    }
  }
}

// .features-fluid-media {
//   padding-top: 0 !important;

//   .container {
//     padding-bottom: 1.00rem;
//   }
// }

#interview,
#eventParty-short,
#eventParty-long {
  .modal-dialog.modal-dialog-3top {
    margin-top: 180px;
  }
}

@media (max-width: 767px) {
  .features-career.features-pbt {
    .col-pbt-item {
      min-height: 2.50rem;
    }
  }
  .features-positions {
    .container .row {
      .social-interview-col {
        padding: 0;
      }
    }
    &.features-positions-social {
      .container .row {
        &>div {
          height: 2.00rem;
        }
      }
    }
  }
}

@media (max-width: 517px) {
  .features.features-positions {
    h4.media-heading {
      min-height: 36px;
    }

    .nav.nav-tabs>li {
      margin-left: 0;
      margin-right: 0;

      img {
        display: none;
      }

      a {
        padding: 5px;
      }
    }

    .positionTab {
      td {
        .space {
          display: none;
        }

        time {
          display: none;
        }
      }
    }
  }
}

.banner-box.banner-career-school {
  margin-top: 68px;
}

@media (min-width: 517px) and (max-width: 768px) {
  .features.features-positions {
    .nav.nav-tabs>li {
      margin-left: 5px;
      margin-right: 5px;

      img {
        display: none;
      }

      a {
        padding: 6px 10px;
      }
    }

    .positionTab {
      td {
        .space {
          display: none;
        }

        time {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .features.features-position {
    .desc {
      font-size: 14px;
    }

    h2.title {
      font-size: 18px;
      margin: 15px 0;
    }
  }
}

.career-school-2019 {
  ul { padding: 0 }
  .intro1100 {
    max-width: 1100px;
    width: 100% !important;
    margin: auto;
    &.m-t-custom {
      margin-top: 0.60rem;
    }
  }
  .intro900 {
    max-width: 780px;
    width: 100% !important;
    margin: auto;
  }
  .features {
    background-size: 21% !important;
    background-position: 8% 60% !important;
    .intro {
      h3 {
        font-weight: 100;
        text-align: center;
      }
    }
    &.features-career-harvest {
      padding: 0.38rem 0 0.20rem;
      background-image: image-url("career/career-harvest-bg.png");
      background-repeat: no-repeat;
    }
  }
  .timeline-ul img { width: 100%; max-width: 170px; margin-bottom: 10px; }
  .timeline-ul li.right .info-div {
    text-align: left !important;
  }
  .timeline-ul li.left .info-div {
    text-align: right !important;
  }
  .timeline-ul li:nth-child(8) {
    margin-top: -225px !important;
  }
  .timeline-ul li:nth-child(6) {
    margin-bottom: 20px !important;
  }
  .ul2 { overflow: auto; margin-bottom: 0.30rem; }
  .ul2 li { width: 33.33%; height: 2.00rem; margin: 0.20rem 0; float: left; text-align: center; }
  .ul2 li { font-size: 0.20rem; }
  .ul2 img { width: 80%; max-width: 80px; margin-bottom: 0.30rem; }
  .ul3 { overflow: auto; margin-bottom: 0.30rem; margin-left: 25%; }
  .ul3 font { color: #00A0DE; }
  .ul3 li { width: 50%; margin: 0.20rem 0; float: left; text-align: left; font-size: 0.20rem; color: #000; line-height: 0.40rem; }
  .intro32a { width: 150px; margin: 0.50rem auto auto; color: #FFF !important; display: block; text-align: center; font-size: 0.18rem; background-color: #51A5FD; padding: 10px 0; border-radius: 0.20rem; }
  .intro32a:hover { color: #FFF !important; }

  @media screen and (max-width: 1200px) {
    .features { background-size: 20% !important; }
  }

  @media screen and (max-width: 960px) {
    .features { background-size: 20% !important; }
  }

  @media screen and (max-width: 780px) {
    .features { background-position: left 60% !important; }
    .timeline-ul li:nth-child(8) {
      margin-top: 0px !important;
    }
  }

  @media screen and (max-width: 768px) {
    .ul3 li { font-size: 0.18rem; line-height: 0.30rem; }
  }

  @media screen and (max-width: 480px) {
    .ul2 li { width: 50%; margin: 0.20rem 0; float: left; text-align: center; }
    .ul2 img { width: 60%; max-width: 80px; margin-bottom: 0.30rem; }
  }

  @media screen and (max-width: 630px) {
    .ul3 { margin-left: 39%; }
    .ul3 li { width: 100%; }
    .features { background-size: 36% !important; }
  }
}