.position{
    .btn {
      font-size: 14px;
    }
    .list-inline {
      margin-bottom: 0px;
    }
    .area-select {
      list-style: none;
      padding-top: 5px;
      padding-left: 0px;
      li {
        display: inline-block;
      }
    }
  }
