// Place all the styles related to the career controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//career index fluid-slider-wrapper
.navbar-default .navbar-brand span.navbar-brand-text{
  margin-top: 5px;
}
.fluid-slider-wrapper{
    margin-top: 162px;
  }

//career index fluid-word-slider
.fluid-word-slider{
  margin-top: 480px;
}

.fluid-slider-img-wraaper{
    padding: 0 0.2rem;
}

.Btn-prev, .Btn-next {
    background: #6994B9;
}

.grid-container{
  transition: all 0.3s;
  position: relative;
  min-height:100px;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover{
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
    -moz-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
    box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
    .btn-icon{
      background-image: image-url("icon-player.png");
    }
  }
  .btn-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
  }
  .btn-icon-visited{
    background-image: image-url("btn-play-highlight.png");
  }
}

.fluid-media-slider{
  .slick-dots li button::before{
    font-size: 0.40rem;
    content: "-";
    color: #B9B9B9;
  }
  .slick-dots li.slick-active button::before{ color: #3498db; }
}
.banners-slider .slick-dots.banners-arrow{ bottom: 0.48rem; }
.banners-actions{
    position: relative;
  .btn-absolute{
    position: absolute;
    top: -1.70rem;
    left: 1.00rem;
  }
}

video {
  width: 100%;
  height: auto;
}

#interview {
  .modal-dialog { margin-top: 60px; }
  .modal-body {
    background: #000;
    padding: 0px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 0.3rem;
    z-index: 10;
    color: #000;
    opacity: 1;
  }
  video {
    display: block;
  }
}

#eventParty-short {
  .modal-dialog { margin-top: 60px; }
  .modal-body {
    background: #000;
    padding: 0px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 0.3rem;
    z-index: 10;
    color: #000;
    opacity: 1;
  }
  video {
    display: block;
  }
}

#eventParty-long {
  .modal-dialog { margin-top: 60px; }
  .modal-body {
    background: #000;
    padding: 0px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 0.3rem;
    z-index: 10;
    color: #000;
    opacity: 1;
  }
  video {
    display: block;
  }
}

.features.tab-content-section-2 {
  .row {
    .media-heading {
      padding-top: 42px;
      font-size: larger;
      font-weight: 30px;
    }
    .thumbnail{
      .caption {
        h4 {
          font-size: 18px;
          font-weight: 30px;
        }
      }
    }
  }
}

//career social page scss
.btn-career:hover,
.btn-career:focus,
.btn-career:active,
.btn-career.active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-career{
  background-color:#40A7FF
}
.hiring-content{
  align: center;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 81px;
  .small-content {
    align: center;
  }
  p {
    padding-top: 0.1rem;
  }
  li {
    font-size: 14px;
    font-weight: 25px;
    padding-top: 0.1rem;
    color:rgb(94,97,102);
  }
  .row {
    padding-bottom: 0.4rem;
  }
}

//career positions page scss
.position{
  .btn {
    font-size: 14px;
  }
  .list-inline {
    margin-bottom: 0px;
  }
  .area-select {
    list-style: none;
    padding-top: 5px;
    padding-left: 0px;
    li {
      display: inline-block;
    }
  }
}

//career avater
.media {
 .modal-body{
  padding-left:50px;
  padding-right: 50px;
 }
 img {
  margin: auto;
  max-height: 100px;
  transition: opacity .1s;
 }
}
#myModal1,
#myModal2,
#myModal3{
  .modal-dialog.modal-dialog-3top{
    margin-top: 180px;
  }
}