.hero-case {
  center{
    margin-top: 1.25rem;
  }
}

.cases-wrapper{
  position: relative;
  padding: 0 0 0.05rem 0;

  .img-box img{
    width: 100%;
    height: 2.30rem;
  }

  .case-icon{
    width: 0.70rem;
    height: 0.50rem;
  }

  div.info-box{
    vertical-align: bottom;
  }

  &:hover{
    transition: scale 0.3s;
    transform: scale(1.02,1.02);
    .btn-icon-wrap{
      visibility: visible;
      .btn-icon{
        opacity: 1;
        color: #fff;
      }
    }
    .img-box img{
      opacity: 0.8;
    }
    -webkit-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
    -moz-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
    box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
  }

  .btn-icon-wrap{
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 2.30rem;
    background-color: rgba(0,0,0,.5);
    .btn-icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      padding: 0.10rem 0.20rem;
    }
  }
}

.features-eval{
  .evaluation-left{
    h4{
      font-size: 0.21rem;
      color: #666;
      font-weight: 300;
    }

    h2{
      font-size: 0.3rem;
      width: 6.40rem;
      margin: 0.26rem 0 0.26rem;
    }
  }

  .evaluation-right {
    ul{
      list-style: none;

      li{
        list-style: none;
        padding-left: 0.21rem;
        padding-right: 0.21rem
      }

      &.client-list li{
        display: inline-block;

        a {
          display: block;
          width: 0.60rem;
          height: 0.60rem;
          overflow: hidden;
        }
      }
    }

    ul.client-list li a{
      padding: 0;
      img{
        border-radius: 50%;
      }
    }

    ul.client-list li.active a:hover,
    ul.client-list li a:hover{
      background-color: transparent;
    }

    ul.client-list li.active a img, ul.client-list li a img:hover {
      opacity: 1;
    }

    ul.client-list li a img {
      opacity: .3;
      transition: opacity .5s;
    }

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }

    .tab-content-evaluation-details {
      margin: 0;
      padding: 0;
    }

    .tab-content {
      position: relative;
      overflow: hidden;

      section {
        h3 {
          margin: 0.56rem 0 0 0;
          font-size: 0.28rem;
          color: #333;

          span {
            margin-left: 0.20rem;
            font-size: 0.14rem;
            color: #666666;
          }
        }

        p {
          margin-top: 0.18rem;
          padding-top: 0.24rem;
          border-top: 1px solid #e5e5e5;
          font-size: 0.16rem;
          color: #888;
          line-height: 0.32rem;
        }
      }
    }
  }
}
