.jumbotron.hero.hero-cdn-package {
  margin-bottom: -2px;
  background-image: image-url("banner/banner-cdn-package.jpg") !important;
  .container {
    .middle-container {
      top: 65%;
      text-align: center;
      p {
        margin: 0.05rem 0;
        color: #808DAD;
        font-size: 0.18rem;
        font-weight: 600;
      }
    }
  }
}

.features-cdn-package {
  position: relative;
  .container {
    .intro {
      .title {
        color: #FFF;
      }
      .desc {
        color: #808DAD;
      }
    }
  }
  .image-divide {
    position: absolute;
    bottom: -2px;
  }
}

.features-cdnpackage-desc {
  padding-top: 0;
  padding-bottom: 0.80rem;
  background-color: #011D5C;
  .container {
    .col-desc-left,
    .col-desc-right {
      .thumbnail {
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-radius: 0.10rem;
        background: -webkit-linear-gradient(#384AB6, #1E2D80);
        background: -o-linear-gradient(#384AB6, #1E2D80);
        background: -moz-linear-gradient(#384AB6, #1E2D80);
        background: linear-gradient(#384AB6, #1E2D80);
      }
    }
    .col-desc-left,
    .col-desc-right {
      .thumbnail {
        p {
          color: #FFF;
          font-size: 0.20rem;
          text-align: center;
          .warning-span {
            color: #FA5A50;
            font-size: 0.26rem;
          }
          &.title {
            font-size: 0.20rem;
            margin: 0.20rem 0 0 0;
          }
          &.desc {
            margin: 0.10rem 0;
            font-size: 0.16rem;
            text-align: left;
            line-height: 1.60;
            .warning-span {
              font-size: 0.22rem;
            }
          }
        }
      }
    }
    .col-desc-right {
      .thumbnail {
        padding-left: 0.40rem;
        padding-right: 0.40rem;
        .col-right-icons {
          padding-top: 0.10rem;
          margin-bottom: 0;
          text-align: center;
          .icon-title {
            margin-top: 0.10rem;
            font-size: 0.14rem;
          }
        }
      }
    }
  }
}

.features-cdnpackage-get {
  padding-top: 0.40rem;
  padding-bottom: 0.80rem;
  background-color: #1E2D80;
  .container {
    .intro {
      margin-bottom: 0.30rem;
    }
    .btn-container {
      text-align: center;
      .cdnpackage-get-btn {
        padding: 0.10rem 0.50rem;
        border: none;
        color: #FFF;
        background-color: #CC473E;
        &:hover {
          -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.features-cdnpackage-buy {
  padding-bottom: 1.60rem;
  background-color: #011D5C;
  .container {
    .row {
      padding: 0.25rem 0 0 0;
      border-radius: 0.10rem;
      background-color: #0A256A;
      .col-buy {
        .thumbnail {
          height: 3.20rem;
          padding: 0;
          border-radius: 0.10rem;
          &.blue-light {
            background-color: #1EA3F0;
          }
          &.blue-medium {
            background-color: #1A6DE5;
          }
          &.blue-dark {
            background-color: #1B3DC8;
          }
          .caption {
            height: 100%;
            padding: 0;
            .title {
              margin-top: 0;
              margin-bottom: 0.10rem;
              padding-top: 0.30rem;
              color: #FFF;
            }
            .sub-title {
              margin: 0;
              padding: 0 0 0.20rem 0;
              color: #FFF;
              text-align: center;
            }
            .content-container {
              height: calc(100% - 1.10rem);
              padding: 0.20rem 0.10rem;
              border-radius: 0.10rem;
              background-color: #FFF;
              .buy-container {
                margin-top: 0.10rem;
                .tag-p {
                  margin-bottom: 0.25rem;
                  text-align: center;
                  .buy-activity-tag {
                    padding: 0 0.08rem;
                    font-size: 0.14rem;
                    font-weight: 600;
                    color: #EB7340;
                    border: 2px solid #EB7340;
                    border-radius: 4px;
                  }
                }
                .price-p {
                  position: relative;
                  margin-bottom: 0;
                  color: #CC473E;
                  font-size: 0.16rem;
                  text-align: center;
                  .symbol-money {
                    position: relative;
                    left: -0.05rem;
                    font-size: 0.22rem;
                    font-weight: 600;
                  }
                  strong {
                    position: relative;
                    left: -0.05rem;
                    font-size: 0.40rem;
                  }
                  .origin-money {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 0.16rem;
                    text-decoration: line-through;
                  }
                }
                .btn {
                  width: 100%;
                  margin-top: 0.20rem;
                  color: #FFF;
                  border: none;
                  background-color: #CC473E;
                  &:hover {
                    -webkit-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
                    -moz-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
                    box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .rules-container {
    margin-top: 0.60rem;
    margin-bottom: 0.40rem;
    .row {
      border-radius: 0;
      background-color: transparent;
      .col-rules {
        p {
          color: #FFF;
        }
      }
    }
  }
}

.features-cdnpackage-why {
  background-color: #1E2D80;
  .container {
    .intro {
      margin-bottom: 0.30rem;
    }
    .row {
      .col-why {
        p {
          margin-top: 0.30rem;
          color: #FFF;
          word-break: break-all;
          .know-more {
            color: #28AEDF;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .client-container {
    margin-top: 0.40rem;
    .conveyor {
      text-align: center;
      &>div {
        width: calc(20% - 6px);
        height: 110px;
        line-height: 110px;
        display: inline-block;
      }
      .cdnpackage-client {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin: 5px;
        border: 1px solid #FFF;
        max-height: 110px;
        background-color: #FFF;
        background-size: auto 40%;
        background-position: center center;
        background-repeat: no-repeat;
        &.client-zhongxing {
          background-image: image-url("client-zte-highlight@2x.jpg");
        }
        &.client-momo {
          background-image: image-url("fusion/client-momo.jpg");
        }
        &.client-anxinzhengquan {
          background-image: image-url("fusion/client-anxinzhengquan-highlight@2x.jpg");
        }
        &.client-miaopai {
          background-image: image-url("fusion/client-miaopai.jpg");
        }
        &.client-mangguotv {
          background-image: image-url("fusion/client-mangguotv-highlight@2x.jpg");
        }
        &.client-wifibanlv {
          background-image: image-url("fusion/client-wifibanlv-highlight@2x.jpg");
        }
        &.client-qichezhijia {
          background-image: image-url("fusion/client-qichezhijia.jpg");
        }
        &.client-tantan {
          background-image: image-url("fusion/client-tantan.jpg");
        }
        &.client-kuaikan {
          background-image: image-url("fusion/client-kuaikan.jpg");
        }
        &.client-yueke {
          background-image: image-url("client-yuekezaixianxuexi.jpg");
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .features-cdnpackage-desc {
    .container {
      .col-desc-left {
        .thumbnail {
          p {
            .warning-span {
              font-size: 0.22rem;
            }
            &.title {
              font-size: 0.18rem;
            }
          }
          .image-line-chart {
            padding-top: 0.20rem;
          }
        }
      }
      .col-desc-right {
        .thumbnail {
          p {
            .warning-span {
              font-size: 0.22rem;
            }
            &.title {
              font-size: 0.18rem;
            }
            &.desc {
              font-size: 0.14rem;
            }
          }
          .col-right-icons {
            margin-top: 0.08rem;
            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .features-cdnpackage-desc {
    .container {
      .col-desc-left {
        .thumbnail {
          .image-line-chart {
            margin-bottom: 0.20rem;
          }
        }
      }
      .col-desc-right {
        .thumbnail {
          margin-top: 0.40rem;
          p {
            &.desc {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .features-cdnpackage-why {
    .client-container {
      .conveyor {
        text-align: left;
        &>div {
          width: calc(25% - 4px);
        }
      }
    }
  }
}

@media (width: 768px) {
  .features-cdnpackage-desc {
    .container {
      .col-desc-right {
        .thumbnail {
          .col-right-icons {
            padding-top: 0.25rem;
            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .jumbotron.hero.hero-cdn-package {
    .container {
      .middle-container {
        top: 78%;
        p {
          font-size: 0.18rem;
        }
      }
    }
  }

  .features-cdnpackage-desc {
    .container {
      .col-desc-left {
        .thumbnail {
          .image-line-chart {
            margin-top: 0.30rem;
            margin-bottom: 0.20rem;
          }
        }
      }
      .col-desc-right {
        .thumbnail {
          margin-top: 0.40rem;
          .col-right-icons {
            margin-top: 0.08rem;
            img {
              width: 40px;
            }
          }
        }
      }
    }
  }

  .features-cdnpackage-buy {
    .container {
      .row {
        .col-buy {
          .thumbnail {
            margin-bottom: 0.20rem;
            .caption {
              .content-container {
                .buy-container {
                  .price-p {
                    .origin-money {
                      right: calc(50% - 100px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .features-cdnpackage-why {
    .container {
      .row {
        .col-why {
          p {
            text-align: center;
          }
        }
      }
    }
    .client-container {
      .conveyor {
        text-align: center;
        &>div {
          width: calc(50% - 5px);
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .features-cdnpackage-why {
    .client-container {
      .conveyor {
        &>div {
          width: calc(100% - 6px);
        }
      }
    }
  }
}