.hero-censor {
  background-image: image-url("banner/banner-censor.jpg") !important;

  .container {
    .middle-container {
      top: 48%;
    }

    h1 {
      margin-left: -0.30rem;
      font-size: 0.35rem;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 20px;
      color: #D3D3D3;
      font-size: 0.22rem;
    }

    .subscript {
      position: relative;
      top: -0.12rem;
      font-size: 0.20rem;
    }

    .product-link {
      color: #5bc0de;
      position: relative;
      top: 0.15rem;
      font-size: 0.18rem;
    }

    p {
      margin-top: 10px;
      margin-bottom: 15px;
      color: #D3D3D3;
      font-size: 0.13rem;

      .product-link {
        top: 0;
        font-size: 0.13rem;
      }
    }

    .btn-gray {
      border-color: #D3D3D3;
      color: #D3D3D3;

      &:hover {
        color: #006992;
      }
    }

    .hot-tip {
      position: absolute;
      top: 5px;
      right: -5px;
    }
  }
}

.censor-nav {
  .nav {
    border-bottom: none;
  }
}

.features-censor-pro {
  padding-bottom: 0;

  .censor-pro-container {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
}

.features-censor-protect {
  .protect-row {
    height: 4.20rem;

    .protect-platform-image {
      margin-top: 0.35rem;
    }

    .protect-platform-content {
      position: absolute;
      top: calc(50% + 0.10rem);
      left: calc(50% + 0.05rem);
      text-align: center;
      transform: translate(-50%, -50%);

      p {
        margin: 0;
        color: #999;
        font-size: 0.16rem;
      }

      h1 {
        margin: 0;
        color: #0F0F46;
        font-size: 0.52rem;
      }
    }

    .censor-protect-table {
      width: 100%;

      .head-image {
        text-align: right;
        padding-bottom: 0.20rem;
      }

      .head-gray {
        padding-bottom: 0.20rem;
        color: #999;
        font-size: 0.16rem;
        text-align: center;
      }

      .body-label {
        padding: 0.20rem 0;
        color: #557CEC;
        font-size: 0.16rem;
        text-align: right;
      }

      .body-number {
        color: #0F0F46;
        font-size: 0.22rem;
        text-align: center;
      }
    }
  }
}

.features-censor-support {
  .thumbnail {
    margin-top: 0.30rem;
    padding: 0.40rem 0.60rem 0.20rem 0.60rem;
    background-color: #FFF;
    text-align: center;

    h4 {
      color: #999;
    }

    p {
      margin: 0.30rem 0;
      color: #999;
      line-height: 0.30rem;
      text-align: left;

      &.coming-soon {
        margin: 0;
        line-height: 20px;
        text-align: center;
      }
    }

    .jump-link {
      color: #557CEC;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.features-censor-special {
  margin-bottom: 0;
  background-color: #557CED;

  .intro {
    .title {
      color: #FFF;
    }
  }

  .thumbnail {
    padding: 0;
    margin-bottom: 0.20rem;

    .caption {
      position: absolute;
      width: calc(100% - 30px);
      top: 0;
      padding: 0;

      h2,
      h4 {
        color: #557CED;
      }

      h2 {
        margin-top: 10%;
        text-align: center;
      }
    }

    .special-list {
      width: calc(100% - 30px);
      position: absolute;
      bottom: 10%;

      p {
        margin: 6% 0;
        text-align: center;
      }
    }
  }
}

.features-censor-experience {
  padding-bottom: 0.80rem;
}

.features-censor-deploy {
  padding-bottom: 0;

  .intro {
    margin-bottom: 0.20rem;
  }

  .censor-deploy-slider {
    height: 7.20rem;
    margin-bottom: 0;

    .slick-list {
      height: 100%;
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      .desc {
        margin-bottom: 0.20rem;
      }
    }

    img {
      height: 5.00rem;
      display: inline-block;
    }

    .deploy-btn-container {
      padding-left: 0;
      padding-right: 0;
      bottom: -0.60rem;
      text-align: center;

      .btn {
        width: 2.00rem;
        background-color: #3A65EB;

        &:hover {
          color: #FFF;
          background-color: #184ADE;
          -webkit-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
          -moz-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
          box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
        }
      }
    }

    .slick-dots {
      bottom: 1.30rem;
      margin: 0;

      li {
        margin: 0 10px;

        button:before {
          font-size: 16px;
          color: #557CEC;
        }

        &.slick-active button:before {
          color: #557CEC;
        }
      }
    }
  }
}

.features-censor-scene {
  padding-bottom: 1.00rem;

  .scene-row {
    margin-top: 0.20rem;
    .scene-col {
      text-align: center;
    }
  }
}

.features-censor-client {
  #cases-slider {
    margin: 0;
    max-height: 100px;

    .case {
      height: 100px;
      max-height: 100px;
    }

    .slick-arrow {
      top: 36%;
      z-index: 1;

      &.slick-prev {
        left: -10px;
      }

      &.slick-next {
        right: -10px;
      }
    }
  }
}

.features-censor-price {
  .tab-content-pricing {
    padding-top: 0;

    th {
      .cell-link {
        color: #5bc0de;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.features-censor-joinup {
  padding-top: 0.10rem;
  .joinup-container {
    dl dt,
    dl dd {
      text-align: center;
      float: left;
    }
    dl dt {
      width: 26.6667%;
      img {
        padding: 0px 20% 10%;
      }
    }
    dl dd {
      width: 10%;
      img {
        margin-top: 65%;
        padding: 0px 10%;
      }
    }
  }
}

.censor-bottom-banner {
  width: 100%;
  height: 2.00rem;
  background-image: image-url("censor/image-bottom-banner.jpg");
  background-position: center center;
  background-size: cover;

  p {
    position: relative;
    top: calc(50% - 0.06rem);
    color: #FFF;
    font-size: 0.24rem;
    text-align: center;
  }

  .btn {
    position: relative;
    top: -0.03rem;
  }
}

@media (max-width: 991px) {
  .features-censor-price {
    .info-container {
      height: 2.50rem;

      h3,
      p {
        top: 0.50rem;
      }
    }
  }
}

// 流程图样式控制
@media (min-width: 992px) and (max-width: 1199px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 5.10rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 1200px;
        left: 50%;
        margin-left: -600px;
      }
    }
  }

  .features-censor-protect {
    .protect-row {
      height: 3.60rem;

      .protect-platform-image {
        margin-top: 0.40rem;
      }

      .protect-platform-content {
        top: calc(50% + 0.20rem);
      }

      .censor-protect-table {
        .body-label {
          padding: 0.14rem 0;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 5.20rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 1200px;
        left: 50%;
        margin-left: -600px;
      }
    }
  }

  .features-censor-protect {
    .protect-row {
      height: 3.10rem;

      .protect-platform-image {
        margin-top: 0.60rem;
      }

      .protect-platform-content {
        top: calc(50% + 0.30rem);

        h1 {
          font-size: 0.35rem;
        }
      }

      .censor-protect-table {
        .body-label {
          padding: 0.12rem 0;
        }
      }
    }
  }

  .features-censor-support {
    .thumbnail {
      padding-left: 0.40rem;
      padding-right: 0.40rem;
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        font-size: 0.25rem !important;
      }

      h4 {
        font-size: 0.15rem !important;
      }
    }

    .special-list {
      bottom: 6% !important;
    }
  }
}

@media (max-width: 767px) {
  .hero-censor {
    .container {
      h1 {
        font-size: 0.40rem;
      }

      h3 {
        font-size: 0.25rem;
      }

      .subscript {
        top: -0.18rem;
        font-size: 0.18rem;
      }

      .btn {
        font-size: 0.18rem;
      }

      .product-link {
        font-size: 0.16rem;
      }

      .hot-tip {
        width: 20px;
        position: absolute;
        top: 4px;
        right: -4px;
      }
    }
  }

  .features-censor-pro {
    .censor-pro-container {
      height: 5.90rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 1000px;
        left: 50%;
        margin-left: -500px;
      }
    }
  }

  .features-censor-protect {
    .protect-row {
      .protect-platform-col {
        text-align: center;
      }

      .protect-platform-image {
        margin-top: 0;
        width: 250px;
      }

      .protect-platform-content {
        top: 50%;
      }

      .censor-protect-table {
        margin-top: 0.50rem;
      }
    }
  }

  .features-censor-support {
    .thumbnail {
      p {
        text-align: center;
      }
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        font-size: 0.40rem !important;
      }

      h4 {
        font-size: 0.30rem !important;
      }
    }

    .special-list {
      p {
        margin: 8% 0 !important;
        font-size: 0.24rem !important;
      }
    }
  }

  .features-censor-deploy {
    .censor-deploy-slider {
      height: 5.60rem;

      img {
        height: 3.40rem;
      }

      .deploy-btn-container {
        .btn {
          width: 1.60rem;
        }
      }
    }
  }

  .features-censor-client {
    #cases-slider {
      .slick-arrow {
        top: 44%;
      }
    }
  }

  .censor-bottom-banner {
    p {
      font-size: 0.16rem;
    }
  }
}

@media (max-width: 550px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 4.40rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 700px;
        left: 50%;
        margin-left: -350px;
      }
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        margin-top: 8% !important;
        font-size: 0.30rem !important;
      }

      h4 {
        font-size: 0.20rem !important;
      }
    }

    .special-list {
      p {
        margin: 6% 0 !important;
        font-size: 0.14rem !important;
      }
    }
  }
}

@media (max-width: 425px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 4.40rem;
    }
  }
}

@media (width: 768px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 7.00rem;
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        font-size: 0.30rem !important;
      }

      h4 {
        font-size: 0.20rem !important;
      }
    }

    .special-list {
      bottom: 10% !important;
    }
  }

  .features-censor-client {
    #cases-slider {
      .slick-arrow {
        top: 44%;
      }
    }
  }
}