.hero-censor {
  background-image: image-url("banner/banner-censor.jpg") !important;

  .container {
    .middle-container {
      top: 48%;
    }

    h1 {
      margin-left: -0.30rem;
      font-size: 0.35rem;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 0.22rem;
    }

    .subscript {
      position: relative;
      top: -0.12rem;
      font-size: 0.20rem;
    }

    .product-link {
      color: #5bc0de;
      position: relative;
      top: 0.15rem;
      font-size: 0.18rem;
    }

    p {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 0.13rem;
    }

    .hot-tip {
      position: absolute;
      top: 5px;
      right: -5px;
    }
  }
}

.features-censor-pro {
  padding-bottom: 0;

  .censor-pro-container {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
}

.features-censor-special {
  margin-bottom: 1.00rem;
  background-color: #557CED;

  .intro {
    .title {
      color: #FFF;
    }
  }

  .thumbnail {
    padding: 0;
    margin-bottom: 0.20rem;

    .caption {
      position: absolute;
      width: calc(100% - 30px);
      top: 0;
      padding: 0;

      h2,
      h4 {
        color: #557CED;
      }

      h2 {
        margin-top: 10%;
        text-align: center;
      }
    }

    .special-list {
      width: calc(100% - 30px);
      position: absolute;
      bottom: 10%;

      p {
        margin: 6% 0;
        text-align: center;
      }
    }
  }
}

.features-censor-scene {
  padding-bottom: 1.00rem;

  .scene-row {
    margin-top: 0.20rem;
    .scene-col {
      text-align: center;
    }
  }
}

.features-censor-client {
  #cases-slider {
    margin: 0;
    max-height: 100px;

    .case {
      height: 100px;
      max-height: 100px;
    }

    .slick-arrow {
      top: 44%;

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;
      }
    }
  }
}

.features-censor-price {
  .tab-content-pricing {
    padding-top: 0;

    th {
      .cell-link {
        color: #5bc0de;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.features-censor-joinup {
  padding-top: 0.10rem;
  .joinup-container {
    dl dt,
    dl dd {
      text-align: center;
      float: left;
    }
    dl dt {
      width: 26.6667%;
      img {
        padding: 0px 20% 10%;
      }
    }
    dl dd {
      width: 10%;
      img {
        margin-top: 65%;
        padding: 0px 10%;
      }
    }
  }
}

@media (max-width: 991px) {
  .features-censor-price {
    .info-container {
      height: 2.50rem;

      h3,
      p {
        top: 0.50rem;
      }
    }
  }
}

// 流程图样式控制
@media (min-width: 992px) and (max-width: 1199px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 5.10rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 1200px;
        left: 50%;
        margin-left: -600px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 5.20rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 1200px;
        left: 50%;
        margin-left: -600px;
      }
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        font-size: 0.25rem !important;
      }

      h4 {
        font-size: 0.15rem !important;
      }
    }

    .special-list {
      bottom: 6% !important;
    }
  }
}

@media (max-width: 767px) {
  .hero-censor {
    .container {
      h1 {
        font-size: 0.40rem;
      }

      h3 {
        font-size: 0.25rem;
      }

      .subscript {
        top: -0.18rem;
        font-size: 0.18rem;
      }

      .btn {
        font-size: 0.18rem;
      }

      .product-link {
        font-size: 0.16rem;
      }

      .hot-tip {
        width: 20px;
        position: absolute;
        top: 4px;
        right: -4px;
      }
    }
  }

  .features-censor-pro {
    .censor-pro-container {
      height: 5.90rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 1000px;
        left: 50%;
        margin-left: -500px;
      }
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        font-size: 0.40rem !important;
      }

      h4 {
        font-size: 0.30rem !important;
      }
    }

    .special-list {
      p {
        margin: 8% 0 !important;
        font-size: 0.24rem !important;
      }
    }
  }
}

@media (max-width: 550px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 4.40rem;

      .img-container {
        position: absolute;
        bottom: 0;
        width: 700px;
        left: 50%;
        margin-left: -350px;
      }
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        margin-top: 8% !important;
        font-size: 0.30rem !important;
      }

      h4 {
        font-size: 0.20rem !important;
      }
    }

    .special-list {
      p {
        margin: 6% 0 !important;
        font-size: 0.14rem !important;
      }
    }
  }
}

@media (max-width: 425px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 4.40rem;
    }
  }
}

@media (width: 768px) {
  .features-censor-pro {
    .censor-pro-container {
      height: 7.00rem;
    }
  }

  .features-censor-special {
    .caption {
      h2 {
        font-size: 0.30rem !important;
      }

      h4 {
        font-size: 0.20rem !important;
      }
    }

    .special-list {
      bottom: 10% !important;
    }
  }
}