.newmedia {
    .icon-adv-newmedia {
        .icon-ziyuangongxiang {
            margin: .2rem 0 0 0;
        }
        .icon-shengchanxietong {
            margin: .2rem 0 0 -1rem;
        }
        .icon-lishidangan {
            margin: .2rem 0 0 -2rem;
        }
        .icon-zaixianbianji {
            margin: -.2rem 0 0 -.3rem;
        }
        .icon-jiegouhua {
            margin: -.2rem 0 0 -2.05rem;
        }
        .icon-gaoxiaosoujiansuo {
            margin: -.2rem 0 0 -3.85rem;
        }
        .icon-duojishenhe{
            margin: -.2rem 0 0 -5.47rem;
        }
    }
    .neirongguanli-scenarios-newmedia {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 0;
        color: #fff;
        text-align: center;
        transition: all 0.4s ease;
        background: rgba(3, 160, 222, 0.6);
        visibility: hidden;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        h4 {
            font-size: .16rem;
            margin-bottom: .1rem;
        }
        p {
            font-size: .12rem;
            line-height: .18rem;
            margin:0;
        }
        .line-newmedia {
            width: 30px;
            height: 3px;
            background: #fff;
            margin: 0 auto 5px auto;
        }
    }
}
.imglist-13-newmedia {
    .center-newmedia {
        padding: 0 0 .8rem 0;
    }
    .col-sm-4 {
        width: 30%;
        padding: 0;
        margin: 0 1.5%;
        overflow: hidden;
        .pos-title-wrap {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            opacity: 1;
            transition: all .1s ease;
            color: #fff;
            font-size: .18rem;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .col-sm-4:hover {
        .neirongguanli-scenarios-newmedia {
            visibility: visible;
            height: 50%;
        }
        .pos-title-wrap {
            opacity: 0;
        }
    }
}
@media(max-width: 768px) {
    .imglist-13-newmedia {
        .col-xs-6 {
            width: 47%;
            margin: 1.5% 1.5%;
            img {
                width: 100%;
                height: inherit;
            }
        }
    }
}
@media(max-width: 992px) {
    .imglist-13-newmedia {
        .col-sm-4 {
            .neirongguanli-scenarios-newmedia {
                display: none;
            }
        }
        .col-sm-4:hover {
            .pos-title-wrap {
                opacity: 1;
            } 
        }
    } 
}
.banner-neirong {
    .banner-wrap {
        background-image: image-url("cms/banner-neirongguanli.jpg");
        .tittle-newmedia {
            .nrirong-title-wrap {
                text-align: left;
                >h1 {
                    margin-bottom: .36rem;
                }
            }
        }
    }
}
.neirongguanli-newmedia {
    .center-newmedia {
        .col-sm-4 {
            text-align: center;
            .icon-adv-newmedia {
                width: 1.1rem;
                height: 1.1rem;
                display: inline-block;
                overflow: hidden;
                img {
                    width: 4rem;
                    max-width: none;
                }
            }
        }
        .col-sm-3 {
            text-align: center;
            .icon-adv-newmedia {
                width: 1.1rem;
                height: 1.1rem;
                display: inline-block;
                overflow: hidden;
                img {
                    width: 7rem;
                    max-width: none;
                }
            }
        }
    }
}
.neirongguanli-bg {
    background: #f8f8f8;
}