.features{
  .row .ipo-col{
    padding-right:0 !important;
    padding-left:140px !important;
  }

  .media-body{
    h6{
      color:#97989c;
    }
    .media-body-tail{
      margin-top: 40px;
      em{
        font-style: normal;
        color:#00a0de;
        margin-left: 5px;
      }
    }
  }

  .media-left-line{
    border-right:2px solid #97989c;
    width:90%;
    padding-left: 20px;
    padding-top: 10px;
  }

  .media-right{
    padding-left: 20px;
    padding-top: 10px;
  }

  .thumbnail{
    .mask-layer{
      position: relative;
      min-height:200px;
      border: none;
      margin: 0;

      img{
        width:100%;
      }

      .layer{
        padding: 0;
        position: absolute;
        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, .35);
        color: #ffffff;
        font-size: 16px;
        transition: background .2s;

        span{
          padding-bottom: 6px;
          margin: 0;

          text-align: center;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);

          i{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 35px;
            height: 1px;
            background: #fff;
          }
        }
      }

      .layer:hover{
        cursor: pointer;
        opacity: 0;
        transition: background .2s;
      }
    }

    .caption{
      padding: 25px 0 0 0;
      margin: 0;

      p{
        padding-top: 10px;
      }
    }
  }
}