.feature-cooperation .container{
  h2{
    margin-bottom: 0.54rem;
  }
  p{
    line-height: 0.45rem;
    margin: 45px 0;
  }

  .feature-contact-box{
    width: 100%;
    overflow: hidden;

    a{
      display: inline-block;
      padding: 0.05rem 0.36rem;
      height: 0.35rem;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 0.35rem 0.35rem;
      text-align: center;
    }

    a.email-box{
      background-image: image-url("icon-email@2x.png");
      &:hover{
        background-image: image-url("icon-email-highlight@2x.png");
      }
    }

    a.tel-box{
      background-image: image-url("icon-phone@2x.png");
      &:hover{
        color: #666;
      }
    }
  }
}

ul.cooperation-step {
  list-style: none;
  background-color: transparent;
  position: relative;
  margin-top: 52px;

  .step-li{
    float: left;
    width: 234px;
    padding-right: 45px;
    border-top: 2px solid #eee;
  }

  .step-li-no{
    float: left;
    width: 234px;
  }

  .step-li-first{
    margin-left: -40px;
  }

  li {
    position: relative;
    padding-top: 30px;
    .step-no{
      position: absolute;
      top: -23px;
      // padding-top: 20px;
      width: 46px;
      height: 46px;
      border: 2px solid #e5e5e5;
      font-size: 22px;
      color: #333333;
      text-align: center;
      vertical-align: middle;
      line-height: 46px;
      border-radius: 50%;
      margin-bottom: 26px;
      background: #fff;
    }
  }


  .cooperation-step-line {
    position: absolute;
    left: 50px;
    top: 24px;
    width: 480px;
    height: 2px;
    background: #e5e5e5;
  }
}

.features-cooperation .btn{
  color: #fff;
  margin-top: 34px;

  &:hover{
    color: #fff;
  }
}

ul.friend-link{
  &::before,
  &::after{
    content: " ";
    display: table;
  }

  &::after{
    clear: both;
  }

  li{
    float: left;
    margin-right: 108px;
    margin-bottom: 13px;
    width: 112px;
  }
}

@media (max-width: 767px){
  .features.features-cooperation {
    padding-top: 0;
  }
  .feature-cooperation .container, .features-cooperation .container {
    h2 {
      margin-bottom: 20px;
      margin-top: 10px;
      font-size: 28px;
    }
    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .bottom-line {
      padding-bottom: 10px;
    }
  }
  ul.cooperation-step {
    margin-top: 30px;
    .step-li-first,
    .step-li,
    .step-li-no{
      float: none;
      margin: 0;
      // width: 23;
      padding: 30px;
      padding-top: 0;
      border-top: 0;
      border-left: 2px solid #eee;

      .step-no{
        top: -10px;
        margin: 0;
        left: -25px;
      }
    }
    .step-li-no{
      border: 0;
    }
  }
  .features-cooperation .btn {
    margin-top: 0;
  }

  ul.friend-link li {
    margin-right: 10px;
  }
}