.newmedia{
    .icon-adv-newmedia {
        .icon-jiujinjiaoyi {margin: 0 0 0 -1.6rem;}
        .icon-shenhejiankong {margin: 0 0 0 -3.2rem;}
        .icon-bianjieguanli {margin: 0 0 0 -4.8rem;}
    }
    .icon-func-newmedia{
        .icon-neirongcunchu {margin: -1.5rem 0 0 0;}
        .icon-neirongchuli{margin: -1.5rem 0 0 -1rem;}
        .icon-neirongfenfa{margin: -1.5rem 0 0 -2rem;}
        .icon-neirongbanquan{margin: -1.5rem 0 0 -3rem;}
        .icon-neirongbanquanjiaoyi{margin: -1.5rem 0 0 -4rem;}
    }
    .banqaunjiaoyi-sceneblock-newmedia{
        position: relative;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        height: 2rem;
        border-radius:5px;
        padding:.7rem 0 0 .2rem;
        margin-bottom: .3rem;
        .line-newmedia{
            width: .26rem;
            height: 2px;
            margin-left:2px;
            background: #408EF5;
        }
        h4{
            font-size: .16rem;
            color: #408EF5;
            margin-bottom: .2rem;
        }
        p{
            font-size: .12rem;
            color: #525252;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        img{
            position: absolute;
            top:.1rem;
            right: 0;
            width: 1rem;
        }
    }
}
.copyright-banner {
    .banner-wrap {
        background-image: image-url("copyright/banner-banquanjiaoyi.jpg");
        .tittle-newmedia {
            position: relative;
            .nrirong-title-wrap {
                text-align: left;
                >h1 {
                    margin-bottom: .36rem;
                }
            }
        }
    }
}
@media(max-width: 998px) {
    .banqaunjiaoyi-sceneblock-newmedia{
        img{
            opacity: 0.2;
        }
    }
}
@media(max-width: 768px) {
    .newmedia .banqaunjiaoyi-sceneblock-newmedia {
        padding-top: .5rem;
    }
}
