.express-hero {
  background-image: image-url("express/banner.png") !important;
}

.express-slogan {
  margin-top: 0.5rem;
  height: 0.5rem;
  line-height: 100%;
  .slogan {
    background-size: cover;
    text-align: center;
  }
  span {
    font-size: 0.36rem;
    font-weight: 700;
    line-height: 0.5rem;
  }
}

.section {
  background-color: #fff;
  box-shadow: 1px 4px 6px 4px #eeeeee;
}

.express-specialty {
  margin: 0.5rem 0;
  .suspension {
    padding: 0.3rem 0;
  }
  .suspension-item {
    img {
      margin: 0 auto;
      display: block;
    }
    .desc {
      text-align: center;
      font-size: 0.15rem;
    }
  }
}

.express-panoramic {
  .panoramic {
    padding: 0.3rem 0;
    img {
      margin: 0 auto;
      display: block;
    }
    .panoramic-list {
      width: 90%;
      margin: 0.5rem auto 0;
    }
    .media {
      margin-bottom: 0.1rem;
    }
    .media-object {
      display: block;
      max-width: 0.25rem;
    }
    .media-heading {
      font-size: 0.15rem;
      font-weight: 600;
    }
  }
}

.express-feature {
  margin: 0.5rem 0;
  .feature {
    padding: 0.3rem 0;
  }
  .feature-item {
    img {
      margin: 0 auto 0.1rem;
      display: block;
    }
    .desc {
      text-align: center;
    }
  }
}

.express-scene {
  .scene {
    padding: 0.3rem;
  }
  .nav-tabs {
    border-bottom: 2px solid #e7ecff;
    li {
      padding: 0 0 4px 0;
      margin: 0;
      text-align: center;
      width: 33%;
      float: left;

      a {
        display: inline;
        font-size: 0.16rem;
        padding: 4px 0;
      }

      &.active a {
        border-bottom: 2px solid #00a0de !important;
      }
    }
  }

  .tab-content {
    h4 {
      margin-bottom: 0.2rem;
      padding: 0.10rem 0 0;
      font-size: 0.19rem;
    }

    p {
      font-size: 0.13rem;
      line-height: 0.19rem;
    }

    .col-left {
      img {
        margin-top: 0.3rem;
        border-radius: 0.1rem;
      }
    }

    .col-right {
      padding-top: 0.4rem;
      .row-title {
        padding: 0;
      }
      .row-content {
        padding: 0;
      }
      p {
        span + span {
          display: block;
        }
      }
    }
  }
}

.express-client {
  margin: 0.5rem 0;
  .client {
    padding: 1rem 0.3rem;
  }
  .conveyor {
    margin: 0 25px;
    margin-bottom: 0;
  }
}

.express-product {
  margin-bottom: 0.5rem;
  .product {
    padding: 0.3rem 0 0 0;
    text-align: center;
    ul {
      padding: 0;
    }
    li {
      margin-bottom: 0.25rem;
    }
    a {
      color: #888;
    }
    a:hover {
      color: #07A0DF;
    }
  }
}

@media (max-width:767px) {
  .express-scene {
    .tab-content {
      .col-xs-6 {
        width: 100% !important;
      }
    }
  }
  .express-feature {
    .feature-item:nth-child(1), .feature-item:nth-child(2) {
      margin-bottom: 0.5rem;
    }
  }
}

