.hero-fusion {
  .container .middle-container {
    top: 45%;
    h5 {
      line-height: 0.20rem;
      &.margin-l-negative {
        margin-left: -0.08rem;
      }
    }
    .right-mask-banner {
      line-height: 3.00rem;
    }
  }
}

@media (max-width: 768px) {
  .hero-fusion {
    .container .middle-container {
      top: 48%;
      h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.14rem;
        line-height: 1.8;
      }
    }
  }
}

@media (max-width: 767px) {
  .features-fusion.features-distribute,
  .features-fusion.features-scene {
    .nav.nav-tabs {
      li {
        width: 1%;
        display: table-cell !important;
      }
    }
  }
}