.bottom-line{
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 130px;
  margin-bottom: -80px;
}

.features.features-fusion .img-left{
  max-width: 496px;
}

.features .list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.features .list a:hover{
  color: #00A0DE;
}
