.insight-hero {
  background-image: image-url("insight/banner.jpg") !important;
  .middle-container {
    .col-left {
      margin-top: -0.50rem;
      h1 {
        font-size: 0.35rem;
        text-shadow: 0 0.02rem 0.03rem rgba(0, 0, 0, 0.5);
      }
      .actions {
        margin: 0.20rem 0;
      }
      .know-more {
        color: #fff;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
  .version-link {
    margin-top: 0.2rem;
    display: inline-block;
    color: #FFEB3B;
    font-size: 0.2rem;
    font-weight: 900;
    text-decoration: underline;
  }
}

.insight-advantage {
  .thumbnail {
    height: 2.00rem;
    margin-top: 0.20rem;
    min-height: 2.00rem;
    background-color: #fff;
    .caption {
      height: 100%;
      padding: 20px;
      h4 {
        text-align: left;
      }
      .advantage-desc {
        font-size: 0.15rem;
      }
      .advantage-more {
        position: absolute;
        bottom: 0.50rem;
        padding-top: 0.20rem;
        margin: 0;
        a {
          color: #118ad2;
        }
        img {
          margin-top: -2px;
        }
      }
      .more-link {
        position: absolute;
        bottom: 0;
        margin: 0;
        opacity: 0;
        a {
          color: #118ad2;
        }
      }
    }
    &:hover {
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      transition: all .5s linear;
      -webkit-box-shadow: 0 0 0 #efefef, 2px 2px 20px #b9b9b9;
      -moz-box-shadow: 0 0 0 #efefef, 2px 2px 20px #b9b9b9;
      box-shadow: 0 0 0 #efefef, 2px 2px 20px #b9b9b9;
      .caption {
        .more-link {
          bottom: 0.20rem;
          opacity: 1;
          -webkit-animation: bottom-slide-in .5s;
          -moz-animation: bottom-slide-in .5s;
          -o-animation: bottom-slide-in .5s;
          animation: bottom-slide-in .5s;
        }
      }
    }
  }
}

.insight-application {
  .tab-content {
    .col-left {
      border-radius: 0.10rem;
      background-color: #f8f8f8;
      img {
        width: 100%;
      }
    }
    .col-right {
      h3 {
        margin: 0;
      }
      h5 {
        padding-top: 0.30rem;
        font-size: 0.16rem;
      }
      p {
        margin: 0;
        font-size: 0.12rem;
      }
      .desc {
        margin: 0;
        padding-bottom: 0.10rem;
        border-bottom: 1px solid #f6f6f6;
      }
    }
  }
}

.insight-solution {
  .col-sm-2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    text-align: center;
    p {
      margin-top: 10px;
    }
  }
}

@media (max-width: 767px) {
  .insight-hero {
    .middle-container {
      .col-left {
        margin-top: 0;
        h1 {
          font-size: 0.30rem;
        }
        .actions {
          .btn {
            font-size: 0.10rem;
          }
        }
      }
    }
  }
  .insight-advantage {
    .container {
      .thumbnail {
        height: 2.50rem;
      }
    }
  }
  .insight-application {
    .nav.nav-tabs {
      li {
        display: table-cell !important;
      }
    }
  }
  .insight-solution {
    img {
      width: 60%;
    }
  }
}

@media (max-width:991px) {
  .insight-application {
    .tab-content {
      .col-right {
        h3 {
          margin-top: 0.20rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .insight-solution {
    img {
      width: 100%;
    }
    p {
      font-size: 0.12rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .insight-application {
    .col-left {
      height: 3.30rem;
      line-height: 3.30rem;
    }
    .tab-content {
      .col-right {
        overflow-x: auto;
        overflow-y: hidden;
        h5 {
          padding-top: 0.30rem;
          margin: 0;
        }
        p {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .insight-application {
    .col-left {
      height: 4.00rem;
      line-height: 4.00rem;
    }
  }
}

@keyframes bottom-slide-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0.20rem;
    opacity: 1;
  }
}