.hero-kodo {
  .middle-container {
    top: 48% !important;

    .right-mask-banner {
      line-height: 3.00rem;
    }
    .icon-new {
      width: 28px;
      height: 12px;
      position: relative;
      top: 0.02rem;
      left: 0.05rem;
      background-image: image-url("icon-new.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .features {
    .kodo-feature-col {
      min-height: 2.20rem;
    }
  }
}

@media (max-width: 767px) {
  .feature-core {
    .thumbnail {
      min-height: 2.80rem;
    }
  }
}