.newmedia {
  &.newmedia-bg {
    color: #fff;
    background-image: image-url('newmedia/bg.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .table-wrapper {
    display: table;
    .align-wrapper {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .card-wrapper {
    padding: 0;
    margin: 0;
    height: 428px;
    text-align: center;
    .align-base-line {
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
  }
  .card {
    display: inline-block;
    width: 186px;
    height: 305px;
    padding: 0;
    margin-left: 8px;
    vertical-align: middle;
    box-shadow: -3.7px 3.3px 9px 0 #e3e3e3;
    transition: all .5s;
    .head {
      width: 100%;
      overflow: hidden;
      height: 66px;
      line-height: 66px;
      color: rgb(47, 48, 51);
      background-color: #dff3fc;
      text-align: center;
      .icon {
        padding: 0;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-size: 60px auto;
        transition: background-position-x .5s;
      }
      .icon-content{
        background-image: image-url("newmedia/icon-content@2x.png");
      }
      .icon-cloud {
        background-image: image-url("newmedia/icon-cloud@2x.png");
      }
      .icon-light {
        background-image: image-url("newmedia/icon-light@2x.png");
      }
      .icon-gear {
        background-image: image-url("newmedia/icon-gear@2x.png");
      }
      .icon-file {
        background-image: image-url("newmedia/icon-file@2x.png");
      }
    }
    .main {
      padding: 12px 0;
      a {
        display: block;
        height: 46px;
        padding: 16px 23px;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        transition: height 0.5s;
        overflow: hidden;
        color: rgb(94, 97, 102);
        font-size: 14px;
        text-align: left;
        .iconfont {
          cursor: pointer;
          font-size: 24px;
          color: #bae4f5;
          -webkit-filter: opacity(30);
          filter: opacity(30);
          margin-right: 2px;
          margin-left: 20px;
          -webkit-transition: margin-left 0.5s;
          -moz-transition: margin-left 0.5s;
          transition: margin-left 0.5s;
        }
        p {
          display: none;
          font-size: 12px;
          color: rgb(94, 97, 102);
        }
      }
    }

    &.active {
      cursor: pointer;
      width: 328px;
      height: 408px;
      -webkit-box-shadow: 0 0 28px 0 #b9b9b9;
      -moz-box-shadow: 0 0 28px 0 #b9b9b9;
      box-shadow: 0 0 28px 0 #b9b9b9;
      .head {
        color: #fff;
        background-image: image-url('newmedia/bg-function-selected.png');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: auto 66px;
        .icon {
          background-position-x: 254px;
        }
      }
      .main {
        a {
          color: rgb(47, 48, 51);
          height: 68px;
          .iconfont {
            margin-left: -14px;
          }
          p {
            display: block;
          }
        }
      }
    }
  }

  .service-wrapper {
    width: 100%;
    background-image: image-url('newmedia/bg-gradient.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-image .5s;
    &:hover {
      cursor: pointer;
      background-image: image-url('newmedia/bg-gradient-selected.png');
      .service {
        .iconlogo {
          width: 120px;
          height: 120px;
        }
      }
    }
    .service {
      padding: 37px;
      .service-title {
        font-size: 18px;
      }
      .line-light {
        display: block;
        width: 28px;
        height: 3px;
        background-color: #fff;
        margin: 28px 0;
      }
      p {
        color: #fff;
      }
      .iconum {
        width: 60px;
        height: 60px;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: contain;
        &.icon-01 {
          background-image: image-url("newmedia/01.png");
        }
        &.icon-02 {
          background-image: image-url("newmedia/02.png");
        }
        &.icon-03 {
          background-image: image-url("newmedia/03.png");
        }
        &.icon-04 {
          background-image: image-url("newmedia/04.png");
        }
      }

      .iconlogo {
        float: right;
        margin-top: -20px;
        width: 100px;
        height: 100px;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .5s;
        &.icon-01 {
          background-image: image-url("newmedia/icon-01.png");
        }
        &.icon-02 {
          background-image: image-url("newmedia/icon-02.png");
        }
        &.icon-03 {
          background-image: image-url("newmedia/icon-03.png");
        }
        &.icon-04 {
          background-image: image-url("newmedia/icon-04.png");
        }
      }
    }
  }
}