.banner-box {
  position: relative;
  padding: 17% 0;

  .banner-newmedia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;

      .title {
        padding: 0;
        margin: 0;
      }

      .key {
        margin: 0;
        padding: 0.38rem 0;
      }

      .desc {
        max-width: 363px;
        overflow: hidden;
        margin: 0 auto;
        line-height: 28px;
      }
    }
  }
}

.features.features-newmedia-bg {
  background-color: #ededed;
}

.features.newmedia-nav {
  padding: 0;
  background-color: #30374a;

  .nav.nav-tabs.nav-justified > li.active > a, .nav.nav-tabs.nav-justified > li.active > a:focus, .nav.nav-tabs.nav-justified > li.active > a:hover {
    margin: 0 -1px;
    color: #00A0DE;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .nav.nav-tabs.nav-tabs-newmedia {
    border-bottom: none;
    a {
      font-size: 18px;
      color: #fff;
      margin: 0;
      padding: 0.25rem 0;

      .line {
        float: right;
        width: 1px;
        height: 25px;
        background-color: #fff;
      }
    }
  }
}

.features.features-newmedia-matix {
  background-color: #ededed;

  .boxes {
    width: 1117px;
    margin: 0 auto;
    padding: 20px 0;
    .title-box {
      position: relative;
      display: inline-block;
      width: 317px;
      .title {
        color: #fff;
        position: absolute;
        width: 100%;
        bottom: 10%;
        text-align: center;
      }
    }
    .content-box {
      display: inline-block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      width: 800px;
      padding: 18px;
      background-color: #fff;
      .row {
        margin: 0;
      }
      .thumbnail {
        position: relative;
        min-height: 267px;

        .summary {
          width: 100%;
          padding: 0 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.first {
          border-right: 1px solid #dadbdd;
          border-bottom: 1px solid #dadbdd;
        }

        &.last {
          border-left: 1px solid #dadbdd;
          border-top: 1px solid #dadbdd;
          margin-top: -1px;
          margin-left: -1px;
        }
      }
    }
  }
}

.features.features-newmedia-commerce {
  .thumbnail.thumbnail-commerce {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    min-height: 530px;

    .caption  {
      position: relative;
      .title {
        position: absolute;
        top: -120px;
        color: #fff;
        width: 100%;
        text-align: center;
      }
      p {
        padding: 30px 15px 0;
      }
    }
  }

  .box {
    padding: 20px 15px;
    background-color: #fff;
  }
}

.features.features-newmedia-engine {
  .boxes {
    margin-bottom: 30px;
    padding: 0;
    background-color: #fff;

    position: relative;
    padding: 0;

    .left {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      padding: 0;

      .img {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .title {
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
        color: #fff;
      }

      .desc {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: center;

        p {
          color: #fff;
          padding: 0 15px;

          &.paragraph {
            text-align: left;
          }

          &.text-left {
            text-align: left;
          }
        }
      }
    }

    .right {
      margin-left: 50%;
      position: relative;

      .content-box {
        position: relative;

        min-height: 552px;

        .content {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.features.features-newmedia-center {
  .boxes {
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 40px auto;

    .left {
      position: absolute;
      width: 25%;
      height: 100%;
      top: 0;
      left: 0;
      right: auto;
      &.pu-right {
        right: 0;
        left: auto;
      }

      .img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .title {
        position: absolute;
        bottom: 10%;
        width: 100%;
        text-align: center;
        color: #fff;
      }
    }

    .right {
      position: relative;
      width: 75%;
      margin-left: 25%;
      margin-right: 0;
      padding: 5px;

      &.pu-left {
        margin-left: 0;
        margin-right: 25%;
      }

      .row-box {
        &.line {
          border-bottom: 1px solid #dadbdd;
        }

        .row .col-sm-6 {
          margin: 0;
        }

        .thumbnail {
          position: relative;
          text-align: center;
          border-right: 1px solid #dadbdd;

          &.thumbnail-right-last {
            border-right: none;
            margin-left: -15px;
          }

          p.summary {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: left;
            width: 100%;
            padding: 0 5px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .features.newmedia-nav .tabs .nav-justified.nav.nav-tabs.nav-tabs-newmedia > li, .nav-tabs.nav-justified > li{
    display: table-cell;
    width: 1%;
    a {
      font-size: 14px;
    }
  }

  .banner-box {
    margin-top: 68px;
    .content-box .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      padding: 30px 0;

      .title {
        font-size: 18px;
      }

      .key {
        font-size: 14px;
        padding: 5px 0;
      }

      .desc {
        line-height: 23px;
      }
    }
  }

  .features.features-newmedia-center .boxes {
    .left {
      width: 100%;
      height: 5%;
      top: -5%;

      .img {
        height: 0;
      }

      .title {
        color: #000;
      }
    }

    .right {
      width: 100%;
      margin: 15px 0;

      .row-box {
        .thumbnail {
          border: none;
          &.thumbnail-right-last {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .features.features-newmedia-commerce {
    .thumbnail.thumbnail-commerce {
      min-height: 474px;

      .caption  {
        .title {
          font-size: 14px;
          top: -80px;
        }

        p {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }

  .features.features-newmedia-engine .boxes .right .content-box {
    min-height: 736px;
  }
}

@media(max-width: 991px) {
  .features.features-newmedia-matix-bg .boxes {
    width: 100%;

    .title-box {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .content-box {
      width: 100%;

      .thumbnail {
        min-height: 320px;
      }
    }
  }
}
@media(min-width: 992px) and (max-width: 1199px) {
  .features.features-newmedia-matix-bg .boxes {
    width: 881px;

    .title-box {
      width: 376px;
    }

    .content-box {
      width: 505px;

      .thumbnail {
        min-height: 320px;
      }
    }
  }

  .features.features-newmedia-commerce {
    .thumbnail.thumbnail-commerce {
      min-height: 496px;
    }
  }

  .features.features-newmedia-engine .boxes .left .desc p.paragraph {
    margin-bottom: -10px;
  }
}