.pandora-btn{
  padding: 10px 60px;
}

.pandora-btn:hover{
  color: #28aedf;
  text-decoration: none;
  background-color: #fff;
}

.pandora-title{
  width: 208px;
}

.bottom-line{
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 130px;
  margin-bottom: -80px;
}

/*
* section 模块内的样式
*/
.section{

  .title1{
    text-align: center;
    font-weight: 500;
  }

  .section-row{
    margin-bottom: 135px;
  }

  .section-content{
    margin: 40px 0;
  }

  .title2{
    font-family: PingFangSC Regular;
    color: rgb(47, 48, 51);
    font-weight: 400;
  }

  .title3{
    margin-bottom: 20px;
    font-family: PingFangSC Medium;
    color: rgb(94, 97,102);
  }

  .img-box{
    padding: 0 100px;
  }
}
