.jumbotron.hero.hero-partner {
  background-image: image-url('partner/banner.jpg');

  .container {
    .middle-container {
      h2 {
        margin-top: 0.40rem;
        margin-bottom: 0.20rem;
      }
      p {
        margin: 0.15rem 0;
      }
      .actions {
        .btn {
          margin-top: 0.10rem;
          &:hover {
            color: #3B43D9;
          }
        }
      }
    }
  }

  .right-mask-banner {
    line-height: 3.00rem;
  }
}

.features-partner-support {
  .thumbnail {
    img, h4, p {
      text-align: left;
    }

    img {
      margin-left: 9px;
    }

    h4 {
      margin-top: 0.20rem;
    }
  }
}

.features-partner-framework {
  position: relative;
  padding-bottom: 0;
  .partner-framework-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    background-color: #7F61FA;
    opacity: 0.08;
    z-index: 0;
  }
  .row .col-framework {
    margin-bottom: 0;
  }
  .thumbnail {
    height: 5.40rem;
    position: relative;
    border-radius: 6px;
    background-color: #3B43D9;
    -webkit-box-shadow: 5px 10px 30px 0 rgba(9, 26, 94, 0.41);
    -moz-box-shadow: 5px 10px 30px 0 rgba(9, 26, 94, 0.41);
    box-shadow: 5px 10px 30px 0 rgba(9, 26, 94, 0.41);
    .caption {
      padding: 0.40rem;
      h4 {
        font-size: 0.22rem;
        color: #FFF;
        text-align: left;
      }
      h5 {
        margin-top: 0.30rem;
        font-size: 0.16rem;
        color: #ABAFEF;
        line-height: 0.32rem;
      }
      p {
        font-size: 0.16rem;
        color: #FFF;
        line-height: 0.32rem;
      }
    }
    .btn {
      position: absolute;
      bottom: 0.40rem;
      left: 0.40rem;
      font-size: 0.16rem;
      color: #3B43D9;
      border: none;
      border-radius: 1px;
      background-color: #FFF;
      line-height: 0.24rem;
      &:hover {
        -webkit-box-shadow: 5px 10px 30px 0 rgba(9, 26, 94, 0.41);
        -moz-box-shadow: 5px 10px 30px 0 rgba(9, 26, 94, 0.41);
        box-shadow: 5px 10px 30px 0 rgba(9, 26, 94, 0.41);
      }
    }
  }
}

.features-partner-step {
  margin: 1.30rem 0 0.68rem;

  .list-step-center {
    margin-top: 0.68rem;
    padding: 0;
    text-align: center;
    list-style: none;

    .step-li {
      display: inline-block;

      .unit {
        .unit-text {
          width: 150px;
          position: relative;
          display: inline-block;
          overflow: hidden;

          .step-unit-icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }

          .step-text {
            margin-top: 90px;
            text-align: center;
            font-size: 0.18rem;
            color: #333;
          }
        }

        .unit-line {
          display: inline-block;
          width: 150px;
          height: 6px;
          background-color: #455DE1;
          margin: 0 -45px 80px;
        }
      }
    }
  }

  .join-us-btn {
    margin-top: 0.60rem;
    .btn {
      border: none;
      color: #FFF;
      background: -webkit-linear-gradient(#4050DD 30%, #2713CA);
      background: -o-linear-gradient(#4050DD 30%, #2713CA);
      background: -moz-linear-gradient(#4050DD 30%, #2713CA);
      background: linear-gradient(#4050DD 30%, #2713CA);
      &:hover {
        color: #FFF;
        -webkit-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
        -moz-box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
        box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
      }
    }
  }
}

.partner-stripe {
  padding: 60px;
  color: #FFF;
  background: -webkit-linear-gradient(#4050DD 30%, #2713CA);
  background: -o-linear-gradient(#4050DD 30%, #2713CA);
  background: -moz-linear-gradient(#4050DD 30%, #2713CA);
  background: linear-gradient(#4050DD 30%, #2713CA);
  h4 {
    line-height: 2.0;
  }
  .email-box {
    color: #FFF;
    text-decoration: underline;
    &:hover {
      color: #FFF;
    }
  }
}

@media (max-width: 1199px) {
  .features-partner-framework {
    .thumbnail {
      height: 5.60rem;
      .caption {
        padding: 0.30rem;
      }
      .btn {
        bottom: 0.30rem;
        left: 0.30rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .jumbotron.hero.hero-partner {
    .container {
      .middle-container {
        h2 {
          font-size: 0.30rem;
        }
        p {
          font-size: 0.12rem;
          line-height: 0.30rem;
        }
      }
    }
  }
  .features-partner-framework {
    .row .col-framework {
      margin-top: 0.40rem;
    }
    .thumbnail {
      height: 5.20rem;
    }
  }
  .features-partner-step {
    .list-step-center {
      .step-li .unit {
        .unit-text {
          width: 140px;
          .step-text {
            font-size: 0.16rem;
          }
        }
        .unit-line {
          width: 130px;
        }
      }
    }
  }
}

@media (width: 768px) {
  .features-partner-framework {
    .thumbnail {
      height: 4.60rem !important;
      .btn {
        position: absolute !important;
        margin-top: 0 !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .features-partner-framework {
    .thumbnail {
      height: auto;
      .btn {
        position: relative;
        margin-top: 0.30rem;
      }
    }
  }
  .features-partner-step {
    .list-step-center {
      .step-li .unit {
        .unit-text {
          width: 100px;
        }
        .unit-line {
          width: 50px;
          margin: 0 -20px 72px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .features-partner-step {
    .list-step-center .step-li {
      margin-top: 20px;
      display: block;
      .unit {
        .unit-line {
          display: none;
        }

        .unit-text {
          margin: 0 auto;
          display: block;

          .step-unit-icon {
            position: initial;
            left: 0;
            transform: initial;
            display: inline-block;
          }

          .step-text {
            display: inline-block;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
