.features.plsv-services {
  .iphone-box {
    display: none;
    padding: 171% 0 0;
    position: relative;
    &.hover {
      display: block;
    }
    img.iphone {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .video-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 26.7% 0 0;
      video {
        width: 100%;
        height: 100%;
      }
    }
  }

  .description-box {
    .description {
      display: none;
      padding: 0.8rem 0;
      color: rgb(94, 97, 102);
      &.hover {
        display: block;
      }
      .number {
        float: left;
        width: 109px;
        font-size: 60px;
      }
      .content {
        margin-left: 109px;
        padding: 0 0.43rem;
        border-left: 2px solid rgb(94, 97, 102);
      }
    }

    .direction {
      .direc-row {
        width: 100%;
        font-size: 0;
        -webkit-text-size-adjust: none;
        .direc-col {
          display: inline-block;
          margin: 0;
          width: 20%;
        }
      }
      .img-box {
        position: relative;
        padding: 146% 0 0;
        margin-right: 15px;
        &:hover, &.hover {
          cursor: pointer;
          .mask {
            background-color: rgba(49, 122, 175, 0.7);
          }
        }
        .img-btn {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
        }
        .icon-box {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            color: #fff;
            width: 70px;
          }
        }
      }
    }
  }
}

.features.tab-content-allfunction{
  .allfunction-tabs {
    border: 1px solid #eee;
    .tabs {
      .nav.nav-tabs.nav-tabs-allfunction{
        border: none;
        li {
          border-left: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          &.first {
            border-left: none;
          }
          &.active {
            border-bottom: none;
            border-top: 2px solid #1989fa;
            a {
              color: #1989fa;
            }
          }
        }
      }
      .thumbnail{
        min-height: auto;
        margin-bottom: 20px;
        img {
          border-radius: 50%;
          background-color: #F7F8F9;
        }
      }
    }
  }

  .action {
    padding-top: 0.50rem;
    text-align: center;
    a {
      color: #fff;
    }
  }
}

.features.tab-content-programme{
  padding-bottom: 0;
  color: #fff;
  background-color: rgb(65, 70, 84);
  p {
    color: #a0a4af;
  }

  .iphone-box {
    padding: 171% 0 0;
    position: relative;

    img.iphone {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .steps-box {
    padding-left: 120px;
    .time-line {
      border-left: 1px dotted #fff;
      ul.steps {
        margin-left: -85px;
        list-style: none;

        .step-desc {
          .step {
            width: 100%;
            overflow: hidden;
            &:hover, &.active {
              .content {
                margin: 0;
                .step-title {
                  padding: 0.15rem 0;
                }

                .desc {
                  opacity: 1;
                  height: auto;
                  margin-bottom: 0.25rem;
                }
              }

              .step-icon {
                margin-left: 0;
                margin-right: 25px;
                height: 88px;
                width: 88px;
                img {
                  opacity: 1;
                }
              }
            }
            .step-icon {
              display: block;
              float: left;
              margin-left: 34px;
              margin-right: 0;
              background-color: rgb(65, 70, 84);
              background-image: image-url('plsv/step-icon.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 20px 20px;
              height: 20px;
              width: 20px;
              img {
                opacity: 0;
              }
            }
            .content {
              padding-left: 113px;
              margin-top: -0.1rem;
              .step-title {
                padding: 0;
              }
              .desc {
                opacity: 0;
                height: 0.45rem;
                margin: 0;
              }
              .link {
                color: #00A0DE;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

.features.tab-content-access {
  color: #fff;
  background-color: rgb(24, 85, 126);

  p {
    color: #a0a4af;
  }

  .access {
    text-align: center;
    .steps {
      list-style: none;
      width: 100%;
      overflow: hidden;
      padding: 0;
      .step {
        display: inline-block;
        &.line {
          display: inline-block;
          position: relative;
          bottom: 44px;
          width: 151px;
          border-bottom: 1px dotted #fff;
          .glyphicon {
            top: 12px;
          }
        }
        .thumbnail h4 {
          color: #fff;
        }
      }
    }

    .action {
      text-align: center;
      a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1199px) {
  .features.tab-content-access {
    .access .steps .step.line {
      display: none;
    }
  }
  .features.tab-content-programme .steps-box .time-line ul.steps .step-desc .step .content .desc {
    height: 0.25rem;
  }
  .features.tab-content-programme .iphone-box {
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .jumbotron.hero.plsv .middle-container {
    top: 60%;
  }
}

.row {
  .even-xs-1, .even-sm-1, .even-md-1, .even-lg-1, .even-xs-2, .even-sm-2, .even-md-2, .even-lg-2, .even-xs-3, .even-sm-3, .even-md-3, .even-lg-3, .even-xs-4, .even-sm-4, .even-md-4, .even-lg-4, .even-xs-5, .even-sm-5, .even-md-5, .even-lg-5 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .even-xs-1, .even-xs-2, .even-xs-3, .even-xs-4, .even-xs-5 {
    float: left;
  }
  .even-xs-5 {
    width: 100%;
  }
  .even-xs-4 {
    width: 80%;
  }
  .even-xs-3 {
    width: 60%;
  }
  .even-xs-2 {
    width: 40%;
  }
  .even-xs-1 {
    width: 20%;
  }
  .even-xs-pull-5 {
    right: 100%;
  }
  .even-xs-pull-4 {
    right: 80%;
  }
  .even-xs-pull-3 {
    right: 60%;
  }
  .even-xs-pull-2 {
    right: 40%;
  }
  .even-xs-pull-1 {
    right: 20%;
  }
  .even-xs-pull-0 {
    right: auto;
  }
  .even-xs-push-5 {
    left: 100%;
  }
  .even-xs-push-4 {
    left: 80%;
  }
  .even-xs-push-3 {
    left: 60%;
  }
  .even-xs-push-2 {
    left: 40%;
  }
  .even-xs-push-1 {
    left: 20%;
  }
  .even-xs-push-0 {
    left: auto;
  }
  .even-xs-offset-5 {
    margin-left: 100%;
  }
  .even-xs-offset-4 {
    margin-left: 80%;
  }
  .even-xs-offset-3 {
    margin-left: 60%;
  }
  .even-xs-offset-2 {
    margin-left: 40%;
  }
  .even-xs-offset-1 {
    margin-left: 20%;
  }
  .even-xs-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 768px) {
  .even-sm-1, .even-sm-2, .even-sm-3, .even-sm-4, .even-sm-5 {
    float: left;
  }
  .even-sm-5 {
    width: 100%;
  }
  .even-sm-4 {
    width: 80%;
  }
  .even-sm-3 {
    width: 60%;
  }
  .even-sm-2 {
    width: 40%;
  }
  .even-sm-1 {
    width: 20%;
  }
  .even-sm-pull-5 {
    right: 100%;
  }
  .even-sm-pull-4 {
    right: 80%;
  }
  .even-sm-pull-3 {
    right: 60%;
  }
  .even-sm-pull-2 {
    right: 40%;
  }
  .even-sm-pull-1 {
    right: 20%;
  }
  .even-sm-pull-0 {
    right: auto;
  }
  .even-sm-push-5 {
    left: 100%;
  }
  .even-sm-push-4 {
    left: 80%;
  }
  .even-sm-push-3 {
    left: 60%;
  }
  .even-sm-push-2 {
    left: 40%;
  }
  .even-sm-push-1 {
    left: 20%;
  }
  .even-sm-push-0 {
    left: auto;
  }
  .even-sm-offset-5 {
    margin-left: 100%;
  }
  .even-sm-offset-4 {
    margin-left: 80%;
  }
  .even-sm-offset-3 {
    margin-left: 60%;
  }
  .even-sm-offset-2 {
    margin-left: 40%;
  }
  .even-sm-offset-1 {
    margin-left: 20%;
  }
  .even-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .even-md-1, .even-md-2, .even-md-3, .even-md-4, .even-md-5 {
    float: left;
  }
  .even-md-5 {
    width: 100%;
  }
  .even-md-4 {
    width: 80%;
  }
  .even-md-3 {
    width: 60%;
  }
  .even-md-2 {
    width: 40%;
  }
  .even-md-1 {
    width: 20%;
  }
  .even-md-pull-5 {
    right: 100%;
  }
  .even-md-pull-4 {
    right: 80%;
  }
  .even-md-pull-3 {
    right: 60%;
  }
  .even-md-pull-2 {
    right: 40%;
  }
  .even-md-pull-1 {
    right: 20%;
  }
  .even-md-pull-0 {
    right: auto;
  }
  .even-md-push-5 {
    left: 100%;
  }
  .even-md-push-4 {
    left: 80%;
  }
  .even-md-push-3 {
    left: 60%;
  }
  .even-md-push-2 {
    left: 40%;
  }
  .even-md-push-1 {
    left: 20%;
  }
  .even-md-push-0 {
    left: auto;
  }
  .even-md-offset-5 {
    margin-left: 100%;
  }
  .even-md-offset-4 {
    margin-left: 80%;
  }
  .even-md-offset-3 {
    margin-left: 60%;
  }
  .even-md-offset-2 {
    margin-left: 40%;
  }
  .even-md-offset-1 {
    margin-left: 20%;
  }
  .even-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .even-lg-1, .even-lg-2, .even-lg-3, .even-lg-4, .even-lg-5 {
    float: left;
  }
  .even-lg-5 {
    width: 100%;
  }
  .even-lg-4 {
    width: 80%;
  }
  .even-lg-3 {
    width: 60%;
  }
  .even-lg-2 {
    width: 40%;
  }
  .even-lg-1 {
    width: 20%;
  }
  .even-lg-pull-5 {
    right: 100%;
  }
  .even-lg-pull-4 {
    right: 80%;
  }
  .even-lg-pull-3 {
    right: 60%;
  }
  .even-lg-pull-2 {
    right: 40%;
  }
  .even-lg-pull-1 {
    right: 20%;
  }
  .even-lg-pull-0 {
    right: auto;
  }
  .even-lg-push-5 {
    left: 100%;
  }
  .even-lg-push-4 {
    left: 80%;
  }
  .even-lg-push-3 {
    left: 60%;
  }
  .even-lg-push-2 {
    left: 40%;
  }
  .even-lg-push-1 {
    left: 20%;
  }
  .even-lg-push-0 {
    left: auto;
  }
  .even-lg-offset-5 {
    margin-left: 100%;
  }
  .even-lg-offset-4 {
    margin-left: 80%;
  }
  .even-lg-offset-3 {
    margin-left: 60%;
  }
  .even-lg-offset-2 {
    margin-left: 40%;
  }
  .even-lg-offset-1 {
    margin-left: 20%;
  }
  .even-lg-offset-0 {
    margin-left: 0%;
  }
}