.jumbotron.hero.plsv {
  .actions {
    white-space: nowrap;
    .btn {
      margin-right: 5px;
      padding: 0.10rem;
    }
  }
  .sdk-link {
    font-size: 0.18rem;
    color: #FFF;
    &:hover {
      text-decoration: underline;
    }
  }
  .csvc-link {
    position: relative;
    margin-top: 0.40rem;
    font-size: 0.18rem;
    a {
      color: #F5CC2E;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .icon-hot {
    width: 28px;
    height: 20px;
    position: absolute;
    top: calc(-100% - 0.05rem);
    left: 0;
    background-image: image-url("hot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .right-mask-banner {
    line-height: 3.00rem;
  }
}

.features.plsv-services {
  .iphone-box {
    display: none;
    padding: 171% 0 0;
    position: relative;
    &.hover {
      display: block;
    }
    img.iphone {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .video-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 26.7% 0 0;
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
  .description-box {
    .description {
      display: none;
      padding: 0.8rem 0;
      color: rgb(94, 97, 102);
      &.hover {
        display: block;
      }
      .number {
        float: left;
        width: 109px;
        font-size: 60px;
      }
      .content {
        margin-left: 109px;
        padding: 0 0.43rem;
        border-left: 2px solid rgb(94, 97, 102);
      }
    }
    .direction {
      .direc-row {
        width: 100%;
        font-size: 0;
        -webkit-text-size-adjust: none;
        .direc-col {
          display: inline-block;
          margin: 0;
          width: 20%;
        }
      }
      .img-box {
        position: relative;
        padding: 146% 0 0;
        margin-right: 15px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 0 #EFEFEF, 2px 2px 20px #B9B9B9;
        &:hover,
        &.hover {
          cursor: pointer;
          .mask {
            background-color: rgba(49, 122, 175, 0.7);
          }
        }
        .img-btn {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
        }
        .icon-box {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            color: #fff;
            width: 70px;
          }
        }
      }
    }
  }
}

.features.tab-content-allfunction {
  .allfunction-tabs {
    border: 1px solid #eee;
    .tabs {
      .nav.nav-tabs.nav-tabs-allfunction {
        border: none;
        li {
          border-left: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          &.first {
            border-left: none;
          }
          &.active {
            border-bottom: none;
            border-top: 2px solid #1989fa;
            a {
              color: #1989fa;
            }
          }
        }
      }
      .thumbnail {
        min-height: auto;
        margin-bottom: 20px;
        img {
          border-radius: 50%;
          background-color: #F7F8F9;
        }
      }
    }
  }
  .action {
    padding-top: 0.50rem;
    text-align: center;
    a {
      color: #fff;
    }
  }
}

.features.tab-content-programme {
  padding-bottom: 0;
  color: #fff;
  background-color: rgb(65, 70, 84);
  p {
    color: #a0a4af;
  }
  .iphone-box {
    padding: 171% 0 0;
    position: relative;
    img.iphone {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .steps-box {
    padding-left: 120px;
    .time-line {
      border-left: 1px dotted #fff;
      ul.steps {
        margin-left: -85px;
        list-style: none;
        .step-desc {
          .step {
            width: 100%;
            overflow: hidden;
            &:hover,
            &.active {
              .content {
                margin: 0;
                .step-title {
                  padding: 0.15rem 0;
                }
                .desc {
                  opacity: 1;
                  height: auto;
                  margin-bottom: 0.25rem;
                }
              }
              .step-icon {
                margin-left: 0;
                margin-right: 25px;
                height: 88px;
                width: 88px;
                img {
                  opacity: 1;
                }
              }
            }
            .step-icon {
              display: block;
              float: left;
              margin-left: 34px;
              margin-right: 0;
              background-color: rgb(65, 70, 84);
              background-image: image-url('plsv/step-icon.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 20px 20px;
              height: 20px;
              width: 20px;
              img {
                opacity: 0;
              }
            }
            .content {
              padding-left: 113px;
              margin-top: -0.1rem;
              .step-title {
                padding: 0;
              }
              .desc {
                opacity: 0;
                height: 0.45rem;
                margin: 0;
              }
              .link {
                color: #00A0DE;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

.features.tab-content-access {
  color: #fff;
  background-color: rgb(24, 85, 126);
  p {
    color: #a0a4af;
  }
  .access {
    text-align: center;
    .steps {
      list-style: none;
      width: 100%;
      overflow: hidden;
      padding: 0;
      .step {
        display: inline-block;
        &.line {
          display: inline-block;
          position: relative;
          bottom: 44px;
          width: 151px;
          border-bottom: 1px dotted #fff;
          .glyphicon {
            top: 12px;
          }
        }
        .thumbnail h4 {
          color: #fff;
        }
      }
    }
    .action {
      text-align: center;
      a {
        color: #fff;
      }
    }
  }
}

.row {
  .five-sm-1,
  .three-sm-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .jumbotron.hero.plsv .middle-container {
    top: 55%;
  }
}

@media (max-width: 1199px) {
  .features.tab-content-access {
    .access .steps .step.line {
      display: none;
    }
  }
  .features.tab-content-programme .steps-box .time-line ul.steps .step-desc .step .content .desc {
    height: 0.25rem;
  }
  .features.tab-content-programme .iphone-box {
    margin-top: 8px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron.hero.plsv .middle-container {
    top: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron.hero.plsv .middle-container {
    top: 45%;
  }
}

@media (max-width: 768px) {
  .jumbotron.hero.plsv .middle-container {
    .icon-hot {
      top: calc(-100% - 0.15rem) !important;
    }
  }
}

@media (min-width: 768px) {
  .row .five-sm-1 {
    float: left;
    width: 20%;
  }
  .row .three-sm-1 {
    float: left;
    width: 33%;
  }
}