.row-clear {
  margin-left: 0;
  margin-right: 0;
}
.setli-3width {
  width: 100%;
  li {
    width: 32%;
    margin: 10px auto;
  }
}
.navbar-nav > li > a.tab-links {
  line-height: 0;
}

.nav.nav-tabs.nav-prices-links,
.nav.nav-tabs.nav-prices-tabs {
  width: 400px;
  border-bottom: 0;
  background-color: #fff;
  li {
    a {
      padding: 10px 0;
      border: 1px solid #e6eaef;
      background-color: #fff;
      border-radius: 0;
    }
    &.active a {
      border: 1px solid #00a0de !important;
      background-color: #e4f7ff !important;
      &:hover {
        color: #1989fa;
        cursor: pointer;
      }
    }

    &.active::before {
      height: 0;
    }
  }
}

.nav.nav-tabs.nav-prices-products-tabs {
  width: 532px !important;
}

.prices-page {
  .jumbotron.hero {
    height: 4.65rem;
  }
  .jumbotron.hero .container {
    position: relative;
    height: 4.2rem;
    text-align: left;
  }

  .feature-price-nav {
    z-index: 10;
  }
}

.feature-price-nav {
  margin-top: -0.3rem;
  padding-top: 0.28rem;
  padding-bottom: 25px;
  background-color: #fff;

  .caculator {
    padding-left: 0.6rem;
    background-image: image-url('prices/icon-caculator@2x.png');
    background-size: 0.5rem 0.5rem;
    background-repeat: no-repeat;
    background-position: 0.16rem;

    color: rgb(94, 97, 102);
    font-size: 0.14rem;

    &:hover {
      background-color: transparent;
      color: #00a0de;
    }

    &:focus {
      background-color: transparent;
      outline-style: none;
    }
  }
}

.feature-price {
  .container {
    .tip-text {
      margin: 0 0 0.2rem 0;
      .strong-text {
        color: #000;
        font-weight: 600;
      }
      a {
        color: #00a0de;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.tab-content-caculating {
  .info .title-left {
    font-size: 0.3rem;
    color: rgb(47, 48, 51);
  }
  .row.details {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    padding: 0.35rem;
    // margin-left: 0;
    border: 0.01rem solid #e6eaef;
  }
  dl {
    &.dl-border {
      border: 0.01rem solid #e6eaef;
      padding: 0.38rem 0.3rem;
      background-color: #fff;
    }
    dt {
      &.icon-title {
        font-size: 0.24rem;
        color: rgb(23, 18, 15);
        height: 0.8rem;
        line-height: 0.8rem;
        padding-left: 0.7rem;

        background-position: left;
        background-size: 0.6rem 0.6rem;
        background-repeat: no-repeat;
      }

      &.icon-fusion {
        background-image: image-url('prices/icon-cdn@2x.png');
      }
      &.icon-kodo {
        background-image: image-url('prices/icon-kodo@2x.png');
      }
      &.icon-dipin {
        background-image: image-url('prices/icon-dipingcunchu@2x.png');
      }
      &.icon-dora {
        background-image: image-url('prices/icon-API@2x.png');
      }
    }

    dd {
      color: rgb(47, 48, 51);
      line-height: 0.3rem;
    }

    .formula {
      font-weight: bold;
    }
  }
}

.list-inline-prices {
  .special-price {
    border-right: 0.01rem solid #e6eaef;

    &.border-init {
      border: 0;
    }

    p {
      padding-top: 0.1rem;

      .big-text {
        color: #000;
        font-size: 0.32rem;
        font-weight: 500;
      }
      .smal-text {
        font-size: 0.18rem;
        font-weight: 500;
      }
    }
  }
}

.tab-content-pricing {
  padding-top: 1rem;
  .hash {
    padding-top: 80px;
    margin-top: -80px;
    background-color: inherit;
  }
  .pricing-white-bg {
    background: #fff;
    border-right: 1px solid #e6eaef;
    margin-bottom: 0.5rem;
  }
}

table.pricing-table {
  border: 0.01rem solid #e6eaef;
  background-color: #fff;
  border-collapse: separate;
  margin-bottom: 0;

  .text-center {
    text-align: center;
  }
}

table.pricing-table tr {
  border-bottom: 0.01rem solid #f5f5f5;
  th {
    font-size: 0.16rem;
    font-weight: 400;
    border-right: 0.01rem solid #e6eaef;
    border-bottom: 0.01rem solid #e6eaef;

    &.th-init {
      border: 0;
    }

    &.thead-title {
      font-size: 0.18rem;
      color: rgb(151, 152, 156);
      height: 0.6rem;
    }

    .pricing-table-subtitle {
      font-size: 0.12rem;
      line-height: 0.17rem;
    }

    .grey-unit {
      font-size: 0.12rem;
      color: #666;
    }

    .th-p {
      padding: 0;
      margin: 0;
      margin-left: -0.09rem;
      line-height: 0.12rem;
    }
  }
}

table.pricing-table.border-bold {
  border: 1px solid #000;
}

table.pricing-table {
  &.border-none {
    border-right: none;
    td,
    th {
      border-top: none;
      border-right: none;
    }
  }
}

table.pricing-table tr th,
table.pricing-table tr td {
  vertical-align: middle;
  text-align: left;
  color: #333;
  line-height: 0.32rem;
  padding: 0.1rem 0.2rem;

  &.border-bottom {
    border-bottom: 1px solid #e6eaef;
    &.border-bold {
      border-bottom: 1px solid #000;
    }
  }

  &.border-left {
    border-left: 1px solid #e6eaef;
    &.border-bold {
      border-left: 1px solid #000;
    }
  }

  &.border-right {
    border-right: 1px solid #e6eaef;
    &.border-bold {
      border-right: 1px solid #000;
    }
  }

  div {
    padding-bottom: 0.21rem;
    margin-bottom: 0.22rem;
  }

  .text-danger {
    color: #fa5a50;
  }
}

//caculator css

//right menu

.pricing-info {
  border: 1px solid #eee;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 #eee, 2px 2px 20px #eee;
  -moz-box-shadow: 0 0 0 #eee, 2px 2px 20px #eee;
  box-shadow: 0 0 0 #eee, 2px 2px 20px #eee;
  background-color: #fff;

  dl {
    padding: 0;
    margin: 0;
  }

  dt {
    padding: 0.05rem 0.15rem;
    background-color: rgb(234, 241, 251);
    border-bottom: 0.01rem solid #eee;

    font-size: 0.16rem;
    line-height: 0.32rem;
    &.bg-init {
      background-color: #fff;
      border-bottom: 0;
    }
    &.dt-sm {
      font-size: 0.14rem;
      padding: 0.05rem 0.15rem;
    }
  }
  dd {
    padding: 0.05rem 0.15rem;
    width: 100%;
    overflow: hidden;
  }

  p {
    word-wrap: break-word;
    color: rgb(168, 168, 168);
    font-size: 0.12rem;
    line-height: 0.24rem;
  }

  .sum {
    padding: 0.1rem;
    margin: 0;
    background-color: rgb(67, 158, 217);
    color: #fff;
    font-size: 0.18rem;
    text-align: center;

    &:hover {
      color: #fff;
    }
  }
}

.pricing-info-details {
  list-style: none;
  padding: 0;
  li {
    font-size: 0.18rem;
    display: inline-block;

    &.price {
      float: right;
      color: #3b99fc;
    }
  }
}

/*
**caculator css
**left select
*/

.features div.pricing-details {
  margin-top: 0;

  section {
    color: #2f3033;
    font-size: 0.14rem;
    dl {
      margin-bottom: 0;
    }
    dt {
      font-size: 0.18rem;
      color: #97989c;
      height: 0.45rem;
      padding: 0.1rem 0.5rem;
      background-color: #f6f8fa;
      border-bottom: 0.01rem solid #e6eaef;
      &.checkbox {
        margin-top: 0;
        margin-bottom: 0;
      }
      &.dt-lighter {
        font-size: 0.16rem;
        font-weight: lighter;
        padding: 0.1rem 0.25rem;
      }
    }
    dd {
      padding: 0.1rem 0.2rem;
      border-bottom: 0.01rem solid #e6eaef;
    }
    div.active {
      display: block;
    }
  }
}

.caculator-sec {
  background-color: #fff;
  border: 0.01rem solid #e6eaef;
  border-bottom: 0;
  margin-bottom: 0.5rem;
}

.caculator-sec-last {
  background-color: #fff;
  border: 0.01rem solid #e6eaef;
}

input[type='range'] {
  display: inline-block;
  margin: 0.1rem 0.1rem 0.1rem 0;
  width: 80%;
}

.input-num {
  width: 0.91rem;
  color: #3b99fc;
  outline-style: none;
}

.displayNone {
  display: none;
}

.fix-top {
  margin-top: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.pricing-caculator {
  width: 8.1rem;
  .btn {
    font-size: 14px;
  }
  .list-inline {
    margin-bottom: 0px;
  }
  .area-select {
    list-style: none;
    padding-top: 5px;
    padding-left: 0px;
    li {
      display: inline-block;
    }
  }
}

.pricing-info-wrapper {
  position: absolute;
  top: 6.3rem;
  right: 0.68rem;
  width: 2.9rem;
}

.fixed-right {
  top: 1.11rem;
  z-index: 2;
}

.prices-page-caculator {
  .input-group {
    .input-group-btn {
      min-width: 0.58rem;
      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .list-inline-prices {
    .special-price {
      &.col-md-3 {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .prices-page {
    .features {
      padding-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  .features .row .list-inline-prices {
    margin-left: -0.4rem;
    margin-right: -0.4rem;
  }
  .tab-content-caculating {
    .row.details {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }
  .tab-content-pricing {
    padding-top: 0.4rem;
  }
  .pricing-caculator {
    width: 100%;
  }
  .pricing-info-wrapper {
    position: initial;
    width: 100%;
    margin-top: 0.2rem;
  }
  #fusion-area-select {
    font-size: 0.12rem;
  }
  .tab-content-caculating dl {
    &.dl-border {
      padding: 0.1rem;
    }
    dt.icon-title {
      font-size: 0.18rem;
    }
  }
  .prices-page-caculator {
    .input-group {
      .input-group-btn {
        min-width: 0.84rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .feature-price {
    padding-top: 10px;
  }
  #feature-price-nav {
    .nav-prices-links {
      li {
        display: inline-block;
        margin: 0;
        position: initial;
        a {
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
  #nav-product {
    .nav-prices-tabs {
      width: 100%;
      // text-align: center;
      background: initial;
      border: none;
      li {
        display: inline-block;
        margin: 0;
        position: initial;
        margin-left: -5px;
        a {
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .features .row .pricing-caculator {
    .col-sm-6 {
      margin-bottom: 15px;
    }
  }
}

.caculator-qvm-container {
  border: none;
  width: 100%;
  height: 1000px;
}

//displaynone <--> active
.inland,
.ENA,
.Asia,
.India,
.SA,
.Oceania,
.east,
.sourth,
.north,
.northAmerica {
  display: block;
  &.displayNone {
    display: none;
  }
}

.fusion-checkbox,
.kodo-checkbox,
.lowKodo-checkbox {
  label {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}

.overflow-visible {
  overflow: visible !important;
}
