.hero-qavs {
  .container {
    h1 {
      margin-top: 0.35rem;
      font-size: 0.35rem;
      text-shadow: 0 0.02rem 0.03rem rgba(0, 0, 0, 0.5);
    }
    p {
      margin-top: 0.20rem;
      font-size: 0.16rem;
    }
    .actions {
      margin-top: 0.20rem;
    }
    .right-mask-banner {
      line-height: 3.00rem;
    }
  }
}

.features-qavs-service {
  .table-container {
    overflow-x: auto;
  }
  .service-table {
    width: 100%;
    border: 1px solid rgba(0, 160, 222, 0.75);
    border-radius: 0.10rem;
    min-width: 940px;
    .service-row {
      margin: 0;
      .service-col {
        height: 50px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 46px;
        text-align: center;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
        &:hover {
          background-color: rgba(0, 160, 222, 0.1);
        }
      }
      .content-border {
        border: 1px solid rgba(0, 160, 222, 0.35);
        border-radius: 0.10rem;
      }
      .content-light {
        border-top-left-radius: 0.10rem;
        border-top-right-radius: 0.10rem;
        background-color: rgba(0, 160, 222, 0.1);
      }
      .col-3 {
        width: 23.5%;
      }
      .col-4 {
        width: 32%;
      }
      .col-6 {
        width: 49%;
      }
      .m-r-2 {
        margin-right: 2%;
      }
      .m-l-2 {
        margin-left: 2%;
      }
      .m-b-5px {
        margin-bottom: 5px;
      }
      .m-b-10px {
        margin-bottom: 10px;
      }
    }
    .icon-link {
      cursor: pointer;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      transition: all .3s linear;
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
    }
  }
}

.features-qavs-scene {
  .container {
    .col-left {
      margin-bottom: 0.20rem;
    }
    .col-right {
      h3 {
        margin-top: 0;
      }
      .desc {
        margin-top: 0.30rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .features-qavs-adva {
    .media-body {
      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .features-qavs-adva {
    .media-body {
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .features-qavs-scene {
    .nav.nav-tabs li {
      display: table-cell !important;
    }
  }
}