.agreement-details {
  h2 {
    margin-bottom: 0.38rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
  }

  p.condense {
    font-size: 0.14rem;
    line-height: 24px;
    margin-bottom: 0.39rem;
  }

  p .more.more-underline {
    text-decoration: underline;
    text-decoration-color: #00A0DE;
    &:hover {
      text-decoration-color: #28AEDF;
    }
  }

  p.content-italic {
    font-style: italic;
  }

  p.content-bold,
  span.content-bold {
    color: #000;
    font-weight: 600;
  }

  p.content-underline,
  span.content-underline {
    text-decoration: underline;
  }

  p.content-underline {
    .more {
      text-decoration: underline;
      text-decoration-color: #000;
    }
  }

  ol {
    list-style: none;
    background: transparent;
    padding: 0;
    overflow: hidden;
    margin-bottom: 0.21rem;

    li {
      font-size: 0.14rem;
      line-height: 0.28rem;
      margin-bottom: 0.19rem;

      &.last-li {
        margin-bottom: 0;
      }

      span:not(.content-bold):not(.content-underline) {
        width: 40px;
        display: block;
        float: left;

        &.exspan {
          width: 60px;
        }
      }
    }

    &.last-ol {
      margin-bottom: 0;
    }
  }

  .date-stamp {
    text-align: right;
  }
}