.hero-snow {
  .middle-container {
    top: 50% !important;

    h2 {
      margin-top: 0.30rem;
    }

    p {
      margin-top: 0.30rem;
    }

    .actions {
      margin-top: 0.30rem;
    }

    .right-mask-banner {
      text-align: center;
    }
  }

  .right-mask-banner {
    line-height: 3.00rem;
  }
}

.features-snow {
  padding: 0.68rem 0 0.80rem 0;

  .col-item {
    padding: 0 10px;
    text-align: center;

    img {
      margin-bottom: 0.05rem;
    }

    p {
      margin-top: 0.20rem;
      margin-bottom: 0.30rem;
      text-align: left;
      word-break: break-all;
    }
  }
}

.features-snow-scene {
  padding: 0.68rem 0;

  .container {
    .col-left {
      margin-bottom: 0.30rem;
    }

    .col-right {
      margin: 0 -5px;

      h3 {
        margin-top: 0;
      }

      .desc {
        margin-top: 0.30rem;
        word-break: break-all;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-snow {
    .middle-container {
      h2 {
        font-size: 0.32rem;
      }

      p {
        font-size: 0.14rem;
      }
    }
  }
  .features-snow-scene {
    .col-right {
      margin: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .features-snow-advantage {
    .col-item {
      height: 3.50rem;
    }
  }
  .features-snow-scene {
    .nav.nav-tabs {
      li {
        display: table-cell !important;
      }
    }
    .col-right {
      margin: 0 !important;
    }
  }
}