.jumbotron.hero.hero-solution p{
  font-size: 16px;
}

.features.feature-solution{
  margin-top: -30px;
  padding-top: 0;
}
.row-solution{
  position: relative;
  margin-bottom: 40px;
  .col-scene{
    padding: 100px 20px 70px 20px;
    height: 100%;
  }

  .col-solution{
    padding: 100px 40px 0px 40px;
  }
}

.col-solution{
  .icon-QOS{
    background-image: image-url("solution/icon-duixiangcunchusiyouhuabushu@2x.png");
  }

  .icon-UDMP{
    background-image: image-url("solution/icon-feijiegouhuashujuguanlifangan@2x.png");
  }

  .icon-ICA{
    background-image: image-url("solution/icon-zhinengyunxiangce@2x.png");
  }

  .icon-IHAIOT{
    background-image: image-url("solution/icon-zhinengyingjianyuwulianwangjiejuefangan@2x.png");
  }

  .icon-RTMI{
    background-image: image-url("solution/icon-guangdianchuanmei@2x.png");
  }

  .icon-HST{
    background-image: image-url("solution/icon-anfangzhongduan@2x.png");
  }

  .icon-Internet{
    background-image: image-url("solution/icon-hulianwangyuyidonghulianwang@2x.png");
  }

  .icon-DQM{
    background-image: image-url("solution/icon-yingyongzhiliangjiankong@2x.png");
  }

  .content{
    padding: 20px 0;
    margin: 0;
  }

  .icon-kodo{
    background-image: image-url("solution/icon-duixiangcunchu@2x.png");
  }

  .icon-dora{
    background-image: image-url("solution/icon-shujuchuli@2x.png");
  }

  .icon-fusion{
    background-image: image-url("solution/icon-ronghecdn@2x.png");
  }

  .icon-pandora{
    background-image: image-url("solution/icon-dashujupingtai@2x.png");
  }

  .icon-vance{
    background-image: image-url("solution/icon-shipindianbo@2x.png");
  }

  .icon-pili{
    background-image: image-url("solution/icon-shipinzhibo@2x.png");
  }

  .icon-face{
    background-image: image-url("solution/icon-renlianshibie@2x.png");
  }

  .icon-scene{
    background-image: image-url("solution/icon-changjingshibie@2x.png");
  }

  .icon-object{
    background-image: image-url("solution/icon-wutishibie@2x.png");
  }

  .icon-deepLearn{
    background-image: image-url("solution/icon-shenduxuexi@2x.png");
  }
}

.col-scene{
  .icon-jinrong{
    background-image: image-url("solution/icon-jinrong@2x.png");
  }

  .icon-guangdian{
    background-image: image-url("solution/icon-guangdian@2x.png");
  }

  .icon-anfang{
    background-image: image-url("solution/icon-anfang@2x.png");
  }

  .icon-zhinengyingjian{
    background-image: image-url("solution/icon-zhinengyingjianyuwulianwang@2x.png");
  }

  .icon-shejiaoapp{
    background-image: image-url("solution/icon-shejiaoapp@2x.png");
  }

  .icon-meiyanapp{
    background-image: image-url("solution/icon-meiyanapp@2x.png");
  }

  .icon-shoujicaozuoxitong{
    background-image: image-url("solution/icon-shoujicaozuoxitong@2x.png");
  }

  .icon-xinmeiti{
    background-image: image-url("solution/icon-xinmeiti@2x.png");
  }

  .icon-chengshianfang{
    background-image: image-url("solution/icon-chengshianfang@2x.png");
  }

  .icon-xiaoyuananfang{
    background-image: image-url("solution/icon-xiaoyuananfang@2x.png");
  }

  .icon-jiatinganfang{
    background-image: image-url("solution/icon-jiatinganfang@2x.png");
  }



  .icon-lvyou{
    background-image: image-url("solution/icon-lvyou@2x.png");
  }

  .icon-dianshangyunying{
    background-image: image-url("solution/icon-dianshangyunying@2x.png");
  }

  .icon-yule{
    background-image: image-url("solution/icon-yule@2x.png");
  }

  .icon-O2O{
    background-image: image-url("solution/icon-o2o@2x.png");
  }

  .icon-zaixianjiaoyu{
    background-image: image-url("solution/icon-zaixianjiaoyu@2x.png");
  }

  .icon-yidongyingyongguanli{
    background-image: image-url("solution/icon-yidongyingyongguanli@2x.png");
  }

  .icon-youyiyunying{
    background-image: image-url("solution/icon-youyiyunying@2x.png");
  }

  .icon-shipinwangzhanyunying{
    background-image: image-url("solution/icon-shipinwangzhanyunying@2x.png");
  }
}