.features-tech{
  font-family: PingFangSC Medium;
  .intro .title{
    font-size: 27px;
    color: rgb(47, 48, 51);
    font-weight: 400!important;
  }
  time{
    span{
      display: inline-block;
      border-left: 2px solid rgb(94,97,102);
    }
  }
}