/**
 * @file 产品页面
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.wrapper {
  background-color: #fff;
  height: 100%;
}

.preview {
  background-color: #fff;
  padding-top: 10px;
}

.config {
  padding-top: 10px;
  height: 40px;
  text-align: right;
}

.list {
  padding: 20px;

  .fixedCheck {
    text-align: right;
  }

  .btns {
    text-align: center;
  }
}

.menu {
  max-height: none;
}

.menuBtn {
  margin-left: @icecream-gap-md;
}
