@import '~utils/less/index.less';

.features {
  margin-top: 24px;
  .mobile({
    margin-top: 12px;
  });
  
  .feature + .feature {
    margin-top: 10px;
    .mobile({
      margin-top: 8px;
    })
  }
}

.body {
  min-height: 129px;
}

.price {
  line-height: 33px;
  font-size: 24px;
  font-weight: 600;
  color: @orange-6;

  .unit {
    margin-left: 8px;
    font-size: 14px;
  }
}

.buyBtn {
  margin-top: 20px;

  .mobile({
    margin-top: 16px;
  });
}
