@import '~utils/less/index.less';

.wrapper {
  position: relative;
  padding-bottom: 132px;
  border-top: 2px solid @blue-6;
}

.lineWithIcon() {
  display: flex;
  align-items: center;
  line-height: 22px;

  .icon {
    margin-right: 8px;
  }

  .mobile({
    font-size: 12px;
    line-height: 17px;
  });
}

.header {
  padding: 24px;
  background-color: #FAFAFA;
  border-bottom: 1px solid @grey-3;

  .mobile({
    padding: 20px 16px;
  });

  .title {
    line-height: 28px;
    font-size: 20px;
    font-weight: 600;

    .mobile({
      line-height: 22px;
      font-size: 16px;
    });
  }

  .features {
    margin-top: 24px;

    .mobile({
      margin-top: 12px;
    });
    
    .feature {
      .lineWithIcon();

      &:not(:first-child) {
        margin-top: 10px;

        .mobile({
          margin-top: 8px;
        })
      }
    }
  }
}

.body {
  padding: 20px 24px 0;
  min-height: 130px;

  .mobile({
    padding: 16px 16px 0;
    height: auto;
  });

  .params {
    .param {
      .lineWithIcon();
      &:not(:first-child) {
        margin-top: 12px;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: content-box;
  padding: 12px 24px 32px;
  text-align: center;

  .mobile({
    padding: 12px 16px 16px;
  });

  .price {
    line-height: 33px;
    font-size: 24px;
    font-weight: 600;
    color: @orange-6;

    .unit {
      margin-left: 8px;
      font-size: 14px;
    }
  }

  .buyBtn {
    width: 100%;
    margin-top: 20px;

    .mobile({
      margin-top: 16px;
    });
  }
}
