@import "~utils/less/index.less";

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 0 72px 0;

  .mobile({
    padding: 0 0 33px 0;
  });
}

.block {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 36px;

  + .block {
    padding-top: 36px;
  }

  .mobile({
    padding: 16px;
    margin-top: 0 !important;
  });
}

.image {
  display: inline-block;
  width: 480px;
  min-height: 270px;

  &:last-child {
    margin-left: 36px;
  }

  .mobile({
    width: 100%;
    height: auto;
  });
}

.content {
  position: relative;
  display: inline-block;
  width: 480px;
  min-height: 270px;
  vertical-align: top;

  &:last-child {
    margin-left: 36px;
  }

  .mobile({
    width: 100%;
    height: auto;
    margin-left: 0 !important;
  });
}

.title {
  margin-bottom: 9px;
  font-size: 24px;

  .mobile({
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 16px;
  });
}

.subtitle {
  font-size: 14px;
  color: @grey-6;
}

.scene {
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 500;
}

.sceneItem {
  .dot-item();

  + .sceneItem {
    margin-top: 8px;
  }
}

.btns {
  position: absolute;
  bottom: 0;
  left: 0;

  .mobile({
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 12px;

    > * {
      flex: 1
    }
  });
}

.more {
  margin-top: 72px;
  font-size: 20px;
  text-align: center;

  .mobile({
    margin-top: 33px;
  });
}
