/**
 * @file 预览
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon,
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 40px;
  height: @icecream-form-input-height-md;

  svg {
    max-width: 40px;
    max-height: @icecream-form-input-height-md;
  }
}

.iconNano {
  display: inline-block;
  width: @icecream-font-size-md;
  height: @icecream-font-size-md;

  svg {
    display: block;
    max-width: @icecream-font-size-md;
    max-height: @icecream-font-size-md;
  }
}

.preview {
  margin: 0 auto;
}

.bordered {
  border: 1px solid #EEE;
  box-shadow: @icecream-box-shadow-sm;
}

.hidden {
  display: none;
}
