/**
 * @file 手机短信验证
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.modal {
  width: 400px !important;
  height: auto !important;
  min-height: auto !important;
  max-height: none !important;
  border-radius: 8px !important;

  .mobile({
    min-width: 320px !important;
    max-width: 100% !important;
  });
}

.header {
  padding: 24px !important;
  font-size: 20px !important;
  line-height: 24px !important;
  text-align: center;
}

.form {
  margin: 8px auto;
  padding: 0 26px;
}

.footer {
  width: 100%;
  margin: 8px 0 28px;
  text-align: center;
}

.error {
  margin-bottom: 12px;
  color: @red-6;
}

.submitBtn {
  width: 100%;
}
