@import '~utils/less/index.less';

.card {
  max-width: (@centered-content-width - 24 * 2) / 3;
}

.image {
  height: 240px;
  border-bottom: 1px solid @grey-3;
}

.title {
  margin: 20px 0 8px 0;
  font-weight: 400;
  color: @grey-7;
  font-size: 20px;
}

.desc {
  color: @grey-6;
  font-size: 14px;
}
