.tag {
    margin-left: 12px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #fa8c16;
    background: rgba(250,140,22,0.10);
    border: 1px solid rgba(250,140,22,0.50);
    border-radius: 1px;
}
