@import '~utils/less/index.less';

.featureDesc {
  font-size: 16px;
  line-height: 22px;
  margin-top: 12px;

  .mobile({
    font-size: 14px;
  });
}

.featureItemDesc {
  width: 288px;
  text-align: left;
}
