@import '~utils/less/index.less';

@card-height: 108px;
@card-width: 280px;
@card-padding: 0 20px;
@card-space: 20px;

@mobile-card-height: 72px;
@mobile-card-width: 220px;
@mobile-card-padding: 0 12px;
@mobile-card-space: 16px;

.activities {
  position: relative;
  height: 0;
  padding: 0;
  background-color: @grey-1;
  overflow: unset;
  opacity: 1;
  transition: opacity 0.3s;

  &.hide {
    opacity: 0;
    // 防止透明了仍然可以点
    pointer-events: none;
  }

  &.animated {
    .container {
      .animate()
    }
  }

  .mobile({
    height: @mobile-card-height + 24px;
    margin-top: -20px;
    padding-bottom: 24px;
    overflow: hidden;
  });
}

.content {
  position: absolute;
  left: 50%;
  top: -180px;
  display: flex;
  width: @centered-content-width;
  height: 108px;
  // 搭配 content-box 留出一些间距给动画的位移用，让其 overflow 能显示
  padding: 5px 30px;
  overflow-x: hidden;
  transform: translateX(-50%);
  box-sizing: content-box;

  .pcLg({
    width: @centered-content-width-lg;
  });

  .mobile({
    position: static;
    display: flex;
    width: 100%;
    min-height: 80px;
    padding: 0 16px;
    background: @grey-1;
    transform: none;
    box-sizing: border-box
  });

  .container {
    flex: 1 1 0;
    display: block; // 此样式是为了解决 IE10 card 换行显示的 bug
    margin: 0 0 0 @card-space;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &:nth-child(4) {
      animation-delay: 0.6s;
    }

    &:first-of-type {
      margin-left: 0;
    }

    .mobile({
      flex: 0 0 @mobile-card-width;
      margin: 0 0 0 @mobile-card-space;
    });

    .card {
      display: flex;
      align-items: center;
      background: @grey-1;
      height: @card-height;
      padding: @card-padding;
      position: relative;
      border:none;
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      
      cursor: pointer;
      .hover-transition();

      &:hover{
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
        transition: .3s;
      }
    
      .mobile({
        margin: 0;
        padding: @mobile-card-padding;
        width: @mobile-card-width;
        height: @mobile-card-height;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.04);
      });
  
      .icon {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
  
        .mobile({
          flex-basis: 32px;
          width: 32px;
          height: 32px;
        });
      }
  
      .banner {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 36px;
        padding: 2px 3px 0;
        font-size: 12px;
        line-height: 18px;
        border-radius: 2px;
        color: @grey-1;
        background: #FA8C16;
        text-align: center;
  
        .mobile({
          display: none;
        });
      }
  
      .cardContent {
        flex: 1 1 0;
        vertical-align: middle;
        width: auto;
        margin-right: 0 0 0 16px;
  
        .title {
          .ellipsis();
          font-size: 16px;
          line-height: 1.5;
          color: @grey-7;
          letter-spacing: 0.2px;
          font-weight: 500;

          &:hover {
            color: @blue-6;
          }
        }
      
        .desc {
          .ellipsis();
          margin-top: 8px;
          font-size: 14px;
          line-height: 22px;
          color: @grey-6;
  
          .mobile({
            display: none;
          });
        }
  
        .mobile({
          padding: 0 0 0 12px;
        });
      }
      
    }
  }

  .mobileCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    & + .mobileCard {
      margin-left: 8px;
    }

    .icon {
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
    }

    .title {
      .setFontSize(12px);
      margin-top: 10px;
      word-break: break-all;
      text-align: center;
    }
  }

}

@keyframes bounceX { 
  0% {transform: translateX(2000px);} 
  40% {transform: translateX(-10px);} 
  50% {transform: translateX(0);}
  60% {transform: translateX(-5px);}
  80%, 100% {transform: translateX(0);}
}

.animate() {
  animation-name: bounceX; 
  animation-duration: 1s;
  animation-fill-mode: both;
}