.menu {
  text-align: left;

  .menuItem {
    padding: 24px 0;
    background-color: #fafafa;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 28px;
      
      .desc{
        line-height: 20px;
        text-align: left;
        font-size: 14px;
      }
    
      .pic{
        margin-top: 24px;
        width: 320px;
        height: 279px;
      }
    }
  }
  
}


