/**
 * @file styles of component NotFound
 * @author jiayizhen <jiayizhen@qiniu.com>
 */

@import "~utils/styles/index.less";

.mainWrapper {
  padding: 1.00rem 0 0.50rem;

  .img {
    margin: 0 auto;
    max-width: 9.00rem;
    min-height: 5.00rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../../../static/images/404.png");
  }

  @media only screen and (max-width: @screen-sm - 1) {
    padding-top: 0.60rem;
  }
}
