/**
 * @file 内容站首页右侧广告位
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.main {
  margin-left: 70px;
}

.title {
  margin: 20px 0;
  font-size: 20px;
  line-height: 28px;
}

.list {
  //
}

.item {
  display: block;

  img {
    width: 380px;
    height: 218px;
    margin-bottom: 20px;
  }
}
