/**
 * @file article list
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/less/index.less";

.items {
  .mobile({
    margin: 0 16px;
  });
}

.item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #EEE;

  .mobile({
    margin-bottom: 12px;
    padding-bottom: 12px;
  });
}
