/**
 * @file 上传视频
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~utils/common.less";

.wrapper {
  display: inline-flex;
  line-height: @icecream-form-input-height-md;
}

.main {
  display: flex;
  align-items: center;
}

.download {
  margin-left: @icecream-gap-xs;
}
