@import "~utils/less/index.less";

.modal {
  width: 600px;

  .mobile({
    width: 300px;
    height: auto;
  });
}


.submitLine {
  text-align: center;
}

.errorLine {
  margin-bottom: 12px;
  text-align: center;
  color: @red-6;
}
