@import '~utils/less/index.less';

.title {
  font-size: 20px;
  font-weight: 400;
  color: @grey-7;

  .mobile({
    font-size: 16px;
  });
}

.desc {
  margin-top: 8px;
  font-size: 14px;
  color: @grey-6;

  .mobile({
    margin-top: 6px;
    font-size: 12px;
  });
}
