@import "~utils/less/index.less";

.blockLeft {
  flex-basis: 300px !important;
  text-align: left !important;

  img {
    width: 100%;
  }
}

.blockRight {
  margin-left: 0 !important;
}

.more {
  color: @blue-6;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.sceneContainer {
  height: auto;
  padding: 0;
}

.sceneIcon {
  height: 106px;
  margin-top: 20px;
  line-height: 1;
}

.sceneTitle {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  color: @grey-7;
  line-height: 22px;

  &.client {
    padding-top: 20px;
  }
}

.sceneContent {
  margin-bottom: 12px;
  font-size: 12px;
  color: @grey-6;
  text-align: left;
  line-height: 18px;
}

.clientLogo {
  width: 80px;
  line-height: 1;
}
